<div class="row page-default-padding" >
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1  col-xs-12  contact-us-heading" style="text-align:left;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <label> Contact Us</label>
    </div>
    </div>
  </div>
  <br>

<%= form_tag("/contact", method: "post") do %>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-12  col-xs-12 contact-us-form-section">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" tabindex="1" required>
         </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" tabindex="2" required>
         </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" id="contactUS-note" name="message" rows="6" tabindex="3" required></textarea>
         </div>
        </div>
        <br/>
         <div>
          <center>
          <button class="btn btn-custom" id="add-to-cart-button" type="submit">
           Send
          </button>
          </center>
         </div>
         <br/><br/><br/>
        <div class="contact-info-section" style="padding-top: 15px;">
          <a href="tel:888-883-8440">888-883-8440</a>
          <br>
            <a href="mailto:info@sartornyc.com">info@sartornyc.com</a>
          <br/><br/>
        </div>
        <div class="contact-map-address-section" style="padding-bottom: 15px;">
            112 W 27th St,<br/> NEW YORK, NY 10001
       </div>
    </div>

  <% end %>
      <div class=" col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-12 col-xs-12" style="padding-top: 15px;">
          <center><div id="banner-image" style="height:240px; margin:10px; margin-left:15px; margin-right:15px;" ><section id="shopFullScreen"></section></div></center>
      <div class="contact-us-map-section">
        <center>
          <div id="gmap_canvas_panel" class="panel panel-default">
            <div class="panel-body padding-zero">
               <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBbHtzybXikk7YA79NkjUZLOSzKI_AQ6jI'></script><div style='overflow:hidden;'><div id='gmap_canvas' class="gmap_canvas_custom"></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:15,center:new google.maps.LatLng(40.7455447,-73.99182250000001),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(40.7455447,-73.99182250000001)});infowindow = new google.maps.InfoWindow({content:'<strong>Sartor nyc</strong><br>112 W 27th St<br>10001 NEW YORK<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
                <div class="panel-footer contactus-panel-footer">
                112 W 27th St, NEW YORK, NY 10001
                </div>
            </div>
          </div>
        </center>
      </div>
    </div>
</div>
</div>
