<h1><%= Spree.t('email_to_friend.tell_about', :product => @object.name) %></h1>

<%= form_for(@mail_to_friend, :url => email_to_friend_path(params[:type], @object)) do |f| -%>
  <%= render 'spree/shared/error_messages', :target => @mail_to_friend %>
  <p>
    <%= f.label(:sender_name, Spree.t('email_to_friend.sender_name')) %><br/>
    <%= f.text_field(:sender_name, :class => "form-control") %>
  </p>
  <p>
    <%= f.label(:sender_email, Spree.t('email_to_friend.sender_email')) %><br/>
    <%= f.text_field(:sender_email, :class => "form-control", :readonly => "true") %>
  </p>
  <p>
    <%= f.label(:recipient_name, Spree.t('email_to_friend.recipient_name')) %><br/>
    <%= f.text_field(:recipient_name, :class => "form-control") %>
  </p>
  <p>
    <%= f.label(:recipient_email, Spree.t('email_to_friend.recipient_email')) %><br/>
    <%= f.text_field(:recipient_email, :class => "form-control") %>
  </p>
  <p>
    <%= f.label(:message, Spree.t('email_to_friend.message')) %><br/>
    <%= f.text_area(:message, :class => "form-control") %>
  </p>
  <p>
    <%= f.submit Spree.t('email_to_friend.send_message'), :class => "btn btn-primary col-md-3"%>
  </p>
<% end -%>