<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>

<div class="container">
	<div class="row">
	  <div class="col-sm-11 col-sm-offset-1 ">
      <div class="page-header-title">
			Recover Password
      </div>
			<div id="forgot-password" class="page-text">
			  <p>You can create a new password if you forgot your password, or if your account has been set up by a Clothier but you did not receive the invite email.</p>
				<p>Enter the email address used as your account user name below. You will receive an email with password reset instructions within a few minutes. If you do not receive an email, contact us at <a href="mailto:service@sartornyc.com">service@sartornyc.com</a> for help.</p>
				<br/>
			  <%= form_for Spree::User.new, :as => :spree_user, :url => spree.reset_password_path do |f| %>
           <div class="form-group padding-zero col-md-6 col-xs-12 ">
			      <%= f.label :email, Spree.t(:email) %><br />
			      <%= f.email_field :email , :class => "form-control padding-zero" %>
            </div>
					<br/>
			    <div class="control-group col-sm-12 col-md-12 col-lg-12 col-xs-12 padding-zero">
			      <div class="controls">
			        <%= f.submit 'Reset Password', :class => 'btn btn-custom btn-large' %>
			      </div>
			    </div>
			  <% end %>
			</div>
		</div>
	</div>
</div>
