<p>Hi <%= @user.first_name %>,</p>

<p>Welcome to Sartor NYC! We're proud to offer the simplest way to purchase fine hand-crafted shirts online.</p>

<p>We've set up your account with your measurement profile. All you need to do is select your shirts and choose your options -- the measurements will be applied automatically. Your user name is your email address, "<%= @user.email %>".</p>

<p>Before you begin, you should set your password by clicking this link: <a href="<%= @edit_password_reset_url %>">Reset Password</a>.</p>

<p>You can browse our online collection by clicking: <a href="<%= products_url %>">View Collection</a>.</p>

<p>We hope that you will take advantage of our online promotion, <%= @user.first_name %>. For your first online purchase, you will automatically receive a $40 discount. Additionally, you will receive a 20% discount if you order 3 or more shirts.</p>

<p>If you have any issues or questions, always feel free to reach out to us at <a href="mailto:service@sartornyc.com">service@sartornyc.com</a>.</p>

<p>Yours truly,</p>

<p>The Sartor NYC Team</p>

