Hi <%= @user.first_name %>,

Welcome to Sartor NYC! We're to offer the simplest way to purchase fine hand-crafted shirts online.

We've set up your account with your measurement profile. All you need to do is select your shirts and choose your options -- the measurements will be applied automatically. Your user name is your email address, "<% @user.email %>".

Before you begin, you should set your password by clicking this link: 
	<%= @edit_password_reset_url %>

You can browse our online collection at: <%= products_url %>

We hope that you will take advantage of our online promotion, <%= @user.first_name %>. For your first online purchase, you will automatically receive a $40 discount. Additionally, you will receive a 20% discount if you order 3 or more shirts.

If you have any issues or questions, always feel free to reach out to us at service@sartornyc.com.

Yours truly,

The Sartor NYC Team

