<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->

	<% content_for :head do %>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<script src="//use.typekit.net/ped1cbi.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>

		<%= stylesheet_link_tag 'spree/homepage/all', :media => 'screen' %>

		<!-- link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css" -->
		<%#= stylesheet_link_tag 'spree/homepage/root_plugins.css', :media => 'screen' %>

		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
		<%= javascript_include_tag 'spree/homepage/root_homepage_modernizr' %>
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
	<% end %>

	<head>
	 <%= render :partial => 'spree/shared/head' %>
	</head>
	<body data-spy="scroll" data-target="#scrollTarget" data-offset="150" id="fullScreen">
		<div id="globalWrapper" class="localscroll container">
			<%= render :partial => 'spree/shared/header' %>
	    	<%= breadcrumbs(@taxon) %>
	    	<%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>
	    	<div id="content"></div>
	    	<!-- <a href="#" class="fa fa-chevron-up" id="back-to-top" title="Back to top"></a> -->
	    	<%= yield %>
		</div>
	    <%= render :partial => 'spree/shared/footer' %>
	  	<%= render :partial => 'spree/shared/google_analytics' %>
		<%= javascript_include_tag 'spree/homepage/root_homepage_scripts' %>
	</body>
</html>
<script>
  Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>
</script>
