<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
    <head data-hook="inside_head">
        <%= favicon_link_tag image_path('core/favicon.ico') %>
        <div class="container-fluid">
            <%= render :partial => 'spree/shared/head' %>
        </div>
	   <%= stylesheet_link_tag 'spree/homepage/all', :media => 'screen' %>
    </head>
    <body id="<%= @body_id || 'default' %>" data-hook="body" >
		<%= render :partial => 'spree/shared/header' %>
        <div class="container-fluid" id="content-container">
            <%#= breadcrumbs(@taxon) %>
            <%#= flash_messages %>
            <div style="padding-bottom:50px;">
                <%= yield %>
                <%= yield :templates %>
                <div id="content"></div>
                <!-- <a href="#" class="fa fa-chevron-up"  id="back-to-top" title="Back to top"></a> -->
            </div>
        </div>
        <%= render :partial => 'spree/shared/footer' %>
        <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>
        <%= render :partial => 'spree/shared/google_analytics' %>
    </body>
</html>
<script>
    Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>;
</script>

