<div data-hook="admin_user_form_fields" class="row">
  <div class="alpha five columns">
     <%= f.field_container :email do %>
      <span style="color:red">*</span><%= f.label :email, Spree.t(:email) %>
      <%= f.email_field :email, :class => 'fullwidth' %>
      <%= error_message_on :user, :email %>
    <% end %>
    <%= f.field_container :first_name do %>
      <%= f.label :first_name, "First Name" %>
      <%= f.text_field :first_name, :class => 'fullwidth' %>
      <%= f.error_message_on :first_name %>
    <% end %>
    <%= f.field_container :last_name do %>
      <%= f.label :last_name, "Last Name" %>
      <%= f.text_field :last_name, :class => 'fullwidth' %>
      <%= f.error_message_on :last_name %>
    <% end %>

    <div class="field">
      <%= label_tag nil, Spree.t(:roles) %>
      <ul>
        <% @roles.each do |role| %>
          <li>
            <%= check_box_tag 'user[spree_role_ids][]', role.id, @user.spree_roles.include?(role), :id => "user_spree_role_#{role.name}" %>
            <%= label_tag role.name %>
          </li>
        <% end %>
      </ul>
      <%= hidden_field_tag 'user[spree_role_ids][]', '' %>
    </div>

  </div>

  <div class="omega five columns">
    <%= f.field_container :password do %>
        <span style="color:red">*</span><%= f.label :password, Spree.t(:password) %>
      <%= f.password_field :password, :class => 'fullwidth' %>
      <%= f.error_message_on :password %>
    <% end %>

    <%= f.field_container :password do %>
        <span style="color:red">*</span><%= f.label :password_confirmation, Spree.t(:confirm_password) %>
      <%= f.password_field :password_confirmation, :class => 'fullwidth' %>
      <%= f.error_message_on :password_confirmation %>
    <% end %>
  </div>
</div>
