<li<%== ' class="active"' if current == :gift_cards %>>
  <%= link_to_with_icon 'money', Spree.t(:"admin.user.gift_cards"), admin_virtual_gift_card_path(@user) %>
</li>

<li<%== ' class="active"' if current == :redeem_gift_cards %>>
  <%= link_to_with_icon 'money', Spree.t(:"admin.user.redeem_gift_cards"), admin_redeem_gift_cards_path(@user) %>
</li>
