<% content_for :page_title do %>
  <%= link_to "#{Spree.t(:editing_user)} #{@user.email}", edit_admin_user_url(@user) %>
<% end %>

<%= render :partial => 'spree/admin/users/sidebar', :locals => { :current => :account } %>
<% content_for :page_actions do %>
	<% if !@user.last_sign_in_at %>
		<li> <%= button_link_to "Send Invite Email", spree.invite_admin_user_path(@user) %> </li>
	<% end %>
  <li>
    <%= button_link_to Spree.t(:show), '/admin/users/' + @user.id.to_s, :icon => '' %>
    <%= button_link_to Spree.t(:back_to_users_list), spree.admin_users_path, :icon => 'arrow-left' %>
  </li>
<% end %>

<fieldset data-hook="admin_user_edit_general_settings" class="alpha twelve columns">
  <legend><%= Spree.t(:general_settings) %></legend>

  <div data-hook="admin_user_edit_form_header">
    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
  </div>

  <div data-hook="admin_user_edit_form">
    <%= form_for [:admin, @user], as: :user, url: admin_user_url(@user), method: :put do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>

      <div data-hook="admin_user_edit_form_button">
        <%= render :partial => 'spree/admin/shared/edit_resource_links', :locals => { :collection_url => admin_users_url } %>
      </div>
    <% end %>
  </div>
</fieldset>

<hr/>
<br/>
<div class="form-buttons filter-actions actions" data-hook="buttons">
	<%= link_to_with_icon('icon-plus', "New Detailed Profile", new_admin_user_detailed_profile_url(@user), :id => 'new_detailed_profile_link', :class => 'button') %>
	<%= link_to_with_icon('icon-plus', "New Shirt Profile", new_admin_user_shirt_profile_url(@user), :id => 'new_shirt_profile_link', :class => 'button') %>
</div>
<br/>

<div>
  <table>
    <% @user.profiles.each do |profile_pred| %>
      <tr>
        <% profile = profile_pred.heir %>
        <td><%= profile.name %></td>
        <td>
           Created at: <%= profile.created_at %><br/>
           Updated at: <%= profile.updated_at %>
        </td>
        <td>
           <%= profile.predecessor.heir_type %><br/>
        </td>
		<td class="actions">
		<%= link_to_with_icon 'icon-edit', t(:edit), edit_admin_user_profile_url(@user, profile_pred), :no_text => true, :data => {:action => 'edit'} %>
		<%= link_to_delete profile, { :url => admin_user_profile_url(@user, profile_pred), :no_text => true } %>
		</td>
      </tr>
    <% end %>
  </table>
</div>

<fieldset>
<legend>Your Usual Configuration </legend>
   <div class="right six columns alpha">
    <%= label :collar_code, "Default Collar" %>
    <%= select_tag :collar_code, options_from_collection_for_select(ShirtConfiguration::COLLARS, :first, :last,if  @usual_shirt_configuration != nil
                              @usual_shirt_configuration.collar_code
                              else
                               0
                              end),:style => "width:100%"%><br/>

      <%= label :cuff_code, "Default Cuffs" %>
    <%= select_tag :cuff_code, options_from_collection_for_select(ShirtConfiguration::CUFFS, :first, :last,if  @usual_shirt_configuration != nil
                          @usual_shirt_configuration.cuff_code
                          else
                           0
                          end),:style => "width:100%" %><br/>
      <%= label :pocket_code, "Default Pockets" %>
    <%= select_tag :pocket_code, options_from_collection_for_select(ShirtConfiguration::POCKETS, :first, :last,if  @usual_shirt_configuration != nil
                              @usual_shirt_configuration.pocket_code
                              else
                               0
                              end),:style => "width:100%" %>

    </div>
    <div class="right six columns omega">
      <%= label :button_code, "Default Buttons" %>
    <%= select_tag :button_code, options_from_collection_for_select(ShirtConfiguration::BUTTONS, :first, :last, if @usual_shirt_configuration != nil
                               @usual_shirt_configuration.button_code
                               else
                                0
                               end),:style => "width:100%" %><br/>
    </div>
     <div class="right six columns omega">
        <%= label :placket_code, "Default plackets" %>
      <%= select_tag :placket_code, options_from_collection_for_select(ShirtConfiguration::PLACKETS, :first, :last, if @usual_shirt_configuration != nil
                                 @usual_shirt_configuration.placket_code
                                 else
                                  0
                                 end),:style => "width:100%" %><br/>
    </div>
  <div class="right twelve columns form-buttons actions filter-actions">
    <button onclick="saveYourUsual(<%= @user_id %>)" class="fa fa-refresh button sub-link">
    Update</button>
  </div>
</fieldset>

<fieldset data-hook="admin_user_api_key" id="admin_user_edit_api_key" class="alpha twelve columns">
  <legend><%= Spree.t('access', :scope => 'api') %></legend>

  <% if @user.spree_api_key.present? %>
    <div class="field">
      <div id="current-api-key"><%= Spree.t('key', :scope => 'api') %>: <%= @user.spree_api_key %></div>
    </div>
    <div class="filter-actions actions">
      <%= form_tag spree.clear_api_key_admin_user_path(@user), :method => :put do %>
        <%= button Spree.t('clear_key', :scope => 'api'), 'trash' %>
      <% end %>

      <span class="or"><%= Spree.t(:or)%></span>

      <%= form_tag spree.generate_api_key_admin_user_path(@user), :method => :put do %>
        <%= button Spree.t('regenerate_key', :scope => 'api'), 'refresh' %>
      <% end %>
    </div>

  <% else %>

    <div class="no-objects-found"><%= Spree.t('no_key', :scope => 'api') %></div>

    <div class="filter-actions actions">
      <%= form_tag spree.generate_api_key_admin_user_path(@user), :method => :put do %>
        <%= button Spree.t('generate_key', :scope => 'api'), 'key' %>
      <% end %>
    </div>
  <% end %>
</fieldset>
