<% content_for :page_title do %>
  <%= Spree.t(:listing_users) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:new_user), new_admin_user_url, :icon => 'plus', :id => 'admin_new_user_link' %>
  </li>
<% end %>

<table class="index" id="listing_users" data-hook>
  <thead>
    <tr data-hook="admin_users_index_headers">
		<th><%= sort_link @search,:email, Spree.t(:user), {}, {:title => 'users_email_title'} %></th>
		<th>Name</th>
		<th>Profiles</th>
		<th>Created</th>
		<th>Sign In</th>
		<th>Invited</th>
      <th data-hook="admin_users_index_header_actions" class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user|%>
      <% if user %>
       <!-- Need to fix  data-hook="admin_users_index_rows" class="  cycle('odd', 'even') " -->
          <tr id="<%= spree_dom_id user %>">
            <td class='user_email'><%=link_to user.email, edit_admin_user_url(user) %></td>
    				<td class='user_name'><%=user.last_name %>, <%=user.first_name %></td>
    				<td><%= user.profiles ? user.profiles.count : "" %></td>
    				<td><%=user.created_at %></td>
    				<td><%=user.current_sign_in_at || user.last_sign_in_at %></td>
    				<td><%=user.invite_sent_at %></td>
            <td data-hook="admin_users_index_row_actions" class="actions">
              <%= link_to_edit user, :no_text => true %>
              <%= link_to_delete user, :no_text => true %>
            </td>
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>

<% content_for :sidebar_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :sidebar do %>
  <div class="box align-center" data-hook="admin_users_index_search">
    <%= search_form_for [:admin, @search], url: admin_users_url do |f| %>
      <div class="field">
        <%= f.label Spree.t(:email) %> <br>
        <%= f.text_field :email_cont, :class => 'fullwidth' %>
      </div>
      <div data-hook="admin_users_index_search_buttons">
        <%= button Spree.t(:search), 'search' %>
      </div>
    <% end %>
  </div>
<% end %>
