<% content_for :page_title do %>
    <%= Spree.t(:new_user) %>
<% end %>

<% content_for :page_actions do %>
    <li>
      <%= button_link_to Spree.t(:back_to_users_list), spree.admin_users_path, :icon => 'arrow-left' %>
    </li>
<% end %>

<div data-hook="admin_user_new_form_header">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
</div>

<div data-hook="admin_user_new_form">
  <%= form_for [:admin, @user], url: admin_users_url(:order_id=>@orderID), method: :post do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>

      <div data-hook="admin_user_new_form_buttons">
        <%= render :partial => 'spree/admin/shared/new_resource_links' %>
      </div>
  <% end %>
</div>
