<% content_for :page_title do %>
  <%= link_to "#{@user.email}", edit_admin_user_url(@user) %>
<% end %>
<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_users_list), spree.admin_users_path, :icon => 'arrow-left' %>
  </li>
<% end %>

<label>
	<h3>
		<%= @user.first_name %> <%= @user.last_name %>
	</h3>
</label>

<div data-hook='admin_user_show_roles'></div>
