Dear Customer,

Thank you for your recent order on www.sartornyc.com. Most orders ship within 2-3 weeks. We'll be in touch when your order is ready to ship.

Please review below the personalization options for the items you ordered. To change your order, please let us know right away at: service@sartornyc.com.

Thank you for shopping with us!

============================================================
Order Summary
============================================================
<% @order.line_items.each do |item| %>
  <%= item.variant.sku %> <%= raw(item.variant.product.name) %> (<%=item.quantity%>) @ <%= item.single_money %> = <%= item.display_amount %>

<% if item.variant.product.product_type == "SHIRT" %>
      
      Collar: <%=item.shirt_configuration.collar_name%>
      Cuff / Sleeve: <%= item.shirt_configuration.cuff_name %>
      Pocket: <%= item.shirt_configuration.pocket_name %>
	    Button: <%= item.shirt_configuration.button_name %>
      Placket: <%= item.shirt_configuration.placket_name %>
<% elsif item.variant.product.product_type == "GIFT" %>
			For: <%= item.gift_card.name %>

			Note: <%= item.gift_card.note %>

			Send on: <%= item.gift_card.send_on == "now" ? "Now" : item.gift_card.send_on_date %>
<% end %>

<% end %>
============================================================

Subtotal: <%= number_to_currency @order.item_total %>
<% @order.adjustments.eligible.each do |adjustment| %>
<%= "#{raw(adjustment.label)}: #{adjustment.display_amount}"%>
<% end %>
Order Total: <%= number_to_currency @order.total %>
