<div data-hook="admin_gift_card_form_fields" class="row clearfix">
  <div class="alpha ten columns">
	  <%= f.field_container :variant_id do %>
      <%= f.label :variant_id, t(:value) %> <span class="required">*</span><br/>
      <%= f.select :variant_id, @gift_card_variants.map { |v| [number_to_currency(v.price), v.id] }, {}, disabled: (f.object.present? && !f.object.new_record?), :class => 'select2' %>
    <% end %>

	  <%= f.field_container :code do %>
      <%= f.label :code %> <br/>
      <%= f.text_field :code %>
      <%= f.error_message_on :code %>
    <% end %>

    <%= f.field_container :name do %>
      <%= f.label "Recipient Name" %><br/>
      <%= f.text_field :name %>
      <%= f.error_message_on :name %>
    <% end %>

    <%= f.field_container :email do %>
      <%= f.label "Recipient Email" %><br/>
      <%= f.text_field :email %>
      <%= f.error_message_on :email %>
    <% end %>

    <%= f.field_container :note do %>
      <%= f.label "Personal Message" %>
      <%= f.text_area :note, :class => "fullwidth", :rows => 3 %>
      <%= f.error_message_on :note %>
    <% end %>

  </div>
</div>
