
<form action="/admin/users/redeem_gift_cards/" method="post">
	<input name="utf8" type="hidden" />
	<input name="authenticity_token" type="hidden" >
	
	<input id="user_id" name="user_id" type="hidden" value=<%= @id %>>
	<label class="col-md-3" for="redemption_code">Redemption Code</label><br/>
	<div >
		<input id="redemption_code" name="redemption_code" required="required" type="text">
		(Without hyphen)
	</div><br/>
	<div >
		<button id="add-to-cart-button" type="submit">
			Submit
		</button>
	</div>
</form>