<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
<div id="cart-detail" data-hook>

<div class = "list-group hidden-xs" style="margin-bottom: 0px;">
   <div class="list-group-item shopping-cart-panel-heading">
       <div class="row shopping-cart-label padding-zero">
         <div class="col-lg-3 col-md-3 col-sm-3 col-sm-3 col-xs-3">
            <%= Spree.t(:item) %>
          </div>
         <div class="col-lg-6 col-md-6 col-sm-6 col-sm-6 col-xs-7">
            <%= Spree.t(:details) %>
          </div>
         <div class="col-lg-3 col-md-3 col-sm-3 col-sm-3 col-xs-3">
            <%= Spree.t(:price) %>
          </div>
       </div>
    </div>
</div>

  <%= render partial: 'line_item', collection: order_form.object.line_items, locals: {order_form: order_form} %>


</div>
