<input type="hidden" id="update_line_item_id" value="<%=@update_line_item_id%>">



<% if line_item.parent_lineitem.nil? %>
  <% variant = line_item.variant %>
  <%= order_form.fields_for :line_items, line_item do |item_form| %>
  <div class = "list-group">

   <div class="list-group-item padding-zero <% if !line_item.variant.product.is_available%> unavailable <%end%>">
     <div class="row   shopping-cart-content">
      <div class="col-sm-3 col-xs-4 " >
        <% if line_item.gift_card %>
          <div class="cart-item-image" data-hook="cart_item_image">
          <% if variant.images.length == 0 %>
            <%= link_to product_image(variant.product, width: 100,class:'img-responsive') %>
          <% else %>
            <%= link_to image_tag(variant.images.first.attachment.url(:product), width: 100,class:'img-responsive') %>
          <% end %>
          </div>
        <%else%>
          <div class="cart-item-image" data-hook="cart_item_image">
          <% if variant.images.length == 0 %>
            <%= link_to product_image(variant.product, width: 100,class:'img-responsive'), variant.product %>
          <% else %>
            <%= link_to image_tag(variant.images.first.attachment.url(:product), width: 100,class:'img-responsive'), variant.product %>
          <% end %>
          </div>
        <%end%>
        <% @virtual_card = VirtualGiftCardsDetails.find_by(:line_item_id => line_item.id)  %>
        <div style="">
          <h4>
            <% if line_item.gift_card %>
                <%= label_tag line_item.name, nil, class: 'small_label' %>
            <%else%>
                <%= link_to line_item.name, product_path(variant.product), :class=>'sub-link' %>
            <%end%>
          </h4>
        </div>
        <%if !variant.product.is_available  %>
          <label ><span style="color: red">Unavailable</span></label>
        <%end%>
      </div>
      <div class="col-xs-8 visible-xs padding-zero">
          <div class="col-xs-11 shopping-cart-desc-section-right">
            <div class="delete-section <%= cycle('', 'alt') %> line-item">
              <div class="cart-item-quantity" data-hook="cart_item_quantity" style="display:none;">
                <%= item_form.number_field :quantity, :min => 0, :class => "line_item_quantity input-xsmall", :size => 5, :readonly => "true" %>
              </div>
              <div class="cart-item-delete" data-hook="cart_item_delete" style = "text-align:right;font-family: 'Helvetica', 'Arial', sans-serif;">
                <label >
                    <a class="sub-link delete delete_line_item_btn"  onclick ="$('#delete_line_item_<%= line_item.id %>').click();">Delete</a>
                </label>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm-6 col-xs-8">
        <div class="shopping-cart-desc-section">
          <% if line_item.gift_card %>
                      This is a gift card.
                      <br/>
                      <br/>
              <div class="row">
                <div class="col-sm-5 col-xs-4 shopping-cart-desc-section-left">
                  <b><%= Spree.t(:For) %>:</b>
                </div>
                <div class="col-sm-5 col-xs-7 shopping-cart-desc-section-right" style="word-break:break-all;">
                <% if @virtual_card %>
                  <%= @virtual_card.recipient_name %>
                <% end %>
                </div>
              </div>
              <% if @virtual_card and @virtual_card.card_type == "physical" %>
                  <div class="row">
                    <div class="col-sm-3 col-xs-4 shopping-cart-desc-section-left">
                      <b><%= Spree.t(:Address) %>:</b>
                    </div>
                    <div class="col-xs-7 shopping-cart-desc-section-right" style="word-break:break-word;">
                       <%= @virtual_card.ship_address.address1 %>,<br>
                       <%= @virtual_card.ship_address.city %>,
                       <%= @virtual_card.ship_address.state.abbr %>-
                       <%= @virtual_card.ship_address.zipcode %>
                    </div>
                  </div>
              <%end%>
              <div class="row">
                <div class="col-sm-5 col-xs-4 shopping-cart-desc-section-left">
                  <b><%= Spree.t(:Message) %>:</b>
                </div>
                <div class="col-sm-5 col-xs-7 shopping-cart-desc-section-right" style="word-break:break-all;">
                <% if @virtual_card %>
                  <%= @virtual_card.email_message %>
                <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-10 col-xs-11  shopping-cart-desc-section-right">
                  <label>
                    <%= link_to "Change Details", gifting_path+'?pid='+line_item.id.to_s, :class=>'sub-link change-details push-left' %>
                  </label>
                </div>
              </div>
          <% end %>
          <% if line_item.sub_lineitems.first != nil %>
          <% elsif variant.product.product_type == "SHIRT"%>
          <% if line_item.shirt_configuration != nil%>
            <div class="row">
            <!-- Fixme:line item.shirt_config should never be nil   -->
              <div class="col-sm-5 col-xs-4 shopping-cart-desc-section-left">
                  Collar :
              </div>
              <div class="col-sm-5 col-xs-7 shopping-cart-desc-section-right">
                  <%= line_item.shirt_configuration.collar_name %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5 col-xs-4 shopping-cart-desc-section-left">
                  Cuff :
              </div>
              <div class="col-sm-5 col-xs-7 shopping-cart-desc-section-right">
                  <%= line_item.shirt_configuration.cuff_name %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5 col-xs-4 shopping-cart-desc-section-left">
                Pocket :
              </div>
              <div class="col-sm-5 col-xs-7 shopping-cart-desc-section-right">
                <%= line_item.shirt_configuration.pocket_name %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5 col-xs-4 shopping-cart-desc-section-left">
                Button :
              </div>
              <div class="col-sm-5 col-xs-7 shopping-cart-desc-section-right">
                <% if line_item.shirt_configuration.button_code.to_s > "3" %>
                  <%=  Spree::Taxon.where(id: line_item.shirt_configuration.button_code).length > 0 ? Spree::Taxon.where(id: line_item.shirt_configuration.button_code).first.parent.name + ' w/ ' + (Spree::Taxon.where(id: line_item.shirt_configuration.button_code).first.description.present? ? (Spree::Taxon.where(id: line_item.shirt_configuration.button_code).first.description.titleize) : (Spree::Taxon.where(id: line_item.shirt_configuration.button_code).first.name.titleize + " Thread")) : "button unavailable" %>
                <%else%>
                    No button
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5 col-xs-4 shopping-cart-desc-section-left">
                Placket :
              </div>
              <div class="col-sm-5 col-xs-7 shopping-cart-desc-section-right">
                <%= line_item.shirt_configuration.placket_name %>
              </div>
            </div>
            <% end %>
            <div class="row">
              <div class="col-sm-10 col-xs-11  shopping-cart-desc-section-right">
                <label>
                  <%= link_to "Change Details", product_path(variant.product)+'?pid='+line_item.id.to_s+'&shirtprofile_id='+line_item.profile_id.to_s, :class=>'sub-link change-details push-left' %>
                  <script>
                  var p = $('#order_line_items_attributes_1_profile_id').val();
                  console.log(p);
                  </script>
                 </label>
              </div>
            </div>
            <%if line_item.shirt_configuration and line_item.shirt_configuration.comment.present? %>
              <div class="row">
                <div class="col-sm-5 col-xs-4 shopping-cart-desc-section-left">
                  Notes :
                </div>
                <div id="comment_div_show_<%=line_item.id.to_s%>" class="col-sm-5 col-xs-7 shopping-cart-desc-section-right">
                  <%= line_item.shirt_configuration.comment %>
                </div>
                <div id="comment_div_edit_<%=line_item.id.to_s%>" class="col-sm-5 col-xs-7 shopping-cart-desc-section-right hidden">
                 <%= text_area_tag  'order[comment]', line_item.shirt_configuration.comment , :class=>'line_item_notes cover-width form-control', :height => '20',:placeholder => 'Notes: Provide any special request'%>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-10 col-xs-11  shopping-cart-desc-section-right">
                  <label>
                    <%= link_to "Edit Notes", product_path(variant.product)+'?pid='+line_item.id.to_s+'&shirtprofile_id='+line_item.profile_id.to_s, :class=>'sub-link change-details push-left' %>
                    <script>
                    var p = $('#order_line_items_attributes_1_profile_id').val();
                    console.log(p);
                    </script>
                   </label>
                </div>
              </div>
            <%end%>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
          <div class="col-sm-6 col-xs-6  cart-item-price padding-zero" data-hook="cart_item_price">
             <%= line_item.single_money.to_html %>
          </div>
          <div class="col-sm-6 col-xs-6 hidden-xs padding-zero">
            <div class="delete-section <%= cycle('', 'alt') %> line-item">
              <div class="cart-item-quantity" data-hook="cart_item_quantity" style="display:none;">
              <%= item_form.number_field :quantity, :min => 0, :class => "line_item_quantity input-xsmall", :size => 5, :readonly => "true" %>
              </div>
              <div class="cart-item-delete" data-hook="cart_item_delete" style = "text-align:right;font-family: 'Helvetica', 'Arial', sans-serif;">
                <label class="row">
                <%= link_to "Delete", '#', :class => 'sub-link delete delete_line_item_btn', :id => "delete_#{dom_id(line_item)}" %>
                </label>
              </div>
            </div>
          </div>
       </div>
      <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-9">
        <div class="row">
          <% if line_item.sub_lineitems.first != nil %>
                <!-- need to add section here -->
          <% elsif variant.product.product_type == "SHIRT"%>
            <% unless (line_item.shirt_configuration) %>
                This shirt is has no options selected.
          <% else %>
             <!--  <% if (spree_current_user) %>
                <% if (@shirt_profiles.length >= 1)%>
                  <div class="col-sm-8 col-xs-12  page-text profile-xs"  style="margin-top:15px;text-align:justify; ">
                      <div class="col-lg-5 col-md-5 col-sm-4 col-xs-4 shopping-cart-desc-section-left ">
                        Profile:
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 shopping-cart-desc-section shopping-cart-desc-section-right select_box_parent">
                        <%= item_form.collection_select :profile_id, @shirt_profiles, :id, :name,({:selected =>line_item.profile_id}), :html => {:class => "line_item_options"}%>
                      </div>
                  </div>
                <% else %>
                  <div class="col-sm-8 col-xs-12  page-text"  style="margin-top:15px;text-align:justify; ">

                        You have no measurement profiles. <%= link_to "Click here", profiles_path(_return_to: "#{request.fullpath}") %> to input measurements for your custom shirt.

                  </div>
                <% end %>
              <% else %>
                <div class="col-sm-8 col-xs-12 padding-zero">
                    <%= link_to "Login", spree.login_path, :query => request.fullpath %> or <%= link_to "create an account", spree.signup_path %> to input measurements for your custom shirt.
                </div>
              <% end %> -->
            <% end %>
          <% end %>
        <% end %>
      </div>
   </div>
      <% if line_item.gift_card %>
         <div class="col-sm-3 col-xs-12">
          <div class="col-sm-6 col-xs-6  cart-item-price padding-zero" data-hook="cart_item_price">
             <%= line_item.single_money.to_html %>
          </div>
          <div class="col-sm-6 col-xs-6 hidden-xs padding-zero">
            <div class="delete-section <%= cycle('', 'alt') %> line-item">
              <div class="cart-item-quantity" data-hook="cart_item_quantity" style="display:none;">
              <%= item_form.number_field :quantity, :min => 0, :class => "line_item_quantity input-xsmall", :size => 5, :readonly => "true" %>
              </div>
              <div class="cart-item-delete" data-hook="cart_item_delete" style = "text-align:right;font-family: 'Helvetica', 'Arial', sans-serif;">
                <label class="row">
                <%= link_to "Delete", '#', :class => 'sub-link delete delete_line_item_btn', :id => "delete_#{dom_id(line_item)}" %>
                </label>
              </div>
            </div>
          </div>
       </div>
      <% end %>

      </div>
    </div>
   </div>
  <% end %>
<% end %>
