<div data-hook="cart_container padding-zero" style="font-size:12px;">
	<%checkout_flag = false%>
  	<div class="row checkout-button" style="margin-bottom:0px;padding-left:20px;">
		<div class=" shopping-cart-heading pull-left">
			<%= Spree.t(:shopping_cart) %>
		</div>
		
		<!--<div class="col-sm-4 col-sm-offset-1 col-lg-3 keep_shopping">
			<%= link_to "<- keep Shopping", products_path, :class => 'continue button gray' %>
		</div>-->
	</div>

  	<% if @order.line_items.empty? %>

    	<div data-hook="empty_cart">
      		<p><%= Spree.t(:your_cart_is_empty) %></p>
    	</div>

  	<% else %>
  
  		<div class="col-lg-9 col-md-9 col-sm-12 text-right" style="padding-right:7px;">
  		
  		<!-- 
 
		<% @order.line_items.each do |item_form| %>
			<% if !item_form.variant.product.is_available%>
				<%checkout_flag = true%>
				<%= link_to 'Remove Unavailble Items', '/removeUnavailableLineItem/',:id =>:remove_all_unavailable,
	      		:method => :post, class:' sub-link text m-b-sm'%>
	      		<%break%>
	    	<%end%>
		<%end%>
 -->
		</div>
 

    <div data-hook="outside_cart_form padding-zero">
      <%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
			<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-12">
		        <div data-hook="inside_cart_form">
		         	<div data-hook="cart_items">
		            <%= render :partial => 'form', :locals => { :order_form => order_form } %>
		          	</div>
				</div>
				</div>
		<% if (spree_current_user) %>
			<div class="col-lg-3 col-md-offset-0 col-md-3 col-sm-offset-4 col-sm-8 total-panel-padding" >
            <%  shirt_count = 0
                all_shirts = false
                @order.line_items.each do |line_item|
                if line_item.product.product_type == 'SHIRT'
                	shirt_count += 1
                end
              end
            %>
            <%= render :partial => 'spree/checkout/summary', :locals => { :order => @order } %>
            <br>
 					<% if spree_current_user and !current_order.promotions.empty? and $promotion_rules_count and shirt_count %>
            			<% if shirt_count < $promotion_rules_count and shirt_count > 0 %>
              				<p class="alert alert-info " role="alert">If you buy <%=$promotion_rules_count%> shirts you will receive <%=$promotion_perc%>% off!</p>
            			<% end %>
            			<% if shirt_count >= $promotion_rules_count and current_order.line_item_adjustments.promotion.eligible.length > 0 %>
              				<p class="alert alert-success" role="alert">Congratulations! You will receive <%=$promotion_perc%>%  off!</p>
            			<% end %>
					<% end %>
					
						<center><p class = "checkout-button">
							<%if checkout_flag%>
								<%= link_to 'Remove All Unavailble Items', '/removeUnavailableLineItem/',:id =>:remove_all_unavailable,
	      					:method => :post, class:'btn btn-custom btn-lg m-b-sm',data: {confirm: 'Remove All Unavailable Items?'},:style=>"width:100%;"%>
							<%end%>
							<button class="checkout btn btn-custom btn-lg" id="checkout-link" name="checkout" style="width: 100%;" <%if checkout_flag%>disabled<%end%>>
	              			Checkout
							</button>

              

              <%= link_to "KEEP SHOPPING".html_safe, products_path, :class => 'checkout btn btn-default btn-lg keep-shopping-button', style: "width: 100%; margin-top:15px"%>

						</p></center>
					<!-- TODO: reinstate coupon code, cart update, cart empty -->

						<!--<p>-->
							<!--<%= order_form.text_field :coupon_code, :size => 10, :placeholder => Spree.t(:coupon_code) %>-->
							<!--<%= order_form.submit "Apply", :class => "btn btn-sm" %>-->
						<!--</p>-->

						<!--<p>-->
							<!--<%= button_tag :class => 'checkout btn btn-primary btn-lg', :id => 'checkout-link', :name => 'checkout', style: "width: 100%;" do %>-->
	              <!--<%= Spree.t(:checkout) %>-->
	            <!--<% end %>-->
						<!--</p>-->
						<!--<p>-->
							<!--<%= button_tag :class => 'btn btn-sm', :id => 'update-button' do %>-->
	              <!--Update Cart-->
	            <!--<% end %>-->
							<!--&nbsp; &nbsp;-->
							<!--<%#= submit_tag Spree.t(:empty_cart), :class => 'btn btn-sm' %>-->
							<!--<%= link_to "Empty Cart", empty_cart_path, :class => 'btn btn-sm', :role => "button", method: :put %>-->
						<!--</p>-->
				</div>
			<%else%>
							<div class="col-lg-3 col-md-offset-0 col-md-3 col-sm-offset-4 col-sm-8">
								<%= render :partial => 'spree/checkout/summary', :locals => { :order => @order } %>
								<br>
								<p class="alert alert-info" role="alert">You must <%= link_to "login", spree.login_path, :query => request.fullpath%> to checkout </p>
								   <center>
                <p class = "checkout-button">
									<%= button_tag :class => 'checkout btn btn-custom btn-lg', :id => 'checkout-link', :name => 'checkout', style: "width: 100%;",:disabled => true do %>
									<%= Spree.t(:checkout) %>
									<% end %>
								</p>
                   </center>
							</div>
			<%end%>
		</div>
		<% end %>
	</div>
	<% end %>
</div>
