<div class="row">
	<div class="col-xs-9 page-sub-header">
		<legend ><%= accurate_title %></legend>
	</div>
	<div class="col-xs-3">
		<p align="right" data-hook="links">
		  <%= link_to Spree.t(:back_to_store), spree.root_path,{:class => "btn btn-custom" ,:style=>'width:100%;'}%>
		  <% unless params.has_key? :checkout_complete %>
		    <% if try_spree_current_user && respond_to?(:spree_account_path) %>
		      <%= link_to Spree.t(:my_account), spree_account_path, :class => "btn btn-custom" %>
		    <% end %>
		  <% end %>
		</p>
	</div>
</div>

<br/>

<fieldset id="order_summary" data-hook>

  <div id="order" data-hook>
    <% if params.has_key? :checkout_complete %>
      <h1><%= Spree.t(:thank_you_for_your_order) %></h1>
    <% end %>
    <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>

  </div>
</fieldset>
