<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="noSubtitle">Schedule a Fitting</h1>
		</div>
		
		<div class="col-sm-4">
			<p>Get in touch to arrange a time to meet with a personal Clothier.</p>
			<p>Your Clothier will measure you and work with you get the exact custom fit to look your best.</p>
			<p>Currently available in New York.</p>
		</div>
		
		<%= render :partial => 'spree/shared/error_messages', :locals => {:target => @contact} %>
    <%= simple_form_for @appointment_contact, :url => appointment_contacts_path} do |f| %>
        <legend>Send Us a Message</legend>
        <%= f.input :name, :placeholder => 'John Smith' %>
        <%= f.input :email, :placeholder => 'john_smith@example.com' %>
        <%= f.input :subject, :placeholder => 'Subject' %>
        <%= f.input :message, :as => :text, :input_html => {:rows => 5} %>   <%# TODO investigate why cols overridden to 40 w/ bootstrap %>
        <div class="control-group">
          <div class="controls">
            <%= f.submit t('.submit'), :class => "btn btn-primary" %>
          </div>
        </div>
    <% end %>


		<%= form_tag("/appointment_contacts", method: "post", role: "form") do %>
			<div class="col-sm-4">	
				<div class="form-group">
			  	<%= label_tag(:name, "Name") %>
			  	<%= text_field(:appointment_contact, :name, class: "form-control") %>
				</div>
				<div class="form-group">
				  <%= label_tag(:email, "Email") %>
				  <%= text_field(:appointment_contact, :email, class: "form-control") %>
				</div>
				<div class="form-group">
				  <%= label_tag(:phone, "Phone") %>
				  <%= text_field(:appointment_contact, :phone, class: "form-control") %>
				</div>
			</div>
			<div class="col-sm-4">	
<!--				<div class="form-group">   -->
				  <%#= label_tag(:location_type, "Location") %>
				  <%#= text_field(:appointment_contact, :location_type, class: "form-control") %>
<!--				</div>   -->
				<div class="form-group">
				  <%= label_tag(:address, "Address") %>
				  <%= text_area(:appointment_contact, :address, class: "form-control", rows: 3) %>
				</div>
				<div class="form-group">
			  	<%= label_tag(:message, "Comments") %>
				  <%= text_area(:appointment_contact, :message, class: "form-control", rows: 3) %>
				</div>
			</div>
			<div class="col-md-8 col-md-offset-4">
			  <%= submit_tag("Request Appointment", class: "btn btn-default") %>
			</div>
		<% end %>
	</div>
</div>
