
<div class="page-buffer-space">
	  <div class="page-header-title">
	     <center>Schedule an appointment</center>
	  </div>

	 <div class= "row">
	 	<div class="col-lg-4">
	 		<div class="col-lg-12">
	    	   <label class="shedule-a-fitting-page-sub-header page-sub-header-text-margin" >
	          	<b>VISIT OUR STUDIO</b>
	        	</label>
	 			<p class="shedule-a-fitting-page-text">
					We invite you to our Chelsea showroom for a true Custom Experience.
					Located at 112W 27th St. </br>Mon-Fri 9am to 7pm
	 			</p>
				<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBbHtzybXikk7YA79NkjUZLOSzKI_AQ6jI'></script><div style='overflow:hidden;'><div id='gmap_canvas' class="gmap_canvas_custom"></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:15,center:new google.maps.LatLng(40.7455447,-73.99182250000001),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(40.7455447,-73.99182250000001)});infowindow = new google.maps.InfoWindow({content:'<strong>Sartor nyc</strong><br>112 W 27th St<br>10001 NEW YORK<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
	 		</div>

	 		<div class="col-lg-12">
		      <label class="shedule-a-fitting-page-sub-header page-sub-header-text-margin">
		        <b>HAVE US COME TO YOU</b>
		      </label>
		      <p class="shedule-a-fitting-page-text">
		      	Cant make it to our studio? Click the link below and schedule an appointment for
		      	one of our clothiers to come to you. </br>(MANHATTAN ONLY)
		      	<br/>
		      	<a href="http://sartornyc.fullslate.com/services/8?location=7">Schedule a Home or Office Visit</a>
	      	  </p>
	 		</div>
	   </div>

	   <div class="col-lg-8" >
	   	<iframe height= "500px"  width="100%" src="https://sartornyc.fullslate.com/services/1?location=39" frameborder="0" allowtransparency="true"></iframe>
	   </div>
	 </div>

</div>

