<iframe class="col-lg-12 col-md-12 col-sm-12" height="550" src="http://sartornyc.fullslate.com/services/1?location=39" frameborder="0" allowtransparency="true">
	<a title="Online scheduling" href="http://sartornyc.fullslate.com/services/1?location=39">Schedule appointment</a></iframe>