<iframe class="col-lg-12 col-md-12 col-sm-12" height="550" src="https://sartornyc.fullslate.com/locations/39?view=bare" frameborder="0" allowtransparency="true">
	<a title="Online scheduling" href="https://sartornyc.fullslate.com/locations/39?view=bare">Schedule appointment</a></iframe>			