<div class="row">
	<div class="col-sm-12 panel" data-hook="billing_fieldset_wrapper">
	  <fieldset id="billing" data-hook>
	    <%= form.fields_for :bill_address do |bill_form| %>
	    <div class="panel panel-default">
	      <div class="address-panel-heading"><%= Spree.t(:billing_address) %></div>
	      <div class="address-panel-body">
	      	<%= render :partial => 'spree/address/form', :locals => { :form => bill_form, :address_type => 'billing', :address => @order.bill_address } %>
	      </div>
	    </div> 
	    <% end %>
	  </fieldset>
	</div>	

	<%items_in_carts = @order.line_items
	show_shipping_address = true
	items_in_carts.each do |item|
		if (item.product.product_type == "VIRTUALGIFTCARD" || (item. parent_lineitem != nil && item.parent_lineitem.product.product_type == "VIRTUALGIFTCARD"))
			show_shipping_address = false
		else
			show_shipping_address = true
			break
		end
	end
	%>
</div>
<br>
<div class="row">
	<%if show_shipping_address %>
	<div class="col-sm-12" data-hook="shipping_fieldset_wrapper">
	  <fieldset id="shipping" data-hook>
	    <%= form.fields_for :ship_address do |ship_form| %>
	    <div class="panel panel-default">
	    	<div class="address-panel-heading"><%= Spree.t(:shipping_address) %></div> 
		    <div class="address-panel-body">
		        <%= check_box_tag 'order[use_billing]', '1', @order.shipping_eq_billing_address? %>
		        <%= label_tag :order_use_billing, Spree.t(:use_billing_address), :id => 'use_billing' %>
		      <%= render :partial => 'spree/address/form', :locals => { :form => ship_form, :address_type => 'shipping', :address => @order.ship_address } %>
		    </div>
		</div>
	    <% end %>
	  </fieldset>
	</div>
	<% else %>
		<%= check_box_tag 'order[use_billing]', '1', @order.shipping_eq_billing_address?, :style => 'visibility: hidden' %>
		Your cart contains only gift cards, so you don't have to enter shipping address again.
	<% end %>
</div>

<hr class="clear">

<div class="form-buttons" data-hook="buttons">
  <%#= submit_tag Spree.t(:save_and_continue), :class => 'continue btn btn-primary btn-lg' %>
  <% if try_spree_current_user %>
    <span data-hook="save_user_address">
      &nbsp; &nbsp;
      <%= check_box_tag 'save_user_address', '1', try_spree_current_user.respond_to?(:persist_order_address) %>
      <%= label_tag :save_user_address, Spree.t(:Save_My_Address) %>
    </span>
  <% end %>
</div>
<br/>
