<fieldset id='shipping_method'  data-hook>
  <div class="page-sub-header">
  <legend>Delivery Method</legend>
  </div>
  <div class="inner" data-hook="shipping_method_inner">
    <div id="methods">
      <%= form.fields_for :shipments do |ship_form| %>

          <div class="shipment page-text">
            <ul class="field radios shipping-methods">
              <% ship_form.object.shipping_rates.each do |rate| %>
                  <li class="shipping-method">
                    <label>
                      <%= ship_form.radio_button :selected_shipping_rate_id, rate.id %>
                      <span class="rate-name"><%= rate.name %></span>
                      <span class="rate-cost"><%= rate.display_cost %></span>
                    </label>
                  </li>
              <% end %>
            </ul>
          </div>

      <% end %>

    </div>
    <% if Spree::Config[:shipping_instructions] %>
        <p id="minstrs" data-hook>
          <%= form.label :special_instructions, Spree.t(:shipping_instructions) %><br/>
          <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
        </p>
    <% end %>
  </div>
</fieldset>
