<script>Spree.disableSaveOnClick();</script>
<fieldset id="payment"  data-hook>
  <div class="page-sub-header">
  <legend><%= Spree.t(:payment_information) %></legend>
  </div>
  <div data-hook="checkout_payment_step container-sm-height" style="margin-left:30px;">
    <div class="row page-text">
      <div class="col-sm-6 col-sm-height">
        <% if @payment_sources.present? %>
            <div class="card_options" style="text-transform: uppercase;">
              <%= radio_button_tag 'use_existing_card', 'yes', true %>
              <label for="use_existing_card_yes">Use an existing card on file</label>
            </div>
            <div id="existing_cards" style="margin-left:10px;text-transform: uppercase;">
              <p class="field" data-hook="existing_cards">
              <table class="existing-credit-card-list" >
                <tbody>
                  <% @payment_sources.each do |card| %>
                      <tr id="<%= dom_id(card, 'spree') %>" class="<%= cycle('even', 'odd') %>">
                        <td>
                          <%= radio_button_tag "existing_card", card.id, (card == @payment_sources.first), {class: "existing-cc-radio"} %>
                          <%= card.name %><br/>
                          <%= card.display_number %><br/>
                          <%= card.month %><br/>
                          <%= card.year %><br/>
                        </td>
                      </tr>
                  <% end %>
                </tbody>
              </table>
              </p>
            </div>
        <% end %>
        <div class="card_options" style="text-transform: uppercase;" >
            <%= radio_button_tag 'use_existing_card', 'no' %>
            <label for="use_existing_card_no">Use a new card / payment method</label>
        </div>
        <br/>
        <div id="payment-method-fields" style="text-transform: uppercase;margin-left:15px;" data-hook >
          <% if @order.available_payment_methods.size > 1 %>
              <% @order.available_payment_methods.each do |method| %>
                  <p>
                    <label>
                      <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.available_payment_methods.first %>
                      <%= Spree.t(method.name, :scope => :payment_methods, :default => method.name) %>
                    </label>
                  </p>
              <% end %>
          <% else %>
              <%= hidden_field_tag "order[payments_attributes][][payment_method_id]", @order.available_payment_methods.first.id %>
          <% end %>
        </div>


        <ul id="payment-methods"  style="text-transform: uppercase;margin-left:15px;"   data-hook >
          <% @order.available_payment_methods.each do |method| %>
              <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook>
                <fieldset>
                	<% if method.method_type != "storecredit"%>
                		<%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => {:payment_method => method} %>
                	<% end %>
                </fieldset>
              </li>
          <% end %>
        </ul>
      </div>
      <!-- TODO: Reinstate coupon code -->
      <!--<div class="col-sm-6 col-sm-height col-middle">-->
        <!--<p class='field' data-hook='coupon_code'>-->
          <%#= form.label :coupon_code %>
          <!--<%#= form.text_field :coupon_code %>-->
        <!--</p>-->
      <!--</div>-->
    </div>
  </div>
</fieldset>


