<style type="text/css">
/* Progress Tracker v2 */
ol.progress1[data-steps="2"] li { width: 49%; }
ol.progress1[data-steps="3"] li { width: 33%; }
ol.progress1[data-steps="4"] li { width: 25%; }
ol.progress1[data-steps="5"] li { width: 20%; }
ol.progress1[data-steps="6"] li { width: 16%; }
ol.progress1[data-steps="7"] li { width: 14%; }
ol.progress1[data-steps="8"] li { width: 12%; }
ol.progress1[data-steps="9"] li { width: 11%; }

.progress1 {
    width: 100%;
    list-style: none;
    list-style-image: none;
    margin: 20px 0 20px 0;
    padding: 0;
}

.progress1 li {
    float: left;
    text-align: center;
    position: relative;
}

.progress1 .name {
    display: block;
    vertical-align: bottom;
    text-align: center;
    margin-bottom: 1em;
    color: #000;
    opacity: 0.3;
}

.progress1 .step {
    color: #000;
    border: 3px solid silver;
    background-color: silver;
    border-radius: 50%;
    line-height: 1.2;
    width: 1.2em;
    height: 1.1em;
    display: inline-block;
    z-index: 0;
}

.progress1 .step span {
    opacity: 0.3;
}

.progress1 .active .name,
.progress1 .active .step span {
    opacity: 1;
    text-transform: uppercase;
}

.progress1 .step:before {
    content: "";
    display: block;
    background-color: silver;
    height: 0.2em;
    width: 50%;
    position: absolute;
    bottom: 0.8em;
    left: 0;
    z-index: -1;
}

.progress1 .step:after {
    content: "";
    display: block;
    background-color: silver;
    height: 0.2em;
    width: 50%;
    position: absolute;
    bottom: 0.8em;
    right: 0;
    z-index: -1;
}

.progress1 li:first-of-type .step:before {
    /*display: none;*/
}

.progress1 li:last-of-type .step:after {
    /*display: none;*/
}

.progress1 .done .step,
.progress1 .done .step:before,
.progress1 .done .step:after,
.progress1 .active .step,
.progress1 .active .step:before {
    background-color: #FB6726;
}

.progress1 .done .step,
.progress1 .active .step {
    border: 2px solid #cccccc;
}

.progress1 .done .name > a{
    color: #000;
    font-weight: bold;
}

</style>
<div id="progress1_section">
<ol class="progress1" data-steps="4">
<%
      states = checkout_states
      items = states.map do |state|
        text = Spree.t("order_state.#{state}").titleize

        current_state_custom = ""
        css_classes = []
        current_index = states.index(@order.state)
        state_index = states.index(state)

        if state_index < current_index
          css_classes << 'completed'
          text = link_to text, checkout_state_path(state)
          current_state_custom = "done"
        end

        css_classes << 'next' if state_index == current_index + 1
        css_classes << 'current' if state == @order.state
        if state == @order.state
            current_state_custom = "active"
        end
        css_classes << 'first' if state_index == 0
        css_classes << 'last' if state_index == states.length - 1

        %>
        <li class="<%= current_state_custom %>">
        <span class="name"><%= text%></span>
        <span class="step"><span></span></span>
        </li>
        <%
        content_tag('li', content_tag('span', text), class: css_classes.join('-'))
      end
      content_tag('ol', raw(items.join("\n")), class: 'progress-steps', id: "checkout-step-#{@order.state}")
%>
</ol>
</div>
