<!-- <div class="address-panel-heading"><%= Spree.t(:order_details) %></div>  -->

<div class = "list-group" style="margin-bottom: 0px;">
  <div class="list-group-item checkout-cart-panel shopping-cart-label">
        Total
  </div>
</div>
<div class = "list-group" style="margin-bottom:0px;">
<div class="list-group-item padding-zero">
 <div class="panel panel-default panel-default-custom">
  <div class="address-panel-body" style="text-transform: uppercase;">
   <table class="table table-condensed table-no-line table-no-header-line" id="order-summary-table" data-hook="order_summary">
	  <tbody style="font-size:12px;letter-spacing:1px;">
      <% @order.line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.name %></td>
        <td class="text-to-right"><%=  Spree::Money.new(line_item.price).to_html %></td>
      </tr>
       <% end %>


	    <tr data-hook="item_total">
	      <td><%= Spree.t(:item_total) %>:</td>
	      <td class="text-to-right"><%= order.display_item_total.to_html %></td>
	    </tr>

	    <% if order.line_item_adjustments.exists? %>
	      <tbody data-hook="order_details_promotion_adjustments">
	        <% order.line_item_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
	          <tr class="total">
	            <td><%= label %></td>
	            <td class="text-to-right"><%= Spree::Money.new(adjustments.sum(&:amount)).to_html %></td>
	          </tr>
	        <% end %>
	      </tbody>
	    <% end %>

	    <tbody data-hook="order_details_tax_adjustments">
	      <% order.all_adjustments.tax.eligible.group_by(&:label).each do |label, adjustments| %>
	        <tr class="total">
	          <td><%= label %></td>
	          <td class="text-to-right"><%= Spree::Money.new(adjustments.sum(&:amount)).to_html %></td>
	        </tr>
	      <% end %>
	    </tbody>

	    <% if order.checkout_steps.include?("delivery") && order.shipments.any? %>
	      <tr data-hook="shipping_total">
	        <td><%= Spree.t(:shipping_total) %></td>
	        <td class="text-to-right"><%= Spree::Money.new(order.shipments.to_a.sum(&:cost)).to_html %></td>
	      </tr>

	      <% if order.shipment_adjustments.exists? %>
	        <tbody data-hook="order_details_shipment_promotion_adjustments">
	          <% order.shipment_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
	            <tr class="total">
	              <td><%= label %></td>
	              <td class="text-to-right"><%= Spree::Money.new(adjustments.sum(&:amount)).to_html %></td>
	            </tr>
	          <% end %>
	        </tbody>
	      <% end %>
	    <% end %>

	    <% if order.adjustments.eligible.exists? %>
	      <tbody id="summary-order-charges" data-hook>
	        <% order.adjustments.eligible.each do |adjustment| %>
	        <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
	          <tr class="total">
	            <td><%= adjustment.label %>: </td>
	            <td class="text-to-right"><%= adjustment.display_amount.to_html %></td>
	          </tr>
	        <% end %>
	      </tbody>
	    <% end %>
	    <tr data-hook="order_total" class="shopping-cart-total">
	      <td><%= Spree.t(:order_total) %>:</td>
	      <td ><span id='summary-order-total'><%= order.display_total.to_html %></span></td>
	    </tr>
	  </tbody>
	 </table>
   </div>
  </div>
 </div>
</div>
