<div id="checkout" data-hook>
  <%= render :partial => 'spree/shared/error_messages', :locals => {:target => @order} %>
    <div class="row checkout-header-section" data-hook="checkout_header">
      <span class="col-sm-6 checkout_title shopping-cart-heading" style="text-align:start;" data-hook="checkout_title"><%= Spree.t(:checkout) %></span>
      <div  class="col-sm-6 checkout-subheader-section" data-hook="checkout_progress" >
        <%= render "spree/checkout/progress" %>
      </div>
    </div>

  <%= form_for @order, :url => update_checkout_path(@order.state), :html => {:id => "checkout_form_#{@order.state}"} do |form| %>
      <div class="row" data-hook="checkout_content">
        <div class="columns <%= if @order.state != 'confirm' then
                                  'col-md-9'
                                else
                                  'col-sm-12'
                                end %>" data-hook="checkout_form_wrapper">
            <% unless @order.email? %>
                <p class="field" style='clear: both'>
                  <%= form.label :email %><br/>
                  <%= form.text_field :email %>
                </p>
            <% end %>
            <%= render @order.state, :form => form %>

          <br/>
        </div>
        <% if @order.state != 'confirm' %>
          <div class="col-md-3" <% if @order.state != 'address' %> style="padding-top:30px;" <%end%>>
              <div id="checkout-summary" data-hook="checkout_summary_box" style="margin-bottom: 15px;">
                <%= render :partial => 'summary', :locals => {:order => @order} %>
              </div>
            <div style="margin-bottom: 15px;">
              <%= button_tag :class => 'checkout btn btn-custom', :id => 'checkout-link', :name => 'checkout', style: "width: 100%;" do %>
              Save and Continue
              <% end %>
            </div>
            <div style="margin-bottom: 15px;">
              <%= link_to "KEEP SHOPPING".html_safe, products_path, :class => 'checkout btn btn-default btn-lg keep-shopping-button', style: "width: 100%;"%>
            </div>
          </div>
        <% end %>
      </div>
  <% end %>
</div>
<script>
    Spree.current_order_id = "<%= @order.number %>";
    Spree.current_order_token = "<%= @order.token %>";
</script>

<% if I18n.locale != :en %>
    <script src="<%= assets_prefix %>/jquery.validate/localization/messages_<%= I18n.locale %>.js"></script>
<% end %>
