<% content_for :head do %>
	<%= javascript_include_tag "spree/adhoc/bootstrap-datepicker" %>
	<%= stylesheet_link_tag "spree/adhoc/datepicker3" %>
<% end %>

<% content_for :subnav do %>
	<li><a href="/gifting">GIFT CERTIFICATES</a></li>
	<li><a class="selected" href="#"><span class="hidden-xs">John Allan's</span> STYLE EXPERIENCE</a></li>
<% end %>
	
	<div class="row">
		<div class="col-sm-6"> 
			<h1 class="text-center">Give the Style Experience</h1>
			
			<p>Looking for that one-of-a-kind gift for the gentleman in your life?</p>
			<p>Give him the ultimate experience of style and pampering at <a target="_blank" href="http://www.johnallans.com">John Allan's</a>, NYC's premier men's grooming club. The gift includes a <strong>John Allan's Full Treatment</strong> (haircut, manicure, shoe shine, hot towel, etc., all with a beer in his hand!) and a <strong>Sartor NYC custom shirt</strong>. All in one awesome experience.</p>
			
			</br>
			<h3 class="text-center">Available in New York City only</h3>
			
			<p class="text-center"><a href="#orderForm" class="btn btn-primary"><i class="glyphicon glyphicon-arrow-down"></i> Order Now <i class="glyphicon glyphicon-arrow-down"></i></a></p>
		</div>
		<div class="col-sm-6">
			<%= image_tag('gifting/ja_watercolor.jpg', :class => 'img-responsive') %>
		</div>
	</div>

	<br/>
	<hr/>
	<br/>
	
	<div class="row">
		<div class="col-sm-6">
			<strong>How Does it Work?</strong>
			<p>When he comes to his appointment at John Allan's in Midtown or Tribeca NYC, a Sartor Clothier will be there to meet him. He'll be fitted as part of his visit, and he'll receive the custom shirt within 2 weeks.</p>

			<strong>How is it Packaged?</strong>
			<p>The Sartor NYC shirt and John Allan's Full Treatment gift certificates come together in handsome packaging with welcome instructions. If you provide the recipient name and a note, we'll also include a personal card.</p>
		</div>
		<div class="col-sm-6">
			<strong>Gift Delivery</strong>
			<p>You may hand deliver the gift by shipping to yourself, or we can delivery directly to the recipient if you provide his shipping address during checkout.</p>

			<strong>Questions?</strong>
			<p>Email us at <a href="mailto:service@sartornyc.com">service@sartornyc.com</a>. We're here to help!</p>
		</div>
	</div>
	
	<br/>
	<hr/>
	<br/>

	<%= form_for @gift_card do |f| %>

	<%= render "spree/shared/error_messages", :target => @gift_card %>
	
	<div class="row" id="orderForm" >
		<div class="col-md-4 col-sm-5">
			<h2>Gift the Experience</h2>
		  <p>
				<div class="row">
					<div class="col-xs-6">
				    <%= f.label :variant_id, Spree.t(:value) %>
				    <span class="required">*</span></br>
				    <%= f.select :variant_id, @gift_card_variants.map { |variant| [variant.display_price, variant.id] } %>
					</div>
					<div class="col-xs-6">
						<%= f.submit Spree.t(:add_to_cart), :class => "btn btn-primary btn-lg", :style => "margin-top: 0px;" %>
					</div>
				</div>
				<p style="font-size: 11px; font-style: italic;" id="gift_value_comments">Includes a $135 Sartor gift certificate and a John Allan's "Full Treatment." A $135 certificate will allow the recipient to choose from the majority of our shirt collection.</p>
			</p>
		    <%#= f.label :email, Spree.t("email") %>
		    <%#= f.text_field :email %>

		  <p>
		    <%= f.label :name, Spree.t("recipient_name") %>
		    <%= f.text_field :name %>
		  </p>
		  <p>
		    <%= f.label :note, "Add a Personal Note" %><br/>
		    <%= f.text_area :note, :rows => 6 %>
		  </p>
			<div>
				<label>Send on</label>
				<div class="radio">
					<label>
						<input name="gift_card[send_on]" id="send_on_now" type="radio" value="now" <%= 'checked' if @gift_card.send_on == 'now' %> >
						Now
					</label>
				</div>
				<div class="form-group">
					<div class="radio">
						<label>
							<input name="gift_card[send_on]" id="send_on_date" type="radio" value="date" <%= 'checked' if @gift_card.send_on == 'date' %> >Future Date</input>
						</label>
					</div>
					<div class="input-group date" id="gift_card_send_on_date" data-date="<%= Time.now.strftime("%m/%d/%Y") %>" data-date-format="mm/dd/yyyy" style="padding-left: 20px;">
						<input name="gift_card[send_on_date]" class="form-control" id="datepicker_field"/>
						<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				  </div>
				</div>			
				<!-- div class="input-group date">
				  <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				</div -->				
				</p>
			</div>
			<br/><br/>
		</div>
		<div class="col-md-7 col-sm-6 col-sm-offset-1">			
			<br/><br/>
		</div>
		
	</div>
	
<% end %>


<script>
	var certValueComments = {};
	certValueComments['159'] = "Includes a $135 Sartor gift certificate and a John Allan\'s \"Full Treatment\" (a $72 value). A $135 certificate will allow the recipient to choose from the majority of our shirt collection.";
	certValueComments['174'] = "Includes a $150 Sartor gift certificate and a John Allan\'s \"Full Treatment.\" (a $72 value). A $150 certificate will allow the recipient to choose any shirt in our collection, including premium shirts.";

	function recalcValues() {
		gift_card_price = parseInt($("#gift_card_variant_id").children(":selected").text().substring(1));
		comment = certValueComments[gift_card_price];
		$("#gift_value_comments").text(comment);
	}
	
	$(function() {
		recalcValues();
	
		$("#gift_card_variant_id").click(
			function() {	
				recalcValues();
			}
		);
		
		$('#gift_card_send_on_date').datepicker({});
		$('.input-group.date').datepicker({
		});
		
		function updateFieldDisplay() {
			var recipient = $('#delivery_type_recipient');
			if ($('#send_on_date').is(':checked')) {
				$('#datepicker_field').removeAttr('readonly');
			} else {
				$('#datepicker_field').attr('readonly','readonly');	
			}
		}
		
		updateFieldDisplay();
		$('input:radio').change(function() { 
			updateFieldDisplay(); 
		});
			/* SCROLLING TO HREF */

		$('a[href*=#]:not([href=#])').click(function() {
		    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
		        || location.hostname == this.hostname) {

		        var target = $(this.hash);
		        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		           if (target.length) {
		             $('html,body').animate({
		                 scrollTop: target.offset().top - 110 /* -110 to account for header */
		            }, 1000);
		            return false;
		        }
		    }
		});
	}
	);
</script>