  <div class="row">
    <div class=" omega eight columns">
      <div class=" omega six columns">
        <%= f.label :name, Spree.t(:'Wearer’s Name'), class:"omega five columns"%>
        <%= f.text_field :name, class:" omega five columns",:value=> @historic_profile ? @historic_profile.name : ""%>
      </div>
      <div class=" omega six columns">
        <%= f.label :neck, Spree.t(:neck), class:" omega five columns"%>
    <%= f.number_field :neck, class:" omega five columns" ,:step => ".125",:value=> @historic_profile ? @historic_profile.heir.neck : 0 %>
      </div>
  	  <div class=" omega six columns">
        <%= f.label :yoke, Spree.t(:shoulder), class:" omega five columns"%>
        <%= f.number_field :yoke, class:" omega five columns" ,:step => ".125",:value=>@historic_profile ? @historic_profile.heir.yoke : 0%>
      </div>
      <div class=" omega six columns">
        <%= f.label :sleeve, Spree.t(:sleeve), class:" omega five columns"%>
        <%= f.number_field :sleeve, class:" omega five columns" ,:step => ".125",:value=>@historic_profile ? @historic_profile.heir.sleeve : 0 %>
      </div>
  		<div class=" omega six columns">
  			<%= f.label :yoke, Spree.t(:bicep), class:" omega five columns"%>
  			<%= f.number_field :bicep, class:" omega five columns" ,:step => ".125",:value=>@historic_profile ? @historic_profile.heir.bicep : 0 %>
  		</div>
      <div class=" omega six columns">
        <%= f.label :wrist, Spree.t(:wrist), class:" omega five columns"%>
        <%= f.number_field :wrist, class:" omega five columns" ,:step => ".125",:value=>@historic_profile ? @historic_profile.heir.wrist : 0 %>
      </div>
       <div class=" omega six columns">
        <%= f.label :wrist_watch, Spree.t(:wrist_watch), class:" omega five columns"%>
        <%= f.number_field :wrist_watch, class:"omega five columns" ,:step => ".125",:value=>@historic_profile ? @historic_profile.heir.wrist_watch : 0%>
      </div>
      <div class=" omega six columns">
        <%= f.label :watch_hand, Spree.t(:on_hand), class:" omega five columns"%>
        <%= f.select :watch_hand, Profile::WATCH_HANDS, {:selected=>@historic_profile ? @historic_profile.heir.watch_hand : 'None'}, { class: 'input-small input-sm form-control omega five columns'}%>
      </div>
    </div>
    <div class=" omega eight columns">
      <div class="omega six columns">
        <%= f.label :height_ft, "HEIGHT (FT)", class:" omega five columns"%>
        <%= f.select :height_ft, Profile::HEIGHTS_FT, {:selected=>@historic_profile ? @historic_profile.height_ft : 4}, {class:" omega five columns"} %>
      </div>
      <div class=" omega six columns">
        <%= f.label :height_in, "HEIGHT (IN)", class:" omega five columns"%>
        <%= f.select :height_in, Profile::HEIGHTS_IN, {:selected=>@historic_profile ? @historic_profile.height_in : 0}, {class:" omega five columns"}  %>
      </div>
      <div class=" omega six columns">
        <%= f.label :weight, Spree.t(:weight), class:" omega five columns"%>
        <%= f.number_field :weight, class:" omega five columns" ,:step => ".125",:value=>@historic_profile ? @historic_profile.heir.weight : 0%>
      </div>
      <div class=" omega six columns">
        <%= f.label :yoke, Spree.t(:chest), class:" omega five columns"%>
        <%= f.number_field :chest, class:" omega five columns" ,:step => ".125",:value=>@historic_profile ? @historic_profile.heir.chest : 0 %>
      </div>
    	<div class=" omega six columns">
    		<%= f.label :waist, Spree.t(:waist), class:" omega five columns"%>
    		<%= f.number_field :waist, class:" omega five columns" ,:step => ".125",:value=>@historic_profile ? @historic_profile.heir.waist : 0 %>
    	</div>
      <div class=" omega six columns">
      	<%= f.label :hip, Spree.t(:seat), class:" omega five columns"%>
      	<%= f.number_field :hip, class:"omega five columns" ,:step => ".125",:value=>@historic_profile ? @historic_profile.heir.hip : 0 %>
      </div>
      <div class=" omega six columns">
        <%= f.label :length, Spree.t(:length_tucked), class:" omega five columns"%>
        <%= f.number_field :length, class:"omega five columns" ,:step => ".125",:value=>@historic_profile ? @historic_profile.heir.length : 0%>
      </div>
      <div class=" omega six columns">
        <%= f.label :length_untucked, Spree.t(:length_untucked), class:" omega five columns"%>
        <%= f.number_field :length_untucked, class:"omega five columns" ,:step => ".125",:value=>@historic_profile ? @historic_profile.heir.length_untucked : 0 %>
      </div>
    </div>
    <% if session[:urlorder] %>
    <div class=" omega sixteen columns" style="text-align:center;">
    <br/>
     <div class=" omega two columns">
       <button href="<%= session[:urlorder]%>" >Go Back</button>
     </div>
    </div>
    <% end %>
  </div>
