<% content_for :page_title do %>
  Editing Body Measurement Profile
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to "User Settings", edit_admin_user_url(@profile.user), :icon => 'icon-arrow-left' %>
  </li>
<% end %>


<div>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
</div>

<%= simple_form_for [@user, @profile], :url => admin_user_detailed_profile_path do |f| %>
 <fieldset>
   <legend align="center"><%= @profile.name %></legend>
     <%= render :partial => 'spree/admin/detailed_profiles/form', :locals => { :f => f } %>
   </div>

	<div class="form-buttons filter-actions actions" data-hook="buttons">
	  <%= button t(:update), 'icon-refresh' %>
	  <span class="or"><%= t(:or) %></span>
	  <%= link_to t(:cancel), edit_admin_user_url(@profile.user), :id => 'cancel_link', :class => 'button icon-remove' %>
	</div>
 </fieldset>
<% end %>
