    <%= simple_form_for [@user, @profile], :url => admin_user_detailed_profiles_path(@user, :order_id=>@orderID) do |f| %>
  <fieldset>
    <legend align="center">New Body Measurement Profile</legend>

      <%= render :partial => 'spree/admin/detailed_profiles/form', :locals => { :f => f } %>

      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button t(:update), 'icon-refresh' %>
        <span class="or"><%= t(:or) %></span>
        <%= link_to_with_icon 'icon-remove', t(:cancel), edit_admin_user_url(@user), :id => 'cancel_link', :class => 'button' %>
      </div>
  </fieldset>
<% end %>
