<% content_for :page_title do %>
  Measurement Profile
<% end %>

<table>
  <tr>
    <th>Name</th>
    <td>
      <%= @profile.name %>
    </td>
  </tr>
	<tr>
		<th>Created at</th>
		<td>
			<%= @profile.created_at %>
		</td>
	</tr>
	<tr>
		<th>Updated at</th>
		<td>
			<%= @profile.updated_at %>
		</td>
	</tr>
	<tr>
		<th>Height</th>
		<td>
			<%= @profile.height_ft %>' <%= @profile.height_in %>"
		</td>
	</tr>
	<tr>
		<th>Weight</th>
		<td>
			<%= @profile.weight %>
		</td>
	</tr>
	<tr>
		<th>Neck</th>
		<td>
		<%= @profile.neck %>
		</td>
	</tr>
	<tr>
		<th>Shoulder</th>
		<td>
		<%= @profile.yoke %>
		</td>
	</tr>
	<tr>
		<th>Sleeve</th>
		<td>
			<%= @profile.sleeve %>
		</td>
	</tr>
	<tr>
		<th>Chest</th>
		<td>
		<%= @profile.chest %>
		</td>
	</tr>
	<tr>
		<th>Waist</th>
		<td>
		<%= @profile.waist %>
		</td>
	</tr>
	<tr>
		<th>Hip</th>
		<td>
		<%= @profile.hip %>
		</td>
	</tr>
	<tr>
		<th>Length</th>
		<td>
		<%= @profile.length %>
		</td>
	</tr>
	<tr>
		<th>Length - Untucked</th>
		<td>
		<%= @profile.length_untucked %>
		</td>
	</tr>
	<tr>
		<th>Bicep</th>
		<td>
		<%= @profile.bicep %>
		</td>
	</tr>
	<tr>
		<th>Wrist</th>
		<td>
		<%= @profile.wrist %>
		</td>
	</tr>
	<tr>
		<th>Wrist - Watch</th>
		<td>
		<%= @profile.wrist_watch %>
		</td>
	</tr>
	<tr>
		<th>Watch Hand</th>
		<td>
		<%= @profile.watch_hand %>
		</td>
	</tr>
	<tr>
		<th>Fit</th>
		<td>
		<%= @profile.default_fit %>
		</td>
	</tr>
</table>
