<% @taxonomies.each do |taxonomy| %>
	<% parent_taxon = Spree::Taxon.find_by(:name => taxonomy.name ) %>
	<% taxons = Spree::Taxon.where(:parent_id => parent_taxon.id) %>
	<% taxons.each do |taxon| %>
		<label id="filterLabel_<%= parent_taxon.name.tr(' ', '_') %>_<%=taxon.id%>" class="label label-default" style="display:none;"><%= parent_taxon.name%>-<%= taxon.name%></label>
	<% end %>
<% end %>