<% if defined?(image) && image %>
  <%= image_tag image.attachment.url(:product), :itemprop => "image" %>
<% else %>
  <a id="Zoomer" href="<%= @product.images.first.attachment.url(:huge) %>" class="main MagicZoomPlus" rel="selectors-change:mouseover; hint:false; zoom-height:100%;">
    <%= large_image(@product, :itemprop => "image")%>
  </a>
<% end %>
