<%= form_for :order, :url => populate_orders_path do |f| %>

	<div>
		<%= render :partial => 'shirt_options_wizard' %>
	</div>	

  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <%= hidden_field_tag "variant_id", @product.master.id %>
    <%= hidden_field_tag "product_type", @product.product_type %>

  
					    <div class="add-to-cart" style="margin-top:15px;">
					      <%= number_field_tag :quantity, 1, :class => 'title input-xsmall', :min => 1 %>
					      <%= button_tag :class => 'btn btn-primary', :id => 'add-to-cart-button', :type => :submit do %>
					        <%= Spree.t(:add_to_cart) %>
					      <% end %>
					    </div>
					
							<br/>
					
							<table class="table" id="shirt-config-table">
								<thead>
									<tr>
										<th style="vertical-align: middle;" id='shirt_design_title'>Shirt Design</th>
										<th>
											<button class="btn btn-primary btn-sm" onclick="return false;" data-toggle="modal" data-target="#optionModal">
										  	Personalize your shirt
											</button>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>Measurements</th>
										<td>
											<%= select_tag "profile_id",
			                                options_from_collection_for_select(spree_current_user.profiles, "id", "name") %>
										</td>										
									<tr>
										<th>Collar</th>
										<td><div id="opt_select_collar"><%= @shirt_configuration.collar_name %></div></td>
									</tr>
									<tr>
										<th>Cuff / Sleeve</th>
										<td><div id="opt_select_cuff"><%= @shirt_configuration.cuff_name %></div></td>
									</tr>
									<tr>
										<th>Pocket</th>
										<td><div id="opt_select_pocket"><%= @shirt_configuration.pocket_name %></div></td>
									</tr>
					
									<tr>
										<th>Length</th>
										<td><div id="opt_select_length"><%= @shirt_configuration.length_name %></div></td>
									</tr>									
								</tbody>
							</table>
						<div class="alert alert-info">
							 The above shirt configuration is pre-populated, based on your earlier order.
						</div>
        </div>
<% end %>
