<script>
	var optionDescs = {};
	optionDescs['collar'] = {
					'1': 'The semi-spread collar is a well-balanced modern collar that works well for both casual and dress occasions. This is our most popular collar, and is a great choice if you\'re not sure which to choose.',
					'2': 'The full spread collar is unquestionably formal and elegant. Ideal for a wider tie know (think windsor or half-windsor), or a dramatic open-collar look.',
					'3': 'The point collar is our narrowest spread. It works great with a skinny tie, or if you want the collar points to sit closer to your neck when open.',
					'4': 'The double button collar is a bit larger and more robust. It creates a bolder look that is well suited for taller gentleman, or those who just want a bit more nuance.',
					'5': 'The Sartor button-down is a fresh take on an American classic. It has a medium spread and shorter collar flaps for a modern, casual look.'
					};

	optionDescs['cuff'] = {
					'1': 'You can never go wrong with a single button cuff. This is our basic cuff that works with every shirt for every occasion.',
					'3': 'A double button cuff adds a touch of formality to a dress shirt, or distinction to a casual shirt. This cuff is slightly wider than our single button cuff, and pairs well with a double button collar.',
					'5': 'Cuff links. What more can we say.',
					'6': 'All of our shirts can be made with short sleeves. Nothing beats a fitted short sleeve shirt in the summer or warmer climates.'
	}

	optionDescs['pocket'] = {
					'1': 'Keep things clean and minimal with no pocket.',
					'2': 'The rounded pocket has a straight bottom edge with rounded corners.',
					'3': 'The angled pocket has a slight \'V\' shape that comes to a point at the center bottom.'
          '4': 'The angled pocket has a slight \'V\' shape that comes to a point at the center bottom.'
	}

	optionDescs['length'] = {
					'1': 'Tucked is the best choice for a dress shirt. It will come to the bottom of your butt (or, in front, the fly) so it will stay tucked well.',
					'2': 'Choose Middle length if you intend to where a shirt both tucked and untucked. It is a compromise length that will look good untucked, but will also tuck easily.',
					'3': 'Untucked is a shorter length that looks perfect with the shirt out, but may be difficult to tuck in without the shirt pulling out.',
	}

	optionDescs['fit'] = {
					'1': 'Our most popular fit, our Slim shirts have room to move comfortably while still bing quite fitted. It is comparable to the Extra Slim fit from most old-school retailers. There will be several inches of fabric around the waist and arms for freedom of movement. For those used to a more traditional (boxy) shirt, you may feel the shirt in the armhole and shoulders more than you\'re used to.',
					'2': 'We recommend Extra Slim if you want a very tailored look. There is less fabric around the waist, so the shirt won\'t hang over the pants. You may feel restricted in the arm-hole and sleeves, but sometimes fashion comes before total comfort!',
					'3': 'The Classic Fit provides extra room in the sleeves and along the torso for maximum comfort. It is comparable to a Slim fit from traditional retailers. Of course this is custom, so it will fit well regardless of your body type.',
					'4': 'Tailored Slim provides is an extra fitted version of our Slim fit. The chest and sleeves have the same room as for our Slim fit, but the waist is trimmer. This is a good choice for those who want to minimize the fabric over the belt line, but still want more arm mobility than with our Extra Slim.',
					'5': 'Tailored Classic is a great way to go for those who are used to a more traditional (roomy) shirt, but don\'t want as much excess fabric around the middle. It has the same size for the chest and sleeves as our Classic fit, but the waist and hips are slimmer.'
	}

	$(function () {
		$('#optionsWizard').bootstrapWizard({'tabClass': 'nav nav-pills'});
		$('.option_button').button();
		$(':input:checked').parent('.btn').addClass('active');
		$(':input:checked').parent('.btn').each(
			// todo make more DRY; this loads all the descriptions when opening the wizard
			function() {
				var optionType = $(this).data('option-type');
				$('#option_label_' + optionType).text($(this).data("short-name"));
				$('#option_desc_' + optionType).text(optionDescs[optionType][$(this).data("code")]);
		   }
		);

		$('.option_button').click(
			// todo make more DRY; this updates product page option and wizard description on click
			function() {
				var optionType = $(this).data('option-type');
				$('#opt_select_' + optionType).text($(this).data("short-name"));
				$('#option_label_' + optionType).text($(this).data("short-name"));
				$('#option_desc_' + optionType).text(optionDescs[optionType][$(this).data("code")]);
		   }
		 );
	});

</script>

<!-- Modal -->
<div class="modal fade" id="optionModal" tabindex="-1" role="dialog" aria-labelledby="optionModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="optionModalDialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="optionModalLabel">Personalize Your Shirt</h4>
      </div>
      <div class="modal-body">
				<div id="optionsWizard">
					<ul>
					  <li><a href="#collarTab" data-toggle="tab">Collar</a></li>
						<li><a href="#cuffTab" data-toggle="tab">Sleeve / Cuff</a></li>
						<li><a href="#pocketTab" data-toggle="tab">Pocket</a></li>
						<li><a href="#lengthTab" data-toggle="tab">Length</a></li>
					</ul>
					<div class="tab-content">
				    <div class="tab-pane" id="collarTab">
							<div class="row">
								<div class="col-sm-7">
									<div class="btn-group" data-toggle="buttons">
										<%= render :partial => 'option_button', locals: {type: "collar", code: 1, image: "YBT.2.png", names: ShirtConfiguration::COLLARS} %>
										<%= render :partial => 'option_button', locals: {type: "collar", code: 2, image: "YBT.1.png", names: ShirtConfiguration::COLLARS} %>
										<%= render :partial => 'option_button', locals: {type: "collar", code: 3, image: "YBT.3.png", names: ShirtConfiguration::COLLARS} %>
										<%= render :partial => 'option_button', locals: {type: "collar", code: 4, image: "YBT.4.png", names: ShirtConfiguration::COLLARS} %>
										<%= render :partial => 'option_button', locals: {type: "collar", code: 5, image: "YBT.7.png", names: ShirtConfiguration::COLLARS} %>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="option_label"id="option_label_collar">
									</div>
									<div class="option_desc" id="option_desc_collar">
									</div>
								</div>
							</div>
				    </div>

				    <div class="tab-pane" id="cuffTab">
							<div class="row">
								<div class="col-sm-7">
									<div class="btn-group" data-toggle="buttons">
										<%= render :partial => 'option_button', locals: {type: "cuff", code: 1, image: "MBT.1.png", names: ShirtConfiguration::CUFFS} %>
										<%#= render :partial => 'option_button', locals: {type: "cuff", code: 2, image: "MBT.1.png", names: ShirtConfiguration::CUFFS} %>
										<%= render :partial => 'option_button', locals: {type: "cuff", code: 3, image: "MBT.2.png", names: ShirtConfiguration::CUFFS} %>
										<%#= render :partial => 'option_button', locals: {type: "cuff", code: 4, image: "MBT.2.png", names: ShirtConfiguration::CUFFS} %>
										<%= render :partial => 'option_button', locals: {type: "cuff", code: 5, image: "MBT.3.png", names: ShirtConfiguration::CUFFS} %>
										<%= render :partial => 'option_button', locals: {type: "cuff", code: 6, image: "short_sleeve.png", names: ShirtConfiguration::CUFFS} %>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="option_label"id="option_label_cuff">
									</div>
									<div class="option_desc" id="option_desc_cuff">
									</div>
								</div>
							</div>
				    </div>


				    <div class="tab-pane" id="pocketTab">
							<div class="row">
								<div class="col-sm-7">
									<div class="btn-group" data-toggle="buttons">
										<%= render :partial => 'option_button', locals: {type: "pocket", code: 1, image: "pocket_none.png", names: ShirtConfiguration::POCKETS} %>
										<%= render :partial => 'option_button', locals: {type: "pocket", code: 2, image: "pocket_rounded.png", names: ShirtConfiguration::POCKETS} %>
										<%= render :partial => 'option_button', locals: {type: "pocket", code: 3, image: "pocket_angled.png", names: ShirtConfiguration::POCKETS} %>
                    <%= render :partial => 'option_button', locals: {type: "pocket", code: 4, image: "double_flap.png", names: ShirtConfiguration::POCKETS} %>
									</div>
						    </div>
								<div class="col-sm-5">
									<div class="option_label"id="option_label_pocket">
									</div>
									<div class="option_desc" id="option_desc_pocket">
									</div>
								</div>
							</div>
				    </div>

				    <div class="tab-pane" id="fitTab">
							<div class="row">
								<div class="col-sm-7">
									<div class="btn-group" data-toggle="buttons">

									</div>
						    </div>
								<div class="col-sm-5">
									<div class="option_label"id="option_label_fit">
									</div>
									<div class="option_desc" id="option_desc_fit">
									</div>
								</div>
							</div>
						</div>

				    <div class="tab-pane" id="lengthTab">
							<div class="row">
								<div class="col-sm-7">
									<div class="btn-group" data-toggle="buttons">
										<%= render :partial => 'option_button', locals: {type: "length", code: 1, image: "length_tucked.png", names: ShirtConfiguration::LENGTHS} %>
										<%= render :partial => 'option_button', locals: {type: "length", code: 2, image: "length_midtuck.png", names: ShirtConfiguration::LENGTHS} %>
										<%= render :partial => 'option_button', locals: {type: "length", code: 3, image: "length_untucked.png", names: ShirtConfiguration::LENGTHS} %>
									</div>
						    </div>
								<div class="col-sm-5">
									<div class="option_label"id="option_label_length">
									</div>
									<div class="option_desc" id="option_desc_length">
									</div>
								</div>
							</div>
						</div>
					</div>

					<ul class="pager wizard">
						<li class="previous first" style="display:none;"><a href="#">First</a></li>
						<li class="previous"><a href="#">Previous</a></li>
						<li class="next last" style="display:none;"><a href="#">Last</a></li>
					  	<li class="next"><a href="#">Next</a></li>
					</ul>
				</div>

	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Save Personalization Options</button>
	      </div>
      </div>
    </div>
  </div>
</div>
