<!-- no need for thumbnails unless there is more than one image -->
<% if (@product.images + @product.variant_images).uniq.size > 1 %>
  <ul class="list-unstyled">
    <% @product.images.each do |i| %>
    	<% if i.image_type != "Fabric" %>
      <li class='tmb-all tmb-<%= i.viewable.id %>'>
	
	    <a href="<%= i.attachment.url(:huge) %>" rel="zoom-id:Zoomer; hint: false;" rev="<%= i.attachment.url(:large) %>">
				<%= image_tag(i.attachment.url(:product), class: "img-responsive") %>
			</a>
	
        <!--<%= link_to(image_tag(i.attachment.url(:small)), i.attachment.url(:product)) %>-->
      </li>
    <% end %>

    <% if @product.has_variants? %>
      <% @variants.select(&:available?).each do |v| %>
        <% v.images.each do |i| %>
          <% next if @product.images.include?(i) %>
          <li class='vtmb tmb-<%= i.viewable.id %>'>
            <%= link_to(image_tag(i.attachment.url(:mini)), i.attachment.url(:product)) %>
          </li>
        <% end %>
      <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>
