<%= form_for :order, :url => populate_orders_path do |f| %>

  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
	
	  <%= hidden_field_tag "variant_id", @product.master.id %>
    <%= hidden_field_tag "product_type", @product.product_type %>

		<div class="add-to-cart" style="margin-top:15px;">
			<%= number_field_tag :quantity, 1, :class => 'title input-xsmall', :min => 1 %>
			<%= button_tag :class => 'btn btn-primary', :id => 'add-to-cart-button', :type => :submit do %>
				<%= Spree.t(:add_to_cart) %>
			<% end %>
			
		</div>
  </div>
<% end %>
