<%# cache [current_currency, @product] do %>

<div class="row">
	<% if (@product.images + @product.variant_images).uniq.size > 1 %>
	<div class="col-xs-12 col-sm-6 col-lg-5">
		<div class="row">
			<div class="col-xs-2 col-sm-3 col-xs-offset-1 col-sm-offset-0">
				<div id="thumbnails" data-hook>
					<%= render :partial => 'thumbnails' %>
				</div>
			</div>

			<div class="col-xs-6 col-sm-8 col-xs-offset-1 col-sm-offset-0">
				<div id="product-images" data-hook="product_images">
					<div id="main-image" data-hook>
						<%= render :partial => 'image' %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	
	<% if (@product.images + @product.variant_images).uniq.size == 1 %>
	<div class="col-xs-6 col-sm-5 col-lg-4">
		<div id="main-image" data-hook>
			<%= render :partial => 'image' %>
		</div>
	</div>
	<div class="col-sm-1"></div>
	<% end %>
	
	<% if (@product.images + @product.variant_images).uniq.size == 0 %>
	<div class="col-xs-6 col-sm-5 col-lg-4">
		<div id="main-image" data-hook>
			<img src= "/NoImageAvailable.jpg">
		</div>
	</div>
	<div class="col-sm-1"></div>
	<% end %>

	<!-- product description-->
	<div class="col-xs-12 col-sm-6 col-lg-7">
		<br/>
		<div>
			<h1 id="product-title" itemprop="name"><%= @product.name %></h1>
			<h3><%= @product.price %></h3>

			<div id="product-description" itemprop="description" data-hook="description">
				<%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
			</div>

			<div data-hook="cart_form"></div>
			<% if (@product.product_type == 'SHIRT') %>
			<div id="cart-form">
				<%= render :partial => 'shirt_cart_form' %>
			</div>
			<% elsif (@product.product_type == 'TIE') %>
			<div id="cart-form">
				<%= render :partial => 'tie_cart_form' %>
			</div>
			<% else %>
			<div id="cart-form" data-hook="cart_form"></div>
			<% end %>

		</div>
	</div>
</div>
</div>

<br/>
<br/>
<%= render :partial => 'spree/shared/recently_viewed_products'%>

<% # end %>
