<% content_for :head do %>
	<%= stylesheet_link_tag 'spree/adhoc/jcarousel.responsive', :media => 'screen' %>
	<%= javascript_include_tag "spree/adhoc/jquery.jcarousel.min" %>
	<%= javascript_include_tag "spree/adhoc/jcarousel.responsive" %>
	<%= javascript_include_tag "spree/adhoc/bootstrap-datepicker" %>
	<%= stylesheet_link_tag "spree/adhoc/datepicker3" %>
<% end %>

<%= image_tag('gifting/ja_ultimate_experience.jpg', :class => 'img-responsive', style: "padding: 0px 0px 60px 0px;") %>

<%= form_for @gift_card do |f| %>

<%= render "spree/shared/error_messages", :target => @gift_card %>
	
	<div class="row">
		<div class="col-md-4 col-sm-5">
			<h2>Create Your Gift Certificate</h2>
		  <p>
		    <%= f.label :variant_id, Spree.t(:value) %>
		    <span class="required">*</span><br/>
		    <%= f.select :variant_id, @gift_card_variants.map { |variant| [variant.display_price, variant.id] } %>
				<p style="font-size: 11px; font-style: italic;" id="gift_value_comments">A $135 certificate will allow the recipient to choose from the majority of our shirt collection.</p>

		    <%#= f.label :email, Spree.t("email") %>
		    <%#= f.text_field :email %>

		  <p>
		    <%= f.label :name, Spree.t("recipient_name") %>
		    <%= f.text_field :name %>
		  </p>
		  <p>
		    <%= f.label :note, "Add a Personal Note" %><br/>
		    <%= f.text_area :note, :rows => 6 %>
		  </p>
			<div>
				<label>Send on</label>
				<div class="radio">
					<label>
						<input name="gift_card[send_on]" id="send_on_now" type="radio" value="now" <%= 'checked' if @gift_card.send_on == 'now' %> >
						Now
					</label>
				</div>
				<div class="form-group">
					<div class="radio">
						<label>
							<input name="gift_card[send_on]" id="send_on_date" type="radio" value="date" <%= 'checked' if @gift_card.send_on == 'date' %> >Future Date</input>
						</label>
					</div>
					<div class="input-group date" id="gift_card_send_on_date" data-date="<%= Time.now.strftime("%m/%d/%Y") %>" data-date-format="mm/dd/yyyy" style="padding-left: 20px;">
						<input name="gift_card[send_on_date]" class="form-control" id="datepicker_field"/>
						<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				  </div>
				</div>
			
			
				<!-- div class="input-group date">
				  <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				</div -->
				
				
				</p>
			</div>
		</div>
		<div class="col-md-7 col-sm-6 col-sm-offset-1">
			<strong>Gift the Experience</strong>
			<p>John Allan's and Sartor NYC are great on their own, but together they make the ultimate gift for gentlemen. The gift includes a "Full Treatment" at New York's premier men's grooming club and a custom shirt (up to $135 or $150 value). Scalp massage, hot towel, shoe shine, hair cut -- and a personal custom shirt fitting -- all in one awesome experience.</p>

			
			<strong>How Does it Work?</strong>
			<p>A Sartor NYC Clothier will meet the giftee during his John Allan's visit. He just needs to let us know of his appointment ahead of time. Simple!</p>

			<strong>What's in the Gift Set?</strong>
			<p>The gift certificates for both the Sartor NYC shirt and the John Allan's "Full Treatment" come together in handsome packaging with welcome instructions. If you provide the recipient name and a note, we'll also include a personal card.</p>

			<strong>Gift Delivery</strong>
			<p>You may hand deliver the gift by shipping to yourself, or we can delivery directly to the recipient if you provide his shipping address during checkout.</p>


			<strong>Questions?</strong>
			<p>Email us at <a href="mailto:service@sartornyc.com">service@sartornyc.com</a>. We're here to help!
		</div>
	</div>
	
<% end %>