<div data-hook="admin_stock_locations_form_fields" class="row">
  <div class="row">
    <div class="alpha twelve columns">
      <%= f.field_container :name do %>
        <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br/>
        <%= f.text_field :name, :class => 'fullwidth' %>
      <% end %><br>
      <%= f.field_container :admin_name do %>
        <%= f.label :admin_name, Spree.t(:internal_name) %>
        <%= f.text_field :admin_name, :class => 'fullwidth', :label => false %>
      <% end %>
      <%= f.field_container :status do %>
        <%= f.label :status, Spree.t(:status) %>
        <%= f.text_field :status, :class => 'fullwidth', :label => false %>
      <% end %>
    </div>
    <div class="omega four columns">
      <%= f.field_container :active do %>
        <label for="active"><%= Spree.t(:state) %></label>
        <ul>
          <li>
            <%= f.label :active, Spree.t(:active) %>
            <%= f.check_box :active %>
          </li>
          <li>
            <%= f.label :active, Spree.t(:backorderable_default) %>
            <%= f.check_box :backorderable_default %>
          </li>
          <li>
            <%= f.label :active, Spree.t(:propagate_all_variants) %>
            <%= f.check_box :propagate_all_variants %>
          </li>
          <li>
            <%= f.label :active, Spree.t(:shippable) %>
            <%= f.check_box :shippable %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="alpha four columns">
      <div class="field ">
        <%= f.label :address1, Spree.t(:street_address) %>
        <%= f.text_field :address1, :class => 'fullwidth' %>
      </div>
    </div>

    <div class="four columns">
      <div class="field ">
        <%= f.label :address2, Spree.t(:street_address_2) %>
        <%= f.text_field :address2, :class => 'fullwidth' %>
      </div>
    </div>
    <div class="four columns">
      <div class="field ">
        <%= f.label :city, Spree.t(:city) %>
        <%= f.text_field :city, :class => 'fullwidth' %>
      </div>
    </div>

    <div class="omega four columns">
      <div class="field ">
        <%= f.label :zipcode, Spree.t(:zip) %>
        <%= f.text_field :zipcode, :class => 'fullwidth' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="alpha eight columns">
      <div class="field ">
        <%= f.label :country_id, Spree.t(:country) %>
        <span id="country"><%= f.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'select2 fullwidth'} %></span>
      </div>
    </div>

    <div class="four columns">
      <div class="field ">
        <% if f.object.country %>
          <%= f.label :state_id, Spree.t(:state) %>
          <span id="state" class="region">
            <%= f.text_field :state_name, :style => "display: #{f.object.country.states.empty? ? 'block' : 'none' };", :disabled => !f.object.country.states.empty?, :class => 'fullwidth state_name' %>
            <%= f.collection_select :state_id, f.object.country.states.sort, :id, :name, {:include_blank => true}, {:class => 'select2 fullwidth', :style => "display: #{f.object.country.states.empty? ? 'none' : 'block' };", :disabled => f.object.country.states.empty?} %>
          </span>
        <% end %>
      </div>
    </div>

    <div class="omega four columns">
      <div class="field ">
        <%= f.label :phone, Spree.t(:phone) %>
        <%= f.phone_field :phone, :class => 'fullwidth' %>
      </div>
    </div>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_include_tag 'spree/backend/address_states.js' %>
  <%= javascript_tag do -%>
    $(document).ready(function(){
      $('span#country .select2').on('change', function() { update_state(''); });
    });
  <% end -%>
<% end %>
