<div>
    <div class="product-content">
        <!--SHIRT HEADER NAME-->
        <h2 id="product-title" itemprop="name"><%= accurate_title %></h2>
        <!-- SHIRT PRICE -->
        <span class="price">
            <h2>
                <%= display_price(@product) %>
            </h2>
        </span>

        <% if @product.short_product_description %>
         <!-- FABRIC DESCRIPTION -->
           <div class="fabric-desc">
               <h5>
                 <div class="product_description" id="product-description" itemprop="description" data-hook="description" >
                     <%= @product.short_product_description rescue Spree.t(:product_has_no_description) %>
                 </div>
               </h5>
           </div>
        <% end %>

        <hr>

        <!-- MEASUREMENT PROFILE -->
        <div class="">
            <% if (spree_current_user) %>
                <% if (@userShirtProfiles.length >= 1)%>
                    <h3>
                        SIZING
                    </h3>
                        <center>
                            <%= select_tag "profile_id",
                            options_from_collection_for_select(@userShirtProfiles, "id", "name",@shirtprofileid),
                            :class => "profile-select c-pointer" %>
                        </center>
                <% else %>
                    <center>
                        No Measurement Profiles
                        <a id="manage_profile_link" class="login-link shirtconfig-elemets-margin" href="/profiles">
                            Create Measurement Profile
                        </a>
                    </center>
                <% end %>
            <% else %>
                <center style="font-size:12px;">
                    <div class="" >
                        <a id="shirtdetail_profile_link" >
                            <span class="sub-link c-pointer" >Log In</span>
                        </a> or
                    </div>
                    <div class="" >
                        <a id="shirtdetail_measurement_link" >
                            <span class="sub-link c-pointer" >
                                Create New Custom Shirt Measurements
                            </span>
                        </a>
                    </div>
                </center>
            <% end %>
        </div>
        <hr>
        <div class="">
            <h3>
                SHIRT OPTIONS
            </h3>
            <!-- TABS -->
            <div class="row" id="shirt-wizard-tabs">
                <div class="col-xs-12 shirt-tabs">
                    <div id="sartor_style_config" class=" <%= spree_current_user ? "col-xs-4" : "col-xs-6"%>  padding-zero c-pointer border border-rm-r" >
                        <center class="tab-view">As Shown</center>
                    </div>

                    <% if spree_current_user %>
                        <div id="usual_style_config" class="col-xs-4 padding-zero c-pointer border border-rm-r" >
                            <center class="tab-view">Your Usual</center>
                        </div>
                    <% end %>
                    <div id="customized_style_config" class=" <%= spree_current_user ? "col-xs-4" : "col-xs-6"%>  padding-zero c-pointer border" >
                        <center class="tab-view">Customize</center>
                    </div>
                </div>
            </div>

            <!-- SAVE USUAL -->
            <div class="save-usual-style-btn-section text-right">
                <% if (spree_current_user) %>
                    <a id="save_usual_style_btn" class="sub-link c-pointer text-capitalize">
                        Save as "Your Usual”
                    </a>
                <% end %>
            </div>
        </div>
            <!--  HIDDEN FIELDS -->
            <%= hidden_field_tag "product_id", @product.id %>
            <%= hidden_field_tag "variant_id", @product.master.id %>
            <%= hidden_field_tag "product_type", @product.product_type %>
            <%= hidden_field_tag "p_id", params[:pid] %>

        <!-- SHIRT CONFIGURATION DROPDOWNS -->
        <div class="m-t">
            <div class="shirt-detail-dropdowns shirt-configuration-form form-inline">
                <div class="col-xs-12  padding-zero border-bottom m-b">
                    <div class="form-group text-left col-xs-4 padding-zero ">
                        <%= f.label :collar_code, "COLLAR:" , class: "control-group shirt-config-labels" %>
                    </div>
                    <div id="order_collar_div" class="form-group col-xs-8 c-pointer padding-zero" >
                        <span class="hide">
                            <%= f.collection_select(:collar_code, ShirtConfiguration::COLLARS, :first, :last , class: "form-control") %>
                        </span>
                        <span id="order_collar_text" ></span>
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="col-xs-12  padding-zero border-bottom m-b">
                    <div class="form-group text-left col-xs-4 padding-zero ">
                        <%= f.label :cuff_code, "CUFF:" , class: "control-group shirt-config-labels"%>
                    </div>
                    <div id="order_cuff_div" class="form-group col-xs-8 c-pointer padding-zero">
                        <span class="hide">
                            <%= f.collection_select(:cuff_code, ShirtConfiguration::CUFFS, :first, :last ,  class: "form-control") %>
                        </span>
                        <span id="order_cuff_text" ></span>
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-xs-12  padding-zero border-bottom m-b">
                    <div class="form-group  text-left col-xs-4 padding-zero ">
                            <%= f.label :POCKET_code, "POCKET:" , class: "control-group shirt-config-labels"%>
                    </div>
                    <div id="order_pocket_div" class="form-group col-xs-8 c-pointer padding-zero">
                        <span class="hide">
                            <%= f.collection_select(:pocket_code, ShirtConfiguration::POCKETS, :first, :last , class: "form-control") %>
                        </span>
                        <span id="order_pocket_text" ></span>
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-xs-12  padding-zero border-bottom m-b">
                    <div class="form-group text-left col-xs-4 padding-zero ">
                        <%= f.label :button_code, "BUTTON:" , class: "control-group shirt-config-labels"%>
                    </div>
                    <div id="order_button_div" class="form-group col-xs-8 c-pointer padding-zero">
                        <span class="hide">
                            <%= f.collection_select(:button_code, ShirtConfiguration::BUTTONS, :first, :last , class: "form-control") %>
                        </span>
                        <span id="order_button_text" ></span>
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-xs-12  padding-zero m-b-md">
                    <div class="form-group text-left col-xs-4 padding-zero ">
                        <%= f.label :placket_code, "PLACKET:" , class: "control-group shirt-config-labels"%>
                    </div>
                    <div id="order_placket_div" class="form-group col-xs-8 c-pointer padding-zero">
                        <span class="hide">
                            <%= f.collection_select(:placket_code, ShirtConfiguration::PLACKETS, :first, :last  ,class: "form-control") %>
                        </span>
                        <span id="order_placket_text" ></span>
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="m-t m-b">
            <%if params[:pid]%>
              <%= text_area_tag  'order[comment]', Spree::LineItem.find(params[:pid]).shirt_configuration.comment , :class=>'line_item_notes cover-width form-control', :height => '20' %>
            <% else %>
              <%= text_area_tag  'order[comment]', "" , :class=>'line_item_notes cover-width form-control', :height => '20'%>
            <% end %>
            </div>
            <!-- ADD TO CART -->
            <div class="add-to-cart">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-3 p-zero">
                            <%= number_field_tag :quantity, 1, :class => 'form-control border-radius-rm text-center', :min => 1 %>
                        </div>
                        <div class="col-xs-9 p-zero p-l-sm">
                            <%if(!@updateCartFlag)%>
                                <%= button_tag :class => 'btn btn-custom form-control border-radius-rm', :id => 'add-to-cart-button', :type => :submit do %>
                                    <%= Spree.t(:add_to_cart) %>
                                <% end %>
                            <%else %>
                                <%= button_tag :class => 'btn btn-custom form-control border-radius-rm', :id => 'add-to-cart-button', :type => :submit do %>
                                    <%= Spree.t(:update_to_cart) %>
                                <% end %>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <!-- DELIVERY DATE -->
            <div>
                <h3>Delivery Date</h3>
				<% timestart = Time.now+1.week.to_i%>
                <% timeend = Time.now+2.week.to_i%>
                <span class="delivery_date">
                    <%= Date::ABBR_MONTHNAMES[timestart.strftime("%m").to_i]+" "+timestart.strftime("%d")+ "-" + Date::ABBR_MONTHNAMES[timeend.strftime("%m").to_i]+" "+ timeend.strftime("%d")  %>
                </span>
            </div>
        </div>
    </div>
</div>
