<% if @product.fabric_detail !=nil %>
    <div class="fabric-detail-section">
        <h3 class="detail-fabric-info-table-header">About This Fabric</h3>
        <table id="detail-fabric-info-table"> 
            <tr> 
                <th>Weave</th> 
                <td><%=FabricDetail::WEAVE_TYPE[@product.fabric_detail.weave_type.to_i]%></td> 
            </tr>                         
            <tr> 
                <th>Thread Count</th> 
                <td><%=@product.fabric_detail.yarn_count%></td> 
            </tr>                         
            <tr> 
                <th>Weight</th> 
                <td>
                    <input id="fabric-detail-weight" type="hidden" value='<%=@product.fabric_detail.weight%>'>
                    <div id="rating-container-weight">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </td> 
            </tr>                         
            <tr> 
                <th>Opacity</th> 
                <td>
                    <input id="fabric-detail-opacity" type="hidden" value='<%=@product.fabric_detail.opacity%>'>
                    <div id="rating-container-opacity">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </td> 
            </tr>                         
            <tr> 
                <th>Ease of Care</th> 
                <td>
                    <input id="fabric-detail-easy-of-care" type="hidden" value='<%=@product.fabric_detail.ease_of_care%>'>
                    <div id="rating-container-easy-of-care">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </td> 
            </tr>                         
        </table>        
    </div>
<% end %>