<div class="row" class="shirt-wizard-fontsize">
	<table border="1" style="background:white">
  <tr>

	<td>
		<div class="config-item" data-config = "collar">
			<div class="myContainer">
				<span class="collarTab">
				<center>
					<img id="opt_select_img_new_style_collar" class="img-responsive img-shirt-wizard usual-img-collar" src="/<%= @default_shirt_configuration.collar_image %>.png">
				</center>
				</span>
			</div>
<!-- 			<div class="wizard-nav-usual">
				<span class="wizard-selected-label">COLLAR</span>
			</div> -->
			<div id="opt_select_new_style_collar" style="text-align:center" code=<%= @default_shirt_configuration.collar_code %>>
					<%= @default_shirt_configuration.collar_name %>
			</div>
		</div>
	</td>
  <td>
		<div class="config-item" data-config = "cuff">
			<span id="wizard_new_style_cuff_collapse" class="accordion-toggle" data-toggle="collapse" href="#cuffs-wizard" data-parent="#accordion">
			<div>
			<section class="demo">
			  <div class="myContainer">
			  	<span class="cuffTab">
				<center>
					<img id="opt_select_img_new_style_cuff" class="img-responsive img-shirt-wizard usual-img-cuffs" src="/<%= @default_shirt_configuration.cuff_image %>.png">
				</center>
				</span>
			  </div>
			</section>
			</div>
			</span>
<!-- 			<div class="wizard-nav-usual">
				<span class="wizard-selected-label">CUFFS</span>
			</div> -->
			<div id="opt_select_new_style_cuff" style="text-align:center" code=<%= @default_shirt_configuration.cuff_code %>>
				<%= @default_shirt_configuration.cuff_name %>
			</div>
		</div>
	</td>

	<td>
		<div class="config-item" data-config = "pocket">
			<span id="wizard_new_style_pocket_collapse" class="accordion-toggle" data-toggle="collapse" href="#pockets-wizard" data-parent="#accordion">
			<div>
			<section class="demo">
			  <div class="myContainer">
			  	<span class="pocketTab">
				<center>
					<img id="opt_select_img_new_style_pocket" class="img-responsive img-shirt-wizard usual-img-pockets" src="/<%= @default_shirt_configuration.pocket_image %>.png">
				</center>
				</span>
			  </div>
			</section>
			</div>
			</span>
<!-- 			<div class="wizard-nav-usual">
				<span class="wizard-selected-label">POCKETS</span>
			</div> -->
			<div id="opt_select_new_style_pocket" style="text-align:center" code=<%= @default_shirt_configuration.pocket_code %>>
				<%= @default_shirt_configuration.pocket_name %>
			</div>
		</div>
	</td>
   <td>
    <div class="config-item" data-config = "button">
      <span id="wizard_new_style_button_collapse" class="accordion-toggle" data-toggle="collapse" href="#buttons-wizard" data-parent="#accordion">
      <div>
      <section class="demo">
        <div class="myContainer">
          <span class="buttonTab">
        <center>
          <img id="opt_select_img_new_style_button" class="img-responsive img-shirt-wizard usual-img-buttons"  src="/<%= @default_shirt_configuration.button_image %>.png">
        </center>
        </span>
        </div>
      </section>
      </div>
      </span>
<!--      <div class="wizard-nav-usual">
        <span class="wizard-selected-label">buttonS</span>
      </div> -->
      <div id="opt_select_new_style_button" style="text-align:center" code=<%= @default_shirt_configuration.button_code%>>
        <%= @default_shirt_configuration.button_name %>
      </div>
    </div>
  </td>
  <td>
    <div class="config-item" data-config = "placket">
      <span id="wizard_new_style_placket_collapse" class="accordion-toggle" data-toggle="collapse" href="#plackets-wizard" data-parent="#accordion">
      <div>
      <section class="demo">
        <div class="myContainer">
          <span class="placketTab">
        <center>
          <img id="opt_select_img_new_style_placket" class="img-responsive img-shirt-wizard usual-img-plackets" src="/<%= @default_shirt_configuration.placket_image %>.png">
        </center>
        </span>
        </div>
      </section>
      </div>
      </span>
<!--      <div class="wizard-nav-usual">
        <span class="wizard-selected-label">placketS</span>
      </div> -->
      <div id="opt_select_new_style_placket" style="text-align:center" code=<%= @default_shirt_configuration.placket_code%>>
        <%= @default_shirt_configuration.placket_name %>
      </div>
    </div>
  </td>
  </tr>

  </table>
</div>
