<label class="btn btn-default option_button wizard-label" style="height:140px;background-color: #FFFFFF;border-radius: 23px;margin-bottom: 0px;" data-code="<%=code%>" data-short-name="<%=names[code]%>" data-option-type="<%=type%>">
	<%= radio_button('shirt_configuration', "#{type}_code", code) %>
	<div style="width: 125px;">
		<%= image_tag "shirt_options/#{image}", class: "img-responsive" %>
	</div>
	<div>
		<%=names[code]%>
	</div>
</label>
