<br/>
<%= hidden_field_tag "tie_variant_id", @product.master.id %>

<div class="row">
	<div class="col-xs-5">
		<div id="product-images" data-hook="product_images">
			<div id="main-image" data-hook>
		    <%= render :partial => 'image' %>
		  </div>
		</div>
	</div>
	<div class="col-xs-6 col-xs-offset-1">
		<h2 id="product-title" itemprop="name"><%= accurate_title %></h2>
		<h3 id="inset_product_price"><%= display_price(@product) %></h3>

		<div id="product-description" itemprop="description" data-hook="description">
		  <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
		</div>

		<div id="product-properties" data-hook="product_properties">
      <%= render :partial => 'properties' %>
    </div>

	</div>
</div>
