<div class="js-gallery">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-push-2">
            <!-- MAIN PRODUCT IMAGE -->
            <% if (@product_shirt_images).uniq.size > 0 %>
                <div id="product-images" class="product-images" data-hook="product_images">
                    <div id="main-image2" data-hook style="padding-bottom:15px;">
                        <% unless @product.nil? %>
                            <% if @product_shirt_images[0] != nil %>
                                <a id="zoom" href="<%= @product_shirt_images.first.attachment.url(:huge) %>" class="main MagicZoom prodMainImage"
                                     data-options="zoomMode:off;hint:off;" data-mobile-options="zoomMode:off;hint:off;">
                                    <%= image_tag(@product_shirt_images[0].attachment.url(:huge), class: "img-responsive mainImage") %>
                                </a>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>

        <div class="col-xs-12 col-md-2 col-md-pull-10">
            <%# no need for thumbnails unless there is more than one image %>
            <% if (@product.images + @product.variant_images).uniq.size > 1 %>
                <ul id="prod-thumbnails">
                    <% @product.images.each do |i| %>
                        <% if i.image_type != "Main" %>
                            <li class='tmb-all tmb-<%= i.viewable.id %>'>
                                <a class=" " href="<%= i.attachment.url(:huge) %>"
                                  data-image="<%= i.attachment.url(:huge) %>" data-zoom-id="zoom" onclick="disableSlideShow(true);">
                                    <%= image_tag(i.attachment.url(:small), class: "img-responsive img-wrap-tag") %>
                                </a>                                
                            </li>
                        <% end %>
                    <% end %>
                </ul>
            <% end %>
        </div>
    </div>
</div>
