<div id="tabs-container-custom"  class="shirt-wizard-font-size">
	<div class="tab tab-custom">
     <div id="your_usual_tab_section" class="tab-content">
        <div class="your-usual">
        	<% if (spree_current_user) %>
        		<% if (@usual_shirt_configuration != nil)%>
						<%= render :partial => 'usual_style' %>
				<% else %>
					Never set Usual Style!
				<% end %>
			  <% else %>
  				 <div class="signup-login">Please <%= link_to "Login", spree.login_path, :query => request.fullpath %> or <%= link_to "create an account", spree.signup_path %> </div>
  			<% end %>
		    </div>
     </div>
     <div id="sartor_style_tab_section" class="tab-content">
     	<div class="sartor-style">
     		<%= render :partial => 'sartor_style' %>
     	</div>
     </div>
      <div id="new_style_tab_section" class="tab-content">
        	<div class="new-style">
				<%= render :partial => 'new_style' %>
			</div>
      </div>
   </div>
	<div style="padding: 0px;">
	  	<ul class="tabs primary-nav tabs-menu tabs-wizard" style="background-color:white; margin-bottom:10px;" >
      <% if spree_current_user %>
  		    <li class="tabs__item tabs__item_wizard" id="your_usual_tab">
  		        <a href="#your_usual_tab_section" id="tab-1-link" class="tabs__link config_menu_text">
  		        	Your Usual
  		        </a>
  		    </li>
      <% end %>
		    <li class="tabs__item tabs__item_wizard current" id="sartor_style_tab" style="border-left:1px solid gray;border-right:1px solid gray;">
		        <a href="#sartor_style_tab_section" id="tab-2-link" class="tabs__link config_menu_text">
		        	Sartor Style
		        </a>
		    </li>
		    <li class="tabs__item tabs__item_wizard" id="new_style_tab">
		        <a href="#new_style_tab_section" id="tab-3-link" class="tabs__link config_menu_text" style="margin-right: 0px;">
	    			Customized
	    		</a>
		    </li>
		</ul>
	</div>
	<!-- SAVE USUAL -->
		<div class="save-usual-style-btn-section">
			<% if (spree_current_user) %>
			   <a id="save_usual_style_btn" class="sub-link">
	  		        Save as "Your Usual”</a>
			<% end %>
		</div>
</div>

<span class="wizard_windows">
	<%= render :partial => 'shirt_config' %>
</span>
