<input type="hidden" id="current_line_item_id" value="<%=$current_line_item_id%>">
<input type="hidden" id="is_save_as_usual" value="<%=$is_save_as_usual%>">
	<div>
		<%= render :partial => 'shirt_options_wizard' %>
	</div>
<!-- SHIRT CONFIG -->
<div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <%= hidden_field_tag "variant_id", @product.master.id %>
      <%= hidden_field_tag "product_type", @product.product_type %>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-right-side sub-link-login shirt-wizard-background" style="  padding:15px;">
              <% if (spree_current_user) %>



                <% if (@userShirtProfiles.length >= 1)%>
                    <center>
                        <span>Shirt Fit Type </span>
                        <%= select_tag "profile_id",
                        options_from_collection_for_select(@userShirtProfiles, "id", "name",@shirtprofileid),
                        :class => "profile-select", :style=>"background-color:white;margin-left:10px;width:75%;" %>
                    </center>
                <% else %>
                    <center>
                    No Measurement Profiles
                    <a id="manage_profile_link" class="login-link" href="/profiles">
                    Create Measurement Profile
                    </a>
                    </center>
                <% end %>
              <% else %>
                  <center>
                      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 wizard-info-label label-right" style="padding:5px">
                          <a id="shirtdetail_profile_link" >
                          <span class="login-link">Log In</span>
                          </a> or
                      </div>
                      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 wizard-info-label label-left" style="padding:5px">
                          <a id="shirtdetail_measurement_link"  style="text-decoration:none;">    <span class="create-new-custom">
                                  Create New Custom Shirt Measurements
                              </span>
                          </a>
                      </div>
                  </center>
              <% end %>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shirt-wizard-background">
              <%= render :partial => 'shirt_wizard' %>
            </div>
          </div>
</div>

<!--   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row" style="border: 1px solid #dddddd;margin-left: -7px;margin-right: -6px;  padding-bottom: 10px;
     padding-top: 10px;">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-section" >
               <label class="section-title" style="font-weight: bold;letter-spacing: 2px;">Notes</label><br/>
              <%#if(!@updateCartFlag)%>
              <textarea rows = "1" class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" name = "shirt_configuration[comment]"></textarea>
              <%#else%>
              <textarea rows = "1" class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" name = "shirt_configuration[comment]"><%= @default_shirt_configuration.comment %></textarea>
              <%#end%>
           </div>
        </div>
  </div> -->



