<div class="wizard_windows hidden-md hidden-lg">
<!-- Window Collar Start -->
<div class="window hide" id="window_collar">
  <div class="titleBar">
    <div class="visible-xs close_window c-pointer"  data-config = "window_collar">
       <i class="fa fa-chevron-left fa-1x" aria-hidden="true"></i><span>&nbsp;Back</span>
    </div>
    <h1>Collar</h1>
  </div>
    <div class="window_config_scroll">
      <div id="input_collar" class="choiceList hasIscroll" data-config = "collar">
        <ul style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
          <li class="choiceItem config_option_button" id="min_collar_1" data-code="1" data-short-name="Semi Spread" data-option-type="collar" data-img-url="<%= image_path('shirt_options/Semi Spread.png')%>" data-current-wizard-tab="<%=@current_wizard_tab%>"  data-sidebar="input_collar">
            <input id="shirt_configuration_collar_code_1" checked="checked" name="collar_code" type="radio" value="1" style="display:none;">
            <img class="thumb" src="<%= image_path('shirt_options/Semi Spread.png')%>" alt="">
            <div class="mid">
              <h2>Semi Spread</h2>
              <div class="option_desc" id="collar-1"></div>
            </div>
          </li>

          <li class="choiceItem config_option_button" id="min_collar_2" data-code="2" data-short-name="Full Spread" data-option-type="collar" data-img-url="<%= image_path('shirt_options/Full Spread.png')%>" data-sidebar="input_collar">
            <input id="shirt_configuration_collar_code_2" name="collar_code" type="radio" value="2" style="display:none;">
            <img class="thumb" src="<%= image_path('shirt_options/Full Spread.png')%>" alt="">
            <div class="mid">
              <h2>Full Spread</h2>
              <div class="option_desc" id="collar-2"></div>
            </div>
          </li>
          <li class="choiceItem config_option_button" id="min_collar_3" data-code="3" data-short-name="Point Spread" data-option-type="collar" data-img-url="<%= image_path('shirt_options/Point Spread.png')%>" data-sidebar="input_collar">
            <input id="shirt_configuration_collar_code_3" name="collar_code" type="radio" value="3" style="display:none;">
            <img class="thumb" src="<%= image_path('shirt_options/Point Spread.png')%>" alt="">
            <div class="mid">
              <h2>Point Spread</h2>
              <div class="option_desc" id="collar-3"></div>
            </div>
          </li>
          <li class="choiceItem config_option_button" id="min_collar_4" data-code="4" data-short-name="Double Button" data-option-type="collar" data-img-url="<%= image_path('shirt_options/Two Button.png')%>" data-sidebar="input_collar">
            <input id="shirt_configuration_collar_code_4" name="collar_code" type="radio" value="4" style="display:none;">
            <img class="thumb" src="<%= image_path('shirt_options/Two Button.png')%>" alt="">
            <div class="mid">
              <h2>Double Button</h2>
              <div class="option_desc" id="collar-4"></div>
            </div>
          </li>
          <li class="choiceItem config_option_button" id="min_collar_5" data-code="5" data-short-name="Button-down" data-option-type="collar" data-img-url="<%= image_path('shirt_options/Button Down Contemporary.png')%>" data-sidebar="input_collar">
            <input id="shirt_configuration_collar_code_5" name="collar_code" type="radio" value="5" style="display:none;">
            <img class="thumb" src="<%= image_path('shirt_options/Button Down Contemporary.png')%>" alt="">
            <div class="mid">
              <h2>Button-down</h2>
              <div class="option_desc" id="collar-5"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>


</div>
<!-- Window Collar End -->

<!-- Window Pocket Start -->
<div class="window hide" id="window_pocket">
  <div class="titleBar">
    <div class="visible-xs close_window c-pointer"  data-config = "window_pocket">
       <i class="fa fa-chevron-left fa-1x" aria-hidden="true"></i><span>&nbsp;Back</span>
    </div>
    <h1>Pockets</h1>
    <i class="fa fa-times fa-2x close_window hidden-xs" data-config = "window_pocket" aria-hidden="true"></i>
  </div>
  <div class="window_config_scroll">
    <div id="input_pocketPlacement" class="choiceList hasIscroll" data-config = "pocket">
      <ul style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
        <li class="choiceItem config_option_button" id="min_pocketPlacement_1" data-code="1" data-short-name="No Pocket" data-option-type="pocket" data-img-url="<%= image_path('shirt_options/pocket_none.png')%>">
          <input id="shirt_configuration_pocket_code_1" checked="checked" name="pocket_code" type="radio" value="1" style="display: none;">
          <img class="thumb" src="<%= image_path('shirt_options/pocket_none.png')%>" alt="">
          <div class="mid">
            <h2>No Pocket</h2>
            <div class="option_desc" id="pocket-1">
          </div>
        </li>

        <li class="choiceItem config_option_button" id="min_pocketPlacement_2" data-code="2" data-short-name="Rounded" data-option-type="pocket" data-img-url="<%= image_path('shirt_options/pocket_rounded.png')%>">
          <input id="shirt_configuration_pocket_code_2" name="pocket_code" type="radio" value="2" style="display: none;">
          <img class="thumb" src="<%= image_path('shirt_options/pocket_rounded.png')%>" alt="">
          <div class="mid">
            <h2>Rounded</h2>
            <div class="option_desc" id="pocket-2"></div>
          </div>
        </li>

        <li class="choiceItem config_option_button" id="min_pocketPlacement_3" data-code="3" data-short-name="Angled" data-option-type="pocket" data-img-url="<%= image_path('shirt_options/pocket_angled.png')%>">
          <input id="shirt_configuration_pocket_code_3" name="pocket_code" type="radio" value="3" style="display: none;">
          <img class="thumb" src="<%= image_path('shirt_options/pocket_angled.png')%>" alt="">
          <div class="mid">
            <h2>Angled</h2>
            <div class="option_desc" id="pocket-3"></div>
          </div>
        </li>

        <li class="choiceItem config_option_button" id="min_pocketPlacement_4" data-code="4" data-short-name="Double Flap" data-option-type="pocket" data-img-url="<%= image_path('shirt_options/double_flap.png')%>">
          <input id="shirt_configuration_pocket_code_4" name="pocket_code" type="radio" value="4" style="display: none;">
          <img class="thumb" src="<%= image_path('shirt_options/pocket_double_flap.png')%>" alt="">
          <div class="mid">
            <h2>Double Flap</h2>
            <div class="option_desc" id="pocket-4"></div>
          </div>
        </li>


      </ul>
    </div>
  </div>
</div>
<!-- Window Pocket End -->


<!-- Window Cuff End -->
<div class="window hide" id="window_cuff">
  <div class="titleBar">
     <div class="visible-xs close_window c-pointer"  data-config = "window_cuff">
       <i class="fa fa-chevron-left fa-1x" aria-hidden="true"></i><span>&nbsp;Back</span>
    </div>
    <h1>Cuff</h1>
    <i class="fa fa-times fa-2x close_window hidden-xs" data-config = "window_cuff" aria-hidden="true"></i>
  </div>
  <div class="window_config_scroll">
    <div id="input_cuff" class="choiceList hasIscroll" data-config = "cuff">
      <ul>
        <li class="choiceItem config_option_button" id="min_cuff_1" data-code="1" data-short-name="Single Button" data-option-type="cuff" data-img-url="<%= image_path('shirt_options/MBT.1.png')%>">
          <input id="shirt_configuration_cuff_code_1" checked="checked" name="cuff_code" type="radio" value="1" style="display: none;">
          <img class="thumb" src="<%= image_path('shirt_options/MBT.1.png')%>" alt="">
          <div class="mid">
            <h2>Single Button</h2>
            <div class="option_desc" id="cuff-1"></div>
          </div>
        </li>
        <li class="choiceItem config_option_button" id="min_cuff_3" data-code="3" data-short-name="Double Button" data-option-type="cuff" data-img-url="<%= image_path('shirt_options/MBT.2.png')%>">
          <input id="shirt_configuration_cuff_code_3" name="cuff_code" type="radio" value="3" style="display: none;">
          <img class="thumb" src="<%= image_path('shirt_options/MBT.2.png')%>" alt="">
          <div class="mid">
            <h2>Double Button</h2>
            <div class="option_desc" id="cuff-2"></div>
          </div>
        </li>
        <li class="choiceItem config_option_button" id="min_cuff_5" data-code="5" data-short-name="French" data-option-type="cuff" data-img-url="<%= image_path('shirt_options/MBT.3.png')%>">
          <input id="shirt_configuration_cuff_code_5" name="cuff_code" type="radio" value="5" style="display: none;">
          <img class="thumb" src="<%= image_path('shirt_options/MBT.3.png')%>" alt="">
          <div class="mid">
            <h2>French</h2>
            <div class="option_desc" id="cuff-3"></div>
          </div>
        </li>
        <li class="choiceItem config_option_button" id="min_cuff_6" data-code="6" data-short-name="Short Sleeve" data-option-type="cuff" data-img-url="<%= image_path('shirt_options/short_sleeve.png')%>">
          <input id="shirt_configuration_cuff_code_6" name="cuff_code" type="radio" value="6" style="display: none;">
          <img class="thumb" src="<%= image_path('shirt_options/short_sleeve.png')%>" alt="">
          <div class="mid">
            <h2>Short Sleeve</h2>
            <div class="option_desc" id="cuff-4"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Window Cuff End -->

<!-- Window Button End -->
<div class="window hide" id="window_button">
  <div class="titleBar">
     <div class="visible-xs close_window c-pointer"  data-config = "window_button">
       <i class="fa fa-chevron-left fa-1x" aria-hidden="true"></i><span>&nbsp;Back</span>
    </div>
    <h1>Button</h1>
    <i class="fa fa-times fa-2x close_window hidden-xs" data-config = "window_button" aria-hidden="true"></i>
  </div>
  <div class="window_config_scroll">
    <div id="input_button" class="choiceList hasIscroll" data-config = "button">
      <ul>
    <!--     <li class="choiceItem config_option_button" id="button_1" data-code="1" data-short-name="Normal" data-option-type="button" data-img-url="<%= image_path('shirt_options/normal.png')%>">
          <input id="shirt_configuration_button_code_1" checked="checked" name="button_code" type="radio" value="1" style="display: none;">
          <img class="thumb" src="<%= image_path('shirt_options/normal.png')%>" alt="">
          <div class="mid">
            <h2>Normal</h2>
            <div class="option_desc" id="button-1"></div>
          </div>
        </li>
        <li class="choiceItem config_option_button" id="button_2" data-code="2" data-short-name="White" data-option-type="button" data-img-url="<%= image_path('shirt_options/white.png')%>">
          <input id="shirt_configuration_button_code_2" name="button_code" type="radio" value="2" style="display: none;">
          <img class="thumb" src="<%= image_path('shirt_options/white.png')%>" alt="">
          <div class="mid">
            <h2>White</h2>
            <div class="option_desc" id="button-2"></div>
          </div>
        </li>
        <li class="choiceItem config_option_button" id="button_3" data-code="3" data-short-name="Grey" data-option-type="button" data-img-url="<%= image_path('shirt_options/grey.png')%>">
          <input id="shirt_configuration_button_code_3" name="button_code" type="radio" value="3" style="display: none;">
          <img class="thumb" src="<%= image_path('shirt_options/grey.png')%>" alt="">
          <div class="mid">
            <h2>Grey</h2>
            <div class="option_desc" id="button-3"></div>
          </div>
        </li> -->
        <% @taxon_buttons.each do |button|  %>
          <%if @button_ids.include? button.id.to_s %>
            <li class="choiceItem config_option_button" id="min_button_<%=button.id%>" data-code="<%=button.id%>" data-short-name="<%= button.parent.name.titleize + ' w/ ' +  (button.description.present? ? button.description.titleize : button.name.titleize) %>" data-option-type="button" data-img-url="<%=button.icon.url(:banner)%>">
              <input id="shirt_configuration_button_code_<%=button.id%>" name="button_code" type="radio" value="<%=button.id%>" style="display: none;">
              <img style="max-width:50px;max-height:50px;" class="thumb" src="<%=button.icon.url(:banner)%>" alt="">
              <div class="mid">
              <h2><%= button.parent.name.titleize + ' w/ ' +  (button.description.present? ? button.description.titleize : button.name.titleize) %></h2>
              <div class="option_desc">
                <%=(button.description.present? ? button.description.titleize : button.name.titleize)%>
              </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<!-- Window Button End -->



<!-- Window Placket End -->
<div class="window hide" id="window_placket">
  <div class="titleBar">
     <div class="visible-xs close_window c-pointer"  data-config = "window_placket">
       <i class="fa fa-chevron-left fa-1x" aria-hidden="true"></i><span>&nbsp;Back</span>
    </div>
    <h1>Plackets</h1>
    <i class="fa fa-times fa-2x close_window hidden-xs" data-config = "window_placket" aria-hidden="true"></i>
  </div>
  <div class="window_config_scroll">
    <div id="input_placket" class="choiceList hasIscroll" data-config = "placket">
      <ul>
        <li class="choiceItem config_option_button" id="min_placket_1" data-code="1" data-short-name="Covered" data-option-type="placket" data-img-url="<%= image_path('shirt_options/Covered.png')%>">
          <input id="shirt_configuration_placket_code_1" checked="checked" name="placket_code" type="radio" value="1" style="display: none;">
          <img class="thumb" src="<%= image_path('shirt_options/Covered.png')%>" alt="">
          <div class="mid">
            <h2>Covered(Hidden)</h2>
            <div class="option_desc" id="placket-1"></div>
          </div>
        </li>
        <li class="choiceItem config_option_button" id="min_placket_2" data-code="2" data-short-name="Regular" data-option-type="placket" data-img-url="<%= image_path('shirt_options/Regular-01.png')%>">
          <input id="shirt_configuration_placket_code_2" name="placket_code" type="radio" value="2" style="display: none;">
          <img class="thumb" src="<%= image_path('shirt_options/Regular-01.png')%>" alt="">
          <div class="mid">
            <h2>Regular Box</h2>
            <div class="option_desc" id="placket-2"></div>
          </div>
        </li>
        <li class="choiceItem config_option_button" id="min_placket_3" data-code="3" data-short-name="French" data-option-type="placket" data-img-url="<%= image_path('shirt_options/French.png')%>">
          <input id="shirt_configuration_placket_code_3" name="placket_code" type="radio" value="3" style="display: none;">
          <img class="thumb" src="<%= image_path('shirt_options/French.png')%>" alt="">
          <div class="mid">
            <h2>French Placket</h2>
            <div class="option_desc" id="placket-3"></div>
          </div>
        </li>
        <li class="choiceItem config_option_button" id="min_placket_4" data-code="4" data-short-name="Tunic" data-option-type="placket" data-img-url="<%= image_path('shirt_options/Tunic.png')%>">
          <input id="shirt_configuration_placket_code_4" name="placket_code" type="radio" value="4" style="display: none;">
          <img class="thumb" src="<%= image_path('shirt_options/Tunic.png')%>" alt="">
          <div class="mid">
            <h2>Tunic (3 Button)</h2>
            <div class="option_desc" id="placket-4"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Window Placket End -->

</div>
<div style="display: none;">
 <input id="lineitem_id" value="<%= params[:pid]%>" >
</div>
<style>
  .close_window{
    padding-left: 10px;
    font-size: 18px;
  }
</style>
