<div class="row">
	<table border="1" style="background:white">
  <tr>

	<td>
		<div class="config-item" data-config = "collar">
			<span id="wizard_collar_collapse" class="accordion-toggle" data-toggle="collapse" href="#collar-wizard" data-parent="#accordion">
			<div>
				<section class="demo">
				  <div class="myContainer">
				  	<span class="collarTab">
					<center>
						<img id="opt_select_img_collar" class="img-responsive img-shirt-wizard usual-img-collar" src="/<%= @usual_shirt_configuration.collar_image %>.png">
					</center>
					</span>
				  </div>
				</section>
			</div>
			</span>
<!-- 			<div class="wizard-nav-usual">
				<span class="wizard-selected-label">COLLAR</span>
			</div> -->
			<div id="opt_select_collar" style="text-align:center" code=<%= @usual_shirt_configuration.collar_code %>>
				<%= @usual_shirt_configuration.collar_name %>
			</div>
		</div>
	</td>
	<td>
		<div class="config-item" data-config = "cuff">
			<span id="wizard_cuff_collapse" class="accordion-toggle" data-toggle="collapse" href="#cuffs-wizard" data-parent="#accordion">
			<div>
			<section class="demo">
			  <div class="myContainer">
			  	<span class="cuffTab">
				<center>
					<img id="opt_select_img_cuff" class="img-responsive img-shirt-wizard usual-img-cuffs" src="/<%= @usual_shirt_configuration.cuff_image %>.png">
				</center>
				</span>
			  </div>
			</section>
			</div>
			</span>
<!-- 			<div class="wizard-nav-usual">
				<span class="wizard-selected-label">CUFFS</span>
			</div> -->
			<div id="opt_select_cuff" style="text-align:center" code=<%= @usual_shirt_configuration.cuff_code %>>
				<%= @usual_shirt_configuration.cuff_name %>
			</div>
		</div>
	</td>
	<td>
		<div class="config-item" data-config = "pocket">
			<span id="wizard_pocket_collapse" class="accordion-toggle" data-toggle="collapse" href="#pockets-wizard" data-parent="#accordion">
			<div>
			<section class="demo">
			  <div class="myContainer">
			  	<span class="pocketTab">
				<center>
					<img id="opt_select_img_pocket" class="img-responsive img-shirt-wizard usual-img-pockets" src="/<%= @usual_shirt_configuration.pocket_image %>.png">
				</center>
				</span>
			  </div>
			</section>
			</div>
			</span>
<!-- 			<div class="wizard-nav-usual">
				<span class="wizard-selected-label">POCKETS</span>
			</div> -->
			<div id="opt_select_pocket" style="text-align:center" code=<%= @usual_shirt_configuration.pocket_code %>>
				<%= @usual_shirt_configuration.pocket_name %>
			</div>
		</div>
	</td>
  <td>
  <div class="config-item" data-config = "button">
    <span id="wizard_button_collapse" class="accordion-toggle" data-toggle="collapse" href="#buttons-wizard" data-parent="#accordion">
    <div>
    <section class="demo">
      <div class="myContainer">
        <span class="buttonTab">
      <center>

        <img id="opt_select_img_button" class="img-responsive img-shirt-wizard usual-img-buttons" src="/<%= @usual_shirt_configuration.button_image %>.png">
      </center>
      </span>
      </div>
    </section>
    </div>
    </span>
<!--      <div class="wizard-nav-usual">
      <span class="wizard-selected-label">buttonS</span>
    </div> -->
    <div id="opt_select_button" style="text-align:center" code=<%= @usual_shirt_configuration.button_code %>>
      <%= @usual_shirt_configuration.button_name %>
    </div>
  </div>
</td>
  <td>
    <div class="config-item" data-config = "placket">
      <span id="wizard_placket_collapse" class="accordion-toggle" data-toggle="collapse" href="#plackets-wizard" data-parent="#accordion">
      <div>
      <section class="demo">
        <div class="myContainer">
          <span class="placketTab">
        <center>
          <img id="opt_select_img_placket" class="img-responsive img-shirt-wizard usual-img-plackets" src="/<%= @usual_shirt_configuration.placket_image %>.png">
        </center>
        </span>
        </div>
      </section>
      </div>
      </span>
<!--      <div class="wizard-nav-usual">
        <span class="wizard-selected-label">placketS</span>
      </div> -->
      <div id="opt_select_placket" style="text-align:center" code=<%= @usual_shirt_configuration.placket_code %>>
        <%= @usual_shirt_configuration.placket_name %>
      </div>
    </div>
  </td>
  </tr>
  </table>

</div>
