
<% if spree_current_user %>
  <div id="wishlist-form">
    <%= form_for Spree::WishedProduct.new do |f| %>
      <%= f.hidden_field :variant_id, :value => @product.master.id %>
      
      <input id="wished_product_collar_code" name="wished_product[collar_code]" type="hidden">
      <input id="wished_product_cuff_code" name="wished_product[cuff_code]" type="hidden">
      <input id="wished_product_pocket_code" name="wished_product[pocket_code]" type="hidden">
      <input id="wished_product_length_code" name="wished_product[length_code]" type="hidden">
      <input id="wished_product_profile_id" name="wished_product[profile_id]" type="hidden">
      <input id="wished_product_placket_code" name="wished_product[placket_code]" type="hidden">
      <input id="wished_product_button_code" name="wished_product[button_code]" type="hidden">
      <input id="wished_product_comment" name="wished_product[comment]" type="hidden">
      <input id="wished_product_quantity" name="wished_product[quantity]" type="hidden">
      <button id="wishlist_form_button_click" type="submit" class="submitLink" style="float: right; display:none;">
      <a class="sub-link">
      + <%= Spree.t(:add_to_wishlist) %>
      </a>
      </button>

      <button id="wishlist_form_generate" type="button" class="btn btn-custom form-control  border-radius-rm">
      <%= Spree.t(:add_to_wishlist) %>

      </button>
    <% end %>
  </div>
<% end %>

 
