
<% if spree_current_user %>
  <div id="wishlist-form">
    <%= form_for Spree::WishedProduct.new do |f| %>
      <%= f.hidden_field :variant_id, :value => @product.master.id %>
      <%= f.hidden_field :collar_code %>
      <%= f.hidden_field :cuff_code %>
      <%= f.hidden_field :pocket_code %>
      <%= f.hidden_field :length_code %>
      <%= f.hidden_field :profile_id %>

      <input id="wished_product_id" name="wished_product[id]" type="hidden" value=<%=params[:wished_products_id]%>>
      <input id="wished_product_placket_code" name="wished_product[placket_code]" type="hidden">
      <input id="wished_product_button_code" name="wished_product[button_code]" type="hidden">
      <input id="wished_product_comment" name="wished_product[comment]" type="hidden">
      <input id="wished_product_quantity" name="wished_product[quantity]" type="hidden">
      <button id="wishlist_form_button_click" type="submit" class="submitLink" style="float: right; display:none;">
      <a class="sub-link">
      + <%= Spree.t(:add_to_wishlist) %>
      </a>
      </button>

      <button id="wishlist_form_edit" type="button" class="btn btn-custom form-control  border-radius-rm">
      <%= Spree.t(:update_wishlist) %>

      </button>
    <% end %>
  </div>
<% end %>