<% if @products.empty? %>
  	<%= Spree.t(:no_products_found) %>
<% else %>
	<% shirt_mode = @products.first.product_type == "SHIRT" %>
	<% if shirt_mode %>
		<div class="row" >
			<div id="shirts-side-bar" class="col-lg-2 col-md-3 col-sm-3 hidden-xs">

				<section id="contents" data-toggle="buttons">
					<ul class="sidebar">
					  	<ul class="submenu" id="index-submenu" style="display:block;position:absolute;">
  				  		<li class="active" style="padding-top:10px" onclick="getProducts('All shirts')">
  					  		<a class="btn full-width small" href="">
  					  		<span class="side-menu">All Shirts</span>
  					  		</a>
  				  		</li>
  				  		<br>
                  <!--new arrival names loop-->
                 <% if @new_arrivals != nil %>
                   <%@new_arrivals.each do |new_arrivals|%>
                    <li class="" id ="<%=new_arrivals.name.delete(' ')%>-shirts-collection">
                    <a class="btn full-width small" href="" onclick="selectedCategory('<%=new_arrivals.permalink%>')">
                    <span class="side-menu"><%=new_arrivals.name%></span>
                    </a>
                   </li>
                    <%end%>
                  <% end %>
                <br>
  						 <!--  <li class="" onclick="getProducts('linen')">
  							  <a class="btn full-width small" href="">
  							  <span class="side-menu">Linen Collection</span>
  							  </a>
  						  </li>

  						  <li class="" onclick="getProducts('solid')">
  							  <a class="btn full-width small" href="">
  							  <span class="side-menu">Dress Solids</span>
  							  </a>
  						  </li>
  						  <li class="" onclick="getProducts('patterns')" >
  							  <a class="btn full-width small" href="">
  							  <span class="side-menu">Dress Patterns</span>
  							  </a>
  						  </li> -->
  						  <li class="" onclick="getProducts('styles/business-casual')" >
  							  <a class="btn full-width small" href="">
  							  <span class="side-menu">Business Casual</span>
  							  </a>
  						  </li>
  						  <li class="" onclick="getProducts('styles/casual')">
  							  <a class="btn full-width small" href="">
  							  <span class="side-menu">Casual</span>
  							  </a>
  						  </li>
  						  <li class="" onclick="getProducts('styles/evening')">
  							  <a class="btn full-width small" href="">
  							  <span class="side-menu">Evening</span>
  							  </a>
  						  </li>
					 	</ul>
					</ul>
				</section>
			</div>
			<!-- <div class="divider"></div> -->
			<div class="col-lg-10 col-md-9 col-sm-9 products-all-shirt-section >
    				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <!--
    			<div class="container col-md-10 col-sm-9">
    				<button type="button" class="btn" data-toggle="collapse" data-target="#filter">
    					Filter By
    				</button>
    				<div id = "filtered_categories">
    					<%= render :partial => 'filtered_categories' %>
    				</div>
    				<div id="filter" class="collapse clearfix">
    					<br />
    					<div class="row">
    						<% @taxonomies.each do |taxonomy| %>
    							<% parent_taxon = Spree::Taxon.find_by(:name => taxonomy.name ) %>
    							<% taxons = Spree::Taxon.where(:parent_id => parent_taxon.id) %>
    							<div class="col-md-3 col-sm-2">
    								<h3><%= parent_taxon.name%></h3>
    								<% taxons.each do |taxon| %>
    				                		<div class="field">
    							                <input id="<%= parent_taxon.name.tr(' ', '_') %>_<%=taxon.id%>"
    							                         name="<%= parent_taxon.name.tr(' ', '_') %>_<%=taxon.id%>"
    							                         type="checkbox"
    							                         />
    									<span><%=taxon.name%></span>
    				                		</div>
    								<% end %>
    							</div>
    						<% end %>
    					</div>
    					<div align="center">
    						<button id = "filter-button" name = "filter-button" class="btn">Apply</button>
    					</div>
    				</div>
    			 </div>-->

    			<div id = "filter_shirts_partial">
        		<% end %>
        		<% cache(cache_key_for_products) do %>
            <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
          		<% end %>
        		<% if shirt_mode %>
    			</div>
		</div>
		<% end %>
	</div>
<% end %>
