<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<%= form_for :order, :name =>'cartForm', :url => populate_orders_path do |f| %>
    <div class="row">
        <div class="col-md-8 col-md-push-2 col-xs-12">
            <% if (@product_shirt_images).uniq.size > 0 %>
                <div id="product-images" class="product-images" data-hook="product_images">
                    <div id="main-image2" data-hook>
                        <% unless @product.nil? %>
                            <% if @product_shirt_images[0] != nil %>
                                <a id="zoom" href="<%= @product_shirt_images.first.attachment.url(:huge) %>" class="main MagicZoom prodMainImage"
                                     data-options="zoomMode:off;hint:off;" data-mobile-options="zoomMode:off;hint:off;">
                                    <%= image_tag(@product_shirt_images[0].attachment.url(:huge), class: "img-responsive") %>
                                </a>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="col-lg-2 col-md-2 col-md-pull-8 col-xs-12 detail-thumbnail-col">
            <% if (@product.images + @product.variant_images).uniq.size > 1 %>
                <ul class="list-unstyled text-left">
                    <% @product.images.each do |i| %>
                        <% if i.image_type != "Main" %>
                            <div class='col-xs-3 col-sm-12 padding-zero detail-thumbnail-li tmb-all tmb-<%= i.viewable.id %>'>
                                <a class="" href="<%= i.attachment.url(:huge) %>"
                                  data-image="<%= i.attachment.url(:huge) %>" data-zoom-id="zoom" onclick="disableSlideShow(true);">
                                    <%= image_tag(i.attachment.url(:small), class: "img-responsive img-wrap-tag detail-thumbnail-img") %>
                                </a>
                            </div>
                        <% end %>
                    <% end %>
                </ul>
            <% end %>
        </div>
        <div class="col-md-2 col-xs-12">
            <div id="detail-optionbox-container" class="config-widget">


                        <!-- SIDEBARS -->
                        <div class="sidebar hidden-xs hidden-sm" id="collar-sidebar">
                            <div class="container-fluid" >
                                <div class="row">
                                    <div class="pull-right close-option-box-button">
                                        <span title="Close" class="btn btn-default close-option-box" id ="" style ="top: 0; right: 0; border-radius: 100%"><i class="fa fa-close" ></i></span>
                                    </div>
                                    <div class="col-md-12 shirt-configuration-header">
                                        <h3>Collar</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#collar-sidebar" data-animation-pro-step-1-1="right:-400px;" id="collar_1" data-code="1" data-short-name="Semi Spread" data-option-type="collar" data-img-url="<%= image_path('shirt_options/Semi Spread.png')%>" data-sidebar="collar-sidebar" data-desc="collar-1">
                                            <input id="shirt_configuration_collar_code_1" checked="checked" name="collar_code" type="radio" value="1" style="display:none;">
                                            <img src="<%= image_path('shirt_options/Semi Spread.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                            <div class="option-name">
                                                <label class="control-label">Semi Spread</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#collar-sidebar" data-animation-pro-step-1-1="right:-400px;" id="collar_2" data-code="2" data-short-name="Full Spread" data-option-type="collar" data-img-url="<%= image_path('shirt_options/Full Spread.png')%>" data-sidebar="collar-sidebar" data-desc="collar-2">
                                            <input id="shirt_configuration_collar_code_2" name="collar_code" type="radio" value="2" style="display:none;">
                                            <img src="<%= image_path('shirt_options/Full Spread.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                            <div class="option-name">
                                                <label class="control-label">Full Spread</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#collar-sidebar" data-animation-pro-step-1-1="right:-400px;" id="collar_3" data-code="3" data-short-name="Point Spread" data-option-type="collar" data-img-url="<%= image_path('shirt_options/Point Spread.png')%>" data-sidebar="collar-sidebar" data-desc="collar-3">
                                            <input id="shirt_configuration_collar_code_3" name="collar_code" type="radio" value="3" style="display:none;">
                                            <img src="<%= image_path('shirt_options/Point Spread.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                            <div class="option-name">
                                                <label class="control-label">Point Spread</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#collar-sidebar" data-animation-pro-step-1-1="right:-400px;" id="collar_4" data-code="4" data-short-name="Double Button" data-option-type="collar" data-img-url="<%= image_path('shirt_options/Two Button.png')%>" data-sidebar="collar-sidebar" data-desc="collar-4">
                                        <input id="shirt_configuration_collar_code_4" name="collar_code" type="radio" value="4" style="display:none;">
                                            <img src="<%= image_path('shirt_options/Two Button.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                            <div class="option-name">
                                                <label class="control-label">Double Button</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#collar-sidebar" data-animation-pro-step-1-1="right:-400px;"  id="collar_5" data-code="5" data-short-name="Button-down" data-option-type="collar" data-img-url="<%= image_path('shirt_options/Button Down Contemporary.png')%>" data-sidebar="collar-sidebar" data-desc="collar-5">
                                        <input id="shirt_configuration_collar_code_5" name="collar_code" type="radio" value="5" style="display:none;">
                                            <img src="<%= image_path('shirt_options/Button Down Contemporary.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                            <div class="option-name">
                                                <label class="control-label">Button Down</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="option-description">
                                <p></p>
                            </div>
                        </div>
                        <div class="sidebar hidden-xs hidden-sm" id="cuff-sidebar" style="">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="pull-right close-option-box-button">
                                        <span title="Close" class="btn btn-default close-option-box" id =""style ="top: 0; right: 0; border-radius: 100%"><i class="fa fa-close" ></i></span>
                                    </div>
                                    <div class="col-md-12 shirt-configuration-header">
                                       <h3>Cuff</h3>
                                    </div>
                                </div>

                                <div class="row no-gutter">
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#cuff-sidebar" data-animation-pro-step-1-1="right:-400px;" id="cuff_1" data-code="1" data-short-name="Single Button" data-option-type="cuff" data-img-url="<%= image_path('shirt_options/Single Button Angled Large.png')%>" data-desc="cuff-1">
                                            <input id="shirt_configuration_cuff_code_1" checked="checked" name="cuff_code" type="radio" value="1" style="display: none;">
                                            <img src="<%= image_path('shirt_options/Single Button Angled Large.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                            <div class="option-name">
                                                <label class="control-label">Single Button</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#cuff-sidebar" data-animation-pro-step-1-1="right:-400px;" id="cuff_3" data-code="3" data-short-name="Double Button" data-option-type="cuff" data-img-url="<%= image_path('shirt_options/Double Button.png')%>" data-sidebar="cuff-sidebar" data-desc="cuff-2">
                                            <input id="shirt_configuration_cuff_code_3" name="cuff_code" type="radio" value="3" style="display: none;">
                                            <img src="<%= image_path('shirt_options/Double Button.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                            <div class="option-name">
                                                <label class="control-label">Double Button</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#cuff-sidebar" data-animation-pro-step-1-1="right:-400px;" id="cuff_5" data-code="5" data-short-name="French" data-option-type="cuff" data-img-url="<%= image_path('shirt_options/French Square.png')%>" data-sidebar="cuff-sidebar" data-desc="cuff-3">
                                        <input id="shirt_configuration_cuff_code_5" name="cuff_code" type="radio" value="5" style="display: none;">
                                            <img src="<%= image_path('shirt_options/French Square.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                            <div class="option-name">
                                                <label class="control-label">French</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#cuff-sidebar" data-animation-pro-step-1-1="right:-400px;" id="cuff_6" data-code="6" data-short-name="Short Sleeve" data-option-type="cuff" data-img-url="<%= image_path('shirt_options/Short Sleeve.png')%>" data-sidebar="cuff-sidebar" data-desc="cuff-4">
                                        <input id="shirt_configuration_cuff_code_6" name="cuff_code" type="radio" value="6" style="display: none;">
                                            <img src="<%= image_path('shirt_options/Short Sleeve.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                            <div class="option-name">
                                                <label class="control-label">Short Sleeve</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="option-description">
                                <p></p>
                            </div>
                        </div>
                        <div class="sidebar hidden-xs hidden-sm" id="pocket-sidebar" style="">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="pull-right close-option-box-button">
                                        <span title="Close" class="btn btn-default close-option-box" id =""style ="top: 0; right: 0; border-radius: 100%"><i class="fa fa-close" ></i></span>
                                    </div>
                                    <div class="col-md-12 shirt-configuration-header">
                                       <h3>Pocket</h3>
                                    </div>
                                </div>

                                <div class="row no-gutter">
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#pocket-sidebar" data-animation-pro-step-1-1="right:-400px;" id="pocketPlacement_1" data-code="1" data-short-name="No Pocket" data-option-type="pocket" data-img-url="<%= image_path('shirt_options/pocket_none.png')%>" data-sidebar="pocket-sidebar" data-desc="pocket-1">
                                            <input id="shirt_configuration_pocket_code_1" checked="checked" name="pocket_code" type="radio" value="1" style="display: none;">
                                            <img src="<%= image_path('shirt_options/pocket_none.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                            <div class="option-name p-t-xs">
                                                <label class="control-label">No Pocket</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#pocket-sidebar" data-animation-pro-step-1-1="right:-400px;" id="pocketPlacement_2" data-code="2" data-short-name="Rounded" data-option-type="pocket" data-img-url="<%= image_path('shirt_options/pocket_rounded.png')%>" data-sidebar="pocket-sidebar" data-desc="pocket-2">
                                            <input id="shirt_configuration_pocket_code_2" name="pocket_code" type="radio" value="2" style="display: none;">
                                            <img src="<%= image_path('shirt_options/pocket_rounded.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                            <div class="option-name">
                                                <label class="control-label">Rounded</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#pocket-sidebar" data-animation-pro-step-1-1="right:-400px;" id="pocketPlacement_3" data-code="3" data-short-name="Angled" data-option-type="pocket" data-img-url="<%= image_path('shirt_options/pocket_angled.png')%>" data-sidebar="pocket-sidebar" data-desc="pocket-3">
                                            <input id="shirt_configuration_pocket_code_3" name="pocket_code" type="radio" value="3" style="display: none;">
                                            <img src="<%= image_path('shirt_options/pocket_angled.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                            <div class="option-name">
                                                <label class="control-label">Angled</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#pocket-sidebar" data-animation-pro-step-1-1="right:-400px;" id="pocketPlacement_4" data-code="4" data-short-name="Double Flap" data-option-type="pocket" data-img-url="<%= image_path('shirt_options/pocket_double_flap.png')%>" data-sidebar="pocket-sidebar" data-desc="pocket-4">
                                            <input id="shirt_configuration_pocket_code_4" name="pocket_code" type="radio" value="4" style="display: none;">
                                            <img src="<%= image_path('shirt_options/pocket_double_flap.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                            <div class="option-name">
                                                <label class="control-label">Double Flap</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="option-description">
                                <p></p>
                            </div>
                        </div>
                        <div class="sidebar hidden-xs hidden-sm" id="button-sidebar" style="">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="pull-right close-option-box-button">
                                        <span title="Close" class="btn btn-default close-option-box" id =""style ="top: 0; right: 0; border-radius: 100%"><i class="fa fa-close" ></i></span>
                                    </div>
                                    <div class="col-md-12 shirt-configuration-header">
                                        <h3>Button</h3>
                                    </div>
                                </div>

                                <div class="row no-gutter">
                                  <%if @button_ids.include? "1" %>
                                      <div class="col-md-6">
                                          <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#button-sidebar" data-animation-pro-step-1-1="right:-400px;" id="button_1" data-code="1" data-short-name="Normal" data-option-type="button" data-img-url="<%= image_path('shirt_options/normal.png')%>" data-sidebar="button-sidebar">
                                              <input id="shirt_configuration_button_code_1" checked="checked" name="button_code" type="radio" value="1" style="display: none;">
                                              <img src="<%= image_path('shirt_options/normal.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                          </div>
                                      </div>
                                    <%end%>
                                    <%if @button_ids.include? "2" %>
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#button-sidebar" data-animation-pro-step-1-1="right:-400px;" id="button_2" data-code="2" data-short-name="White" data-option-type="button" data-img-url="<%= image_path('shirt_options/white.png')%>" data-sidebar="button-sidebar">
                                            <input id="shirt_configuration_button_code_2" name="button_code" type="radio" value="2" style="display: none;">
                                            <img src="<%= image_path('shirt_options/white.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                        </div>
                                    </div>
                                    <%end%>
                                    <div class="clearfix"></div>
                                    <%if @button_ids.include? "3" %>
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#button-sidebar" data-animation-pro-step-1-1="right:-400px;" id="button_3" data-code="3" data-short-name="Grey" data-option-type="button" data-img-url="<%= image_path('shirt_options/grey.png')%>" data-sidebar="button-sidebar">
                                          <input id="shirt_configuration_button_code_3" name="button_code" type="radio" value="3" style="display: none;">
                                          <img src="<%= image_path('shirt_options/grey.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                        </div>
                                    </div>
                                    <%end%>
                                    <% @taxon_buttons.each do |button|  %>
                                        <%if @button_ids.include? button.id.to_s %>
                                          <div class="col-md-6">
                                            <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#button-sidebar" data-animation-pro-step-1-1="right:-400px;" id="button_<%=button.id%>" data-code="<%=button.id%>" data-short-name="<%= button.parent.name.titleize + ' w/ ' + (button.description.present? ? button.description.titleize : button.name.titleize) %>" data-option-type="button" data-img-url="<%=button.icon.url(:banner)%>" data-sidebar="button-sidebar" style="background: #d3d3d3;" data-desc="button" data-description = "<%= button.parent.name.titleize + ' w/ ' + (button.description.present? ? button.description.titleize : button.name.titleize) %>">
                                              <input id="shirt_configuration_button_code_<%=button.id%>" name="button_code" type="radio" value="<%=button.id%>" style="display: none;">
                                              <center>
                                                <img src="<%=button.icon.url(:banner)%>" style="max-width:80px;max-height:80px;" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                                <div class="option-name">
                                                    <label class="control-label"><%=button.parent.name%></label>
                                                </div>
                                              </center>
                                            </div>
                                          </div>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                            <div class="option-description">
                                <p></p>
                            </div>
                        </div>
                        <div class="sidebar hidden-xs hidden-sm" id="placket-sidebar" style="">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="pull-right close-option-box-button">
                                        <span title="Close" class="btn btn-default close-option-box" id =""style ="top: 0; right: 0; border-radius: 100%"><i class="fa fa-close" ></i></span>
                                    </div>
                                    <div class="col-md-12 shirt-configuration-header">
                                       <h3>Placket</h3>
                                    </div>
                                </div>

                                <div class="row no-gutter">
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#placket-sidebar" data-animation-pro-step-1-1="right:-400px;" id="placket_1" data-code="1" data-short-name="Covered" data-option-type="placket" data-img-url="<%= image_path('shirt_options/Covered.png')%>" data-sidebar="placket-sidebar" data-desc="placket-1">
                                           <input id="shirt_configuration_placket_code_1" checked="checked" name="placket_code" type="radio" value="1" style="display: none;">
                                            <img src="<%= image_path('shirt_options/Covered.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                            <div class="option-name">
                                                <label class="control-label">Covered(Hidden)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#placket-sidebar" data-animation-pro-step-1-1="right:-400px;" id="placket_2" data-code="2" data-short-name="Regular" data-option-type="placket" data-img-url="<%= image_path('shirt_options/Regular-01.png')%>" data-sidebar="placket-sidebar" data-desc="placket-2">
                                            <input id="shirt_configuration_placket_code_2" name="placket_code" type="radio" value="2" style="display: none;">
                                            <img src="<%= image_path('shirt_options/Regular-01.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                            <div class="option-name">
                                                <label class="control-label">Regular Box</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#placket-sidebar" data-animation-pro-step-1-1="right:-400px;" id="placket_3" data-code="3" data-short-name="French" data-option-type="placket" data-img-url="<%= image_path('shirt_options/French.png')%>" data-sidebar="placket-sidebar" data-desc="placket-3">
                                            <input id="shirt_configuration_placket_code_3" name="placket_code" type="radio" value="3" style="display: none;">
                                            <img src="<%= image_path('shirt_options/French.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                            <div class="option-name">
                                                <label class="control-label">French Placket</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="choiceItem config_option_button detail-option-button" data-current-wizard-tab="<%=@current_wizard_tab%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#placket-sidebar" data-animation-pro-step-1-1="right:-400px;" id="placket_4" data-code="4" data-short-name="Tunic" data-option-type="placket" data-img-url="<%= image_path('shirt_options/Tunic.png')%>" data-sidebar="placket-sidebar" data-desc="placket-4">
                                            <input id="shirt_configuration_placket_code_4" name="placket_code" type="radio" value="4" style="display: none;">
                                            <img src="<%= image_path('shirt_options/Tunic.png')%>" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#sidebar" data-animation-pro-step-1-1="right:-400px;" class="img-responsive">
                                            <div class="option-name">
                                                <label class="control-label">Tunic (3 Button)</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="option-description">
                                <p></p>
                            </div>
                        </div>
                        <!-- END SIDEBARS -->
                <div class="row">
                    <h2 class="col-xs-8"><%=accurate_title%></h2>
                    <h2 class="price col-xs-4"><%= display_price(@product) %></h2>
                </div>
                <div class="row">
                    <% if @product.short_product_description %>
                     <!-- FABRIC DESCRIPTION -->
                    <div class="fabric-desc">
                        <div class="col-xs-12">
                            <h5>
                                <div class="product_description" id="product-description" itemprop="description" data-hook="description" >
                                    <%= @product.short_product_description rescue Spree.t(:product_has_no_description) %>
                                </div>
                            </h5>
                        </div>
                    </div>
                    <% end %>
                </div>
<!-- Measurement Profile -->
                <!--  <div class="row m-t-sm">
                <div id="detail-optionbox-profile">
                    <% if (spree_current_user) %>
                        <% if (@userShirtProfiles.length >= 1)%>
                             <div class="col-xs-6">
                                <h3>
                                    SIZING
                                </h3>
                            </div>
                            <div class="col-xs-6">
                                <center>
                                    <%= select_tag "profile_id",
                                    options_from_collection_for_select(@userShirtProfiles, "id", "name",@shirtprofileid),
                                    :class => "profile-select c-pointer form-control input-sm" %>
                                </center>
                            </div>
                        <% else %>
                            <div class="col-xs-12">
                                <center>
                                    No Measurement Profiles
                                    <a id="manage_profile_link" class="login-link shirtconfig-elemets-margin" href="/profiles">
                                        Create Measurement Profile
                                    </a>
                                </center>
                            </div>
                        <% end %>
                    <% else %>
                        <div class="col-xs-12">
                            <center style="font-size:12px;">
                                <div class="" >
                                    <a id="shirtdetail_profile_link" >
                                        <span class="sub-link c-pointer" >Log In</span>
                                    </a> or
                                </div>
                                <div class="" >
                                    <a id="shirtdetail_measurement_link" >
                                        <span class="sub-link c-pointer" >
                                            Create New Custom Shirt Measurements
                                        </span>
                                    </a>
                                </div>
                            </center>
                        </div>
                    <% end %>
                </div>
                </div>
 -->
                <div>
                    <h3 class="m-t-sm">
                        SHIRT OPTIONS
                    </h3>
                    <!-- TABS -->
                    <div class="row" id="shirt-wizard-tabs">
                        <div class="col-xs-12 shirt-tabs">
                            <div id="sartor_style_config" class=" <%= spree_current_user ? "col-xs-4" : "col-xs-6"%>  padding-zero c-pointer border border-rm-r" >
                                <center class="tab-view">As Shown</center>
                            </div>

                            <% if spree_current_user %>
                                <div id="usual_style_config" class="col-xs-4 padding-zero c-pointer border border-rm-r" >
                                    <center class="tab-view">Your Usual</center>
                                </div>
                            <% end %>
                            <div id="customized_style_config" class=" <%= spree_current_user ? "col-xs-4" : "col-xs-6"%>  padding-zero c-pointer border" >
                                <center class="tab-view">Customize</center>
                            </div>
                        </div>
                    </div>

                    <!-- SAVE USUAL -->
                    <div class="save-usual-style-btn-section text-right">
                        <% if (spree_current_user) %>
                            <a id="save_usual_style_btn" class="sub-link c-pointer text-capitalize">
                                Save as "Your Usual”
                            </a>
                        <% end %>
                    </div>
                </div>

                <!--  HIDDEN FIELDS -->
                <%= hidden_field_tag "product_id", @product.id %>
                <%= hidden_field_tag "variant_id", @product.master.id %>
                <%= hidden_field_tag "product_type", @product.product_type %>
                <%= hidden_field_tag "p_id", params[:pid] %>
                <%= hidden_field_tag "wished_product_id", params[:wished_products_id] %>



                <!-- SHIRT CONFIGURATION DROPDOWNS -->
                <div class="m-t">
                    <div class="shirt-detail-dropdowns shirt-configuration-form form-inline">
                        <div class="col-xs-12  padding-zero border-bottom m-b">
                            <div class="form-group text-left col-xs-4 padding-zero ">
                                <label class="control-group shirt-config-labels">COLLAR:</label>
                            </div>


                            <div id="order_collar_div" class="form-group col-xs-8 c-pointer padding-zero text-left detail-optionbox-selector-btn" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#collar-sidebar" data-animation-pro-step-1-1="right:0px;">
                                <span class="hide">
                                    <%= f.collection_select(:collar_code, ShirtConfiguration::COLLARS, :first, :last , class: "form-control") %>
                                </span>
                                <span id="order_collar_text"></span>
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="col-xs-12  padding-zero border-bottom m-b">
                            <div class="form-group text-left col-xs-4 padding-zero ">
                                <label class="control-group shirt-config-labels">CUFF:</label>
                            </div>
                            <div id="order_cuff_div" class="form-group col-xs-8 c-pointer padding-zero text-left detail-optionbox-selector-btn" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#cuff-sidebar" data-animation-pro-step-1-1="right:0px;">
                                <span class="hide">
                                    <%= f.collection_select(:cuff_code, ShirtConfiguration::CUFFS, :first, :last ,  class: "form-control") %>
                                </span>
                                <span id="order_cuff_text"></span>
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-xs-12  padding-zero border-bottom m-b">
                            <div class="form-group  text-left col-xs-4 padding-zero ">
                                <label class="control-group shirt-config-labels">POCKET:</label>
                            </div>
                            <div id="order_pocket_div" class="form-group col-xs-8 c-pointer padding-zero text-left detail-optionbox-selector-btn" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#pocket-sidebar" data-animation-pro-step-1-1="right:0px;">
                                <span class="hide">
                                    <%= f.collection_select(:pocket_code, ShirtConfiguration::POCKETS, :first, :last , class: "form-control") %>
                                </span>
                                <span id="order_pocket_text"></span>
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-xs-12  padding-zero border-bottom m-b">
                            <div class="form-group text-left col-xs-4 padding-zero ">
                                <label class="control-group shirt-config-labels">BUTTON:</label>
                            </div>
                            <div id="order_button_div" class="form-group col-xs-8 c-pointer padding-zero text-left detail-optionbox-selector-btn" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#button-sidebar" data-animation-pro-step-1-1="right:0px;">
                                <span class="hide">
                                    <label>Buttons </label><br/>
                                    <select class="button-multiple"  id="order_button_code" name="order[button_code]" >
                                        <% @taxon_buttons.each do |button|  %>
                                           <option  value="<%=button.id%>"><%= button.parent.name.titleize + ' w/ ' + button.name.titleize %></option>
                                        <%end%>
                                    </select>
                                </span>
                                <span id="order_button_text"></span>
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-xs-12  padding-zero m-b-md">
                            <div class="form-group text-left col-xs-4 padding-zero ">
                                <label class="control-group shirt-config-labels">PLACKET:</label>
                            </div>
                            <div id="order_placket_div" class="form-group col-xs-8 c-pointer padding-zero text-left detail-optionbox-selector-btn" data-animation-pro-1 style="" data-animation-pro-trigger-1="click" data-animation-pro-target-1="#placket-sidebar" data-animation-pro-step-1-1="right:0px;">
                                <span class="hide">
                                    <%= f.collection_select(:placket_code, ShirtConfiguration::PLACKETS, :first, :last  ,class: "form-control") %>
                                </span>
                                <span id="order_placket_text"></span>
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="m-t m-b">

                        <%if params[:pid]%>
                          <%= text_area_tag  'order[comment]', Spree::LineItem.find(params[:pid]).shirt_configuration.comment , :class=>'line_item_notes cover-width form-control', :height => '20',:placeholder => 'Notes: Provide any special request'%>
                        <% elsif params[:wished_product_id]%>
                          <%= text_area_tag  'order[comment]', Spree::WishedProduct.find(params[:wished_products_id].to_i).shirt_configuration.comment , :class=>'line_item_notes cover-width form-control', :height => '20',:placeholder => 'Notes: Provide any special request'%>
                        <% else %>
                          <%= text_area_tag  'order[comment]', "" , :class=>'line_item_notes cover-width form-control', :height => '20',:placeholder => 'Notes: Provide any special request'%>
                        <% end %>
                    </div>

                    <!-- ADD TO CART -->
                    <div class="add-to-cart">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-3 p-zero">
                                    <%= number_field_tag :quantity, 1, :class => 'form-control border-radius-rm text-center', :min => 1 , :max => 5 , :required => true %>
                                </div>
                                <div class="col-xs-9 p-zero p-l-sm">
                                    <%if(!@updateCartFlag)%>
                                        <%= button_tag :class => 'btn btn-custom form-control border-radius-rm m-b-xs', :id => 'add-to-cart-button', :type => :submit do %>
                                            <%= Spree.t(:add_to_cart) %>
                                        <% end %>
                                    <%else %>
                                        <%= button_tag :class => 'btn btn-custom form-control border-radius-rm m-b-xs', :id => 'add-to-cart-button', :type => :submit do %>
                                            <%= Spree.t(:update_to_cart) %>
                                        <% end %>
                                    <%end%>
<% end %>
                                <!--
                                    <%if @UpdateWishListFlag%>
                                        <%= render :partial => 'wishlist_edit_form' %>
                                    <%else %>
                                        <%= render :partial => 'wishlist_form' %>
                                    <%end%>
 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            <!-- DELIVERY DATE -->
            <div>
                <h3>Delivery Date</h3>
                <% timestart = Time.now+1.week.to_i%>
                <% timeend = Time.now+2.week.to_i%>
                <span class="delivery_date">
                    <%= Date::ABBR_MONTHNAMES[timestart.strftime("%m").to_i]+" "+timestart.strftime("%d")+ "-" + Date::ABBR_MONTHNAMES[timeend.strftime("%m").to_i]+" "+ timeend.strftime("%d")  %>
                </span>
            </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row m-b">
        <div class="col-md-offset-2 col-md-4 col-sm-6 col-xs-12">
            <h3>Shirt Description</h3>
            <div class="product_description" id="product-description" itemprop="description" data-hook="description" >
                <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
            </div>
        </div>
        <!-- FABRIC DETAIL SECTION -->
        <div class="col-sm-6 col-md-4 col-xs-12">
            <%= render :partial => 'fabric_detail' %>
        </div>
    </div>
    <hr>
    <!-- RECENTLY VIEWED PRODUCT SECTION -->
    <div class="recently-view">
        <div class="row">
            <div class="col-xs-12 shirt-detail-subheaders">
                <%= render :partial => 'spree/shared/recently_viewed_products'%>
            </div>
        </div>
    </div>

    <!-- WIZARD WINDOWS -->
    <span class="wizard_windows">
        <%= render :partial => 'shirt_config' %>
        <%= render :partial => 'shirt_options_wizard' %>
    </span>




<script type="text/javascript">
    $(document).click(function(e){
     if($(e.target).is("#detail-optionbox-container") || $(e.target).closest("#detail-optionbox-container").length){

     }else{
       $(".sidebar").css( 'right', '-400px');
     }
    });
</script>
