<div class="taxon">
	<div class="row">
		<div class="col-md-2 col-sm-3">
  		<h5 class="subtaxon-title" style="margin-top: 50px;"><%= taxon.name %> <%#= link_to taxon.name, seo_url(taxon), :class => 'breadcrumbs' %></h5>
			<p style="font-size: 10px;"><%= taxon.description %></p>
		</div>
		<div class="col-md-10 col-sm-9" style="padding: 0;">
  		<%= render :partial => 'spree/shared/products', :locals => { :products => taxon.products, :taxon => taxon } %>
		</div>
	</div>
</div>
	