<% shirt_mode = @products.first.product_type == "SHIRT" %>
<% if shirt_mode %>
	<% if @taxon.permalink == 'new-shirts' %>
		<% content_for :subnav do %>
			<li><a href="/shirts">ALL SHIRTS</a></li>
			<li><a class="selected" href="#">NEW ARRIVALS</a></li>
		<% end %>
	<% else %>
		<% content_for :subnav do %>
			<li><a href="/shirts">ALL SHIRTS</a></li>
			<li><a href="/t/new-shirts">NEW ARRIVALS</a></li>
		<% end %>
	<% end %>
<% end %>

<% if lookup_context.exists?(@taxon.permalink, ["spree/taxons/headers"], true) %>
	<%= render :partial => "spree/taxons/headers/#{@taxon.permalink}" %>	
<% end %>

<!-- div data-hook="taxon_products">
  <%#= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
</div -->

  <% unless params[:keywords].present? %>
    <div data-hook="taxon_children">
      <%= render :partial => 'taxon', :collection => @taxon.children %>
    </div>
<% end %>
