<%= render :partial => "spree/detailed_profiles/detailed_profile_summary_form", :locals => {:close_button_text => close_button_text} %>
</div>

<% content_for :head do %>
	<script type="text/javascript">
		$(function() {
			var $summaryForm = $('.profile-form');
			
		    $summaryForm.areYouSure(
		      {
		        message: "Leave page without saving changes?"
		      }
		    );			
			
		});
	</script>
<% end %>