<%# set as=profile because actually is DetailedProfile %>
<%= form_for @profile, html: {class: "wizard-form"}, :as => :profile do |f| %>
	<div class="wizard" id="profile-wizard">
	  <div class="wizard-cards">
	
	    <div class="wizard-card" data-cardname="name">
	      <h3>Intro</h3>
	      <p>This form walks you through the steps to take your shirt measurements. It's an easy process that should
	        take 5-10 minutes. You'll need a measuring tape and a friend to help. A flexible tailor's tape makes things a
	        little easier. Email us at <a href="mailto:service@beylerandturk.com">service@beylerandturk.com</a> if you'd like us to mail you a complimentary measuring tape.
	      </p>
	      <p>It helps to wear a dress shirt or t-shirt that fits well in the shoulders. The shoulder seams should just sit on top of shoulder at the edge and shouldn't hang down on the arm. If you don't have a shirt that fits perfectly, do not fear... that's going to change soon!</p>
	      <p>Record each measurement in &frac18; inch increments using decimals. For instance, enter a measurement of 14 &frac18; as
	        "14.125", or 17 &frac34; as "17.75".
	      </p>
	      <p>You can save the profile at any time if you want to take a break and finish
	        later.
	      </p>
	    </div>

<style>
.step_header {
	float: left;
	font-size: 12px;
	text-align: center;
	margin-top: -15px;
	margin-right: 10px;
	margin-left: -15px;
}
.step_num {
	font-size: 16px;
	color: white;
	background-color: black;
	height: 20px;
	width: 20px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 3px;
	border: 1px solid black;
	text-align: center;
}
.step_video {
	float: right;
	padding: 0px 0px 10px 0px;
}
.step_group ul {
	margin-top: 15px;
}
.step_group li {
	margin-top: 5px;
}
.wizard-card label {
	font-style: italic;
}
</style>

			<div class="wizard-card" data-cardname="name">
				<div class="step_header">Step<div class="step_num"><p>1</p></div></div>
			  <h3>Basic Info</h3>
			  <p>You can set up multiple measurement profiles in case your sizing changes, or to store sizes for friends and family. Give this profile a name so you can remember what it's for:</p>
				<div style="padding-left: 25px; padding-bottom: 12px;">
					<%= f.label "Profile Name" %> <%= f.text_field :name %>
				</div>
				<p>If this profile is for someone else, provide his name with exact spelling:</p>
				<div style="padding-left: 25px; padding-bottom: 12px;">
					<%= f.label "Shirt Owner Name" %> <%= f.text_field :embroidery_name %>
				</div>
				<p>Finally, a couple of basic details:</p>
				<div class="pull-left" style="padding-left: 25px; margin-right: 50px;">
			    <%= f.label :height_ft, "Height" %> <%= f.select :height_ft, Profile::HEIGHTS_FT, {}, { class: 'input-xsmall'} %> '
			    <%= f.select :height_in, Profile::HEIGHTS_IN, {}, { class: 'input-xsmall'} %> "
				</div>
				<div>
			    <%= f.label :weight %> <%= f.number_field :weight, class: 'input-small', maxlength: 5  %> lbs 
				</div>
			</div>

	    <div class="wizard-card" data-cardname="name">
				<div class="step_header">Step<div class="step_num"><p>2</p></div></div>
	      <h3>Preferred Fit </h3>
	      <p>Choose your preferred fit style. We offer Extra Slim, Slim and Classic fits. </p>

				<p><strong>Slim Fit</strong> is our suggested fit for most people. Relatively speaking, it is slimmer than most off-the-rack shirts, but still very comfortable. Even if you’re a larger gentleman, we recommend slim as our standard sizing.</p>

				<p><strong>Extra Slim Fit</strong> is more snug in the chest, body and sleeves. You may feel some restriction in your arm movement. The back has darts to eliminate excess fabric from the midsection. This is ideal for those who value fashion over comfort.</p>

				<p><strong>Classic Fit</strong> is looser in the chest, body and sleeves. Designed for comfort, this fit is roomy around the mid-section and has back pleats for maximum arm mobility.
				</p>
				<%= f.label :default_fit, "Preferred Fit"%> <%= f.select :default_fit, Profile::FITS %>
	    </div>

	    <div class="wizard-card" data-cardname="name">
	      <div class="step_video">
	        <%= video_tag(["/assets/Body2 Neck.mp4", "/assets/Body2 Neck.webm"], :poster => image_path("stills/BT-2 Neck.jpg"), :controls => true, :preload => "off", :size => "400x225") %>
	      </div>
				<div class="step_header">Step<div class="step_num"><p>3</p></div></div>
		    <h3>Collar</h3>
		
				<br/>
				<%= f.label "Collar Size" %>
				<%= f.number_field :neck, :class => "input-small", :step => ".125" %> "

	      <div class="step_group" style=" clear: both;">
					<p>Measure around your neck, with the tape going over your Adam's apple.</p>
					<ul>
						<li>Hold the tape with room for 2 fingers underneath, as shown in the picture.</li>
					  <li>Jiggle your hand a bit to make sure the tape is not too tight.</li>
						<li>Do not worry if the measurement is ¼ or ½ inch smaller than your off-the-rack collar measurement. We will add ½ inch to account for shrinkage.</li>
					</ul>
	      </div>
	    </div>

	    <div class="wizard-card" data-cardname="name">
				<div class="step_video">
	        <%= video_tag(["/assets/Body2 Shoulder.mp4", "/assets/Body2 Shoulder.webm"], :poster => image_path("stills/BT-2 Shoulder.jpg"), :controls => true, :preload => "off", :size => "400x225") %>
	      </div>
				<div class="step_header">Step<div class="step_num"><p>4</p></div></div>
		    <h3>Shoulders</h3>
		
				<br/>
				<%= f.label "Shoulder Width" %>
				<%= f.number_field :yoke, :class => "input-small", :step => ".125" %> "

	      <div class="step_group" style=" clear: both;">
	        <p>With your arms relaxed to your sides, measure across the back of your shoulders.</p>
					<ul>
						<li>Start and end at the "edges" of your shoulders. The "edge" is the point where the shoulder starts to slope down towards the arm.</li>
						<li>Note that most shirts men wear are too wide in the shoulders, so the seam falls down onto the arm. The seam should sit just on top of the shoulder.</li>
						<li>Bring the tape across curve of the shoulders, about 1 inch below the collar.</li>
					</ul>					
	      </div>
	    </div>

	    <div class="wizard-card" data-cardname="name">
	      <div class="step_video">
	        <%= video_tag(["/assets/Body2 Sleeve.mp4", "/assets/Body2 Sleeve.webm"], :poster => image_path("stills/BT-2 Sleeve.jpg"), :controls => true, :preload => "off", :size => "400x225") %>
	      </div>
				<div class="step_header">Step<div class="step_num"><p>5</p></div></div>
				<h3>Sleeves</h3>
				
				<br/>
				<%= f.label "Sleeve Length" %>
				<%= f.number_field :sleeve, :class => "input-small", :step => ".125" %> "

	      <div class="step_group" style=" clear: both;">
	        <p>With your arms relaxed to the side, measure from your shoulder seam to your wrist.</p>
					<ul>
						<li>Find the center back by feeling for the spine just under the collar.</li>
						<li>As you measure, hold the tape at the shoulder and then the elbow to follow the contour of the arm.</li>
						<li>Measure to where you would like the cuff to end, typically ¼ inch below the break of the wrist.</li>
						<li>Measure both the left and right lengths and take the average.</li>
					</ul>
	      </div>
	    </div>

	    <div class="wizard-card" data-cardname="name">
	      <div class="step_video">
	        <%= video_tag(["/assets/Body2 Chest.mp4", "/assets/Body2 Chest.webm"], :poster => image_path("stills/BT-2 Chest.jpg"), :controls => true, :preload => "off", :size => "400x225") %>
	      </div>
				<div class="step_header">Step<div class="step_num"><p>6</p></div></div>
	      <h3>Chest</h3>
				
				<br/>
				<%= f.label "Chest Size" %>
				<%= f.number_field :chest, :class => "input-small", :step => ".125" %> "

	      <div class="step_group" style=" clear: both;">
	        <p>With your arms relaxed at your side, measure around your chest at the widest point with the tape going over the nipples. 
					<ul>
						<li>Make sure the tape is level around the torso, high in the armpit.</li>
						<li>Stay relaxed and breathe naturally for several seconds before taking the measurement. Do not puff out your chest.</li>
						<li>Pull the tape snug, but not tight. Measure with one finger under the tape.</li>
					</ul>
	      </div>
	    </div>

	    <div class="wizard-card" data-cardname="name">
		    <div class="step_video">
	        <%= video_tag(["/assets/Body2 Waist.mp4", "/assets/Body2 Waist.webm"], :poster => image_path("stills/BT-2 Waist.jpg"), :controls => true, :preload => "off", :size => "400x225") %>
	      </div>
				<div class="step_header">Step<div class="step_num"><p>7</p></div></div>
	      <h3>Waist</h3>

				<br/>
				<%= f.label "Waist Size" %>
				<%= f.number_field :waist, :class => "input-small", :step => ".125" %> "

	      <div class="step_group" style=" clear: both;">
	        <p>Measure around your natural waist, at or just above your belly button. This should be the widest or narrowest part of your torso, depending on your body type.</p>
					<ul>
						<li>Stay relaxed and breathe naturally for several seconds before taking the measurement. Don't suck in your stomach.</li>
						<li>Pull the tape snug, but not too tight. Measure with one finger under the tape.</li>
					</ul>
	      </div>
	    </div>
	
	    <div class="wizard-card" data-cardname="name">
		    <div class="step_video">
	        <%= video_tag(["/assets/Body2 Hips.mp4", "/assets/Body2 Hips.webm"], :poster => image_path("stills/BT-2 Hips.jpg"), :controls => true, :preload => "off", :size => "400x225") %>
	      </div>
				<div class="step_header">Step<div class="step_num"><p>8</p></div></div>
	      <h3>Hips</h3>

				<br/>
				<%= f.label "Hip Size" %>
				<%= f.number_field :hip, :class => "input-small", :step => ".125" %> "

	      <div class="step_group" style=" clear: both;">
	        <p>Take everything out of your pockets, and measure around the widest part of your behind.</p>
					<ul>
						<li>Take this measurement from the side to avoid any awkward moments.</li>
						<li>Pull the tape snug, but not too tight. Measure with one finger under the tape.</li>
						<li>Subtract ½ inch if you're wearing jeans or bulky pants.</li>
					</ul>
	      </div>
	    </div>	

	    <div class="wizard-card" data-cardname="name">
		    <div class="step_video">
	        <%= video_tag(["/assets/Body2 Bicep.mp4", "/assets/Body2 Bicep.webm"], :poster => image_path("stills/BT-2 Bicep.jpg"), :controls => true, :preload => "off", :size => "400x225") %>
	      </div>
				<div class="step_header">Step<div class="step_num"><p>9</p></div></div>
	      <h3>Biceps</h3>

				<br/>
				<%= f.label "Bicep Size" %>
				<%= f.number_field :bicep, :class => "input-small", :step => ".125" %> "

	      <div class="step_group" style=" clear: both;">
	        <p>With your arm relaxed, measure around the mid-point of your upper arm.</p>
					<ul>
						<li>Don't flex your arm -- let it hang to the side</li>
					  <li>Pull the tape snug and leave room for 1 finger under the measuring tape</li>
					</p>
	      </div>
	    </div>
			
	    <div class="wizard-card" data-cardname="name">
		    <div class="step_video">
	        <%= video_tag(["/assets/Body2 Wrist.mp4", "/assets/Body2 Wrist.webm"], :poster => image_path("stills/BT-2 Wrist.jpg"), :controls => true, :preload => "off", :size => "400x225") %>
	      </div>
				<div class="step_header">Step<div class="step_num"><p>10</p></div></div>
	      <h3>Cuffs</h3>

				<%= f.label "Wrist Size" %>
				<%= f.number_field :wrist, :class => "input-xsmall", :step => ".125" %> "
				<%= f.label :wrist_watch, "Wrist Watch (optional)" %> <%= f.number_field :wrist_watch, :class => "input-xsmall", :step => ".125" %> " on 
				<%= f.select :watch_hand, Profile::WATCH_HANDS, {}, { class: 'input-small'} %> hand

	      <div class="step_group" style=" clear: both;">
	        <p>Measure around wrist over the wrist bone</p>
					<ul>
						<li>Hold the tape without a finger underneath.</li>
						<li>If you wear a watch, take a second measurement of the watch on the wrist, and indicate the watch hand.</li>
	      </div>
	    </div>
	
	    <div class="wizard-card" data-cardname="name">
	      <div class="step_video">
	        <%= video_tag(["/assets/Body2 Length.mp4", "/assets/Body2 Length.webm"], :poster => image_path("stills/BT-2 Length.jpg"), :controls => true, :preload => "off", :size => "400x225") %>
	      </div>
				<div class="step_header">Step<div class="step_num"><p>11</p></div></div>
				<h3>Shirt Length</h3>

				<%= f.label "Shirt Length" %>
				<%= f.number_field :length, :class => "input-small", :step => ".125" %> in
				<%= f.label :length_untucked, "Untucked Length (optional)" %><%= f.number_field :length_untucked, class: 'input-small', :step => ".125"  %> "

	      <div class="step_group" style=" clear: both;">
	        <p>Measure the back length of the shirt, from the collar base to where the hem should fall.<p>
					<ul>
						<li>Start center of the collar seam.</li>
						<li>Measure down to ½ inch below the bottom of your behind.</li>
						<li>If you sometimes like to wear your shirt untucked, take a second measurement to the point where you would like the shirt to fall. This is typically about 2 inches higher than the tucked length.</li>
					</ul>
	      </div>
	    </div>

	  </div>
	  <!-- wizard cards -->
	</div>
<% end %>
<script type="text/javascript">
  $(function() {
  
  	$.fn.wizard.logging = true;
  
  	var wizard = $("#profile-wizard").wizard({
  		showCancel: true,
			width: 800,
			increaseHeight: 50
  	});
  	
  	$("#launch-wizard").click(function() {
  		wizard.show();
  	})
  })
  
</script>