<%# set as=profile because actually is DetailedProfile %>
<%= form_for @profile, html: {class: "profile-form"}, :as => :profile do |f| %>
<!-- HISTORIC ORDER IF PRESENT -->
<% @historic_profile = Profile.where(:user_id => spree_current_user, :heir_type => 'DetailedProfile').order("created_at DESC").first%>
<div class="measurement-profile-section">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <label class="my-account-page-header-title">New Profile</label>
            <%if(@showdeleteButton)%>
                <span style="float:right;">
                <div class="measurement-item-delete" style="text-align:right;font-family: 'Helvetica', 'Arial', sans-serif;">
                    <label>
                    <%= link_to 'X Delete', @profile, method: :delete, :class=> "delete", data: { confirm: 'Are you sure?' } %>
                    </label>
                </div>
                </span>
            <%end%>
        </div>
    </div>
    <div class="row summary-form m-t-md">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <div class="profile-info-section">
                <div class="row">
                    <div class="col-lg-6  col-md-6 col-sm-12 col-xs-12">
                         <!-- <div class="form-group decimal optional profile_name column-alignment">
                          <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Name<span style="color:red">*</span></label>
                          <div class="form-group col-lg-7 col-md-7 col-sm-7 col-xs-8"> -->
                            <%=text_field 'profile', 'name' , :class => "hidden form-control" ,:tabindex => '1',:maxlength => '10', :placeholder => "My Body Measurements", :required => true ,:value => spree_current_user.first_name + spree_current_user.last_name %>
                         <!--  </div>
                          <span class="alert-danger"><%= @profile.errors[:name][0] %></span>
                        </div> --> 
                        <div class="form-group decimal optional profile_height column-alignment">
                            <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Height</label>
                            <div class="form-inline  form-group col-lg-7 col-md-7 col-sm-7 col-xs-8 padding-zero">
                                <div class="col-lg-6 col-xs-6 body-measurement-height">
                                    <%= f.select :height_ft, Profile::HEIGHTS_FT,{},{ class: 'input-xsmall input-sm form-control custom-form-inline',style: 'width:100%;',tabindex: '1'}%>
                                </div>
                                <div class="col-lg-6 col-xs-6 body-measurement-height">
                                    <%= f.select :height_in, Profile::HEIGHTS_IN,{},{ class: 'input-xsmall input-sm form-control custom-form-inline',style: 'width:100%;',tabindex: '2'} %>
                                </div>
                            </div>
                        </div>
                        <div class="form-group decimal optional profile_neck column-alignment m-t-sm">
                          <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Neck<span style="color:red">*</span></label>
                          <div class="form-group input-group col-lg-7 col-md-7 col-sm-7 col-xs-8">
                           
                             <input class="form-control padding-column" id="profile_neck" name="profile[neck]" tabindex="2" type="text" required value =<%=@historic_profile ? @historic_profile.heir.neck : 0 %>   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                               <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></span> 
                    
                              <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
  <!-- 
                              <%=number_field 'profile', 'neck' ,wrapper: :vertical_input_group ,:class => "form-control padding-column ",:step => "any" ,:tabindex => '2', :required => true ,:value => @historic_profile ? @historic_profile.heir.neck.to_i : 0 %>
   -->
                          </div>
                          <span class="alert-danger"><%= @profile.errors[:neck][0] %></span>
                        </div>
                        <div class="form-group decimal optional profile_shoulder column-alignment m-t-sm">
                          <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Shoulder<span style="color:red">*</span></label>
                          <div class="form-group input-group col-lg-7 col-md-7 col-sm-7 col-xs-8">

                            <input class="form-control padding-column" id="profile_yoke" name="profile[yoke]" step="any" tabindex="3" type="text" required value = <%= @historic_profile ? @historic_profile.heir.yoke : 0%>  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                            <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></span> 
                  
                            <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
                            <!-- 
                            <%=number_field 'profile', 'yoke', :class => "form-control padding-column",:step => "any",:tabindex => '3' ,:value => @historic_profile ? @historic_profile.heir.yoke.to_i : 0 %>
                             -->
                          </div>
                          <span class="alert-danger"><%= @profile.errors[:yoke][0] %></span>
                        </div>
                        <div class="form-group decimal optional profile_sleeve column-alignment m-t-sm">
                          <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Sleeve<span style="color:red">*</span></label>
                          <div class="form-group input-group col-lg-7 col-md-7 col-sm-7 col-xs-8">

                            <input class="form-control padding-column" id="profile_sleeve" name="profile[sleeve]" step="any" tabindex="4" type="text" required value=<%=@historic_profile ? @historic_profile.heir.sleeve : 0 %>
                             oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                              <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></span> 
                              <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
<!-- 
                            <%=number_field 'profile', 'sleeve' , :class => "form-control padding-column",:step => "any" ,:tabindex => '4' ,:value => @historic_profile ? @historic_profile.heir.sleeve.to_i : 0%>
                            <%=hidden_field 'profile','id', :value => @historic_profile ? @historic_profile.heir.id : 0%>
 -->
                          </div>
                          <span class="alert-danger"><%= @profile.errors[:sleeve][0] %></span>
                        </div>
                        <div class="form-group decimal optional profile_bicep column-alignment m-t-sm">
                          <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Bicep<span style="color:red">*</span></label>
                          <div class="form-group input-group col-lg-7 col-md-7 col-sm-7 col-xs-8">
                            <input class="form-control padding-column" id="profile_bicep" name="profile[bicep]" step="any" tabindex="5" type="text" required value=<%=@historic_profile ? @historic_profile.heir.bicep : 0 %>
                             oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                             <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></span> 
                             <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
                            <!--
                            <%=number_field 'profile', 'bicep', :class => "form-control padding-column",:step => "any" ,:tabindex => '5' ,:value => @historic_profile ? @historic_profile.heir.bicep.to_i : 0 %> -->
                          </div>
                          <span class="alert-danger"><%= @profile.errors[:bicep][0] %></span>
                        </div>
                        <div class="form-group decimal optional profile_wrist column-alignment m-t-sm">
                          <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Wrist<span style="color:red">*</span></label>
                          <div class="form-group input-group col-lg-7 col-md-7 col-sm-7 col-xs-8">
                            <input class="form-control padding-column" id="profile_wrist" name="profile[wrist]" step="any" tabindex="6" type="text" required value=<%=@historic_profile ? @historic_profile.heir.wrist : 0%>
                           oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">  
                             <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></span> 
                  
                              <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
                             <!--    <%=number_field 'profile', 'wrist', :class => "form-control padding-column",:step => "any" ,:tabindex => '6' ,:value => @historic_profile ? @historic_profile.heir.wrist.to_i : 0%> -->
                          </div>
                          <span class="alert-danger"><%= @profile.errors[:wrist][0] %></span>
                        </div>
                        <div class="form-group decimal optional profile_wrist_watch column-alignment m-t-sm">
                          <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Wrist Watch </label>
                          <div class="form-group input-group col-lg-7 col-md-7 col-sm-7 col-xs-8">
                            <input class="form-control padding-column" id="profile_wrist_watch" name="profile[wrist_watch]" step="any" tabindex="7" type="text" required value=<%=@historic_profile ? @historic_profile.heir.wrist_watch : 0%>
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                              <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></span> 
                  
                              <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
                              <!-- 
                              <%=number_field 'profile', 'wrist_watch', :class => "form-control padding-column",:step => "any" ,:tabindex => '7' ,:value => @historic_profile ? @historic_profile.heir.wrist_watch.to_i : 0%>
                              -->
                          </div>
                        </div>
                        <div class="form-group decimal optional profile_wrist_watch column-alignment m-t-sm">
                          <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label"> on </label>
                          <div class="form-group col-lg-7 col-md-7 col-sm-7 col-xs-8 padding-zero">
                            <%= f.select :watch_hand, Profile::WATCH_HANDS, {}, { class: 'input-small input-sm form-control',tabindex: '8' }%>
                          </div>
                        </div>
                    <br>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group decimal optional profile_weight column-alignment">
                          <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Weight</label>
                          <div class="form-group input-group col-lg-7 col-md-7 col-sm-7 col-xs-8">
                          <input class="form-control padding-column " id="profile_weight" name="profile[weight]" step="any" tabindex="11" type="text" required value=<%=@historic_profile ? @historic_profile.heir.weight : 0%> wrapper="vertical_input_group"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                            <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></span> 
                  
                             <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
                            <!-- 
                            <%=number_field 'profile', 'weight' ,wrapper: :vertical_input_group ,:class => "form-control padding-column " ,:step => "any" ,:tabindex => '11' ,:value => @historic_profile ? @historic_profile.heir.weight.to_i : 0%> -->
                          </div>
                        </div>
                        <div class="form-group decimal optional profile_chest column-alignment m-t-sm">
                          <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Chest<span style="color:red">*</span></label>
                          <div class="form-group input-group col-lg-7 col-md-7 col-sm-7 col-xs-8">
                            <input class="form-control padding-column" id="profile_chest" name="profile[chest]" step="any" tabindex="12" type="text" required value=<%= @historic_profile ? @historic_profile.heir.chest : 0 %>
                          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                            <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></span> 
                  
                            <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
                            <!-- 
                            <%=number_field 'profile', 'chest', :class => "form-control padding-column",:step => "any" ,:tabindex => '12' ,:value => @historic_profile ? @historic_profile.heir.chest.to_i : 0 %>

                            -->
    
                          </div>
                          <span class="alert-danger"><%= @profile.errors[:chest][0] %></span>
                        </div>
                        <div class="form-group decimal optional profile_waist column-alignment m-t-sm">
                          <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Waist<span style="color:red">*</span></label>
                          <div class="form-group input-group col-lg-7 col-md-7 col-sm-7 col-xs-8">
                            <input class="form-control padding-column" id="profile_waist" name="profile[waist]" step="any" tabindex="13" type="text" required value=<%=@historic_profile ? @historic_profile.heir.waist : 0%>
                          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                            <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></span> 
                  
                             <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
                              <!-- 
                            <%=number_field 'profile', 'waist', :class => "form-control padding-column",:step => "any" ,:tabindex => '13' ,:value => @historic_profile ? @historic_profile.heir.waist.to_i : 0%> -->
                          </div>
                          <span class="alert-danger"><%= @profile.errors[:waist][0] %></span>
                        </div>
                        <div class="form-group decimal optional profile_seat column-alignment m-t-sm">
                          <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Seat<span style="color:red">*</span></label>
                          <div class="form-group input-group col-lg-7 col-md-7 col-sm-7 col-xs-8">
                            <input class="form-control padding-column" id="profile_hip" name="profile[hip]" step="any" tabindex="14" type="text" required value=<%= @historic_profile ? @historic_profile.heir.hip : 0%>
                         oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                           <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></span> 
                  
                          <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
                           <!--  <%=number_field 'profile', 'hip', :class => "form-control padding-column",:step => "any", :tabindex => '14' ,:value => @historic_profile ? @historic_profile.heir.hip.to_i : 0%> -->
                          
                          </div>
                          <span class="alert-danger"><%= @profile.errors[:hip][0] %></span>
                        </div>
                        <div class="form-group decimal optional profile_tucked_length column-alignment m-t-sm">
                          <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Tucked length<span style="color:red">*</span></label>
                          <div class="form-group input-group col-lg-7 col-md-7 col-sm-7 col-xs-8">
                            <input class="form-control padding-column" id="profile_length" name="profile[length]" step="any" tabindex="15" type="text" required value=<%= @historic_profile ? @historic_profile.heir.length : 0%>
                         oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                           <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></span> 
                  
                            <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
                            <!-- 
                            <%=number_field 'profile', 'length', :class => "form-control padding-column",:step => "any" ,:tabindex => '15' ,:value => @historic_profile ? @historic_profile.heir.length.to_i : 0%>

                            -->
                          </div>
                          <span class="alert-danger"><%= @profile.errors[:length][0] %></span>
                        </div>
                        <div class="form-group decimal optional profile_tucked_length column-alignment m-t-sm">
                          <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Untucked Length<span style="color:red">*</span></label>
                          <div class="form-group input-group col-lg-7 col-md-7 col-sm-7 col-xs-8">
                            <input class="form-control padding-column" id="profile_length_untucked" name="profile[length_untucked]" step="any" tabindex="16" type="text" required value=<%= @historic_profile ? @historic_profile.heir.length_untucked : 0%> oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                            <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></span> 
                  
                             <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>

                             <!--     <%=number_field 'profile', 'length_untucked', :class => "form-control padding-column",:step => "any",:tabindex => '16' ,:value => @historic_profile ? @historic_profile.heir.length_untucked.to_i : 0%> -->
                          </div>
                          <span class="alert-danger"><%= @profile.errors[:length_untucked][0] %></span>
                        </div>
                    </div>
                </div>
                <div class="m-t-sm">
                    <div class="col-lg-10 pull-right col-md-10 col-sm-10 col-xs-10 col-xs-offset-2  measurement-profile-btn padding-zero">
                        <%= link_to "cancel",spree.profiles_path, :class => "btn btn-custom-black", id: 'close_button' %>
                        <%= f.submit "Next", class: 'btn btn-custom', id:'save_button' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<% end %>
<style>.form-group {margin-bottom: 5px;}</style>
<script>
$('#profile_height_ft').val('<%= @historic_profile ? @historic_profile.height_ft : 4%>');
$('#profile_height_in').val('<%= @historic_profile ? @historic_profile.height_in : 0%>');
$('#profile_watch_hand').val('<%= @historic_profile ? @historic_profile.heir.watch_hand : "None"%>');
</script>
