<div class="row">
  <div class="row hidden-sm hidden-md hidden-lg" id="command-row">
      <div class="col-xs-6">
          <button id="side-bar-collapse-btn" type="button" class="btn btn-default btn-command account-info-side-bar-btn" data-toggle="toggle" data-target="#demo">
              <i class="fa fa-gear fa-2x"></i>Settings
          </button>
      </div>
      <div class="col-xs-6 text-right">
          <a href="/shirts" type="button" class="btn btn-default btn-command">
              <i class="fa fa-shopping-bag fa-2x"></i>Return To Shop</a>
      </div>
  </div>
  <div id="account_side_bar_border" class="col-lg-3 col-md-4 col-sm-4">
    <div class="col-padding">
    <%= render "spree/users/account_sidebar", :current => 'Measurement Profile' %>
    </div>
	</div>
	<div id="divwidth" class="col-lg-9 col-md-8 col-sm-8 page-text">
  <div class="col-padding">
		<div class="account-info-label">
			<div class="page-title">
				<h1>Measurement Profile</h1>
			</div>
			<br>
		</div>
		<div>
			<%= render :partial => "spree/detailed_profiles/detailed_profile_page", :locals => {:close_button_text => "Close Profile"} %>
		</div>
   </div>
	</div>
</div>
