<form action='/referral/referral_url_to_friend/' method="post">
	<div class="form-horizontal">
		<div class="form-group">
			<input name="utf8" type="hidden" />
			<input name="authenticity_token" type="hidden" >
			  <div class="form-group">
					<label class="col-md-2" for="price">Sender Name</label>
					<div class="col-md-6">
						<input class="form-control" id="sender_name" name="sender_name" type="text" required="required" />
					</div>
				</div>

			  <div class="form-group">
					<label class="col-md-2" for="price">Recipient Name</label>
					<div class="col-md-6">
						<input class="form-control" id="recipient_name" name="recipient_name" type="text" required="required" />
					</div>
				</div>

			  <div class="form-group">
					<label class="col-md-2" for="price">Recipient Email</label>
					<div class="col-md-6">
						<input class="form-control" id="recipient_email" name="recipient_email" type="email" required="required" />
					</div>
				</div>
			  <div class="form-group">
					<label class="col-md-2" for="price">Message</label>
					<div class="col-md-6">
						<textarea class="form-control" id="options_note" name="options_note" placeholder="Message" rows="5"></textarea>
					</div>
			  </div>
		  </div>
	  </div>
	  <div class="row">
	    <div class="col-md-6 col-md-offset-4">
			<input id="referral_code" name="referral_code" type="hidden" value=<%= @referral_code %>>
		    <input name="commit" type="submit" value="Send" class="btn btn-primary col-md-3" />
	    </div>
	 </div>
</form>
