<p>Hi <%= @recipient_name%>,</p>

<p><%= @sender_name %> would like you to try shopping at SartorNYC.</p>

<p><a href= <%= @referral_link%>>Click here</a> and create your account and enjoy promotions for new user!</p>

<% if @options_note != nil and @options_note != ""%>
	<p>Message from <%= @sender_name %>: <%= @options_note %></p>
<% end %>

<p>Happy Shopping!</p>
SartorNYC