<div class="row">
	<div class="col-lg-6">
		<h1><%= Spree.t(:your_wishlist) %></h1>
		<%= content_tag :ul do %>
		  	<% @wishlists.each do |wishlist| %>
		    		<%= content_tag :li do %> 
		      			<%=  link_to(wishlist.name, wishlist) %>  - <%= wishlist.is_private ? Spree.t(:private) : Spree.t(:public)%>
		    		<% end %>
		  	<% end %>
		<% end %>
	</div>

</div>