<div id="wishlist_header">
  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 wishlist-header-padding-bottom">
    <% if @wishlist.user == spree_current_user %>
      <!-- <h1 class="wishlist-header-text"><%= @wishlist.name %></h1> -->
      <h1 class="wishlist-header-text pull-left">WISHLIST</h1>
    <% else %>
      <% wishlist_owner = Spree::User.find_by(:id => @wishlist.user_id) %>
      <h1 class="wishlist-header-text pull-left"><%= wishlist_owner.first_name + " " + wishlist_owner.last_name %>'s wishlist</h1>
    <% end %>

<div class="row pull-right">
        <div class="col-xs-12 col-sm-12 m-b-sm">
          <%if spree_current_user%>
                    
                        <a class="m-t-md btn btn-default continue button gray control-label keep-shopping-button" data-method="get" href="/wishlist/refer_to_friend/<%=@wishlist.user.id%>">SHARE WISHLIST</a>
                    
                    <%end%>
        <%= link_to "Keep Shopping", products_path,:class=>'m-t-md btn btn-default keep-shopping-button  continue button gray control-label'%>
      </div>
    </div>
  </div>
  <div>
    <% if @wishlist.user == spree_current_user %>
      <!--<%= link_to Spree.t(:back_to_wishlists), wishlists_path %>-->
    <% end %>
      <!-- <%# if respond_to?(:email_to_friend_url) %>
      <%#= link_to Spree.t('email_to_friend.send_to_friend'), wishlist_email_to_friend_url(@wishlist) %>|
      <%# end %>
      </div>-->
      <!--<%# if @wishlist.user == spree_current_user %>
      <div id="manage_wishlist_links">
      <%#= link_to Spree.t(:edit_wishlist), edit_wishlist_path(@wishlist) %>
      </div></br>
      <div><%#= render :partial => 'accessibility' %></div>
      <%# end %>-->
  </div>
</div>
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
  <div class = "list-group hidden-xs" style="margin-bottom: 0px;">
     <div class="list-group-item shopping-cart-panel-heading">
       <div class="row shopping-cart-label">
            <div class="col-sm-3  col-xs-4">
              <%= Spree.t(:item) %>
            </div>
            <div class="col-sm-6 col-xs-8">
              <%= Spree.t(:details) %>
            </div>
             
            <div class="col-sm-3 col-xs-6">
              <%= Spree.t(:price) %>
            </div>
           
       </div>
     </div>
  </div>
  <!-- <thead>
    <tr>
      <th><%#= Spree.t(:item) %></th>
     <!-- <%# if @wishlist.user == spree_current_user %>
        <th><%#= Spree.t(:wishlist_actions) %></th>
      <%# end -%>->
      <!--<th><%#= Spree.t(:item_view) %></th>
      <th><%#= Spree.t(:item_description) %></th>
      <th><%#= Spree.t(:date_added) %></th>->
      <th><%#= Spree.t(:customizations)%></th>
      <th><%#= Spree.t(:price) %></th>
    </tr>
  </thead>-->
  <!--looping while wishlist has products-->
  <% if @wishlist.wished_products.size > 0 %>
    <% @wishlist.wished_products.each do |wish|
        variant = wish.variant
        product = variant.product %>
        <!--Repeat the table data-->
        <div class = "list-group">
          <div class="list-group-item padding-zero">
            <div class="row shopping-cart-content">
            <% if true %>
              <!--Whishlist Shirt Image and link to the shirt-->
                <div class="col-sm-3 col-xs-4">
                  <div class="cart-item-image img-responsive" data-hook="cart_item_image">
                    <% if variant.images.length == 0 %>
                      <%=link_to small_image(variant.product, width: 100,class:'img-responsive') %>
                    <% else %>
                      <%=link_to image_tag(variant.images.first.attachment.url(:small), width: 100,class:'img-responsive') %>
                    <% end %>
                  </div>
                  <div style>
                    <h4><%= link_to product.name, product ,:class => 'sub-link' %></h4>
                  </div>
                </div>
                <!--Customizations-->
                <div class="col-sm-6 col-xs-8">

                <%if wish.shirt_configuration !=nil%>
                  <div class="shopping-cart-desc-section">
                    <div class="row">
                        <!--  <h3><%= link_to product.name, product ,:class => 'sub-link' %></h3> -->
                        <!-- <div style="text-transform:capitalize;"><%=product.description%></div> -->
                        <!-- <p><%= variant_options variant %></p>
                        <%= truncate(product.description, :length => 100, :omission => "...") %> -->
                    </div>
                    <div class="row">
                          <div class="col-sm-5 col-xs-4 shopping-cart-desc-section-left">
                          Collar:
                          </div>
                          <div class="col-sm-5 col-xs-7 shopping-cart-desc-section-right">
                          <%=ShirtConfiguration::COLLARS[wish.shirt_configuration.collar_code]%>
                          </div>
                    </div>
                    <div class="row">
                          <div class="col-sm-5 col-xs-4 shopping-cart-desc-section-left">
                           Cuff:
                          </div>
                          <div class="col-sm-5 col-xs-7 shopping-cart-desc-section-right">
                          <%=ShirtConfiguration::CUFFS[wish.shirt_configuration.cuff_code]%>
                          </div>
                    </div>
                    <div class="row">
                          <div class="col-sm-5 col-xs-4 shopping-cart-desc-section-left">
                           Pocket:
                          </div>
                          <div class="col-sm-5 col-xs-7 shopping-cart-desc-section-right">
                            <%=ShirtConfiguration::POCKETS[wish.shirt_configuration.pocket_code]%>

                          </div>
                    </div>
                    <div class="row">
                          <div class=" col-sm-5 col-xs-4  shopping-cart-desc-section-left">
                           Button:
                          </div>
                          <div class=" col-sm-5 col-xs-7  shopping-cart-desc-section-right">
                            <%#=ShirtConfiguration::LENGTHS[wish.length_code]%>
                            <% if wish.shirt_configuration.button_code.to_s > "3" %>
                                <%=  Spree::Taxon.where(id: wish.shirt_configuration.button_code).length > 0 ? Spree::Taxon.where(id: wish.shirt_configuration.button_code).first.parent.name + ' w/ ' + (Spree::Taxon.where(id: wish.shirt_configuration.button_code).first.description.present? ? (Spree::Taxon.where(id: wish.shirt_configuration.button_code).first.description.titleize) : (Spree::Taxon.where(id: wish.shirt_configuration.button_code).first.name.titleize + " Thread")) : "button unavailable" %>
                             <%else%>
                                No button
                            <% end %>
                          </div>
                    </div>
                    <div class="row">
                          <div class="col-sm-5 col-xs-4  shopping-cart-desc-section-left">
                            Placket:
                          </div>
                          <div class=" col-sm-5 col-xs-7  shopping-cart-desc-section-right">
                            <%=ShirtConfiguration::PLACKETS[wish.shirt_configuration.placket_code]%>
                          </div>
                    </div>
                    <div class="row">
                          <div class="col-sm-5 col-xs-4  shopping-cart-desc-section-left">
                            Notes:
                          </div>
                          <div class=" col-sm-5 col-xs-7  shopping-cart-desc-section-right">
                            <%=wish.shirt_configuration.comment%>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-xs-11 shopping-cart-desc-section-right">
                         <label>
                          <%= link_to "Edit Options", product_path(variant.product)+'?wished_products_id='+wish.id.to_s+'&wishlist_id='+wish.wishlist_id.to_s, :class => 'sub-link change-details push-left'%>

                          
                        </label>
                        </div>
                    </div>
                  </div>
                  <%end%>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="col-sm-3 col-xs-6">
                        <div class="col-sm-6 col-xs-6  cart-item-price padding-zero" data-hook="cart_item_price">
                          <div class="row">
                              <%= number_to_currency(variant.price) %>
                            </div>
                        
                         <!--  <div class="col-lg-6 col-sm-6 col-xs-4 cart-item-quantity" >
                            <label style="text-align:center">
                              <span>QTY</span>
                              <span class ="line_item_quantity input-xsmall" size="5", readonly="true">
                             1
                              </span>
                           </label>
                          </div> -->

                         </div>
                      </div>
                 
                  <!--Price
                  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                      <%= number_to_currency(variant.price) %>
                    <%= wish.created_at.strftime "%m/%d/%Y" %>
                  </div>-->
                  <div class="col-sm-6 col-xs-6 shopping-cart-desc-section-right" style="float:right;padding:0px;text-transform:capitalize;">
                  
                      <%= link_to "BUY NOW", product,:class=>'sub-link' %>
                  
                    <!--
                      <%= link_to "SHARE",'/wishlist/refer_to_friend/@wishlist.user.id',:method=> 'get', :class=>'sub-link' %>
                    -->
                    <!-- 
                    <%if spree_current_user%>
                      <div class="m-b-xs">
                        <a class="sub-link" data-method="get" href="/wishlist/refer_to_friend/<%=@wishlist.user.id%>">SHARE</a>
                      </div>
                    <%end%>
                     -->
                    <div class="m-b-xs">
                      <%= link_to "DELETE", wish, :method => :delete,:class=>'sub-link',data: { confirm: 'Are you sure?' } %>
                    </div>
                  </div>
                </div>
                   <!-- <div class="row shopping-cart-content-base">
                      <div class="col-lg-9 col-sm-9 col-xs-12">
                          <div>
                            <div class="row">
                              <div class="col-lg-3 col-sm-3 col-xs-4">
                                <span class="shopping-cart-text">Profile</span>
                              </div>
                              <div class="col-lg-9 col-sm-9 col-xs-8 select_box_parent">
                                  <%# if (spree_current_user.profiles.length >= 1)%>
                                    <%#= select_tag "Profiles", options_from_collection_for_select(spree_current_user.profiles, "id", "name", wish.profile_id)%>
                                  <%# else %>
                                      You have no measurement profiles. <%#= link_to "Click here", profiles_path(_return_to: "#{request.fullpath}") %> to input measurements for your custom shirt.
                                  <%#end %>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div> -->
                </div>
              </div>
           </div>
          <%#= form_for :order, :url => populate_orders_url do |f| %>
          <%#= hidden_field_tag "variant_id", variant.id, :size => 3 %>
          <%#= hidden_field_tag "quantity", 1, :size => 3 %>
          <%#= link_to Spree.t(:add_to_cart), '#', :onclick => "$(this).parent().submit(); return false;", :class => "btn btn-primary" %>
          <%# end %>

          <% end -%>
        <% end -%>
        <% else -%>
          <%= Spree.t(:your_wishlist_is_empty) %>
        <% end -%>
</div>
<div class="clear"></div>
<br />
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 m-b-lg">
  <%# if @wishlist.user != spree_current_user %>
  <!-- <h3>Shirts <%=@wishlist.user.first_name %> has already purchased.</h3> -->
  <%# @orders = @wishlist.user.orders %>
  <%#= render :partial => 'spree/shared/shirts_user_has', :locals => { :orders => @orders, :image_type => 'small' } %>
  <%# end %>
</div>


