<p>Hi <%= @virtual_gift_cards_details.recipient_name%>,</p>

<p>Congratulations! You have received a SartorNYC Gift Certificate from <%= (@user.first_name || "") + " " + (@user.last_name || "")%>.</p>

<% if @virtual_gift_cards_details.email_message != nil and @virtual_gift_cards_details.email_message != ""%>
Message from <%= (@user.first_name || "") + " " + (@user.last_name || "")%> : <%= @virtual_gift_cards_details.email_message%>  
<% end %>

<p>Your gift certificate can be applied towards any shopping at SartorNYC.</p>

<p>This gift card entitles you to <strong><%= number_to_currency @virtual_gift_cards_details.amount %></strong> worth of credits and can be used at any time.</p>

<p>Included below are instructions for redeeming your gift certificate.</p>

<p>-Happy Shopping from SartorNYC.</p>

<hr>

<p>Instructions for redeeming your gift certificate:</p>

<p>PLEASE SAVE THIS MESSAGE</p>

<p>Your Gift Certificate code: <strong><%= @virtual_gift_card.redemption_code%></strong></p>

<p>To use your Gift Certificate, all you need to do is either click <a href="http://www.sartornyc.com/account">here</a> or if that link doesn't work follow these five easy steps:</p>

1) Sign on Now! <a href="http://www.sartornyc.com">http://www.sartornyc.com</a><br />
2) If you are already a member just login. If you are not a member then sign-up.<br />
3) Once you are logged, you will get an option to redeem your Gift Certificate under My Accounts Page<br />
4) Enter the code <strong><%= @virtual_gift_card.redemption_code%></strong> under Gift Certificate Code and click the Redeem! button to add credits to your account.<br />

<p>Yours truly,</p>

<p>The Sartor NYC Team</p>

