<div class="field alpha four columns">
  Product Type
</div>
<div class="field omega four columns">
  <%= text_field_tag "#{param_prefix}[preferred_product_type]", promotion_rule.preferred_product_type, :class => 'fullwidth' %>
</div>