<%= render :partial => "spree/admin/variants/autocomplete", :formats => :js %>
<%= render :partial => "spree/admin/variants/autocomplete_stock", :formats => :js %>

<div id="add-line-item" data-hook>
  <fieldset class="no-border-bottom">
    <legend align="center"><%= Spree.t(:add_product) %></legend>
    
    <div data-hook="add_product_name" class="fullwidth" >
      <%= label_tag :add_variant_id, Spree.t(:name_or_sku) %>
      <div align="right" style="padding:0px;margin: 0px">
      <%= check_box_tag 'custom_shirt' %> <%= label_tag 'custom_shirt', Spree.t(:custom_shirt) %>
      </div>
      <%= hidden_field_tag :add_variant_id, "", :class => "variant_autocomplete fullwidth" %>
    </div>

  </fieldset>

  <div id="stock_details"></div>
</div>
