<% customer = Spree::User.find_by(:id => @order.user_id)%>


<fieldset class="no-border-top">
<div data-hook="admin_order_form_fields">
	<div id="select-customer">
  		<fieldset class="no-border-bottom">
    		<legend align="center"><%= Spree.t(:add_customer) %></legend>
				<%= hidden_field_tag :customer_search,  nil, :class => 'alpha thirteen columns' %>
				<%= render :partial => "spree/admin/orders/customer_details/autocomplete", :formats => :js %>
				<a class="button fa fa-plus" href="users/new" icon="plus" >New customer</a>
  		</fieldset>
	</div>


	<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
		<fieldset class="index no-border-bottom" data-hook="customer_guest">
    		<legend align="center"><%= Spree.t(:customer_details) %></legend>
            <% customer = Spree::User.find_by(:id => @order.user_id)%>

			<%if @order.email != nil
				customer_email = @order.email
	 		else
	 			customer_email = ""
	 		end%>

          <%if(customer != nil)%>
	          <% if(customer.first_name == nil) %>
	                <% customer.first_name = "N/A"%>
	          <%end%>

	          <% if(customer.last_name == nil) %>
	              <% customer.last_name = "N/A"%>
	          <%end%>
				<div class="alpha eight columns">
					<div class="field">
						<label>Customer Name:</label>
	                    <label><h3><%=  customer.first_name + " " +  customer.last_name%></h3></label>
					</div>
				</div>
          <%end%>

        <div data-hook="customer_fields" class="row" id = "show_profile" >
            <div class="alpha four columns">
              <div class="field">
              <label>Select Measurement Profile</label><br>
              <% measurement_profiles = {}
                order_profile_id = 1 %>
              <%if (@order.profile_id != nil )
                order_profile_id = @order.profile_id
              end%>
              <%if(customer != nil)
                profiles = Profile.where(:user_id => customer.id)
                profiles.each do |p|
                  measurement_profiles.merge!(p.name => p.id)
                end
              end%>
              <%= select_tag :profile_id, options_for_select(measurement_profiles, order_profile_id), {:class => 'omega three columns', :style=>"margin-left:0px;background-color:white"} %>
              </div>
            </div>
              <%if customer %>
                  <input type="text" class="hidden" id="customer_link_id" value="<%= customer.id %>">
              <% end %>
            <div class="alpha four columns" style="padding-top:20px;padding-left:0px">
              <div class="field">
                <a id="add_profile"  icon="plus" > Create New Measurement Profile</a>
                <span id="add_profile_span"></span>
              </div>
            </div>
            <div class="alpha five columns" style="padding-top:20px;padding-left:0px">
              <div class="field">
                <a id="add_body_profile"  icon="plus" > Create New Body Measurement Profile </a>
              </div>
            </div>
        </div>

		<div class="alpha eight columns">
          <div class="field">
			<%= f.email_field :email, :class => 'alpha eight columns', :value => customer_email, :placeholder => "Enter Email" %>
          </div>
		</div>

        <div class="omega eight columns" style="margin-top:-15px">
			<div class="field">
				<%= label_tag nil, Spree.t(:guest_checkout) %>
				<ul>
					<% if @order.completed? %>
					<li>
						<%= @order.user.nil? ? Spree.t(:say_yes) : Spree.t(:say_no) %>
					</li>
					<% else %>
					<% guest = @order.user.nil? %>
					<li>
						<%= radio_button_tag :guest_checkout, true, guest %>
						<%= label_tag :guest_checkout_true, Spree.t(:say_yes) %>
					</li>
					<li>
						<%= radio_button_tag :guest_checkout, false, !guest, :disabled => @order.cart? %>
						<%= label_tag :guest_checkout_false, Spree.t(:say_no) %>
					</li>
					<%= hidden_field_tag :user_id, @order.user_id %>
					<% end %>
				</ul>
			</div>
		</div>

        </fieldset>

		<div data-hook="ship_address_wrapper">
			<fieldset class="no-border-bottom">
				<legend align="center">
					<%= Spree.t(:shipping_address) %>
				</legend>
				<div align="right">
					<span data-hook="skip_address"> <%= check_box_tag 'skip_address' %>
	                  <%= label_tag 'skip_address', Spree.t(:skip_address) %>
					</span>
	          	</div>
				<%= f.fields_for :ship_address do |sa_form| %>
					<%= render :partial => 'spree/admin/shared/address_form', :locals => { :f => sa_form, :type => 'shipping' } %>
				<% end %>
			</fieldset>
		</div>

		<% content_for :head do %>
			<%= javascript_include_tag 'spree/backend/address_states.js' %>
		<% end %>


	<%= render :partial => 'add_product' if can?(:update, @order) %>

<% if @order.line_items.empty? %>
  <div class="no-objects-found">
    <%= Spree.t(:your_order_is_empty_add_product)%>
  </div>
<% end %>

  <% if @line_item.try(:errors).present? %>
    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @line_item } %>
  <% end %>

  <% if Spree::Order.checkout_step_names.include?(:delivery) %>
    <%= render :partial => "spree/admin/orders/shipment", :collection => @order.shipments, :locals => { :order => @order } %>
  <% else %>
    <%= render :partial => "spree/admin/orders/line_items", :locals => { :order => @order } %>
  <% end %>

	<fieldset class="no-border-bottom">
   		<legend align="center" class="ship-address-title">
			<%= Spree.t(:payment_details) %>
		</legend>
		<span data-hook="payment_unknown" class="omega twelve columns">
			<%= check_box_tag 'payment_unknown', '1', !@order.payment_known %>
			<%= label_tag 'payment_unknown', Spree.t(:payment_unknown) %>
		</span>
		<% if can?(:index, Spree::Payment) %>
        	<%= link_to_with_icon 'credit-card', Spree.t(:payments), admin_order_payments_url(@order), :id=>"payment-link"%>
    	<% end %>
		<%if @order.payment_known%>
			<div class="field tax_rate_label">
				<input type="number" id="tax_amount" name="tax_amount" <%if @order.tax_amount != nil%>value="<%=@order.tax_amount.to_s%>"<%end%>, placeholder= "Enter tax amount" >
			</div>
		<%end%>

   </fieldset>

	<fieldset class="no-border-bottom">
		<legend align="center" class="ship-address-title">
			<%= Spree.t(:add_adjustments) %>
		</legend>
	    <div data-hook="admin_adjustment_form_fields">

			<div class="alpha four columns" style="padding-top:5px">
				<%= number_field  :adjustment, :amount, :class => 'fullwidth', id: 'adjustment_amount', :placeholder => "Amount"%>
			</div>
			<div class="omega eleven columns" style="padding-top:5px">
				<%= text_field :adjustment, :label, :class => 'fullwidth', id: 'adjustment_text', :placeholder => "Description" %>
			</div>

			<table class="omega one columns">
				<tbody>
					<td class="actions">
					<%= link_to '', '#', :class => 'add-adjustment no-text fa fa-plus icon_link with-tip', :data => {'order-number' => @order.number, :action => 'add_adjustment'}, :title => "Add new adjustment" %>
				</td>
				</tbody>
			</table>
		</div>
	</fieldset>

  <%= render :partial => "spree/admin/orders/adjustments", :locals => {
        :adjustments => @order.line_item_adjustments,
        :order => @order,
        :title => Spree.t(:line_item_adjustments)
   } %>
  <%= render :partial => "spree/admin/orders/adjustments", :locals => {
        :adjustments => @order.shipment_adjustments,
        :order => @order,
        :title => Spree.t(:shipment_adjustments)
   } %>
  <%= render :partial => "spree/admin/orders/adjustments", :locals => {
        :adjustments => @order.adjustments,
        :order => @order,
        :title => Spree.t(:order_adjustments)
   } %>

	<div>
		Set Order Date: <%= select_date @order.offline_order_date || Date.today, prefix: :offline_order_date %>
	</div>

  <%= render :partial => "spree/admin/orders/order_summary", :locals => {
        :order => @order,
        :title => Spree.t(:order_summary)
   } %>

  <% if @order.line_items.exists? %>
    <fieldset class="no-border-bottom" id="order-total" data-hook="order_details_total">
      <legend><%= Spree.t(:order_total) %></legend>
      <span class="order-total"><%= @order.display_total %></span>
    </fieldset>
  <% end %>

  	<div class="form-buttons filter-actions actions" data-hook="buttons">
		<%= button Spree.t('actions.update'), 'refresh' %>
	</div>

  <%= javascript_tag do -%>
    var order_number = '<%= @order.number %>';
    var shipments = [];

    <% @order.shipments.each do |shipment| %>
      shipments.push(<%== shipment.to_json(:root => false, :include => [:inventory_units, :stock_location]) %>);
    <% end %>

    <%= render :partial => 'spree/admin/shared/update_order_state', :handlers => [:js] %>
  <% end -%>
</div>
</fieldset>
