<fieldset class="no-border-bottom">
    <legend><%= title %></legend>
    <table>
    	<colgroup>
      		<col style="width: 25%;" />
      		<col style="width: 25%;" />
      		<col style="width: 25%;" />
      		<col style="width: 25%;" />
    	</colgroup>
      	<tbody id="order-charges" data-hook="order_details_adjustments"  class="with-border">
          <tr>
            <td colspan="2">Order Status</td>
            <td colspan="2"><span class="state <%= @order.state %>"><%= Spree.t(@order.state, :scope => :order_state) %></span></td>
          </tr>
          <tr>
            <td>Shipment Total</td>
            <td><%= @order.display_shipment_total.to_html %></td>
            <td>Adjustment Total</td>
            <td><%= @order.display_adjustment_total.to_html %></td>
          </tr>
          <% if @order.manual_order != true %>
          <tr>
            <td>Included Tax Total</td>
            <td><%= @order.display_included_tax_total.to_html %></td>
            <td>Additional Tax Total</td>
            <td><%= @order.display_additional_tax_total.to_html %></td>
          </tr>
          <tr>
            <td>Custom Tax Total</td>
            <td><%= @order.display_custom_tax_total.to_html %></td>
            <td>Total Tax</td>
            <td><%= @order.display_tax_total.to_html %></td>
          </tr>
          <% end %>
          <tr>
            <td>Sub Total</td>
            <td><%= @order.display_item_total.to_html %></td>
            <td>Order Total</td>
            <td><%= @order.display_total.to_html %></td>
          </tr>
          <% if @order.completed? %>
          <tr>
		      <td><%= Spree.t(:shipment) %>: </td>
		      <td id='shipment_status'><span class="state <%= @order.shipment_state %>"><%= Spree.t(@order.shipment_state, :scope => :shipment_states, :default => [:missing, "none"]) %></span></td>
		      <td><%= Spree.t(:payment) %>: </td>
		      <td><span class="state <%= @order.payment_state %>"><%= Spree.t(@order.payment_state, :scope => :payment_states, :default => [:missing, "none"]) %></span></td>
      	  </tr>
    	  <% end %>
          <% if @order.approved? %>
          <tr>
            <td><%= Spree.t(:approver) %></td>
            <td><%= @order.approver.email %></td>
            <td><%= Spree.t(:approved_at) %></td>
            <td><%= pretty_time(@order.approved_at) %></td>
          </tr>
          <% end %>
      	</tbody>
    </table>
</fieldset>
