<% shipment.manifest.each do |item| %>
	<% line_item = item.line_item %>

	<%sartor_discount = 0;
      	custom_adjustments = item.line_item.adjustments.where(:source_type  => 'Spree::LineItem', :source_id => item.line_item.id);
      	custom_adjustments.each do |a|
      		sartor_discount = sartor_discount + a.amount
    	end%>

	<%total_price = item.line_item.price * item.quantity%>

	<%
    collar_code = 1
		cuff_code = 1
		pocket_code = 1
    fit_code = 1
    length_code = 1
    button_code = 1
		placket_code = 1
		measurement_profile_id = 1
	%>
	<% if item.variant.product.product_type == "SHIRT" ||  item.variant.product.product_type == "CUSTOMSHIRT" && line_item.shirt_configuration != nil %>
		<%collar_code = line_item.shirt_configuration.collar_code%>
		<%cuff_code = line_item.shirt_configuration.cuff_code%>
		<%pocket_code = line_item.shirt_configuration.pocket_code%>
    <%fit_code = line_item.shirt_configuration.fit_code%>
    <%length_code = line_item.shirt_configuration.length_code%>
    <%button_code = line_item.shirt_configuration.button_code%>
		<%placket_code = line_item.shirt_configuration.placket_code%>
	  	<%measurement_profile_id = line_item.profile_id%>
	<% end %>
	<% if line_item.parent_lineitem != nil
		parent_line_item_id = line_item.parent_lineitem.id
	else
		parent_line_item_id = nil
	end %>

  <tr class="stock-item" data-item-quantity="<%= item.quantity %>" data-item-total-price="<%= total_price + sartor_discount %>"
    data-item-collar-id="<%= collar_code %>"
    data-item-cuff-id="<%= cuff_code %>"
    data-item-pocket-id="<%= pocket_code %>"
    data-item-fit-id="<%= fit_code %>"
    data-item-length-id="<%= length_code %>"
    data-item-button-id="<%= button_code %>"
    data-item-placket-id="<%= placket_code %>"
    data-item-note="<%= line_item.note %>"
    data-item-profile-id="<%= measurement_profile_id %>"
    data-item-line-item-id="<%= line_item.id %>"
    data-item-parent-line-item-id="<%= parent_line_item_id %>">

    <td rowspan="3" class="item-image">
      <%= mini_image(item.variant) %>
    </td>
    <td rowspan="3" class="item-name">
      <%= item.variant.product.name %><br><%= "(" + variant_options(item.variant) + ")" unless item.variant.option_values.empty? %>
      <% if item.variant.sku.present? %>
        <strong><%= Spree.t(:sku) %>:</strong> <%= item.variant.sku %>
      <% end %>
			<br/>

      <div class="job-number-show">
        Job Number:<%= line_item.job_number || "Not Yet Assigned" %>
      </div>
      <div class="job-number-edit hidden">
        Job Number:<%= text_field_tag "job_number"+line_item.id.to_s, line_item.job_number, :min => 0, :size => 5 %>
      </div>

			<% if line_item.product.product_type == 'SHIRT' || line_item.product.product_type == "CUSTOMSHIRT" %>
			<% unless (line_item.shirt_configuration) %>

			This shirt is has no options selected.
			<% else %>
				<table class="table table-small table-no-line table-no-header-line table-nonfluid">
					<thead>
						<th colspan="3">Shirt Configuration</th>
					</thead>
					<tbody>
						<tr>
							<td>Measurements</td>
							<td>
		          				<%= line_item.profile ? line_item.profile.name : "Profile missing" %>
							</td>
						</tr>

            <%
                shirt_configuration = ShirtConfiguration.new()
                collar_codes = shirt_configuration.get_collar_types
                cuff_codes = shirt_configuration.get_cuff_types
                pocket_codes = shirt_configuration.get_pocket_types
                fit_codes = shirt_configuration.get_fit_types
                length_codes = shirt_configuration.get_length_types
                button_codes = shirt_configuration.get_button_types
                placket_codes = shirt_configuration.get_placket_types
               %>
						<tr>
							<td>Collar</td>
							<td class="shirt-collar-show">
								<%= line_item.shirt_configuration.collar_name %>
							</td>
              <% if line_item.shirt_configuration.collar_code  != nil %>
  							<td class="shirt-collar-edit hidden">
  								<%= select_tag "item_collar_" + line_item.id.to_s, options_for_select(collar_codes, collar_code) %>
  							</td>
              <% end %>
						</tr>
						<tr>
							<td>Cuff / Sleeve</td>
							<td class="shirt-cuff-show">
								<%= line_item.shirt_configuration.cuff_name %>
							</td>
              <% if line_item.shirt_configuration.cuff_code  != nil %>
  							<td class="shirt-cuff-edit hidden">
  								<%= select_tag "item_cuff_" + line_item.id.to_s, options_for_select(cuff_codes, cuff_code) %>
  							</td>
              <% end %>
						</tr>
						<tr>
							<td>Pocket</td>
							<td class="shirt-pocket-show ">
								<%= line_item.shirt_configuration.pocket_name %>
							</td>
              <% if line_item.shirt_configuration.pocket_code  != nil %>
  							<td class="shirt-pocket-edit hidden">
  								<%= select_tag "item_pocket_" + line_item.id.to_s, options_for_select(pocket_codes, pocket_code) %>
  							</td>
              <%end%>
						</tr>
            <tr>
              <td>Fit</td>
              <td class="shirt-fit-show ">
                <%= line_item.shirt_configuration.fit_name %>
              </td>
              <% if line_item.shirt_configuration.fit_code  != nil %>
              <td class="shirt-fit-edit hidden">
                <%= select_tag "item_fit_" + line_item.id.to_s, options_for_select(fit_codes, fit_code) %>
              </td>
              <% end %>
            </tr>
            <tr>
              <td>Length</td>
              <td class="shirt-length-show ">
                <%= line_item.shirt_configuration.lengths_name %>
              </td>
              <% if line_item.shirt_configuration.length_code  != nil %>
                <td class="shirt-length-edit hidden">
                  <%= select_tag "item_length_" + line_item.id.to_s, options_for_select(length_codes, length_code) %>
                </td>
              <% end %>
            </tr>
            <tr>
              <td>Button</td>
              <td class="shirt-button-show ">
                <%= line_item.shirt_configuration.button_name %>
              </td>
              <% if line_item.shirt_configuration.button_code  != nil %>
                <td class="shirt-button-edit hidden">
                  <%= select_tag "item_button_" + line_item.id.to_s, options_for_select(button_codes, button_code) %>
                </td>
              <% end %>
            </tr>
            <tr>
              <td>Placket</td>
              <td class="shirt-placket-show ">
                <%= line_item.shirt_configuration.placket_name %>
              </td>
              <% if line_item.shirt_configuration.placket_code  != nil %>
              <td class="shirt-placket-edit hidden">
                <%= select_tag "item_placket_" + line_item.id.to_s, options_for_select(placket_codes, placket_code) %>
              </td>
              <% end %>
            </tr>
					</tbody>
				</table>
			<% end %>
			<% else %>
				<% if line_item.product.product_type == 'VIRTUALGIFTCARD' || (line_item.parent_lineitem != nil && line_item.parent_lineitem.product.product_type == 'VIRTUALGIFTCARD')%>
					This is a gift item.</br>
					<% gift_card_details = VirtualGiftCardsDetails.find_by(:line_item_id => line_item.id)
					if gift_card_details == nil && line_item.parent_lineitem != nil
						parent_line_item = line_item.parent_lineitem
						gift_card_details = VirtualGiftCardsDetails.find_by(:line_item_id => parent_line_item.id)
					end %>
					<% if gift_card_details != nil %>
						<% if gift_card_details.ship_address_id != nil && gift_card_details.card_type == 'physical'%>
							<%address = Spree::Address.find_by(:id => gift_card_details.ship_address_id)%>
							<table>
								<colgroup>
								      <col style="width: 30%;" />
								      <col style="width: 70%;" />
								</colgroup>
								<tr>
									<td>Name</td>
									<td><%= (address.firstname || "") + " " + (address.lastname || "")%></td>
								</tr>
								<tr>
									<td>Address 1</td>
									<td><%= address.address1 || ""%></td>
								</tr>
								<tr>
									<td>City</td>
									<td><%= address.city || ""%></td>
								</tr>
								<tr>
									<td>Zipcode</td>
									<td><%= address.zipcode || ""%></td>
								</tr>
								<tr>
									<td>Phone</td>
									<td><%= address.phone || ""%></td>
								</tr>
								<tr>
									<td>State</td>
									<td><%= Spree::State.find_by(:id => address.state_id).name || ""%></td>
								</tr>
								<tr>
									<td>Country</td>
									<td><%= Spree::Country.find_by(:id => address.country_id).name || ""%></td>
								</tr>
							</table>
						<% else %>
							This is supposed to be sent via e-mail.
						<% end %>
					<% end %>
				<% else%>
				<% end %>
			<% end %>
    </td>
    <td class="item-price-show align-center"><%= item.line_item.single_money.to_html %></td>
    <td class="item-price-edit hidden">
       <%= number_field_tag :price, item.line_item.price, :min => 0, :class => "line_item_price", :size => 5 %>
    </td>

    <td class="item-discount-show align-center">
    	<%= Spree::Money.new(sartor_discount * -1, { currency: line_item.currency }) %><br/>
    </td>


    <td class="item-total align-center"><%= Spree::Money.new(total_price + sartor_discount, { currency: line_item.currency })%></td>

    <% unless shipment.shipped? %>
      <td class="cart-item-delete actions" data-hook="cart_item_delete">
        <% if can? :update, item %>
          <%= link_to '', '#', :class => 'save-item fa fa-check no-text with-tip', :data => {'shipment-number' => shipment.number, 'line-item-id' => item.line_item.id, 'line-item-price' => item.line_item.price, 'variant-id' => item.variant.id, :action => 'save'}, :title => Spree.t('actions.save'), :style => 'display: none' %>
          <%= link_to '', '#', :class => 'cancel-item fa fa-cancel no-text with-tip', :data => {:action => 'cancel'}, :title => Spree.t('actions.cancel'), :style => 'display: none' %>
          <%= link_to '', '#', :class => 'edit-item fa fa-edit no-text with-tip', :data => {:action => 'edit'}, :title => Spree.t('edit') %>
          <%= link_to '', '#', :class => 'split-item icon_link fa fa-arrows-h no-text with-tip', :data => {:action => 'split', 'variant-id' => item.variant.id, 'item-total-price' => (total_price + sartor_discount)}, :title => Spree.t('split') %>
          <%= link_to '', '#', :class => 'delete-item fa fa-trash no-text with-tip', :data => { 'shipment-number' => shipment.number, 'line-item-id' => item.line_item.id, 'variant-id' => item.variant.id, :action => 'remove'}, :title => Spree.t('delete') %>
        <% end %>
      </td>
    <% end %>
  </tr>
  <tr>
  	<td rowspan="2" colspan="3">
  		<table>
  		<thead>
  			<th>Notes</th>
  		</thead>
  		<tbody>

  			<tr>
  				<td class="item-note-show align-center"><%= item.line_item.note %></td>
    			<td class="item-note-edit hidden"  align="center">
       				<%= text_area_tag "notes_" + line_item.id.to_s, item.line_item.note, :class=>'line_item_notes', :size => '40*20' %>
    			</td>
  			</tr>
  		</tbody>
  	</table>
  	</td>
  </tr>
  <tr>

  </tr>
<% end %>
