<% shipment.manifest.each do |item| %>
	<% line_item = item.line_item %>

  	<%sartor_discount = 0;
      	custom_adjustments = item.line_item.adjustments.where(:source_type  => 'Spree::LineItem', :source_id => item.line_item.id);
      	custom_adjustments.each do |a|
      		sartor_discount = sartor_discount + a.amount
    	end%>
  	<%total_price = item.line_item.price * item.quantity%>

	<%	collar_code = 1
		cuff_code = 1
		pocket_code = 1
		fit_code = 1
		length_code = 1
    button_code = 1
    placket_code =1
		measurement_profile_id = 1
	%>
	<% if item.variant.product.product_type == "SHIRT" && line_item.shirt_configuration != nil %>
		<%collar_code = line_item.shirt_configuration.collar_code%>
		<%cuff_code = line_item.shirt_configuration.cuff_code%>
		<%pocket_code = line_item.shirt_configuration.pocket_code%>
		<%fit_code = line_item.shirt_configuration.fit_code%>
		<%length_code = line_item.shirt_configuration.length_code%>
    <%button_code = line_item.shirt_configuration.button_code%>
    <%placket_code = line_item.shirt_configuration.placket_code%>
	  	<%measurement_profile_id = line_item.profile_id%>
	<% end %>

	<tr class="stock-item">

    	<td rowspan="3" class="item-image">
      		<%= mini_image(item.variant) %>
    	</td>
    	<td rowspan="3" class="item-name">
      		<%= item.variant.product.name %><br><%= "(" + variant_options(item.variant) + ")" unless item.variant.option_values.empty? %>
      		<% if item.variant.sku.present? %>
        		<strong><%= Spree.t(:sku) %>:</strong> <%= item.variant.sku %>
      		<% end %>
      	<br/>
      	<% if line_item.product.product_type == 'SHIRT' %>
	      	<% unless (line_item.shirt_configuration) %>
	      		This shirt is has no options selected.
	      	<% else %>
	        	<table class="table table-small table-no-line table-no-header-line table-nonfluid">
	          	<thead>
	            		<th colspan="3">Shirt Configuration</th>
	          	</thead>
	          	<tbody>
	            		<tr>
	              			<td>Measurements</td>
	              			<td>
	                      			<%= line_item.profile ? line_item.profile.name : "Profile missing" %>
	              			</td>
	            		</tr>
	            		<tr>
	              			<td>Collar</td>
	              			<td class="shirt-collar-show">
	                			<%= line_item.shirt_configuration.collar_name %>
	              			</td>
	            		</tr>
	            		<tr>
	              			<td>Cuff / Sleeve</td>
	              			<td class="shirt-cuff-show">
	                			<%= line_item.shirt_configuration.cuff_name %>
	              			</td>
	            		</tr>
	            		<tr>
	              			<td>Pocket</td>
	              			<td class="shirt-pocket-show ">
	                			<%= line_item.shirt_configuration.pocket_name %>
	              			</td>
	            		</tr>
	            		<tr>
	              			<td>Fit</td>
	              			<td class="shirt-fit-show">
	                			<%= line_item.shirt_configuration.fit_name %>
	              			</td>
	            		</tr>
	                	<tr>
	                  		<td>Length</td>
	                  		<td class="shirt-length-show">
	                    			<%= line_item.shirt_configuration.length_name %>
	                  		</td>
	                	</tr>
                    <tr>
                        <td>Button</td>
                        <td class="shirt-button-show">
                            <%= line_item.shirt_configuration.button_name %>
                        </td>
                    </tr>
                    <tr>
                        <td>Placket</td>
                        <td class="shirt-placket-show">
                            <%= line_item.shirt_configuration.placket_name %>
                        </td>
                    </tr>
	          		</tbody>
	        		</table>
	      	<% end %>
      	<% else %>
		<% if line_item.product.product_type == 'VIRTUALGIFTCARD' || (line_item.parent_lineitem != nil && line_item.parent_lineitem.product.product_type == 'VIRTUALGIFTCARD')%>
			This is a gift item.</br>
			<% gift_card_details = VirtualGiftCardsDetails.find_by(:line_item_id => line_item.id)
			if gift_card_details == nil && line_item.parent_lineitem != nil
				parent_line_item = line_item.parent_lineitem
				gift_card_details = VirtualGiftCardsDetails.find_by(:line_item_id => parent_line_item.id)
			end %>
			<% if gift_card_details != nil %>
				<% if gift_card_details.ship_address_id != nil && gift_card_details.card_type == 'physical'%>
					<%address = Spree::Address.find_by(:id => gift_card_details.ship_address_id)%>
					<table>
						<colgroup>
						      <col style="width: 30%;" />
						      <col style="width: 70%;" />
						</colgroup>
						<tr>
							<td>Name</td>
							<td><%= (address.firstname || "") + " " + (address.lastname || "")%></td>
						</tr>
						<tr>
							<td>Address 1</td>
							<td><%= address.address1 || ""%></td>
						</tr>
						<tr>
							<td>Address 2</td>
							<td><%= address.address2 || ""%></td>
						</tr>
						<tr>
							<td>City</td>
							<td><%= address.city || ""%></td>
						</tr>
						<tr>
							<td>Zipcode</td>
							<td><%= address.zipcode || ""%></td>
						</tr>
						<tr>
							<td>Phone</td>
							<td><%= address.phone || ""%></td>
						</tr>
						<tr>
							<td>State</td>
							<td><%= Spree::State.find_by(:id => address.state_id).name || ""%></td>
						</tr>
						<tr>
							<td>Country</td>
							<td><%= Spree::Country.find_by(:id => address.country_id).name || ""%></td>
						</tr>
					</table>
				<% else %>
					This is supposed to be sent via e-mail.
				<% end %>
			<% end %>
		<% else%>
		<% end %>
	<% end %>
    	</td>
    	<td class="item-price-show align-center"><%= item.line_item.single_money.to_html %></td>

    	<td class="item-discount-show align-center">
      		<%= Spree::Money.new(sartor_discount * -1, { currency: line_item.currency }) %><br/>
    	</td>
    	<td class="item-total align-center"><%= Spree::Money.new(total_price + sartor_discount, { currency: line_item.currency })%></td>
  	</tr>
  	<tr>
    		<td rowspan="2" colspan="3">
      		<table>
	      		<thead>
	        		<th>Notes</th>
	      		</thead>
	      		<tbody>
	        		<tr>
	          			<td class="item-note-show align-center"><%= item.line_item.note %></td>
	        		</tr>
	      		</tbody>
    		</table>
    		</td>
  	</tr>
  	<tr>

  	</tr>
<% end %>
