<% content_for :page_actions do %>
    <% if can?(:admin, Spree::Order) %>
        <li><%= button_link_to Spree.t(:edit_order), edit_admin_order_path(@order), :icon => '' %></li>
    <% end %>
    <% if can?(:admin, Spree::Order) %>
        <li><%= button_link_to Spree.t(:back_to_orders_list), admin_orders_path, :icon => 'arrow-left' %></li>
    <% end %>
    <% content_for :page_title do %>
        <%= link_to "#{Spree.t(:order)} ##{@order.number}" %>
    <% end %>
<% end %>
<div>
<div class="alpha six columns">
<h5>Order Type:
<% if @order.manual_order == true %>
    Manual Order
<% else %>
    Customer Order
<% end %></h5>
</div>
<div class="alpha six columns">
<% if can?(:index, Spree::Payment) %>
	<%= link_to Spree.t(:payments), admin_order_payments_url(@order), :id=>"payment-link", :class => "button pull-right" %>
<% end %>
</div>
</div>
<fieldset class="index no-border-bottom" data-hook="customer_guest">
    <legend align="center"><%= Spree.t(:customer_details) %></legend>
    <% customer = Spree::User.find_by(:id => @order.user_id)%>

    <%if @order.email != nil
        customer_email = @order.email
    else
        customer_email = ""
    end%>

    <%if(customer != nil)%>
        <% if(customer.first_name == nil) %>
            <% customer.first_name = "N/A"%>
        <%end%>
        <% if(customer.last_name == nil) %>
            <% customer.last_name = "N/A"%>
        <%end%>
        <div class="alpha eight columns">
            <div class="field">
                <label>Customer Name:</label>
                <label><h5><%=  customer.first_name + " " +  customer.last_name%></h5></label>
                Email: <%=customer_email%><br />
            </div>
        </div>
    <%end%>
    	<!--
        <div class="alpha four columns">
            <h6><%= Spree.t(:billing_address) %></h6>
            <% if @order.bill_address_id != nil %>
                <%= render :partial => 'spree/shared/address', :locals => {:address => @order.bill_address} %>
            <% else %>
                Billing address not available.
            <% end %>
        </div>-->
        <div class="alpha four columns">
            <h6><%= Spree.t(:shipping_address) %></h6>
            <!--
                TODO: Following condition needs to improve.
            -->
            <% if @order.ship_address_id != nil && @order.ship_address.city != "N/A" %>
                <%= render :partial => 'spree/shared/address', :locals => {:address => @order.ship_address} %>
            <% else %>
                Shipping address not available.
            <% end %>
        </div>

</fieldset>
<% content_for :sidebar_title do %>
    <%= Spree.t(:order_information) %>
<% end %>
<% content_for :sidebar do %>
    <%= render "spree/admin/shared/order_summary", checkout_steps: @order.checkout_steps %>
<% end %>

<fieldset class="index no-border-bottom" data-hook="customer_guest">
    <legend align="center"><%= Spree.t(:products_details) %></legend>
    <!-- <%#= render :partial => "spree/admin/orders/shipment_show", :collection => @order.shipments, :locals => { :order => @order } %> -->
    <%= link_to "Show shirt details", '#', id: "show-shirt-details" %>
    <div class="pull-right">
        Update Status to :
        <%=collection_select :shipment, :stock_location, @stock_locations_for_select, :id, :name, {class: 'selectpicker chosen-select'} %>
        <button type="button" id="update-status" name="update-status" style="margin-bottom: 10px;">Update</button>
    </div>
    <input type="hidden" id="order-id" name = "order-id" value="<%= @order.number %>">
    <table id = 'show-mock-up-table'>
        <colgroup>
        	<col style="width: 7%;" />
      		<col style="width: 15%;" />
      		<col style="width: 20%;" />
      		<col style="width: 20%;" />
      		<col style="width: 13%;" />
      		<col style="width: 20%;" />
        </colgroup>
        <thead>
            <th align="center">  <input type="checkbox" name = "select_all" id = "select_all_checkbox" > </th>
            <th>Job #</th>
            <th>Status</th>
            <th>Shipment</th>
            <th>SKU</th>
            <th>Name</th>
        </thead>
        <tbody>
            <%@order.inventory_units.each do |unit|%>
                <%line_item = unit.line_item%>
                <tr>
                <td align="center">
                  <input type="hidden" id="inventory-unit-state_<%=line_item.id%>" name = "inventory-unit-state_<%=line_item.id%>" value="<%= unit.state %>">
                	<input type="checkbox" id = "checkbox_<%=line_item.id%>" name = "checkbox_<%=line_item.id%>">
                </td>
                <td>
                    <% if line_item.job_number == nil || line_item.job_number == ""%>
                        <%= text_field(:job, line_item.id, size: 5) %>
                    <% else %>
                    <div align="center"><%= line_item.job_number %></div>

                    <% end %>
                </td>
                <td align="center"><%=unit.shipment.stock_location.status%></td>
                <td align="center"><%=unit.shipment.number%></td>
                <td align="center"><%=line_item.variant.sku%></td>
                <td align="center"><%=line_item.product.name%></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <button type="button" id = "save_jobs">Save Job #s</button>
    <br/><br/>

    <% at_least_one_shipment_is_shipped = false %>

    <% @order.shipments.each do |shipment| %>
      <% if shipment.state == "shipped" %>
        <% at_least_one_shipment_is_shipped = true %>
        <% break %>
      <% end %>
    <% end %>

    <% if at_least_one_shipment_is_shipped %>
      <table>
        <colgroup>
          <col style="width: 46%;" />
          <col style="width: 46%;" />
          <col style="width: 8%;" />
        </colgroup>
        <thead>
          <th>Shipment Number</th>
          <th>Tracking number</th>
        </thead>
        <tbody>
          <% @order.shipments.shipped.each do |shipment| %>
              <tr>
                <td align="center"><%=shipment.number%></td>
                <% if shipment.tracking != nil and shipment.tracking != "" %>
                  <td align="center"><%=shipment.tracking%></td>
                <% else %>
                  <td><input type="text" id="tracking-number-<%=shipment.number%>" name="tracking-number-<%=shipment.number%>"></td>
                <% end %>
                <td class="actions">
                <% if shipment.tracking == nil || shipment.tracking == "" %>
                    <%= link_to '', '#', :class => 'add-tracking-number fa fa-plus no-text with-tip', :data => {'shipment-number' => shipment.number, :action => 'add'}, :title => "Add Tracking Number" %>
                <% end %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <br/><br/>
    <%@order.inventory_units.each do |item|%>
    <% line_item = item.line_item %>
    <%sartor_discount = 0;
        custom_adjustments = item.line_item.adjustments.where(:source_type  => 'Spree::LineItem', :source_id => item.line_item.id);
        custom_adjustments.each do |a|
            sartor_discount = sartor_discount + a.amount
        end%>
    <%total_price = item.line_item.price * 1 %>

    <%  collar_code = 1
        cuff_code = 1
        pocket_code = 1
        fit_code = 1
        length_code = 1
        button_code = 1
        placket_code = 1
        measurement_profile_id = 1
    %>
    <% if item.variant.product.product_type == "SHIRT" || item.variant.product.product_type == "CUSTOMSHIRT" && line_item.shirt_configuration != nil %>
        <%collar_code = line_item.shirt_configuration.collar_code%>
        <%cuff_code = line_item.shirt_configuration.cuff_code%>
        <%pocket_code = line_item.shirt_configuration.pocket_code%>
        <%fit_code = line_item.shirt_configuration.fit_code%>
        <%length_code = line_item.shirt_configuration.length_code%>
        <%button_code = line_item.shirt_configuration.button_code%>
        <%placket_code = line_item.shirt_configuration.placket_code%>
        <%measurement_profile_id = line_item.profile_id%>
    <% end %>
    <table class="stock-contents index line_item_details_<%=line_item.id%>" data-hook="stock-contents">
    <colgroup>
        <col style="width: 10%;" />
        <col style="width: 45%;" />
        <col style="width: 15%;" />
        <col style="width: 15%;" />
        <col style="width: 15%;" />
    </colgroup>
    <thead>
        <th colspan="2"><%= Spree.t(:item_description) %></th>
        <th><%= Spree.t(:price) %></th>
        <th><%= Spree.t(:discount) %></th>
        <th><%= Spree.t(:total) %></th>
    </thead>
    <tbody >
    <tr class="stock-item">
        <td rowspan="3" class="item-image">
            <%= mini_image(item.variant) %>
        </td>
        <td rowspan="3" class="item-name">
            <%= item.variant.product.name %><br><%= "(" + variant_options(item.variant) + ")" unless item.variant.option_values.empty? %>
            <% if item.variant.sku.present? %>
                <strong><%= Spree.t(:sku) %>:</strong> <%= item.variant.sku %>
            <% end %>
        <br/>
        <% if line_item.product.product_type == 'SHIRT' || line_item.product.product_type == 'CUSTOMSHIRT' %>
            <% unless (line_item.shirt_configuration) %>
                This shirt is has no options selected.
            <% else %>
                <table class="table table-small table-no-line table-no-header-line table-nonfluid">
                <thead>
                        <th colspan="3">Shirt Configuration</th>
                </thead>
                <tbody>
                        <tr>
                            <td>Measurements</td>
                            <td>
                                <%= line_item.profile ? line_item.profile.name : "Profile missing" %>
                            </td>
                        </tr>
                        <tr>
                            <td>Collar</td>
                            <td class="shirt-collar-show">
                                <%= line_item.shirt_configuration.collar_name %>
                            </td>
                        </tr>
                        <tr>
                            <td>Cuff / Sleeve</td>
                            <td class="shirt-cuff-show">
                                <%= line_item.shirt_configuration.cuff_name %>
                            </td>
                        </tr>
                        <tr>
                            <td>Pocket</td>
                            <td class="shirt-pocket-show ">
                                <%= line_item.shirt_configuration.pocket_name %>
                            </td>
                        </tr>
                        <tr>
                            <td>Fit</td>
                            <td class="shirt-fit-show">
                                <%= line_item.shirt_configuration.fit_name %>
                            </td>
                        </tr>
                        <tr>
                            <td>Length</td>
                            <td class="shirt-length-show">
                                <%= line_item.shirt_configuration.length_name %>
                            </td>
                        </tr>
                        <tr>
                            <td>Button</td>
                            <td class="shirt-button-show">
                                <%= line_item.shirt_configuration.button_name %>
                            </td>
                        </tr>
                        <tr>
                            <td>Placket</td>
                            <td class="shirt-placket-show">
                                <%= line_item.shirt_configuration.placket_name %>
                            </td>
                        </tr>
                    </tbody>
                    </table>
            <% end %>
        <% else %>
        <% if line_item.product.product_type == 'VIRTUALGIFTCARD' || (line_item.parent_lineitem != nil && line_item.parent_lineitem.product.product_type == 'VIRTUALGIFTCARD')%>
            This is a gift item.</br>
            <% gift_card_details = VirtualGiftCardsDetails.find_by(:line_item_id => line_item.id)
            if gift_card_details == nil && line_item.parent_lineitem != nil
                parent_line_item = line_item.parent_lineitem
                gift_card_details = VirtualGiftCardsDetails.find_by(:line_item_id => parent_line_item.id)
            end %>
            <% if gift_card_details != nil %>
                <% if gift_card_details.ship_address_id != nil && gift_card_details.card_type == 'physical'%>
                    <%address = Spree::Address.find_by(:id => gift_card_details.ship_address_id)%>
                    <table>
                        <colgroup>
                              <col style="width: 30%;" />
                              <col style="width: 70%;" />
                        </colgroup>
                        <tr>
                            <td>Name</td>
                            <td><%= (address.firstname || "") + " " + (address.lastname || "")%></td>
                        </tr>
                        <tr>
                            <td>Address 1</td>
                            <td><%= address.address1 || ""%></td>
                        </tr>
                        <tr>
                            <td>Address 2</td>
                            <td><%= address.address2 || ""%></td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td><%= address.city || ""%></td>
                        </tr>
                        <tr>
                            <td>Zipcode</td>
                            <td><%= address.zipcode || ""%></td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td><%= address.phone || ""%></td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td><%= Spree::State.find_by(:id => address.state_id).name || ""%></td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td><%= Spree::Country.find_by(:id => address.country_id).name || ""%></td>
                        </tr>
                    </table>
                <% else %>
                    This is supposed to be sent via e-mail.
                <% end %>
            <% end %>
        <% else%>
        <% end %>
    <% end %>
    </td>
    <td class="item-price-show align-center"><%= item.line_item.single_money.to_html %></td>
    <td class="item-discount-show align-center">
        <%= Spree::Money.new(sartor_discount * -1, { currency: line_item.currency }) %><br/>
    </td>
    <td class="item-total align-center"><%= Spree::Money.new(total_price + sartor_discount, { currency: line_item.currency })%></td>
    </tr>
    <tr>
        <td rowspan="2" colspan="3">
        <table>
            <thead>
                <th>Notes</th>
            </thead>
            <tbody>
                <tr>
                    <td class="item-note-show align-center"><%= item.line_item.note %></td>
                </tr>
            </tbody>
        </table>
        </td>
    </tr>
    <tr></tr>

    </tbody>
    </table>
<% end %>
</fieldset>
