

This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.

<br/>
<h2>What information do we collect?</h2>

When ordering or registering on our site, as appropriate, you may be asked to enter your Name, Email address, Mailing address, Phone number, Credit card information or other details to help you with your experience.

<br/>
<h2>When do we collect information?</h2>

We collect information from you when you register on our site, place an order or enter information on our site.

<br/>
<h2>How do we use your information?</h2>

We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
<ul>
	<li>To personalize user's experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
	<li>To allow us to better service you in responding to your customer service requests.</li>
	<li>To administer a contest, promotion, survey or other site feature.</li>
	<li>To quickly process your transactions.</li>
	<li>To send periodic emails regarding your order or other products and services.</li>
</ul>

<br/>
<h2>How do we protect visitor information?</h2>

We use vulnerability scanning and/or scanning to PCI standards.
We use an SSL certificate.

We implement security measures when a user:
<ul>
	<li>places an order.</li>
	<li>enters, submits, or accesses their information.</li>
</ul>
	
We use a payment gateway provider.

<br/>
<h2>Do we use 'cookies'?</h2>

Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.

We use cookies to:
<ul>
	<li>Help remember and process the items in the shopping cart.</li>
	<li>Understand and save user's preferences for future visits.</li>
	<li>Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third party services that track this information on our behalf.</li>
</ul>

You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.

If you turn cookies off, some features may be disabled. This should not affect the users experience, but some of our services may not function properly.

However, you can still place orders.

<br/>
<h2>Third Party Disclosure</h2>

We may transfer your non-identifiable information to third parties. We may also transfer your identifiable information, but only to trusted third parties

<br/>
<h2>Third party links</h2>

We do not include or offer third party products or services on our website.

<br/>
<h2>Google</h2>

Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en 
We have not enabled Google AdSense on our site but we may do so in the future.

<br/>
<h2>California Online Privacy Protection Act</h2>

CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require a person or company in the United States (and conceivably the world) that operates websites collecting personally identifiable information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals with whom it is being shared, and to comply with this policy. - See more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf

According to CalOPPA we agree to the following:
Users can visit our site anonymously
Once this privacy policy is created, we will add a link to it on our home page, or as a minimum on the first significant page after entering our website.
Our Privacy Policy link includes the word 'Privacy', and can be easily be found on the page specified above.

Users will be notified of any privacy policy changes:
		On our Privacy Policy Page
Users are able to change their personal information:
		By logging in to their account

Does our site allow third party behavioral tracking?

It's also important to note that we allow third party behavioral tracking

<br/>
<h2>COPPA (Children Online Privacy Protection Act)</h2>

When it comes to the collection of personal information from children under 13, the Children’s Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the national consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children’s privacy and safety online.
We do not specifically market to children under 13.

<br/>
<h2>Fair Information Practices</h2>

The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.

In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:

We will notify the users via email
		Within 7 business days

We also agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors.

<br/>
<h2>Contacting Us</h2>

If there are any questions regarding this privacy policy you may contact us using the information below.

Sartor NYC
30 Broad Street, Suite 1455
New York, NY 10004

service@sartornyc.com
+1-888-883-8440