<p>Here at Sartor NYC we pride ourselves in delivering you an expertly designed, handcrafted dress shirt a completely risk-free perfect fit guarantee. If you are not 100% satisfied with your shirt on the first try, then we will work with you to make it right.</p>
<p>

<h3>First Time Customer Guarantee</h3>
<ul>
  <li>We will work with you to make sure you are 100% satisfied with your first shirt by offering complimentary alterations, remakes or returns
  </li>
  <li>If your shirt cannot be altered, Sartor NYC will remake it for you. Please submit an email to <a href="mailto:service@sartornyc.com">service@sartornyc.com</a> within 30 days of your order being shipped for our customer service team to review
  </li>
	<li>Shipping for Domestic US customers</li>
	<ul>
		<li>We will cover all shipping charges (returning to Sartor NYC and resending back to you)</li>
	</ul>
	<li>Shipping for International customers</li>
	<ul>
		<li>Unfortunately, due to tariffs and customs duties, we cannot cover return shipping for our international customers</li>
		<li>We will cover outbound shipping charges for resending remade or altered shirts</li>
	</ul>
  <li>We suggest that you make sure your first shirt fits perfectly before you order additional shirts </li>
</ul>

<h3>Repeat Customer Return Policy</h3>
<ul>
  <li>Because each shirt is handcrafted to your exact measurements, we do not encourage returns like other retailers 
  </li>
  <li>Customers may return items for store credit within 14 days of your order being shipped with a $50 restocking fee
  </li>
  <li>Customer pays for return shipping cost</li>
  <li>However, if your shirt has a manufacturing error, please notify us within 30 days of your order being shipped and we will work with you to resolve the issue by offering complimentary alterations or remake, including all shipping costs</li>
</ul>

<h3>Return Process</h3>
<p>To initiate a return, please email service@sartornyc.com and a customer service team member with contact you with
  return instructions. Once your return has been approved, please mail your shirt to:</p>

<%# TODO offset the address more effectively %>
<p style="margin-left: 30px;">Sartor NYC<br/>
  30 Broad Street<br/>
  Suite 1455<br/>
  New York, NY 10004<br/>
</p>

<p>If you have any questions, please email our returns department at <a href="mailto:service@sartornyc.com">service@sartornyc.com</a>.</p>