Sartor NYC ships most shirts shirts within 2-3 weeks. Delivery then takes an additional 2-5 days, depending on where you live. 

We currently ship to <a href="#destinations">22 countries</a> around the world.

<br/>
<br/>

<h3>Shipping Rates</h3>
<table class="table">
	<thead>
		<tr>
			<th>Destination</th>
			<th>Delivery Service</th>
			<th>Cost (per shirt)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>United States</td>
			<td>USPS Priority</td>
			<td>FREE</td>
		</tr>
		<tr>
			<td>Canada or Mexico</td>
			<td>USPS Global Priority</td>
			<td>$20 USD*</td>
		</tr>
		<tr>
			<td>EU Region</td>
			<td>FedEx International</td>
			<td>$20 USD*</td>
		</tr>
	</tbody>
</table>
<p style="font-style: italic; margin-left: 20px;">* All applicable tariffs and customs duties will be paid by the customer and may be billed by the delivering carrier.</p>

<br/>

<h3 id="destinations">Shipping Destinations</h3>
<p>Sartor NYC currently ships to the following 22 countries and territories. If you're interested in having us ship to another country, please contact us<%#= link_to "contact us", contact_us_path %> and we'll try our best to accommodate your needs.</p>

<div class="row">
	<div class="span2">
		<ul>
			<li>Austria</li>
			<li>Belgium</li>
			<li>Canada</li>
			<li>Cyprus</li>
			<li>Czech Republic</li>
			<li>Denmark</li>
		</ul>
	</div>
	<div class="span2">
		<ul>
			<li>Finland</li>
			<li>France </li>
			<li>Germany</li>
			<li>Greece </li>
			<li>Hungary</li>
			<li>Ireland</li>
		</ul>
	</div>
	<div class="span2">
		<ul>
			<li>Italy</li>
			<li>Luxembourg</li>
			<li>Netherlands</li>
			<li>Poland</li>
			<li>Portugal</li>
		</ul>
	</div>
	<div class="span2">
		<ul>
			<li>Spain</li>
			<li>Sweden</li>
			<li>Turkey</li>
			<li>United Kingdom</li>
			<li>United States</li>
		</ul>
	</div>
</div>