<h1>Welcome to Sartor NYC</h1>

<p>Congratulations! Someone must love you... you have an awesome gift coming.</p>
<p>Sartor NYC makes custom shirting simple. Once you have been fitted for your first shirt, you can order online any time. We have <a href="/shirt">lots of great styles</a> to choose from, and we add more every season.</p>
<p>We only use the finest bespoke fabrics made with Egyptian and Aegean cottons, and craft every shirt to the highest specifications. Choose you cuff and collar to design a shirt that's perfect for you. We strive to make the ultimate men's shirt, and we hope you love the results!</p>
<p>So let's get started. The first step is to get your measurements and fit selection. Here are three ways to get fitted:</p>

<br/>
<hr/>
<br/>

<div class="row">
	<div class="col-sm-6 col-md-5">
		<h2><span class="badge" style="font-size: 24px;">1</span>  &nbsp; Meet with a Clothier</h2>
	</div>
	<div class="col-sm-6 col-md-7">
		<p>Our team of professional Clothiers can meet you in your home or office to fit you and help you select your shirt. We can meet you virtually any day Monday - Friday in New York City, and our team members make frequent trips through New Jersey, Philadelphia and Washington DC. </p>
		<p>Contact us through the form below to schedule your appointment.</p>
		<%= render :partial => 'spree/shared/appointment_contact_form' %>
		<br/>
	</div>
</div>

<hr/>

<div class="row">
	<div class="col-sm-6 col-md-5">
		<h2><span class="badge" style="font-size: 24px;">2</span> &nbsp; Visit our Popup or Events</h2>
	</div>
	<div class="col-sm-6 col-md-7">
		<p>We have popup shops almost every month in New York, and are expanding to other cities soon. And we're planning fun evening events for DC and Philadelphia for January and February, 2015.</p> 
		<p>Sign up here stay in the loop!</p>
		<%= render :partial => "mailchimp_simple_signup" %>
		<br/>
		<p>Our current popup is running until December 31st in Midtown NYC, near Grand Central Station:</p>
		<p class="text-center"><b>John Allan's Midtown</b><br/>
		46 E 46th Street (corner of Vanderbilt)<br/>
		New York, NY<br/> </p>
		<p class="text-center">Monday - Friday<br/>
		12:00 - 7:00</p>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<%= image_tag("landing/ja_midtown.jpg", :class => "img-responsive")%>	
			</div>
		</div>
		<br/>
	</div>
</div>

<hr/>

<div class="row">
	<div class="col-sm-6 col-md-5">
		<h2><span class="badge" style="font-size: 24px;">3</span> &nbsp; Measure Yourself at Home</h2>
	</div>
	<div class="col-sm-6 col-md-7">
		<p>We're putting the final touches on videos that make it easy to measure yourself at home. They will be available on December 29th. Check back soon!</p>
		
		<p>Following the videos, you'll just need a friend and a flexible measuring tape to take your own measurements. Email us at <a href="mailto:service@sartornyc.com"</a>service@sartornyc.com</a> and we'll be happy to send you a measuring tape.</p>
		<br/>
	</div>
</div>

<br/>
<br/>