<div class="row">
	<div class="col-sm-2">
		<%= image_tag("landing/per_scholas_logo.jpg", :class => "img-responsive")%>
		<br/>
		<br/>
	</div>
  <div class="col-sm-8">
    <h1>Dress for Success</h1>
		<h2 style="margin-bottom: 30px;"><i>Join us in supporting Per Scholas</i></h2>
		<p>Sartor NYC is proud to support <a href="http://perscholas.org">Per Scholas</a>, an incredible charity that helps talented people from underserved communities get jobs.</p>
		<p>Through November 15th, mention "PING" at our pop-up shop or when you make a Clothier appointment to get $40 off your first order. We will also donate 10% of all proceeds to Per Scholas.</p>
		<div class="row well" style="margin-top: 30px; margin-bottom: 30px;">
			<div class="col-sm-6">
				Sign up for information on future Sartor events, pop-ups and promotions.
			</div>
			<div class="col-sm-6">
				<%= render :partial => "mailchimp_simple_signup" %>
			</div>
		</div>
		<p>To get fitted for Sartor NYC luxury custom shirts, <a href="appointment_contacts/new">schedule an appointment</a> for a personal fitting at your home or office, or visit us at our pop-up shop:</p>
		<p class="text-center"><b>John Allan's Midtown</b><br/>
		46 E 46th Street (corner of Vanderbilt)<br/>
		New York, NY<br/> </p>
		<p class="text-center">Monday - Friday<br/>
		12:00 - 7:00</p>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<%= image_tag("landing/ja_midtown.jpg", :class => "img-responsive")%>	
			</div>
		</div>
		<br/>
  </div>
</div>