<form action="/admin/read_csv" method = post>
	
	<div class="field omega five columns">
      <label class="omega five columns" for="company_Company"><span style="color: red">*</span>Product Path</label>
	  <input class="omega five columns" id="admin_import_product_path" name="products" placeholder="Enter path of csv file." type="text" required="required">
   </div>
	
	<div class="field omega five columns">
		<label class="omega five columns" for="company_Company"><span style="color: red">*</span>Image Path</label>
	    <input class="omega five columns" id="admin_import_product_image_path" name="images" placeholder="Enter path of images folder." type="text" required="required">
	</div>
	
	<div class="field omega five columns">
		<label class="omega five columns" for="company_Company"><span style="color: red">*</span>Email</label>
	    <input class="omega five columns" id="admin_import_product_email" name="email" placeholder="Enter an email_id for receiving notification." type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required="required">
	</div>
	<br></br>	<br></br>
	<input name="authenticity_token" type="hidden" >
	
	<div align="center" style="padding-right: 2cm">
	 <input name="commit" type="submit" value="Submit"/>
	</div>
	
</form>
