<%= f.input field, wrapper: :vertical_input_group, label: label do %>
	<%= f.input_field field, class: "form-control", :step => ".125" %>
	<span class="input-group-postfix">" &nbsp;&nbsp;</span>
<% end %>