<div class="row ">
  <div class="row hidden-sm hidden-md hidden-lg" id="command-row">
      <div class="col-xs-6">
          <button id="side-bar-collapse-btn" type="button" class="btn btn-default btn-command account-info-side-bar-btn" data-toggle="toggle" data-target="#demo">
              <i class="fa fa-gear fa-2x"></i>Settings
          </button>
      </div>
       <div class="col-xs-6 ">
          <a href="/shirts" type="button" class="btn btn-default btn-command pull-right">
              <i class="fa fa-shopping-bag fa-2x"></i>Return To Shop</a>
      </div>
  </div>
  <div id="account_side_bar_border" class="col-lg-3 col-md-4 col-sm-4">
    <div class="col-padding">
    <%= render "spree/users/account_sidebar", :current => 'Measurement Profile' %>
    </div>
  </div>
  <div id="divwidth" class="col-lg-9 col-md-8 col-sm-8 col-xs-12 page-text page-text" style="padding-top:10px;">
    <div class="col-padding">
      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-4 col-md-offset-1 col-xs-8 col-xs-offset-2" class="page-text">
                    <div style="text-align: center;">
                      <a href="/detailed_profiles/new" class="btn padding-zero" style="margin: 30px 0px">
                        <div style="text-align: center;">
                          <img alt="Measure body photo"  height="180" src="/Measure_Body_Photo.png" width="250" /><br>
                          <label class="page-sub-header c-pointer">Measure Yourself</label>
                        </div>
                      </a>
                    </div>
                    <br/>
                    <p>Measuring yourself is the best approach if you don't have a shirt that fits you perfectly.</p>
                    <p>The process takes about 10 minutes. You'll need a friend and a flexible measuring tape. Email us at <a href="mailto:service@sartornyc.com">service@sartornyc.com</a> if you'd like us to send you a complimentary tailor's measuring tape.</p>
                  </div>
                  <div class ="col-md-4 col-md-offset-2 col-xs-8 col-xs-offset-2" class="page-text">
                    <div style="text-align: center;">
                      <a href="/shirt_profiles/new" class="btn padding-zero" style="margin: 30px 0px">
                        <div style="text-align: center;">
                          <img alt="Measure shirt photo" height="180" src="/Measure_Shirt_Photo.png" width="250" /><br>
                          <label class="page-sub-header c-pointer">Measure a Shirt</label>
                        </div>
                      </a>
                    </div>
                    <br/>
                    <p>Measuring a shirt is the simplest approach if you already have a shirt with a fit that you love.</p>
                    <p>You can easily measure the shirt yourself. All you need is a flat surface and a measuring tape. Any measuring tape will work well -- it doesn't need to be a tailor's tape.</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-custom" data-dismiss="modal" style="margin:10px;">Close</button>
              </div>
            </div>
          </div>
      </div>
      <!-- Modal Body end -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-10" style="margin-bottom:20px;text-align:right;display:none">
        <label class="my-account-page-sub-header">Create New Measurements</label>
        <br/>
        <a class="btn btn-custom-black" href="<%= new_detailed_profile_path %>" style="margin-bottom:15px;min-width:200px;">Measure Yourself</a>
        <br/>
        <%if @detailed_profiles.length > 0%>
            <a class="btn btn-custom-black" href="<%= new_shirt_profile_path %>" style="margin-bottom:15px;min-width:200px;">Measure a Shirt</a>
        <% else %>
            <!-- Trigger the modal with a button -->
            <a class="btn btn-custom-black" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="margin-bottom:15px;min-width:200px;">Measure a Shirt</a>
        <% end %>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="row">
           
            <!-- Trigger the modal with a button -->
             <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-zero">
              <label class="my-account-page-header-title">Measurement Profiles</label>
            </div>
            <div class="pull-right col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-zero create-a-shirt">
              <!-- <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#myModal">Create new Profile</button> -->
              <a href="/detailed_profiles/new" type="button" class="btn btn-custom" >Create new Profile</a>
            </div>
        </div>
        <div class="row">
            <br>
            <% if spree_current_user %>
              <% if @shirt_profiles.length > 0 %>
                <table class="table table-responsive" >
                 <thead>
                <tr>
                <th>Profile Name</th>
                <th>Classification</th>
                <th>Updated</th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <% spree_current_user.profiles.each do |profile| %>
                  <% if profile.heir_type == 'ShirtProfile' %>
                    <tr>
                    <td><%=profile.name%></td>
                    <td><%= Profile::CLASSIFICATION_CODE[profile.heir.classification_code]%> - <%=Profile::LENGTHS_CODE[profile.heir.length_code]%></td>
                    <td><%=profile.heir.updated_at.strftime("%b %d, %Y")%></td>
                    <td><%= link_to('Edit', edit_profile_path(profile),:class => "profiles-name") %></td>
                    </tr>
                  <% end %>
                <% end %>
                </tbody>
                </table>
              <% else %>
                <label> You have no Shirt Profiles saved.</label>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <p>Please create a Body Measurement profile to measure a shirt.<br/></p>
            <div class="" style="text-align: right;">
            <button type="button" class="btn btn-default" data-dismiss="modal" style="min-width:100px;">Close</button>
            <a class="btn btn-info " style="min-width:100px;" href="<%= new_detailed_profile_path %>">Ok</a>
            </div>
          </div>
        </div>
   </div>
 </div>
