<form action='/wishlist/refer_to_friend' method="post">
	<input id="wishlist_id" name="wishlist_id" type="hidden" value=<%= @wishlist_id %>>
	<input name="utf8" type="hidden" />
	<input name="authenticity_token" type="hidden" >
	<div class="row">
		<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-2">
			<div class="container p-zero">
						<label class=" form-group col-md-8 page-header-title"> Refer To Friend </label>
					
						<div class="form-group col-md-8 ">
								<label class="control-label" for="price">Sender Name</label>
								<input class="form-control" maxlength="128" id="sender_name" name="sender_name" placeholder="Sender name" type="text" required="required" value="<%= spree_current_user.first_name + " " + spree_current_user.last_name%>"/>
						</div>
						<div class="form-group col-md-8">
								<label class="control-label" for="price">Recipient Name</label>
								<input class="form-control" id="recipient_name" name="recipient_name" placeholder="Recipient name" type="text" maxlength="128" required="required" />
						</div>
					    <div class="form-group col-md-8">
								<label class="control-label" for="price">Recipient Email</label>
								<input class="form-control" id="recipient_email" name="recipient_email" placeholder="Recipient email" type="email"  required="required" />
						</div>
						<div class="form-group col-md-8">
								<label class="control-label" for="price">Message</label>
								<textarea class="form-control" id="options_note" name="options_note" placeholder="Message" rows="5"  required="required" ></textarea>
						</div>	
						<div class="form-group col-md-8">
							<div class="pull-right">
								<a class="btn btn-custom-black" href="/wishlist" id="close_button">cancel</a>
								<input name="commit" type="submit" value="Send" class="btn btn-custom" />
								
							</div>
						</div>	
			</div>
		</div>
		
	</div>
</form>