<p>Hi <%= @recipient_name%>,</p>
<p ><pre style="font-size: 15px;"><%= @options_note %></pre></p>
<p> Click the link to view the <a href= <%= @link%>>Wishlist</a>.</p>
<p> From : <%= @sender_name %>.</p>
<p>Happy Shopping!</p>


<%= image_tag attachments['image.png'].url %>

