<div data-hook="admin_product_form_fields">
    <script>
      $(document).ready(function() {
          $(".button-multiple").select2({
            placeholder: "Choose Buttons for this Product",
            tokenSeparators: [','],
            maximumSelectionSize: 8
          });
       });
    </script>
  <!-- In controller -->
  <% @taxon_buttons =  Spree::Taxon.order(:name).where("permalink LIKE ?", "button/%")%>
  <% @taxon_buttons =  @taxon_buttons.where("depth > ?", 1) %>
  <!-- end -->

  <div class="left eight columns alpha" data-hook="admin_product_form_left">

    <%= f.field_container :name do %>
      <%= f.label :name, raw(Spree.t(:name) + content_tag(:span, ' *', :class => 'required')) %>
      <%= f.text_field :name, :class => 'fullwidth title' %>
      <%= f.error_message_on :name %>
    <% end %>

    <%= f.field_container :slug do %>
      <%= f.label :slug, raw(Spree.t(:slug) + content_tag(:span, ' *',  :class => "required")) %>
      <%= f.text_field :slug, :class => 'fullwidth title' %>
      <%= f.error_message_on :slug %>
    <% end %>

    <%= f.field_container :product_type do %>
      <%= f.label :product_type, raw('Product Type' + content_tag(:span, ' *',  :class => "required")) %>
			<%= f.select :product_type, [['SET THE PRODUCT TYPE!', ''], ['Shirt', 'SHIRT'], ['Tie', 'TIE'],['Custom Shirt', 'CUSTOMSHIRT'],['Virtual Gift Card', 'VIRTUALGIFTCARD']]  %>
      <%#= f.text_field :product_type, :class => 'fullwidth title' %>
      <%= f.error_message_on :product_type %>
    <% end %>

    <%= f.field_container :short_product_description do %>
      <%= f.label :short_product_description, Spree.t(:short_description) %>
        <%= f.text_area :short_product_description, {:rows => "#{unless @product.has_variants? then '6' else '4' end}", :class => 'fullwidth'} %>

        <%= f.error_message_on :short_product_description %>
    <% end %>

    <%= f.field_container :description do %>
      <%= f.label :description, Spree.t(:description) %>
      <%= f.text_area :description, {:rows => "#{unless @product.has_variants? then '20' else '13' end}", :class => 'fullwidth'} %>
      <%= f.error_message_on :description %>
    <% end %>
  </div>

  <div class="right four columns omega" data-hook="admin_product_form_right">

    <%= f.field_container :price do %>
      <%= f.label :price, raw(Spree.t(:master_price) + content_tag(:span, ' *', :class => "required")) %>
      <%= f.text_field :price, :value => number_to_currency(@product.price, :unit => '') %>
      <%= f.error_message_on :price %>
    <% end %>

    <div class="alpha two columns">
      <%= f.field_container :cost_price do %>
        <%= f.label :cost_price, Spree.t(:cost_price) %>
        <%= f.text_field :cost_price, :value => number_to_currency(@product.cost_price, :unit => '') %>
        <%= f.error_message_on :cost_price %>
      <% end %>
    </div>
    <div class="omega two columns">
      <%= f.field_container :cost_currency do %>
        <%= f.label :cost_currency, Spree.t(:cost_currency) %>
        <%= f.text_field :cost_currency %>
        <%= f.error_message_on :cost_currency %>
      <% end %>
    </div>

    <div class="clear"></div>

    <%= f.field_container :available_on do %>
      <%= f.label :available_on, Spree.t(:available_on) %>
      <%= f.error_message_on :available_on %>
      <%= f.text_field :available_on, :value => datepicker_field_value(@product.available_on), :class => 'datepicker' %>
    <% end %>

    <%= f.field_container :is_available do %>
      <%= f.label :is_available, Spree.t(:is_available) %>
      <%= f.error_message_on :is_available %>
      <br>
      <%= f.check_box :is_available, :data => { :toggle => 'toggle' } %>
    <% end %>



    <% unless @product.has_variants? %>
      <%= f.field_container :sku do %>
        <%= f.label :sku, Spree.t(:sku) %>
        <%= f.text_field :sku, :size => 16 %>
      <% end %>

      <ul id="shipping_specs">
        <li id="shipping_specs_weight_field" class="field alpha two columns">
          <%= f.label :weight, Spree.t(:weight) %>
          <%= f.text_field :weight, :size => 4 %>
        </li>
        <li id="shipping_specs_height_field" class="field omega two columns">
          <%= f.label :height, Spree.t(:height) %>
          <%= f.text_field :height, :size => 4 %>
        </li>
        <li id="shipping_specs_width_field" class="field alpha two columns">
          <%= f.label :width, Spree.t(:width) %>
          <%= f.text_field :width, :size => 4 %>
        </li>
        <li id="shipping_specs_depth_field" class="field omega two columns">
          <%= f.label :depth, Spree.t(:depth) %>
          <%= f.text_field :depth, :size => 4 %>
        </li>
      </ul>
    <% end %>

    <%= f.field_container :shipping_categories do %>
      <%= f.label :shipping_category_id, Spree.t(:shipping_categories) %>
      <%= f.collection_select(:shipping_category_id, @shipping_categories, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2' }) %>
      <%= f.error_message_on :shipping_category %>
    <% end %>

    <%= f.field_container :tax_category do %>
      <%= f.label :tax_category_id, Spree.t(:tax_category) %>
      <%= f.collection_select(:tax_category_id, @tax_categories, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2' }) %>
      <%= f.error_message_on :tax_category %>
    <% end %>

     <%= f.check_box(:is_index_product) %> <%= f.label :index_product, Spree.t("is_recent_addition")%>
     <br/>
  </div>

	<%= f.fields_for :shirt_configuration do |config| %>

		<div class="right six columns alpha">
      <%= config.label :collar_code, "Default Collar" %>
      <%= config.collection_select(:collar_code, ShirtConfiguration::COLLARS, :first, :last) %>

      <%= config.label :cuff_code, "Default Cuff" %>
      <%= config.collection_select(:cuff_code, ShirtConfiguration::CUFFS, :first, :last) %>

			<%= config.label :pocket_code, "Default Pocket" %>
      <%= config.collection_select(:pocket_code, ShirtConfiguration::POCKETS, :first, :last) %>
		</div>

		<div class="right six columns omega">
      <label>Default Button</label><br/>
      <select class="button-multiple"  id="product_shirt_configuration_attributes_button_code" name="product[shirt_configuration_attributes][button_code]">
        <% @taxon_buttons.each do |button|  %>
             <option <%= (@product.shirt_configuration.button_code.to_s == button.id.to_s) ? "selected" : "" %> value="<%=button.id%>"><%= button.parent.name.titleize + ' w/ ' +  (button.description.present? ? button.description.titleize : button.name.titleize) %></option>
        <%end%>
      </select>

      <%= config.label :placket_code, "Default Placket" %>
      <%= config.collection_select(:placket_code, ShirtConfiguration::PLACKETS, :first, :last) %>
		</div>

	<% end %>

<div class="twelve columns alpha omega">
<br>
  <label>Fabric Detail</label>
<br>
<%= f.fields_for :fabric_detail do |config| %>
<% @fabricDetailFlag = true %>
  <div class="right six columns alpha">
    <%= config.label :weight, "Default Weight" %>
    <%= config.collection_select(:weight, FabricDetail::WEIGHT, :first, :last)%>

    <%= config.label :opacity, "Default Opacity" %>
    <%= config.collection_select(:opacity, FabricDetail::OPACITY, :first, :last)%>

    <%= config.label :ease_of_care, "Default Ease Of Care" %>
    <%= config.collection_select(:ease_of_care, FabricDetail::EASE_OF_CARE, :first, :last)%>
  </div>

  <div class="right six columns omega">
    <%= config.label :weave_type, "Default WEAVE" %>
    <%= config.collection_select(:weave_type, FabricDetail::WEAVE_TYPE, :first, :last)%>

    <%= config.label :yarn_count, "Default Yarn Count" %>
     <%= config.text_field :yarn_count, :class => 'fullwidth' %>
  </div>
<% end %>

<!-- DEFAULT FABRIC DETAIL -->
<!-- FIXME: Flag -->
<% if !@fabricDetailFlag %>

  <div class="right six columns alpha">
    <label for="product_fabric_detail_attributes_weight">Default Weight</label>
    <select id="product_fabric_detail_attributes_weight" name="product[fabric_detail_attributes][weight]">
      <option selected="selected" value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <label for="product_fabric_detail_attributes_opacity">Default Opacity</label>
    <select id="product_fabric_detail_attributes_opacity" name="product[fabric_detail_attributes][opacity]">
      <option selected="selected" value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>

    <label for="product_fabric_detail_attributes_easy_of_care">Default Ease Of Care</label>
    <select id="product_fabric_detail_attributes_easy_of_care" name="product[fabric_detail_attributes][ease_of_care]">
      <option selected="selected" value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  <div class="right six columns omega">

    <label for="product_fabric_detail_attributes_wave">Default Weave</label>
    <select id="product_fabric_detail_attributes_wave" name="product[fabric_detail_attributes][weave_type]">
    <option selected="selected" value="1">Poplin</option>
    <option value="2">Oxford</option>
    <option value="3">Pinpoint Oxford</option>
    <option value="4">Royal Oxford</option>
    <option value="5">Panama Oxford</option>
    <option value="6">End-on-End</option>
    <option value="7">Broadcloth</option>
    <option value="8">Twill</option>
    <option value="9">Herringbone</option>
    <option value="10">Dobby</option>
    <option value="11">Jacquard</option>
    </select>

    <label for="product_fabric_detail_attributes_yarn_count">Default Yarn Count</label>
    <input id="product_fabric_detail_attributes_yarn_count" name="product[fabric_detail_attributes][yarn_count]" type="text" value="100/50">

  </div>
<% end %>
</div>

  <div class="twelve columns alpha omega">
    <%= f.field_container :taxons do %>
      <%= f.label :taxon_ids, Spree.t(:taxons) %><br />
      <%= f.hidden_field :taxon_ids, :value => @product.taxon_ids.join(',') %>
    <% end %>

    <%#= @button_ids%><label>Buttons </label><br/>
    <select class="button-multiple" multiple="multiple" id="product_button_ids" name="buttons[button_ids][]" >
      <% @taxon_buttons.each do |button|  %>
           <option <%= (@button_ids.include? button.id.to_s) ? "selected" : "" %> value="<%=button.id%>"><%= button.parent.name.titleize + ' w/ ' +  (button.description.present? ? button.description.titleize : button.name.titleize) %></option>
      <%end%>
    </select>


    <%= f.field_container :option_types do %>
      <%= f.label :option_type_ids, Spree.t(:option_types) %>
      <%= f.hidden_field :option_type_ids, :value => @product.option_type_ids.join(',') %>
    <% end %>
  </div>

  <div data-hook="admin_product_form_meta" class="alpha omega twelve columns">
    <%= f.field_container :meta_keywords do %>
      <%= f.label :meta_keywords, Spree.t(:meta_keywords) %>
      <%= f.text_field :meta_keywords, :class => 'fullwidth' %>
    <% end %>

    <%= f.field_container :meta_description do %>
      <%= f.label :meta_description, Spree.t(:meta_description) %>
      <%= f.text_field :meta_description, :class => 'fullwidth' %>
    <% end %>
  </div>

  <div class="clear"></div>

  <div data-hook="admin_product_form_additional_fields"></div>

  <div class="clear"></div>
</div>

<% unless Rails.env.test? %>
  <script>
  $('.select2-container').css({width: '20em'})
  </script>
<% end %>
