<div class="row">
  <div class="row hidden-sm hidden-md hidden-lg" id="command-row">
      <div class="col-xs-6">
          <button id="side-bar-collapse-btn" type="button" class="btn btn-default btn-command account-info-side-bar-btn" data-toggle="toggle" data-target="#demo">
              <i class="fa fa-gear fa-2x"></i>Settings
          </button>
      </div>
       <div class="col-xs-6 ">
          <a href="/shirts" type="button" class="btn btn-default btn-command pull-right">
              <i class="fa fa-shopping-bag fa-2x"></i>Return To Shop</a>
      </div>
  </div>
  <div id="account_side_bar_border" class="col-lg-3 col-md-4 col-sm-4">
    <%= render "spree/users/account_sidebar", :current => 'Measurement profile' %>
  </div>
  <div id="divwidth" class="col-lg-9 col-md-8 col-sm-8">
    <div class="account-info-label">
      <div class="page-title">
        <h1>Measurement Profile</h1>
      </div>
      <br>
    </div>
    <div>
      <%= form_tag("/generate-measurements", method: "post", class: "form-horizontal") do %>
      <div class="measurement-profile-section">
        <div class="row" style="border-bottom:1px solid gray;">
          <div class="col-lg-4 col-lg-offset-1">
            <div class="form-group">
              <label for="detailedProfile" class="col-sm-6 control-label">Body Profile</label>
              <div class="col-sm-6">
                <%= select_tag "detailedProfile", options_from_collection_for_select(@detailedProfiles, "id", "name",@selected_profile.id), { :class => 'form-control' }%>
              </div>
            </div>
            <div class="form-group">
              <label for="detailedProfile" class="col-sm-6 control-label">CHEST SLEEVES</label>
              <div class="col-sm-6">
                <%= select_tag "chest_sleeves", options_for_select(Profile::CHEST_SLEEVES,@chest_sleeves), { :class => 'form-control' }%>
              </div>
            </div>
            <div class="form-group">
              <label for="detailedProfile" class="col-sm-6 control-label">WAIST HIPS</label>
              <div class="col-sm-6">
                <%= select_tag "waist_hips", options_for_select(Profile::WAIST_HIPS,@waist_hips), { :class => 'form-control' }%>
              </div>
            </div>
            <div class="form-group">
              <label for="detailedProfile" class="col-sm-6 control-label">LENGTHS</label>
              <div class="col-sm-6">
                <%= select_tag "length", options_for_select(Profile::LENGTHS,@length ), { :class => 'form-control' }%>
              </div>
            </div>
            <div class="form-group">
            <input class="btn btn-custom pull-right" type="submit" value="Regenerate Measurements">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="detailedProfile" class="col-sm-6 control-label">CLASSIFICATION</label>
              <div class="col-sm-4">
                <%= select_tag "classification", options_for_select(Profile::CLASSIFICATION,@classification), { :class => 'form-control' }%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= simple_form_for @profile, html: {class: "profile-form form-horizontal"}, :as => :profile do |f| %>
        <div class="row" style="padding:15px;">
          <div class="col-lg-10 col-lg-offset-1 generatedMeasurements">
            <input id="profile_name" name="profile[name]" type="hidden" value="<%=@selected_profile.name%>" />
            <input id="profile_classification" name="profile[classification_code]" type="hidden" value="<%=@classification%>" />
            <input id="profile_length" name="profile[length_code]" type="hidden" value="<%=@length%>" />
            <input id="profile_waist_hips_code" name="profile[waist_hips_code]" type="hidden" value="<%=@waist_hips%>" />
            <input id="profile_chest_sleeves_code" name="profile[chest_sleeves_code]" type="hidden" value="<%=@chest_sleeves%>" />

            <table class="table table-condensed">
              <tr>
                <th colspan="2"><center>Body Measurements</center></th>
                <th>Ease </th>
                <th>Shirt Measurements</th>
              </tr>
              <tr>
                <td><label>Collar</label></td>
                <td><%=@detailedProfile.neck%></td>
                <td><%=@ease_neck%></td>
                <td>
                <input class="numeric decimal optional" id="profile_neck" name="profile[neck]" step=".125" type="number" value="<%=@generated_neck%>"> <label>Collar</label>
                </td>
              </tr>
              <tr>
                <td><label>Shoulder</label></td>
                <td><%=@detailedProfile.yoke%></td>
                <td><%=@ease_yoke%></td>
                <td>
                <input class="numeric decimal optional" id="profile_yoke" name="profile[yoke]" step=".125" type="number" value="<%=@generated_yoke%>"> <label>Shoulder</label>
                </td>
              </tr>
              <tr>
                <td> <label>Sleeve</label></td>
                <td><%=@detailedProfile.sleeve%></td>
                <td><%=@ease_sleeve%></td>
                <td>
                <input class="numeric decimal optional" id="profile_sleeve" name="profile[sleeve]" step=".125" type="number" value="<%=@generated_sleeve%>"><label>Sleeve</label>
                </td>
              </tr>
              <tr>
                <td> <label>Bicep</label></td>
                <td><%=@detailedProfile.bicep%></td>
                <td><%=@ease_bicep%></td>
                <td>
                <input class="numeric decimal optional" id="profile_bicep" name="profile[bicep]" step=".125" type="number" value="<%=@generated_bicep%>"> <label>Bicep</label>
                </td>
              </tr>
              <tr>
                <td><label>Cuff</label></td>
                <td><%=@detailedProfile.wrist%></td>
                <td><%=@ease_wrist%></td>
                <td>
                <input class="numeric decimal optional" id="profile_wrist" name="profile[wrist]" step=".125" type="number" value="<%=@generated_wrist%>"> <label>Cuff</label>
                </td>
              </tr>
              <tr>
                <td><label>Chest</label></td>
                <td><%=@detailedProfile.chest%></td>
                <td><%=@ease_chest%></td>
                <td>
                <input class="numeric decimal optional" id="profile_chest" name="profile[chest]" step=".125" type="number" value="<%=@generated_chest%>"> <label>Chest</label>
                </td>
              </tr>
              <tr>
                <td><label>Waist</label></td>
                <td><%=@detailedProfile.waist%></td>
                <td><%=@ease_waist%></td>
                <td>
                <input class="numeric decimal optional" id="profile_waist" name="profile[waist]" step=".125" type="number" value="<%=@generated_waist%>"> <label>Waist</label>
                </td>
              </tr>
              <tr>
                <td><label>Seat</label></td>
                <td><%=@detailedProfile.hip%></td>
                <td><%=@ease_hip%></td>
                <td>
                <input class="numeric decimal optional" id="profile_hip" name="profile[hip]" step=".125" type="number" value="<%=@generated_hip%>"> <label>Seat</label>
                </td>
              </tr>
              <tr>
                <td><label>Length</label></td>
                <td><%=@detailedProfile.length%></td>
                <td><%=@ease_length%></td>
                <td>
                <input class="numeric decimal optional" id="profile_length" name="profile[length]" step=".125" type="number" value="<%=@generated_length%>"> <label>Length</label>
                </td>
              </tr>
            </table>
            <%= f.submit "Done", class: 'btn btn-custom pull-right', id: 'save_button' %>
          </div>
        </div>
      </div>

      <% end %>
    </div>
  </div>
</div>


