<form action="/admin/historical_order_csv" method = post>
	
	<div class="omega eight columns">
	      <label class="omega eight columns" for="company_Company"><span style="color: red">*</span>Historical Order CSV Path</label>
		  <input class="omega eight columns" id="admin_import_historical_order_path" name="orders" placeholder="Enter historical order csv path file path with extension." type="text" required="required">
	</div>
	
	<div class="omega eight columns">
		<label class="omega eight columns" for="company_Company"><span style="color: red">*</span>Email</label>
	    <input class="omega eight columns" id="admin_import_order_email" name="email" placeholder="Enter an email_id for receiving notification." type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required="required">
	</div>
	<br></br><br></br>
	
	<div  align="center">
		 <input name="commit" type="submit" value="Submit" />
	 </div>	
	 	


	<input name="authenticity_token" type="hidden" >

</form>