<script type='text/template' id='variant_autocomplete_stock_template'>

<fieldset>
<legend><%= Spree.t(:shirt_configuration) %></legend>


<table>
	<thead>
		<th>Collar</th>
		<th>Cuff</th>
		<th>Pocket</th>
		<th>Button</th>
		<th>Placket</th>
	</thead>
	<tbody>
		<tr>
			<td>
			<select id="collar">
				<option  value="1" {{#ifCond variant.product.shirt_configuration.collar_code 1}}selected="selected"{{/ifCond}}>Semi Spread</option>
				<option  value="2" {{#ifCond variant.product.shirt_configuration.collar_code 2}}selected="selected"{{/ifCond}}>Full Spread</option>
				<option  value="3" {{#ifCond variant.product.shirt_configuration.collar_code 3}}selected="selected"{{/ifCond}}>Point Spread</option>
				<option  value="4" {{#ifCond variant.product.shirt_configuration.collar_code 4}}selected="selected"{{/ifCond}}>Double Button</option>
				<option  value="5" {{#ifCond variant.product.shirt_configuration.collar_code 5}}selected="selected"{{/ifCond}}>Button Down</option>
			</select></td>
			<td>
			<select id="cuff">
				<option value="1" {{#ifCond variant.product.shirt_configuration.cuff_code 1}}selected="selected"{{/ifCond}}>Single Button</option>
				<option value="3" {{#ifCond variant.product.shirt_configuration.cuff_code 3}}selected="selected"{{/ifCond}}>Double Button</option>
				<option value="5" {{#ifCond variant.product.shirt_configuration.cuff_code 5}}selected="selected"{{/ifCond}}>French</option>
				<option value="6" {{#ifCond variant.product.shirt_configuration.cuff_code 6}}selected="selected"{{/ifCond}}>Short Sleeve</option>
			</select></td>
			<td>
			<select id="pocket">
				<option value="1" {{#ifCond variant.product.shirt_configuration.pocket_code 1}}selected="selected"{{/ifCond}}>None</option>
				<option value="2" {{#ifCond variant.product.shirt_configuration.pocket_code 2}}selected="selected"{{/ifCond}}>Rounded</option>
				<option value="3" {{#ifCond variant.product.shirt_configuration.pocket_code 3}}selected="selected"{{/ifCond}}>Angled</option>
        <option value="4" {{#ifCond variant.product.shirt_configuration.pocket_code 3}}selected="selected"{{/ifCond}}>Double Flap</option>
			</select></td>
			<td>
			<select id="button">
				<option value="1" {{#ifCond variant.product.shirt_configuration.button_code 1}}selected="selected"{{/ifCond}}>Normal</option>
				<option value="2" {{#ifCond variant.product.shirt_configuration.button_code 2}}selected="selected"{{/ifCond}}>White</option>
				<option value="3" {{#ifCond variant.product.shirt_configuration.button_code 3}}selected="selected"{{/ifCond}}>Grey</option>
			</select></td>
			<td>
			<select id="placket">
				<option value="1" {{#ifCond variant.product.shirt_configuration.placket_code 1}}selected="selected"{{/ifCond}}>Covered</option>
				<option value="2" {{#ifCond variant.product.shirt_configuration.placket_code 2}}selected="selected"{{/ifCond}}>Regular</option>
				<option value="3" {{#ifCond variant.product.shirt_configuration.placket_code 3}}selected="selected"{{/ifCond}}>French</option>
			  <option value="4" {{#ifCond variant.product.shirt_configuration.placket_code 4}}selected="selected"{{/ifCond}}>Tunic</option>
      </select></td>

		</tr>
	</tbody>
</table>

<table>
	<colgroup>
		<col style="width: 20%;" />
		<col style="width: 80%;" />
	</colgroup>
	<thead>
		<th><%= Spree.t(:price) %></th>
		<th><%= Spree.t(:note) %></th>
	</thead>
	<tbody>
		<td align="center">
			<input type="number" id="add_variant_price" name="add_variant_price" value="{{variant.price}}">
		</td>
		<td align="center">
			<textarea rows="3" cols="50" id="add_variant_note" name="add_variant_note"></textarea>
		</td>
	</tbody>
</table>

<legend align="center"><%= Spree.t(:set_initial_state) %></legend>
	<table class="stock-levels" data-hook="stock-levels">
		<colgroup>
			<col style="width: 30%;" />
			<col style="width: 40%;" />
			<col style="width: 01%;" />
		</colgroup>
		<thead>
			<th><%= Spree.t(:location) %></th>
			<th><%= Spree.t(:count_on_hand) %></th>
			<th style="display:none"><%= Spree.t(:quantity) %></th>
			<th class="actions"></th>
		</thead>
		<tbody>
        	{{#each variant.stock_items}}
			<tr>
				<td>{{this.stock_location_name}}</td>

					{{#unless ../variant.track_inventory}}
				<td>
					It doesnt track inventory
				</td>
				<td>
					<input class="quantity" id="stock_item_quantity" data-stock-location-id="{{this.stock_location_id}}" type="number" min="1" value="1">
        		</td>
        		<td class="actions">
        			<button class="add_variant no-text fa fa-plus icon_link with-tip" data-coller-semi-spread="{this.coller_semi_spread}" data-stock-location-id="{{this.stock_location_id}}" title="<%= Spree.t(:add) %>" data-action="add"></button>
        		</td>
        		{{else}}
				{{#if this.available}}
				<td>
					{{this.count_on_hand}}
					{{#if this.backorderable}} {{/if}}
				</td>
    			<td style="display:none">
    				<input class="quantity" id="stock_item_quantity" data-stock-location-id="{{this.stock_location_id}}" type="number" min="1" value="1" disabled = true>
            	</td>
            	<td class="actions">
                	<button class="add_variant no-text fa fa-plus icon_link with-tip"  data-stock-location-id="{{this.stock_location_id}}" title="<%= Spree.t(:add) %>" data-action="add"></button>
            	</td>
            	{{else}}
				<td><%= Spree.t(:out_of_stock) %></td>
				<td>0</td>
				{{/if}}
    			{{/unless}}
			</tr>
			{{/each}}
		</tbody>

</fieldset>
</script>
