<script type='text/template' id='variant_split_template'>
  <tr class='stock-item-split' data-variant-id='{{variant.id}}'>
    <td colspan='1'>
      <%=Spree.t("move_variant_to", default: "Move {{variant.name}} to")%>
    </td>
    <td colspan='2'>
    <select name="item_stock_location" id='item_stock_location' style='width:100%;'>
      <option></option>
      <optgroup label="<%=Spree.t('existing_shipments')%>">
        {{#each shipments}}
        <option data-shipment-number='{{this.number}}' value='{{this.stock_location_id}}'>{{this.stock_location.name}}({{this.number}})</option>
        {{/each}}
      </optgroup>
      <optgroup label="<%=Spree.t('new_shipment_at_location')%>">
        {{#each variant.stock_items}}
          <option data-new-shipment='true' value='{{this.stock_location_id}}'>{{this.stock_location_name}}</option>
        {{/each}}
      </optgroup>
      </select>
    </td>

    <td class='actions'>
      <a href='#' class='save-split icon_link fa fa-check no-text with-tip' title='Save'></a>
      <a href='#' class='cancel-split icon_link fa fa-cancel no-text with-tip' title='Cancel'></a>
    </td>
  </tr>
</script>
