	<style>
	table {
	    border-collapse: collapse;
	}
	
	table, td, th {
	    border: 1px solid black;
	}
	</style>
	
	<p>Hi,</br>
	Here is the status of your imported Historical Orders: </br>
	CSV file used for Orders:  <%= @order_path %> </br>
	Import submitted on: <%= @submited_at %> </p>
	<% if(@csv_error.empty?)%>	
		
		<h3>Status: Success</h3>
			
		<p> All the Historical Orders in the CSV file has been uploaded to server successfully. 
			You should be able to see the orders in the Admin > Orders, 
		</p>
		
	<% else %>
		
			<h3>Status: Failure </h3>
			<table>
			    <thead>
			        <tr>
			          <th>Sr#</th>
			          <th>Error Message</th>
			        </tr>
			    </thead>
			
			    <% table_no = 0 %>
			    <tbody>
			        <% @csv_error.each do |error| %>
					          <tr>
					          	<td><%= table_no = table_no + 1 %></td>
					            <td><%= error %></td>
					          </tr>
				    <% end %>
			    </tbody>
			</table>
	<% end %>	