	<style>
	table {
	    border-collapse: collapse;
	}
	
	table, td, th {
	    border: 1px solid black;
	}
	</style>
	
	<p>Hi,</br>
	Here is the status of your imported products: </br>
	CSV file used for product details:  <%= @csv_path %> </br>
	Folder used for images: <%= @image_path %> </br>
	Import submitted on: <%= @submited_at %> </p>
	<% if(@csv_error.empty?)%>	
		
		<h3>Status: Success</h3>
			
		<p> All the products in the CSV file has been uploaded to server successfully with the 
			corresponding product images. You should be able to see the products in the Admin > products, 
			you can look-up the uploaded products by SKU or name of the product in the CSV file. </p>
		
	<% else %>
		
			<h3>Status: Failure </h3>
			<table>
			    <thead>
			        <tr>
			          <th>Sr#</th>
			          <th>Error Message</th>
			          <th>Line Number</th>
			          <th>Record</th>
			        </tr>
			    </thead>
			
			    <% table_no = 0 %>
			    <tbody>
			        <% @csv_error.each do |error| %>
					          <tr>
					          	<td><%= table_no = table_no + 1 %></td>
					            <td><%= error[0] %></td>
					            <td><%= error[1] %></td>
					            <td><%= error[2] %></td>
					          </tr>
				    <% end %>
			    </tbody>
			</table>
	<% end %>	