<div id="account_side_bar_main" class="account-side-bar-collapse row">
  <div id="demo" class="account-side-bar account-side-bar-collapse-slider">
    <nav class="menu">
          <ul data-hook="account_side_bar" style="padding-left: 0px;">
            <li<%== ' class="account-side-bar-active"' if current == 'Account' %>>
              <a class="btn full-width small" href="/account">Account Info</a>
            </li>
<!-- 
            <li<%== ' class="account-side-bar-active"' if current === 'Measurement Profile' %>>
            <%= link_to "Measurement Profile", profiles_path,:class => "btn full-width small"%>
            </li> 
 -->
           <!-- <li<%== ' class="account-side-bar-active"' if current == 'Account address' %>>
              <a class="btn full-width small" href="/account/address">Shipping Profile</a>
            </li>-->

            <li<%== ' class="account-side-bar-active"' if current == 'Account orders' %>>
              <a class="btn full-width small" href="/account/orders">Order History</a>
            </li>

            <li<%== ' class="account-side-bar-active"' if current == 'Account history' %>>
              <a class="btn full-width small" href="/account/history">Store Credits</a>
            </li>

            <!--
            <li<%== ' class="account-side-bar-active"' if current == 'loyalty points' %>>
              <a class="btn btn-default btn-sm" href="/account/loyalty">Loyalty Points</a>
            </li>-->


          <li<%== ' class="account-side-bar-active"' if current == 'redeem card' %>>
              <a class="btn full-width small" href="/account/redeem">Redeem Gift Cards</a>
            </li>

        </ul>
    </nav>
  </div>

</div>
