<div class="row account-side-content">
  <div class="span2"></div>
	<div class="account-info-label">
		<div class="page-title">
			<h1>Account Info</h1>
		</div>
		<br>
	</div>
  <div class="account-info-section" >
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>
			<%= simple_form_for @user, :url => spree.user_path(@user), :method => :put, :html => {:class => 'form-horizontal'} do |f| %>
    		<%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
				<div class="control-group">
			    	<div class="col-lg-6 col-lg-offset-6 controls-measurement-profiles">
            <a class="btn btn-custom-black" href="/account" id="close_button">cancel</a>
			     	<%= f.submit 'Save', :class => 'btn btn-custom' %>
					</div>
				</div>
		<% end %>
	</div>
</div>
