<table>
	<colgroup>
	      <col style="width: 74%;" />
	      <col style="width: 13%;" />
	      <col style="width: 13%;" />
    	</colgroup>
	<thead>
		<th></th>
		<th></th>
		<th></th>
	</thead>
	<tbody>
	<% @profiles.each do |profile| %>
	<tr>
		<td><%= profile.name %></td>
		<td><%= link_to 'Edit', edit_profile_path(profile) %></td>
		<td> <%= link_to 'Delete', [profile], method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	</tbody>
	<% end %>
</table>
