<div class="row">
	<div id="account_side_bar_border" class="col-lg-3 col-md-4 col-sm-4">
		<%= render "account_sidebar", :current => 'loyalty points' %>
	</div>
	<div id="divwidth" class="col-lg-9 col-md-8 col-sm-8" style="padding-top:10px;">
	    <div class="user_loyalty_point_section">
	    	<h3><%= Spree.t(:loyalty_points_balance) %>
				:&nbsp;<%= @user.loyalty_points_balance %>
			<h3>
	    </div>
	</div>
</div>
