<div class="row">
  <div class="row hidden-sm hidden-md hidden-lg" id="command-row">
      <div class="col-xs-6">
          <button id="side-bar-collapse-btn" type="button" class="btn btn-default btn-command account-info-side-bar-btn" data-toggle="toggle" data-target="#demo">
              <i class="fa fa-gear fa-2x"></i>Settings
          </button>
      </div>
      <div class="col-xs-6 ">
          <a href="/shirts" type="button" class="btn btn-default btn-command pull-right">
              <i class="fa fa-shopping-bag fa-2x"></i>Return To Shop</a>
      </div>
  </div>
  <div id="account_side_bar_border" class="col-lg-3 col-md-4 col-sm-4 ">
    <div class="col-padding">
		<%= render "account_sidebar", :current => 'redeem card' %>
	   </div>
  </div>
	<div id="divwidth" class="col-lg-9 col-md-8 col-sm-8 page-text" style="padding-top:10px;">
     <div class="col-padding">
			<form action="/user/redeem-gift-cards" method="post">
					<input name="utf8" type="hidden" value="" />
					<input name="authenticity_token" type="hidden" value="">
					<label class="my-account-page-header-title"><%= Spree.t(:redeem_gift_card) %></label><br>
					<div class=" col-md-8 col-xs-12 padding-zero " style="padding-right:10px;padding-bottom:10px;">
						<input class="form-control" id="redemption_code" name="redemption_code" required="required" type="text" placeholder="Redemption Code">
					</div>
					<div class=" col-md-4 col-xs-12 padding-zero">
						<button class="btn btn-custom" id="add-to-cart-button" type="submit">
							Redeem
						</button>
					</div>
	  	</form>
      </div>
	 </div>
</div>

