<div class="row ">
  <div class="row hidden-sm hidden-md hidden-lg" id="command-row">
      <div class="col-xs-6">
          <button id="side-bar-collapse-btn" type="button" class="btn btn-default btn-command account-info-side-bar-btn" data-toggle="toggle" data-target="#demo">
              <i class="fa fa-gear fa-2x"></i>Settings
          </button>
      </div>
       <div class="col-xs-6 ">
          <a href="/shirts" type="button" class="btn btn-default btn-command pull-right">
              <i class="fa fa-shopping-bag fa-2x"></i>Return To Shop</a>
      </div>
  </div>
  <div id="account_side_bar_border" class="col-lg-3 col-md-4 col-sm-4">
    <div class="col-padding">
		  <%= render "account_sidebar", :current => 'Account history' %>
    </div>
	</div>
  <div id="divwidth" class="col-lg-9 col-md-8 col-sm-8 page-text" style="padding-top:10px;" >
    <div class="col-padding">
      <% if @user.total_available_store_credit > 0 %>
          <label class="my-account-page-sub-header">Total available store credit: <%= Spree::Money.new(@user.total_available_store_credit) %>.</label>
      <% else %>
          <label class="my-account-page-sub-header">You have no available store credit.</label>
      <% end %>
      <!--
      <h3>"rubytag"= Spree.t(:refer_a_friend) "rubytag"</h3>
      <div class="col-md-8">
      <input type='text' class="form-control" value='"rubytag" referral_url(@user.referral.code) "rubytag"' onClick='this.select();' readonly />
      </div>
      <div class="col-md-4">
      "rubytag" link_to "Send to Friend", referral_url_email_to_friend_url(@user.referral.code), :class => "btn btn-primary" "rubytag"
      </div>
      </br>
      </br>
      <div class="col-md-3">
      "rubytag"= Spree.t(:Referred_users) "rubytag":
      "rubytag"= @user.referred_count"rubytag"
      </div>-->
    </div>
  </div>
</div>
