<div class="row">
  <div class="row hidden-sm hidden-md hidden-lg" id="command-row">
    <div class="col-xs-6">
        <button id="side-bar-collapse-btn" type="button" class="btn btn-default btn-command account-info-side-bar-btn" data-toggle="toggle" data-target="#demo">
            <i class="fa fa-gear fa-2x"></i>Settings
        </button>
    </div>
     <div class="col-xs-6 ">
          <a href="/shirts" type="button" class="btn btn-default btn-command pull-right">
              <i class="fa fa-shopping-bag fa-2x"></i>Return To Shop</a>
      </div>
  </div>
  <div id="account_side_bar_border" class="col-lg-3 col-md-4 col-sm-4">
    <div class="col-padding">
      <%= render "account_sidebar", :current => 'Account orders' %>
    </div>
  </div>
  <div id="divwidth" class="col-lg-9 col-md-8 col-sm-8 page-text" style="padding-top:10px;">
  <div class="col-padding">
    <div class="user_order_history_section">
      <div>
        <label class="my-account-page-header-title">Order History</label>
      </div>
      <% if @orders.present? %>
            <table class="order-summary table">
                  <thead>
                  <tr class="my-account-page-sub-header" style="text-transform:Capitalize;">
                    <th class="order-number">Order <%= I18n.t(:number, :scope => 'activerecord.attributes.spree/order') %></th>
                    <th class="order-date">Order <%= Spree.t(:date) %></th>
                    <!--<th class="order-payment-state"><%= Spree.t(:payment_state) %></th>-->
                    <th class="order-total"><%= Spree.t(:total) %></th>
                  </tr>
                  </thead>
                  <tbody>
                        <% @ordersdesc.each do |order| %>
                        <% if order.completed_at != nil
                            if(order.manual_order && order.offline_order_date)
                                completed_date = order.offline_order_date.to_date
                            else
                                completed_date = order.completed_at.to_date
                            end
                        else
                            completed_date = "Incomplete order."
                        end%>
                            <tr class="<%= cycle('even', 'odd') %>">
                            <td class="order-number"><%= link_to order.number, order_url(order) %></td>
                            <td class="order-date"><%= completed_date.strftime("%b %d, %Y") %></td>
                            <!--<td class="order-payment-state"><%= Spree.t("payment_states.#{order.payment_state}").titleize if order.payment_state %></td>-->
                            <td class="order-total"><%= order.display_total %></td>
                            </tr>
                        <% end %>
                  </tbody>
            </table>
      <% else %>
             <p><%= Spree.t(:you_have_no_orders_yet) %></p>
      <% end %>
    </div>
  </div>
  </div>
</div>

