<div class="row">
    <div class="row hidden-sm hidden-md hidden-lg" id="command-row">
        <div class="col-xs-6">
            <button id="side-bar-collapse-btn" type="button" class="btn btn-default btn-command account-info-side-bar-btn" data-toggle="toggle" data-target="#demo">
                <i class="fa fa-gear fa-2x"></i>Settings
            </button>
        </div>
        <div class="col-xs-6 ">
          <a href="/shirts" type="button" class="btn btn-default btn-command pull-right">
              <i class="fa fa-shopping-bag fa-2x"></i>Return To Shop</a>
        </div>
    </div>
    <div id="account_side_bar_border" class="col-lg-3 col-md-4 col-sm-4">
      <div class="col-padding">
        <%= render "account_sidebar", :current => 'Account' %>
      </div>
    </div>
    <div id="divwidth" class="col-lg-9 col-md-8 col-sm-8" style="padding-top:10px;">
      <div class="col-padding">
      <label class="my-account-page-header-title">Account Information</label><br>
        <div data-hook="account_mesurement_profiles">
          <div>
           <%= render "spree/users/edit" %>
          </div>
        </div>
      </div>
    </div>
</div>

