<div class="row">
    <div class=" omega eight columns">
        <div class=" omega six columns">
            <%= f.input :name, :label => "Name" %>
        </div>
        <div class=" omega six columns">
            <%= f.input :neck, :label => "Collar"%>
        </div>
        <div class=" omega six columns">
            <%= f.input :yoke, :label => "Shoulders"%>
        </div>
        <div class=" omega six columns">
            <%= f.input :sleeve, :label => "Sleeves"%>
        </div>
        <div class=" omega six columns">
            <%= f.input :chest, :label => "Chest" %>
        </div>
        <div class=" omega six columns">
           <label>classification</label><br/> <%= select_tag 'shirt_profile[classification_code]', options_for_select(Profile::CLASSIFICATION,@profile.classification_code)%>
        </div>
    </div>
    <div class=" omega eight columns">
        <div class=" omega six columns">
            <%= f.input :waist, :label => "Waist" %>
        </div>
        <div class=" omega six columns">
            <%= f.input :length, :label => "Length" %>
        </div>
        <div class=" omega six columns">
            <%= f.input :hip, :label => "Hips" %>
        </div>
        <div class=" omega six columns">
            <%= f.input :bicep, :label => "Bicep" %>
        </div>
        <div class=" omega six columns">
            <%= f.input :wrist, :label => "Cuff" %>
        </div>
        <div class=" omega six columns">
           <label>length</label><br/><%= select_tag 'profile[length_code]', options_for_select(Profile::LENGTHS,@profile.length_code), {  :disabled => "disabled"}%>
        </div>
    </div>
</div>
