<div class="row">
    <%= form_tag('/shirt_profiles',class: "form-horizontal") do %>

        <div class=" omega eight columns">
            <div class=" omega six columns">
                <label for="detailedProfile" class="col-sm-6 control-label">BODY PROFILE</label>
                <% if @selected_profile_id  %>
                    <%= select_tag "detailedProfile", options_from_collection_for_select(@detailedProfiles, "id", "name",@selected_profile_id), { :class => 'fullwidth' }%>
                <% else %>
                    <%= select_tag "detailedProfile", options_from_collection_for_select(@detailedProfiles, "id", "name"), { :class => 'fullwidth' }%>
                <% end %>
            </div>
            <div class=" omega six columns">
                <label for="detailedProfile" class="control-label">CHEST SLEEVES</label>
                <%= select_tag "chest_sleeves", options_for_select(Profile::CHEST_SLEEVES), { :class => 'fullwidth' }%>
            </div>
            <div class=" omega six columns">
                <label for="detailedProfile" class="control-label">WAIST HIPS</label>
                <%= select_tag "waist_hips", options_for_select(Profile::WAIST_HIPS), { :class => 'fullwidth' }%>
            </div>
        </div>
        <div class=" omega eight columns">
            <div class=" omega six columns">
                <label for="detailedProfile" class=" control-label">LENGTHS</label>
                <%= select_tag "lengths", options_for_select(Profile::LENGTHS), { :class => 'fullwidth' }%>
            </div>
            <div class=" omega six columns">
                <label for="detailedProfile" class=" control-label">CLASSIFICATION</label>
                <%= select_tag "classification", options_for_select(Profile::CLASSIFICATION,@classification), { :class => 'fullwidth' }%>
            </div>
        </div>
        <div class=" omega fourteen columns" style="text-align:right;margin-right:30px;margin-bottom:30px;">
          <input id="generate-button-to-regenerate" class="btn btn-custom-measurement-profile" onclick="adminCreateShirt()" type="button" value="generate measurements">
        </div>
        <div id="generated_profile" class=" omega fourteen columns" style="display:none;">
          <table class="table borderless table-responsive" STYLE="   font-size:14px">
            <tr>
              <th colspan="2">Body Measurements</th>
              <th>Ease </th>
              <th colspan="2">Shirt Measurements</th>
            </tr>
            <tr>
              <td><label>Collar</label></td>
              <td><span id="neck"></span> </td>

              <td><span id="ease_neck"></span> </td>

              <td><input class="numeric decimal optional" id="profile_neck" name="shirt_profile[neck]" step=".125" type="number" value="<%=@generated_neck%>"></td>
              <td><label>Collar</label></td>
            </tr>
            <tr>
              <td><label>Shoulder</label></td>
              <td><span id="yoke"></span> </td>
              <td><span id="ease_yoke"></span> </td>
              <td><input class="numeric decimal optional" id="profile_yoke" name="shirt_profile[yoke]" step=".125" type="number" value="<%=@generated_yoke%>"></td>
              <td> <label>Shoulder</label></td>
            </tr>
            <tr>
              <td><label>Sleeve</label></td>
              <td><span id="cuff"></span> </td>
              <td><span id="ease_cuff"></span> </td>
              <td><input class="numeric decimal optional" id="profile_cuff" name="shirt_profile[sleeve]" step=".125" type="number" value="<%=@generated_wrist%>"> </td>
              <td><label>Sleeve</label></td>
            </tr>
            <tr>
              <td><label>Bicep</label></td>
              <td><span id="bicep"></span> </td>
              <td><span id="ease_bicep"></span> </td>
              <td><input class="numeric decimal optional" id="profile_bicep" name="shirt_profile[bicep]" step=".125" type="number" value="<%=@generated_bicep%>"> </td>
              <td><label>Bicep</label></td>
            </tr>
             <tr>
              <td><label>Cuff</label></td>
              <td><span id="wrist"></span> </td>
              <td><span id="ease_wrist"></span> </td>
              <td><input class="numeric decimal optional" id="profile_wrist" name="shirt_profile[wrist]" step=".125" type="number" value="<%=@generated_wrist%>"> </td>
              <td><label>Cuff</label></td>
            </tr>

            <tr>
              <td><label>Chest</label></td>
              <td><span id="chest"></span> </td>
              <td><span id="ease_chest"></span> </td>
              <td><input class="numeric decimal optional" id="profile_chest" name="shirt_profile[chest]" step=".125" type="number" value="<%=@generated_chest%>"> </td>
              <td><label>Chest</label></td>
            </tr>
             <tr>
              <td><label>Waist</label></td>
              <td><span id="waist"></span> </td>
              <td><span id="ease_waist"></span> </td>
              <td><input class="numeric decimal optional" id="profile_waist" name="shirt_profile[waist]" step=".125" type="number" value="<%=@generated_chest%>"> </td>
              <td><label>Chest</label></td>
            </tr>
            <tr>
              <td><label>Seat</label></td>
              <td><span id="hip"></span> </td>
              <td><span id="ease_hip"></span> </td>
              <td><input class="numeric decimal optional" id="profile_hip" name="shirt_profile[hip]" step=".125" type="number" value="<%=@generated_hip%>"></td>
               <td><label>Seat</label></td>
            </tr>
            <tr>
              <td><label>Length</label></td>
              <td><span id="length"></span> </td>
              <td><span id="ease_length"></span> </td>
              <td><input class="numeric decimal optional" id="profile_length" name="shirt_profile[length]" step=".125" type="number" value="<%=@generated_length%>"> </td>
              <td><label>Length</label></td>
            </tr>
          </table>

          <input class="numeric decimal optional " id="profile_classification_code" name="shirt_profile[classification_code]" style="display:none">
          <input class="numeric decimal optional " id="profile_waist_hips_code" name="shirt_profile[waist_hips_code]" style="display:none">
          <input class="numeric decimal optional " id="profile_chest_sleeves_code" name="shirt_profile[chest_sleeves_code]" style="display:none">
          <input class="numeric decimal optional " id="profile_length_code" name="shirt_profile[length_code]" style="display:none">

        <div  style="text-align:right;margin-bottom:30px;">
          <%= f.submit "Done", class: 'btn btn-custom-measurement-profile', id: 'save_button' %>
          <% if session[:urlorder] %>
           <button href="<%= session[:urlorder]%>">Go Back</button>
          <% end %>
        </div>
        </div>

    <% end %>
</div>



<style type="text/css">
.container-select
{
    width: 100%;
}
</style>
