<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  Profiles
<% end %>

<% content_for :page_actions do %>
  <li id="new_profile_link">
    <%= button_link_to "New Profile", new_admin_user_detailed_profile_url(@user), { :remote => true, :icon => 'icon-plus', :id => 'new_profile_link' } %>
  </li>
<% end %>
User: <%= "#{@user.last_name}, #{@user.first_name}" %>

<table class="index" id="listing_users" data-hook>
  <colgroup>
    <col style="width: 85%">
    <col style="width: 15%">
  </colgroup>
  <thead>
    <tr>
      <th>Profile Name</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile|%>
      <tr id="<%= spree_dom_id profile %>" class="<%= cycle('odd', 'even')%>">
        <td><%=link_to profile.name, admin_user_profile_url(@user, profile) %></td>
        <td class="actions">
          <%#= link_to_edit profile, :no_text => true %>
          <%#= link_to_delete profile, :no_text => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>