<%= simple_form_for [@user, @profile], :url => admin_user_shirt_profiles_path do |f| %>
  <fieldset>
    <legend align="center">New Shirt Measurement Profile</legend>

      <%= render :partial => 'newshirtform', :locals => { :f => f } %>

      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= link_to_with_icon 'icon-remove', t(:cancel), edit_admin_user_url(@user), :id => 'cancel_link', :class => 'button' %>
      </div>
  </fieldset>
<% end %>
