<% content_for :page_title do %>
  Measurement Profile
<% end %>

<table>
  <tr>
    <th>Name</th>
    <td>
      <%= @profile.name %>
    </td>
  </tr>
	<tr>
		<th>Created at</th>
		<td>
			<%= @profile.created_at %>
		</td>
	</tr>
	<tr>
		<th>Updated at</th>
		<td>
			<%= @profile.updated_at %>
		</td>
	</tr>
	<tr>
		<th>Height</th>
		<td>
			<%= @profile.height_ft %>' <%= @profile.height_in %>"
		</td>
	</tr>
	<tr>
		<th>Weight</th>
		<td>
			<%= @profile.weight %>
		</td>
	</tr>
	<tr>
		<th>Collar</th>
		<td>
		<%= @profile.neck %>
		</td>
	</tr>
	<tr>
		<th>Shoulders</th>
		<td>
		<%= @profile.yoke %>
		</td>
	</tr>
	<tr>
		<th>Sleeves</th>
		<td>
			<%= @profile.sleeve %>
		</td>
	</tr>
	<tr>
		<th>Chest</th>
		<td>
		<%= @profile.chest %>
		</td>
	</tr>
	<tr>
		<th>Waist</th>
		<td>
		<%= @profile.waist %>
		</td>
	</tr>
	<tr>
		<th>Hips</th>
		<td>
		<%= @profile.hip %>
		</td>
	</tr>
	<tr>
		<th>Bicep</th>
		<td>
		<%= @profile.bicep %>
		</td>
	</tr>
	<tr>
		<th>Wrist</th>
		<td>
		<%= @profile.wrist %>
		</td>
	</tr>
	<tr>
		<th>Length</th>
		<td>
		<%= @profile.length %>
		</td>
	</tr>
</table>