<% s_or_b = type.chars.first %>
<div class="shipping-address-form">
	<div id="<%= type %>" data-hook="address_fields" >
	  <div class="field omega eight columns <%= "#{type}-row" %>">
	    <%= f.text_field :firstname, :class => 'omega eight columns' ,:placeholder => "Enter first name" %>
	  </div>
	
	  <div class="field omega eight columns <%= "#{type}-row" %>">
	    <%= f.text_field :lastname, :class => 'omega eight columns',:placeholder => "Enter last name" %>
	  </div>
	
	  <% if Spree::Config[:company] %>
	    <div class="field <%= "#{type}-row" %>">
	      <%= f.label :company, Spree.t(:company), :class => 'omega eight columns' %>
	      <%= f.text_field :company, :class => 'fullwidth' %>
	    </div>
	  <% end %>
	
	  <div class="field omega eight columns <%= "#{type}-row" %>">
	    <%= f.text_field :address1, :class => 'omega eight columns', :placeholder => "Enter street address" %>
	  </div>
	
	  <div class="field omega eight columns <%= "#{type}-row" %>">
	    <%= f.text_field :address2, :class => 'omega eight columns', :placeholder => "Enter street address(CONT'D)" %>
	  </div>
	
	  <div class="field omega eight columns <%= "#{type}-row" %>">
	    <%= f.text_field :city, :class => 'omega eight columns', :placeholder => "Enter city"%>
	  </div>
	
	  <div class="field omega eight columns <%= "#{type}-row" %>">
	    <%= f.text_field :zipcode, :class => 'omega eight columns', :placeholder => "Enter zip code"%>
	  </div>
	
	  <div class=" omega five columns <%= "#{type}-row" %>">
	    <%= f.label :country_id, Spree.t(:country), :class => 'omega five columns' %>
	    <span id="<%= s_or_b %>country">
	      <%= f.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'select2 omega five columns'} %>
	    </span>
	  </div>
	
	  <div class=" omega five columns <%= "#{type}-row" %>">
	    <%= f.label :state_id, Spree.t(:state), :class => 'omega five columns' %>
	    <span id="<%= s_or_b %>state">
	      <%= f.text_field :state_name,
	            :style => "display: #{f.object.country.states.empty? ? 'block' : 'none' };",
	           :disabled => !f.object.country.states.empty?, :class => 'omega five columns state_name' %>
	      <%= f.collection_select :state_id, f.object.country.states.sort, :id, :name, {:include_blank => false}, {:class => 'select2 omega five columns', :style => "display: #{f.object.country.states.empty? ? 'none' : 'block' };", :disabled => f.object.country.states.empty?} %>
	    </span>
	  </div>
	
	  <div class=" omega six columns <%= "#{type}-row" %>", style="padding-top:20px">
	    <%= f.phone_field :phone, :class => 'omega six columns', :placeholder => "Enter mobile number"%>
	  </div>
	</div>
</div>

<% content_for :head do %>
  <%= javascript_tag do -%>
    $(document).ready(function(){
      $('span#<%= s_or_b %>country .select2').on('change', function() { update_state('<%= s_or_b %>'); });
    });
  <% end -%>
<% end %>
