<header id="header" data-hook style="background-color: black;">
  <div class="container">
    <figure data-hook="logo-wrapper" class="columns five">
      <img alt="SARTORNYC" class="img-responsive" src="<%= image_path('core/header-logo.png')%>" style="padding: 5px;">
    </figure>

    <nav data-hook="admin_login_navigation_bar" class="columns eleven"></nav>
  </div>
</header>
