

<% content_for :page_actions do %>  
  <% if @order.outstanding_balance? %>
    <li id="new_payment_section">
      <%= button_link_to Spree.t(:new_payment), new_admin_order_payment_url(@order), :icon => 'plus' %>
    </li>
  <% end %>  
  <% if can? :update, @order %>
    <%= button_link_to Spree.t(:back_to_order), edit_admin_order_url(@order), :icon => 'arrow-left'  %>
    <% end %>
  <li><%= button_link_to Spree.t(:back_to_orders_list), admin_orders_path, :icon => 'arrow-left' %></li>
<% end %>

<% content_for :page_title do %>
  <i class="fa fa-arrow-right"></i> <%= Spree.t(:payments) %>
<% end %>

<% if @order.outstanding_balance? %>
  <h5 class="outstanding-balance"><%= @order.outstanding_balance < 0 ? Spree.t(:credit_owed) : Spree.t(:balance_due) %>: <strong><%= @order.display_outstanding_balance %></strong></h5>
<% end %>

<% if @payments.any? %>
  <%= render :partial => 'list', :locals => { :payments => @payments } %>
<% else %>
  <div class="alpha twelve columns no-objects-found"><%= Spree.t(:order_has_no_payments) %></div>
<% end %>
