
<% content_for :page_title do %>
  <i class="fa fa-arrow-right"></i> <%= Spree.t(:new_payment) %>
<% end %>

<% content_for :page_actions do %>
	<% if can? :update, @order %>
    <%= button_link_to Spree.t(:back_to_order), edit_admin_order_url(@order), :icon => 'arrow-left'  %>
    <% end %>
  <li><%= button_link_to Spree.t(:back_to_payments_list), spree.admin_order_payments_url(@order), :icon => 'arrow-left' %></li>
<% end %>

<% if @payment_methods.any? %>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @payment } %>

  <%= form_for @payment, :url => admin_order_payments_path(@order) do |f| %>
    <fieldset class="no-border-top">
      <%= render :partial => 'form', :locals => { :f => f } %>

      <div class="filter-actions actions" data-hook="buttons">
        <%= button @order.cart? ? Spree.t('actions.continue') : Spree.t('actions.update'), @order.cart? ? 'arrow-right' : 'refresh' %>
      </div>
    </fieldset>
  <% end %>
<% else %>
  <%= Spree.t(:cannot_create_payment_without_payment_methods) %>
  <%= link_to Spree.t(:please_define_payment_methods), admin_payment_methods_url %>
<% end %>
