<% @body_id = 'signup' %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<div id="new-customer" class="row">
  <div class="page-header-title">
    <center>Create an Account</center>
  </div>
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2" data-hook="signup">
    <%= form_for resource, :as => :spree_user, :url => spree.registration_path(@user) do |f| %>
      <div data-hook="signup_inside_form">
        <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
        <div class="col-xs-12" style="text-align:right;">
          <div class="col-xs-12" >
            <br/>
            <%= link_to "cancel",spree.login_path, :class => "btn btn-custom-black", id: 'close_button' %>
            <%= f.submit 'Save', :class => 'btn btn-custom'%>
            <br/>
            <div style="padding-top:15px;">
                <span class="page-text ">or</span>&nbsp;<%= link_to Spree.t(:login_as_existing), spree.login_path , :class => 'sub-link'%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div data-hook="login_extras"></div>
