<div class="row page-buffer-space">

    <% content_for :head do %>
    	<%= stylesheet_link_tag 'spree/adhoc/jcarousel.responsive', :media => 'screen' %>
    	<%= javascript_include_tag "spree/adhoc/jquery.jcarousel.min" %>
    	<%= javascript_include_tag "spree/adhoc/jcarousel.responsive" %>
    	<%= javascript_include_tag "spree/adhoc/bootstrap-datepicker" %>
    	<%= stylesheet_link_tag "spree/adhoc/datepicker3" %>
    <% end %>

    <% products = Spree::Product.find_by(:gift_card => true)%>
    <!-- Edit Virtual Gift Card Type   -->
      <input type="text" id="gift_card_type_current" value="<%=@virtual_card != nil ? @virtual_card.card_type : nil%>" style="display:none;">
    <!-- End -->
    <%if products != nil%>

        <%= form_for "/gifting", html: { id: "gift_card_form" } do |f| %>
            <!-- Edit Virtual Gift Card Type   -->
                <input class="hide" id="update_gift_card_id" name="update_gift_card_id" value="<%=@pid %>">
            <!-- End -->
            <div class="page-header-title">
               <center>Give The Gift That Fits</center>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
              <hr size="5"/>
            </div>
            <div class="gift-card-section">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 gift-card-image-section">
                    <center> <img src="/giftcardheader.png" class="img-responsive"></center>
                </div>
                <div class="pull-right col-lg-6  col-md-6 col-sm-12 col-xs-12  gift-card-form-section">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>Gift Card Options</b></h3>
                        </div>
                        <div class="panel-body">
                           <div class="row">
                                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 padding-zero" style="padding-bottom:15px;" >
                                    <div class="col-lg-12 col-md-3 col-sm-12 col-xs-12 padding-zero">
                                     <label><b>Value</b></label>
                                    </div>
                                    <%= %>
                                    <div class="col-lg-12 col-md-9 col-sm-12 col-xs-12 padding-zero">
                                     <%#=select(:variant, :id , @gift_card_variants.map {|variant| [variant.display_price, variant.id]}) %>
                                        <select id="variant_id" name="variant[id]" value="<%= @virtual_card.present? ? @virtual_card.line_item.variant_id : "" %>">
                                         <%@gift_card_variants.each do |gift_card_variant| %>
                                            <option <%= if @virtual_card.present?
                                                          @virtual_card.line_item.variant_id.to_s == gift_card_variant.id.to_s ? "selected" : ""
                                                        end %>
                                                    value="<%= gift_card_variant.id%>">
                                                    <%= Spree::Money.new(gift_card_variant.price, currency: 'USD').to_html %>
                                            </option>
                                         <%end%>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 padding-zero">
                                    <div class="col-lg-12 col-md-3 col-sm-12 col-xs-12 padding-zero">
                                        <label><b>Card Type</b></label>
                                    </div>
                                    <div class="col-lg-12 col-md-9 col-sm-12 col-xs-12 padding-zero">
                                        <div class="custom-radio-style">
                                            <div class="col-lg-6 col-md-6 form-padding">
                                                <input type="radio" id="physical_card_type" name="gift_card_type" value="physical" checked="checked">
                                                <label style="letter-spacing:1px;" for="physical_card_type"><span></span>Physical Gift Card </label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 form-padding">
                                                <input type="radio" id="virtual_card_type" name="gift_card_type" value="virtual">
                                                <label style="letter-spacing:1px;"  for="virtual_card_type"><span></span>Virtual Gift  Card</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           </div>
                          <div class="row">
                                <div class="row" >
                                    <div class="form-group">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                            <label for="exampleInputEmail1"><b>Recipient Name</b></label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-bottom:15px">
                                            <input class="form-control" id="options_name" name="options_name" required="required" type="text"  placeholder="First Name" value="<%=@first_name%>">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-bottom:15px">
                                            <input class="form-control " id="giftcard_address_lastname" name="giftcard_address_lastname" required="required" type="text" placeholder="Last Name" value="<%=@last_name%>">
                                        </div>
                                    </div>
                                </div>
                                <div id="shipping-address-form">
                                    <% address = @address%>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><b>Address</b></label>
                                        <input class="form-control" id="giftcard_address_address1" name="giftcard_address_address1" required="required" type="text" placeholder="Street Address" value="<%= @virtual_card != nil ? @virtual_card.ship_address.address1 : nil%>">
                                    </div>
                                      <!-- 	<div class="form-group">
                                      <label for="exampleInputEmail1"><b>Address 2</b></label>
                                      <input class="form-control" id="giftcard_address_address2" name="giftcard_address_address2" required="required" type="text">
                                      </div> -->
                                    <div class="form-group">

                                        <input class="form-control" id="giftcard_address_city" name="giftcard_address_city" required="required" type="text" placeholder="City" value="<%= @virtual_card != nil ? @virtual_card.ship_address.city : nil%>">
                                    </div>
                                    <div class="form-group row" style="display: none">
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1"><b>Country</b></label>
                                        </div>
                                        <div class="col-lg-8">
                                            <span id=<%= "#giftcard_address_country-selection" %>> <%= collection_select(:shipping_address, :country_id, available_countries, :id, :name, {:selected => address.country_id, :class => 'required'}) %> </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                      <% if Spree::Config[:address_requires_state] %>
                                        <% have_states = !address.country.states.empty? %>
                                        <% if have_states %>
                                        <div class="form-group col-lg-6 col-md-6">
                                          <%if @virtual_card != nil %>
                                            <span id=<%= "#giftcard_address_country-selection" %>> <%= collection_select(:shipping_address,
                                            :state_id, address.country.states,
                                            :id, :name, ({:selected =>@virtual_card.ship_address.state_id}),
                                            #Enable only if it has states
                                            {:class => have_states ? 'required  form-control':'hidden',
                                            :disabled => !have_states
                                            })%> </span>
                                          <% else %>
                                            <span id=<%= "#giftcard_address_country-selection" %>> <%= collection_select(:shipping_address,
                                            :state_id, address.country.states,
                                            :id, :name,{:prompt => 'Select State'},
                                            #Enable only if it has states
                                            {:class => have_states ? 'required  form-control':'hidden',
                                            :disabled => !have_states
                                            })%> </span>
                                          <% end %>
                                        </div>
                                        <% else %>
                                        <div class="form-group col-lg-6 col-md-6">
                                          <input class="form-control" id="giftcard_address_state" name="giftcard_address_state" required="required" type="text" placeholder="State">
                                        </div>
                                        <% end %>
                                      <% end %>
                                      <div class="form-group col-lg-6 col-md-6">
                                       <input class="form-control" id="giftcard_address_zipcode" name="giftcard_address_zipcode" required="required" type="text" placeholder="Zipcode" maxlength="5"  value="<%= @virtual_card != nil ? @virtual_card.ship_address.zipcode : nil%>" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 && event.charCode <= 57">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><b>Phone</b></label>
                                        <input class="form-control" id="giftcard_address_phone" name="giftcard_address_phone" required="required" type="text" maxlength="10"  value="<%= @virtual_card != nil ? @virtual_card.ship_address.phone : nil%>" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 && event.charCode <= 57">
                                    </div>
                                </div>
                                  <!-- <div class="form-group">
                                    <label for="exampleInputEmail1"><b>Recipient Email</b></label>
                                    <input class="form-control" id="options_email" name="options_email" type="email">
                                  </div> -->
                                <div class="form-group">
                                    <label for="exampleInputEmail1"><b>Message</b></label>
                                    <textarea class="form-control" id="options_note" name="options_note" rows="5"><%= @virtual_card != nil ? @virtual_card.email_message : nil%></textarea>
                                </div>
                                <div class="form-group">
                                    <center>
                                        <% if @updateflag == false%>
                                            <button class="btn btn-custom" id="add-to-cart-button" type="submit">
                                            Add To Cart
                                            </button>
                                        <% else %>
                                        <!-- Edit Virtual Gift Card Type   -->
                                            <button class="btn btn-custom" id="submit-gift-card" type="submit">
                                            Update To Cart
                                            </button>
                                        <!-- End -->
                                        <% end %>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="gift-card-text-section">
                        <center><p class="gifting-page-text">Recipients in the NYC area can come to our beautiful new showroom on West 27th street in the heart of Manhattan. We'll have a scotch waiting! Recipients outside of NYC can follow our easy online instructions to measure at home.</p></center>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="gift-card-image-section" style="padding-top:20px;">
                        <center><img src="/showroom.jpg" class="img-responsive"></center>
                    </div>
                </div>
            </div>
        <% end %>
    <%else%>
    	<br/>
    	<strong>Sorry, gift cards are not available.</strong>
    <%end%>
</div>
<script>
   /* SCROLLING TO HREF */
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
               if (target.length) {
                 $('html,body').animate({
                     scrollTop: target.offset().top - 110 /* -110 to account for header */
                }, 1000);
                return false;
            }
        }
    });

/*  to scroll to the error message*/
var elements = document.querySelectorAll('input,select,textarea');
    for(var i = elements.length; i--;){
     elements[i].addEventListener('invalid',function(){
     this.scrollIntoView(false);
     });
    }
</script>
