<div class="row">
	<%= form_tag("/appointment_contacts", method: "post", role: "form") do %>
		<div class="col-sm-6">	
			<div class="form-group">
		  	<%= label_tag(:name, "Name") %>
		  	<%= text_field(:appointment_contact, :name, class: "form-control") %>
			</div>
			<div class="form-group">
			  <%= label_tag(:email, "Email") %>
			  <%= text_field(:appointment_contact, :email, class: "form-control") %>
			</div>
			<div class="form-group">
			  <%= label_tag(:phone, "Phone") %>
			  <%= text_field(:appointment_contact, :phone, class: "form-control") %>
			</div>
		</div>
		<div class="col-sm-6">	
<!--				<div class="form-group">   -->
			  <%#= label_tag(:location_type, "Location") %>
			  <%#= text_field(:appointment_contact, :location_type, class: "form-control") %>
<!--				</div>   -->
			<div class="form-group">
			  <%= label_tag(:address, "Address") %>
			  <%= text_area(:appointment_contact, :address, class: "form-control", rows: 3) %>
			</div>
			<div class="form-group">
		  	<%= label_tag(:message, "Comments") %>
			  <%= text_area(:appointment_contact, :message, class: "form-control", rows: 3) %>
			</div>
		</div>
		<div class="col-md-6 col-md-offset-6">
		  <%= submit_tag("Request Appointment", class: "btn btn-default") %>
		</div>
	<% end %>
</div>