<% if flash %>
	<div id="flash-panel">
	<% flash.each do |type, message| %>
	  <div class="alert custom-flash-panel <%= bootstrap_class_for(type) %> fade in">
			<div>
	    		<button class="close" onclick="$('.custom-flash-panel').slideUp();" data-dismiss="alert">×</button>
	    		<%= message %>
			</div>
	  </div>
	<% end %>
	</div>
<% end %>
