 
<footer id="footerWrapper">
  <div class="container-fluid constrained-container">
      <div class="row" id="footer-row">
          <div class="col-sm-4 col-xs-12 col-sm-push-8 footer-col text-right" id="footer-social-col">
              <p>JOIN OUR COMMUNITY</p> 
              <a href="https://www.facebook.com/sartornyc"><i id="social-fb" class="fa fa-facebook-square social fa-5x"></i></a>
              <a href="https://www.instagram.com/sartornyc"><i id="social-ig" class="fa fa-instagram social fa-5x"></i></a>
              <p class="hidden-xs" id="footer-copyright">COPYRIGHT © 2016 SARTOR, INC.<br />
               ALL RIGHTS RESERVED.</p>
          </div>
          <div class="col-sm-4  col-sm-pull-4 footer-col col-xs-12" id="footer-menu-col"> 
              <ul class="list-unstyled" id="footer-menu"> 
                  <li class="footer-menu-li"><%= link_to "SHIPPING POLICY", shipping_path %></li>                             
                  <li class="footer-menu-li "><%= link_to "RETURNS AND ALTERATIONS", returns_path %></li>                             
                  <li class="footer-menu-li "><%= link_to "USAGE TERMS", terms_path %></li>                             
                  <li class="footer-menu-li "><%= link_to "PRIVACY", privacy_path %></li>
                  <li class="footer-menu-li "><a href="mailto:info@sartornyc.com">CONTACT US</a></li>
                  </a>
              </ul>                         
          </div>
          <div class="col-sm-4 text-center col-sm-pull-4 footer-col col-xs-12" id="footer-contact-col">
              <img src="https://sartornyctest.herokuapp.com/assets/core/logo_inverse_sartor_only-8367a0b23bb8cd9d7fce466ce7dad9f6.png" width="200" id="footer-logo">
              <p>888-883-8440</p>
              <p>112 W 27TH ST STE 502<br>
              NEW YORK, NY 10001</p>
          </div>
      </div>
  </div>
</footer>
