<header id="mainHeader" class="navbar-fixed-top" role="banner">
	<%#= flash_messages %>
	<%= render partial: "spree/shared/flash_messages", flash: flash %>
	<div class="container-main" id="container-header" style="transition: top 500ms; top: 0px;">
		<nav class="navbar navbar-sartor scrollMenu" role="navigation" style = "z-index: 1001;border-radius:0px;">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle m-l-sm m-t-sm" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar">
				</span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

				<a href=<%= root_path%>><span class="navbar-brand"><img alt="Ybt.2" class="img-responsive" src="<%= image_path('core/header-logo.png')%>"></span></a>

			<div class="pullright-corner">

				<ul class="">
					<li id="accountBox">
						<div class="pullright">
							<h1 id="animation_test" style="position:absolute;display:none;">
    						<% if (defined? @product.images[0] != nil and @product.images[0] != nil) %>
		              <img src="<%=@product.images[0].attachment.url(:large)%>" style=" width: 100px;height: 100px;box-shadow: 0px 0px 25px black;">
		            <% end %>
							</h1>
							<a href="/cart"><span class=" pull-right" style="padding-right:10px;"> <span class="glyphicon glyphicon-shopping-cart" style="    zoom: 117%;"></span>
								<%= if current_order and current_order.line_items then
									 		if current_order.line_items.count == 1 then
												'(1)'
											else
												"(#{current_order.line_items.count})"
											end
										else
											'(0)'
										end
								%>
							</a>
						</div>
						<% if spree_current_user %>
							<div class="dropdown higher-z-index ">

			         		 	<button class="btn btn-mini hidden-xs" data-toggle="dropdown" style="background-color: transparent;color: #ccc;padding-top: 0px;padding-bottom: 1px;padding-left: 0px;"><%= "#{spree_current_user.first_name} #{spree_current_user.last_name}" %>
			     				<b class="caret"></b>
			         		 	</button>
			         		 	<button class="btn btn-mini visible-xs" data-toggle="dropdown" style="background-color: transparent;color: #ccc;padding-top: 0px;padding-bottom: 1px;padding-left: 0px;"><%= "#{spree_current_user.first_name[0,1].upcase} #{spree_current_user.last_name[0,1].upcase}" %>
			     				<b class="caret"></b>
			         		 	</button>

								<ul class="dropdown-menu dropdown-menu-right">
							  		<li><%= link_to Spree.t(:my_account), spree.account_path %></li>
							  		<!--<li><%= link_to Spree.t(:wishlists), spree.wishlists_path %></li>-->
						<!--
                   		<li><%= link_to Spree.t(:wishlists), wishlist_url(spree_current_user.wishlist) %></li>
 -->
	                 	<li><%= link_to Spree.t(:logout), spree.logout_path %></li>
								</ul>

							</div>
						<% else %>
						  <div class="signup-login"><%= link_to "Login", spree.login_path %></div>
						<% end %>
					</li>
				</ul>
			</div>
			</div>
		</nav>
	</div>

	<div class="navbar-collapse navbar-2 collapse" align="center" id="header-stick">
		<ul class="nav navbar-nav ">
			&nbsp;
			<li class=<%= @shirtsSelected %>><%= link_to "SHIRTS", "/shirts" %></li>
			<!-- <li class=<%= @tiesSelected %>><%= link_to "TIES", "/ties" %></li> -->
			<li class=<%= @virtualGiftSelected %>><%= link_to "GIFTING", "/gifting"%></li>
			<li class="<%= @appoinmentControllerSelected %>" ><%= link_to "SCHEDULE A FITTING", new_appointment_contact_path %>
			</li>
			<!-- <li><a href="http://sartornyc.tumblr.com" target="_blank">THE JOURNAL</a> </li> -->
			<li class="<%= @contactUsSelected %>"><%= link_to "CONTACT", "/contact" %> </li>
		</ul>
	</div>
</header>
<% if content_for?(:subnav) %>
	<div style="height: 30px;"></div>
<% end %>
