<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">

<script src="//use.typekit.net/ped1cbi.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

<%== meta_data_tags %>
<%= canonical_tag %>
<%= favicon_link_tag image_path('core/favicon.ico') %>
<%= stylesheet_link_tag 'spree/frontend/all', :media => 'screen' %>
<%= csrf_meta_tags %>
<%= javascript_include_tag 'spree/frontend/all' %>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<%= render "spree/shared/routes" %>
<%= render "spree/shared/frontend_routes" %>
<%= yield :head %>
