<%= simple_form_for :spree_user, :url => spree.spree_user_session_path, :html => {:class => 'form'} do |f| %>
    <div id="password-credentials" class="col-lg-10 col-md-10" style="margin-top:30px; padding-left:0px;">
      <div class="form-group email required spree_user_email"><label class="email required control-label" for="spree_user_email">EMAIL</label><div><input class="string email required form-control" id="spree_user_email" name="spree_user[email]" type="email"></div></div>
      <br>
      <div class="form-group password required spree_user_password"><label class="password required control-label" for="spree_user_password">PASSWORD</label><div><input class="password required  form-control" id="spree_user_password" name="spree_user[password]" type="password"></div></div>
    </div>
    <div ><input name="spree_user[remember_me]" type="hidden" value="0"><label><input class="boolean optional " id="spree_user_remember_me" name="spree_user[remember_me]" type="checkbox" value="1"> Remember me</label></div>
		<br/>
    <div class="control-group" style="margin-bottom:10px;">
      <div class="controls">
        <%= f.submit 'Login', :class => 'btn btn-custom btn-large' %>
      </div>
    </div>
<% end %>
