<div class="row steps-data checkout-page-text" id="order-charges">
  <div class="col-sm-9">
      <%if order.confirm? %>
        <div class="page-sub-header">
          <legend><%= Spree.t(:confirm) %></legend>
        </div>
      <%end%>
    	<% if order.has_step?("address") %>
          <div class="row" style="margin-bottom: 20px">
            <div class="col-xs-6">
              <div class="" data-hook="order-bill-address page-sub-header">
                  <span class="checkout-page-subheader"><%= Spree.t(:billing_address) %><%= link_to "(#{Spree.t(:edit)})" ,checkout_state_path(:address) unless @order.completed?%></span>
                  <% if @order.bill_address_id != nil %>
                      <%= render :partial => 'spree/shared/address', :locals => {:address => order.bill_address} %>
                  <% else %>
                      Billing address not available.
                  <% end %>
              </div>
            </div>
          	<div class="col-xs-6">
              <div data-hook="order-ship-address ">
                  <span class="checkout-page-subheader"><%= Spree.t(:shipping_address) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless @order.completed? %></span>
                <% if @order.ship_address_id != nil %>
                    <%= render :partial => 'spree/shared/address', :locals => {:address => order.ship_address} %>
                <% else %>
                    Shipping address not available.
                <% end %>
              </div>
          	</div>
          </div>
    	<% end %>
      <div class="row">
        <div class="col-sm-6 " style="margin-bottom: 20px;">
          <span class="checkout-page-subheader"><%= Spree.t(:payment_information) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:payment) unless @order.completed? %></span>
          <div class="payment-info">
            <% order.payments.valid.each do |payment| %>
                <%= render payment %><br/>
            <% end %>
          </div>
        </div>
        <div class="col-sm-6" style="margin-bottom: 20px;">
          <% if order.has_step?("delivery") %>
                <span class="checkout-page-subheader"><%= Spree.t(:shipments) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:delivery) unless @order.completed? %></span>
              <div class="delivery">
              <% order.shipments.each do |shipment| %>
                  <i class='fa fa-truck'></i>
                  <%if shipment.selected_shipping_rate != nil
                      selected_shipping_rate_name = shipment.selected_shipping_rate.name
                  else
                      selected_shipping_rate_name = "(Shipping method not available)"
                  end%>
                  <%= Spree.t(:shipment_details, :stock_location => shipment.stock_location.name, :shipping_method => selected_shipping_rate_name) %>
              <% end %>
              </div>
            <%= render(:partial => 'spree/shared/shipment_tracking', :locals => {:order => @order}) if @order.shipped? %>
          <% end %>
        </div>
      </div>
	</div>
	<div id="checkout-summary" data-hook="checkout_summary_box" class="col-sm-3" <% if !@order.completed? %> style="padding-top:30px;" <%end%> >
		  <%= render :partial => 'spree/checkout/summary', :locals => {:order => @order} %>
    </br>
    <% if order.confirm? %>
      <div class="form-buttons" align=right data-hook="buttons" style="padding-top:15px;">
        <%= submit_tag Spree.t(:place_order), :class => 'continue btn btn-custom btn-lg', style: "width: 100%;" %>
      </div>
    <% end %>
	</div>
</div>
<hr/>
<% order.shipments.each do |shipment| %>
	<fieldset class="index no-border-bottom" data-hook="customer_guest">
    <div class=" page-sub-header">
        <legend>Shipment: <%=shipment.number%></legend>
    </div>
    <% if shipment.stock_location.status != nil
        shipment_status = shipment.stock_location.status
    else
        shipment_status = "Unknown"
    end %>


  	<table id='shipment_units' class="table table-responsive">
    	<thead class="checkout-page-subheader">
          <th><%= Spree.t(:items) %></th>
          <th><%= Spree.t(:configuration) %></th>
          <!--	<th><%#= Spree.t(:item_sku) %></th>-->
          <th><%= Spree.t(:item_name) %></th>
          <th class="price"><%= Spree.t(:price) %></th>
          <%if order.completed?%>
            <th class="qty"><%= Spree.t(:status) %></th>
          <%end%>
          <th class="total"><span><%= Spree.t(:total) %></span></th>
    	</thead>
    	<tbody class="checkout-page-text">
    		<% shipment.inventory_units.each do |unit| %>
    		<tr>
    			    <% if unit.line_item.parent_lineitem.nil? %>
              		<% variant = unit.line_item.variant %>
              		<tr data-hook="order_details_item_row">
    	            	<td rowspan="1" data-hook="order_item_image">
    	              		<% if unit.line_item.variant.images.length == 0 %>
    	                  		<%= link_to small_image(unit.line_item.variant.product), unit.line_item.variant.product %>
    	              		<% else %>
    	                  		<%= link_to image_tag(unit.line_item.variant.images.first.attachment.url(:small), width: 100), unit.line_item.variant.product %>
    	              		<% end %>
    	            	</td>

                		<% if unit.line_item.sub_lineitems.first != nil %>
                    		<% sub_lineitem = unit.line_item.sub_lineitems.first %>
                   		 	<% sub_variant = sub_lineitem.variant %>
                    		<td class="cart-item-image" data-hook="cart_item_image">
                      			<p><i>Bundled with tie:</i></p>
                      			<% if sub_variant.images.length == 0 %>
                          			<%= link_to product_image(sub_variant.product), sub_variant.product %>
                      			<% else %>
                          			<%= link_to image_tag(sub_variant.images.first.attachment.url(:product), width: 100), sub_variant.product %>
                      			<% end %>
                      			<h4><%= sub_lineitem.name %></h4>
                    		</td>
                		<% elsif variant.product.product_type == "SHIRT" %>
                    		<td colspan="1">
    	                  		<% if unit.line_item.profile != nil
    	                  			measurement_profile_name = unit.line_item.profile.name
    	                  		else
    	                  			measurement_profile_name = "No measurement profile."
    	                  		end %>
    	                  		<% unless (unit.line_item.shirt_configuration) %>
    	                      		This shirt is has no options selected.
                		        <% else %>
                              	<table class="table table-small table-no-line table-no-header-line">
                                	<tbody>
                                		<tr>
                                  			<td>Measurements</td>
                                  			<td><%= measurement_profile_name %></td>
                                		</tr>
                                		<tr>
                                  			<td>Collar</td>
                                  			<td><%= unit.line_item.shirt_configuration.collar_name %></td>
                                		</tr>
                                		<tr>
        		                          	<td>Cuff / Sleeve</td>
        		                          	<td><%= unit.line_item.shirt_configuration.cuff_name %></td>
        		                        </tr>
        		                        <tr>
        		                          	<td>Pocket</td>
        		                          	<td><%= unit.line_item.shirt_configuration.pocket_name %></td>
        		                        </tr>
        		                        <tr>
                                        <td>Button</td>
                                        <!-- <td><%#= unit.line_item.shirt_configuration.button_code %></td> -->
                                        <td>
                                        <% if unit.line_item.shirt_configuration.button_code.to_s > "3" %>
                                           <%=  Spree::Taxon.where(id: unit.line_item.shirt_configuration.button_code).length > 0 ? Spree::Taxon.where(id: unit.line_item.shirt_configuration.button_code).first.parent.name + ' w/ ' + (Spree::Taxon.where(id: unit.line_item.shirt_configuration.button_code).first.description.present? ? (Spree::Taxon.where(id: unit.line_item.shirt_configuration.button_code ).first.description.titleize) : (Spree::Taxon.where(id: unit.line_item.shirt_configuration.button_code ).first.name.titleize + " Thread")) : "button unavailable" %>
                                         <%else%>
                                            No button
                                         <% end %>
                                        <%#= unit.line_item.shirt_configuration.button_code %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Placket</td>
                                        <td><%= unit.line_item.shirt_configuration.placket_name %></td>
                                    </tr>
                                    <tr>
                                        <td>Notes</td>
                                        <td><%= unit.line_item.shirt_configuration.comment %></td>
                                    </tr>

                                	</tbody>
                              	</table>
                		        <% end %>
                    		</td>
                    <% else %>
                        <td></td>
                		<% end %>
      	  		<% end %>
                  <!--	<td><%= unit.variant.sku%></td>-->
                  <td>
                      <%= unit.variant.product.name%>
                  </td>
                  <td data-hook="order_item_price" class="price" >
                      <span style="float:left;"><%= unit.line_item.single_money.to_html %></span>
                  </td>
                  <%if order.completed?%>
                      <td data-hook="order_item_qty"><%= shipment_status %></td>
                  <%end%>
                  <td data-hook="order_item_total" >
                      <span style="float:left;"><%= unit.line_item.display_amount.to_html %></span>
                  </td>

           </tr>
    			</tr>
    		<% end %>
    	</tbody>
  	</table>
	</fieldset>
<% end %>

<style>
.checkout-page-subheader{
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}

.checkout-page-text{
  font-size: 12px;
  letter-spacing: 1px;
  }

</style>
