
<div id="product-container" style="min-height:432px">
  <% if (@products == nil || @products.empty?) %>
    <div id="no-product-found">
    No Products Found
    </div>
  <%end%>
  <% showProduct = true%>
  <% clearFixCounter = 0%>
  <% localProduct = []  %>
  <% bannerCounter = 1 %>

 


  <% products.sort_by(&:sort_code).each_with_index do |product, i| %>
    <% showProduct = true %>
    <% url = product_url(product, :taxon_id => @taxon.try(:id)) %>
   
      <% if showProduct %>
          <% clearFixCounter = clearFixCounter + 1 %>
          <div class="col-md-3 product-col col-sm-4 col-xs-6"> 
              <%=link_to product do %>
                  <img src="<%=product.product_image_url(:large)%>" id="front<%=product.id%>" class="product-img" width="100%" <% if product.fabric_image %> onmouseover="this.src='<%=product.fabric_image_url(:large)%>';" onmouseout="this.src='<%=product.product_image_url(:large)%>';" <% end %>>
              <%end %>
              <!-- For Loading Fabric Images With Product Image -->
              <img src="<%=product.fabric_image_url(:large)%>" class="hide">
              <p class="product-name"><%= link_to truncate(product.name, :length => 50), url, :class => 'info', :itemprop => "name", :title => product.name %></p>
              <p class="product-price"><%= display_price(product) %></p>
          </div>        
   
      <%end %>
  
	    <% if (clearFixCounter).multiple_of?(4)  %>
	        <div class="clearfix  visible-md-block visible-lg-block"></div>
	    <% end%>
	    <% if (clearFixCounter).multiple_of?(3)  %>
	        <div class="clearfix  visible-sm-block"></div>
	    <% end%>    
	    <% if (clearFixCounter).multiple_of?(2) %>
	        <div class="clearfix visible-xs-block"></div>
	    <% end %>
    <% end %>
</div>
<script>
  var product_height = $('.product-img').height();
  $('#banner-image').height(product_height);
  $(document).ready(function(){
      $(this).scrollTop(0);
  });
  $(window).load(function () {
      var product_height = $('.product-img').height();
  	$('#banner-image').height(product_height);
  });
  $(window).resize(function () {
  	var product_height = $('.product-img').height();
  	$('#banner-image').height(product_height);
  });
</script>
