<% if get_recently_viewed_products.any? %>
  <div class="m-b">
    <h3><%= Spree.t(:recently_viewed) %></h3>
  </div>
  <div id="recently_viewed" data-hook>
	<div class="row">
		<div  id="product-container">
  			<% get_recently_viewed_products.each_with_index do |product, i| %>
				<% url = product_url(product) %>
                <div class="product-col col-xs-6 col-sm-2"> 
                    <a href="<%=url%>" itemprop="url">
                        <img src="<%=product.product_image_url(:large)%>" id="front<%=product.id%>" class="product-img" width="100%" <% if product.fabric_image %> onmouseover="this.src='<%=product.fabric_image_url(:large)%>';" onmouseout="this.src='<%=product.product_image_url(:large)%>';" <% end %>>
                    </a>
                    <!-- For Loading Fabric Images With Product Image -->
                    <img src="<%=product.fabric_image_url(:large)%>" class="hide">
                </div>

				<% if (i+1).multiple_of?(2) %>
					<div class='clearfix visible-xs'></div>
				<% elsif (i+1).multiple_of?(4) %>
					 
				<% elsif (i+1).multiple_of?(6) %>
					<div class='clearfix visible-md'></div>
				<% end %>
			<% end %>
		</div>
	</div>
  </div>
<% end %>
