<div class="row">
    <% unique_shirts = [] %>
    <% clearFixCounter = 0%>
    <%orders.each do |order|%>
      <%shirts = order.line_items%>
      <%shirts.each do |shirt|%>
        <% product = shirt.product %>
        <% url = product_url(product) %>
        <% if product.product_type == 'SHIRT' %>
          <% if unique_shirts.include?(product.id)%>
          <% else %>
          <% clearFixCounter = clearFixCounter + 1%>
            <% unique_shirts.push(product.id) %>
            <div class="product-item col-xs-6 col-md-4 col-lg-4" align= "center">
              <div class="product-image">
                  <% if image_type == "small" %>
                    <%= link_to small_image(product, :itemprop => "image", :class => 'img-responsive'), show_wardrobe_path(:shirt_slug => product.slug), :method => :post, :itemprop => 'url' %>
                  <% end %>
                  <%  if image_type == "product"  %>
                    <%= link_to product_image(product, :itemprop => "image", :class => 'img-responsive'), show_wardrobe_path(:shirt_slug => product.slug), :method => :post, :itemprop => 'url' %>
                  <% end %>
                <h4 class="product-caption">
                  <%= link_to truncate(product.name, :length => 50), show_wardrobe_path(:shirt_slug => product.slug), :method => :post, :class => 'info', :itemprop => "name", :title => product.name %>
                </h4>
                <h4 class="product-caption">
	                <%= link_to "Purches Again", show_wardrobe_path(:shirt_slug => product.slug), :method => :post, :class => "btn btn-primary" %>
                </h4>
              </div>
            </div>
          <% end %>
              <% if (clearFixCounter).multiple_of?(3) %>
                <div class="clearfix  visible-md-block visible-lg-block"></div>
              <% end%>
              <% if (clearFixCounter).multiple_of?(2) %>
                <div class="clearfix visible-xs-block"></div>
              <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
