<div class="personal-info-section form-group">
    <div class="col-sm-12 col-md-6">
      <%= f.label :first_name, "First Name" %>
      <%= f.text_field :first_name, :class => 'form-control ' %>
    </div>
    <div class="col-sm-12 col-md-6">
     <%= f.label :last_name, "Last Name" %>
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
    <div class="col-xs-12">
      <%= f.label :email, Spree.t(:email) %>
      <%= f.email_field :email, :class => 'form-control' %>
    </div>
</div>
<div class="password-section form-group">
    <div class="col-xs-12">
      <%= f.label :password, Spree.t(:password) %>
      <%= f.password_field :password, :class => 'form-control' %>
    </div>
    <div class="col-xs-12">
      <%= f.label :password_confirmation, Spree.t(:confirm_password) %>
      <%= f.password_field :password_confirmation, :class => 'form-control' %>
    </div>
</div>
<div data-hook="signup_below_password_fields"></div>
<style>
 label{
  padding-top: 15px;
  }
</style>
