<div class="row">
   
    <section id="homeFullScreen"></section>
 
    <section class="slice" id="works">
      <div class="container clearfix">
        <div class="row">
          <div class="col-sm-12 page-header-title">
            <center><span>Our Latest Shirts</span><br/>
            <span class="page-sub-header" >Recent additions to our ever-growing collection</span></center>
          </div>
        </div>
        <div class="row">
            <div id="product-container" style="min-height:432px">
                    <% clearFixCounter = 0%>
                    <% products = Spree::Product.active.is_shirt%>
                    <% products = products.where.not(is_index_product: 0)%>
                    <% products.sort_by(&:sort_code).each_with_index do |product, i| %>
                    <% break if i == 4;%>
                        <% showProduct = true %>
                        <% url = product_url(product) %>
                          <% clearFixCounter = clearFixCounter + 1 %>
                            <div class="col-md-3 product-col col-sm-6 col-xs-6"> 
                                <%=link_to product do %>
                                    <img src="<%=product.product_image_url(:large)%>" id="front<%=product.id%>" class="product-img" width="100%" <% if product.fabric_image %> onmouseover="this.src='<%=product.fabric_image_url(:large)%>';" onmouseout="this.src='<%=product.product_image_url(:large)%>';" <% end %>>
                                <%end %>
                                <!-- For Loading Fabric Images With Product Image -->
                                <img src="<%=product.fabric_image_url(:large)%>" class="hide">
                                <p class="product-name"><%= link_to truncate(product.name, :length => 50), url, :class => 'info', :itemprop => "name", :title => product.name %></p>
                                <p class="product-price"><%= display_price(product) %></p>
                                <!-- <p class="page-text"><%= product.description %></p> -->
                            </div>
                    <% if (clearFixCounter).multiple_of?(4)  %>
                        <div class="clearfix visible-md-block visible-lg-block"></div>
                    <% end%>                   
                    <% if (clearFixCounter).multiple_of?(2) %>
                        <div class="clearfix visible-sm-block visible-xs-block"></div>
                    <% end %>
                <% end %>
            </div>
        </div>
      </div>
    </section>
	  <section id="shopFullScreen"></section>
		<section class="index-slice" id="works" style="background-color: #EEE;">
			<div class="container clearfix">
				<div class="row">
          <div class="col-xs-8 col-xs-offset-2">
              <center>
                 <span class="page-header-title">Schedule a Fitting</span>
              </center>
              <br/>
              <span class="page-text">
                  <center>
                      <p class="shedule-appointment">
                            Get in touch to arrange a time to meet with a personal Clothier,
                      </p>
                      <p class="shedule-appointment">
                            who will measure and work with you get your exact custom fit.
                      </p>
                      <p class="m-t-md shedule-appointment">
                            Currently available in New York.
                      </p>
                  </center>
              </span>
              <br/>
              <center>
                <a class="btn btn-custom index-button" type="button" style="font-size:18px;padding: 10px 14px;" href="/appointment_contacts/new">
                  BOOK NOW
                </a>
              </center>
				  </div>
        </div>
			</div>
		</section>
</div>
	<!-- global wrapper -->
