<% content_for :head do %>
	<%= stylesheet_link_tag 'spree/adhoc/jcarousel.responsive', :media => 'screen' %>
	<%= javascript_include_tag "spree/adhoc/jquery.jcarousel.min" %>
	<%= javascript_include_tag "spree/adhoc/jcarousel.responsive" %>
	<%= javascript_include_tag "spree/adhoc/bootstrap-datepicker" %>
	<%= stylesheet_link_tag "spree/adhoc/datepicker3" %>
<% end %>

<div class="row">
	<div class="col-sm-6">  <!-- col-md-7 col-sm-6 col-sm-offset-1 col-xs-12 -->
		<h1 class="text-center">Give the Gift that Fits</h1>
		<h2 class="text-center">Starting at just $135</h2>
		<p>Custom Shirting from Sartor NYC makes the perfect gift for every guy. We'll send you a gift certificate packaged impeccably with a welcome card in a handsome envelope. Add a tie if you want to make a unique gift set! 
	  <p>Sartor NYC makes custom simple. After he receives his gift, he can schedule a fitting with our expert Clothiers for a complimentary personal fitting in NYC, or take his own measurements following our simple online videos.
		<p>We're always here to help. Reach out to us at <a href="mailto:service@sartornyc.com">service@sartornyc.com</a> if you have any questions!</p>
		<p class="text-center"><a href="#orderForm" class="btn btn-primary"><i class="glyphicon glyphicon-arrow-down"></i> Order Now <i class="glyphicon glyphicon-arrow-down"></i></a></p>
	</div>
	<div class="col-sm-6">  <!-- col-sm-offset-0 col-xs-8 col-xs-offset-2 -->
		<%= image_tag('gifting/gifting_collage.png', :class => 'img-responsive') %>
	</div>
</div>

<br/>
<hr/>
<br/>

<div class="row">
	<div class="col-sm-6">
		<strong>How Does it Work?</strong>
		<p>He may redeem the gift and build his custom shirt by following our simple online measurement videos</p>
		<p>He can also schedule <strong>free</strong> personal fitting in the New York and Philadelphia metro areas.</p>
		
		<strong>What's Included?</strong>
		<p>The gift cards come in handsome packaging with the certificate and welcome instructions. If you provide the recipient name and a note, we'll also include a personal card.</p>
	</div>
	<div class="col-sm-6">
		<strong>Add a Tie!</strong>
		<p>Gift a complete "look" by adding an optional tie to the gift card. We'll send the tie and gift card together as a set, and he'll have something to enjoy right away while his custom shirt is being made!</p>

		<strong>Gift Delivery</strong>
		<p>You may hand deliver the gift by shipping to yourself, or we can delivery directly to the recipient if you provide his shipping address during checkout.</p>

	
		<strong>Questions?</strong>
		<p>Email us at <a href="mailto:service@sartornyc.com">service@sartornyc.com</a>. We're here to help!
	</div>
</div>

<br/>
<hr/>
<br/>

<%= form_for @gift_card do |f| %>

	<div class="row" id="orderForm" >
		<div class="col-sm-6">
			<h1>Build Your Gift</h1>
		</div>
		<div class="col-sm-6">
			<div class="well clearfix">
			  <div class="pull-right"><%= f.submit Spree.t(:add_to_cart), :class => "btn btn-primary btn-lg" %></div>
				<div style="margin-top: 10px;">
					Total <span class="hidden-sm">Gift Set</span> Price:&nbsp;&nbsp;<b>$<span id="_header_total_price"></span></b>
				</div>
			</div>
		</div>
	</div>

<%= render "spree/shared/error_messages", :target => @gift_card %>
	
	<div class="row">
		<div class="col-md-3 col-sm-4">
			<h3><span class="badge lg-badge">1</span> Custom Shirt Gift Card</h3>
		  <p>
		    <%= f.label :variant_id, Spree.t(:value) %>
		    <span class="required">*</span><br/>
		    <%= f.select :variant_id, @gift_card_variants.map { |variant| [variant.display_price, variant.id] } %>
				<p style="font-size: 11px; font-style: italic;" id="gift_value_comments">A $135 certificate will allow the recipient to choose from the majority of our shirt collection.</p>

		    <%#= f.label :email, Spree.t("email") %>
		    <%#= f.text_field :email %>

		  <p>
		    <%= f.label :name, Spree.t("recipient_name") %>
		    <%= f.text_field :name %>
		  </p>
		  <p>
		    <%= f.label :note, "Add a Personal Note" %><br/>
		    <%= f.text_area :note, :rows => 6 %>
		  </p>
			<div>
				<label>Send on</label>
				<div class="radio">
					<label>
						<input name="gift_card[send_on]" id="send_on_now" type="radio" value="now" <%= 'checked' if @gift_card.send_on == 'now' %> >
						Now
					</label>
				</div>
				<div class="form-group">
					<div class="radio">
						<label>
							<input name="gift_card[send_on]" id="send_on_date" type="radio" value="date" <%= 'checked' if @gift_card.send_on == 'date' %> >Future Date</input>
						</label>
					</div>
					<div class="input-group date" id="gift_card_send_on_date" data-date="<%= Time.now.strftime("%m/%d/%Y") %>" data-date-format="mm/dd/yyyy" style="padding-left: 20px;">
						<input name="gift_card[send_on_date]" class="form-control" id="datepicker_field"/>
						<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				  </div>
				</div>
			
			
				<!-- div class="input-group date">
				  <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				</div -->
				
				
				</p>
			</div>
			
			<br/><br/>
			
		</div>
		<div class="col-md-8 col-sm-7 col-sm-offset-1">
			<h3><span class="badge lg-badge">2</span> Add a Tie (Optional)</h3>

			<div class="jcarousel-wrapper">
        
				<div class="jcarousel">
					<ul>
						<li>
					    <%= link_to image_tag('gifting/no_tie.png', :class => 'img-responsive'), '/products/show_no_tie', :itemprop => 'url', :remote => true %>
							<div class="description" style="display: none;">
						    No Tie
							</div>
					  </li>					
						<% @ties.sort_by(&:sort_code).each do |product| %>
					    <% url = product_url(product, :taxon_id => @taxon.try(:id)) %>
							<li>
								<% url = product_url(product) %>
								<%= link_to large_image(product, :itemprop => "image", :class => 'img-responsive'), url, :itemprop => 'url', :remote => true %>
							    <%#= large_image(product, :itemprop => "image", :class => 'img-responsive')%>
									<div class="description" style="display: none;">
								    <%= product.name %>
									</div>
								  <div class="price selling" itemprop="price"><%= display_price(product) %></div>
							</li>
						<% end %>
					</ul>
				</div>
				<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>
			</div>	
			<div id="product-inset">
				<%= render :partial=> "/spree/products/no_tie_inset" %>
			</div>
			
			<br/><br/>
			
		</div>
	</div>
	
<% end %>


<script>
	var certValueComments = {};
	certValueComments['135'] = "A $135 certificate will allow the recipient to choose from the majority of our shirt collection.";
	certValueComments['150'] = "A $150 certificate will allow the recipient to choose from our entire shirt collection, including premium shirts.";
	certValueComments['300'] = "A $300 certificate will allow the recipient to choose any 2 shirts.";
	certValueComments['450'] = "A $450 certificate will allow the recipient to choose any 3 shirts. Lucky fellow!";

	function recalcValues() {
		gift_card_price = parseInt($("#gift_card_variant_id").children(":selected").text().substring(1));
		comment = certValueComments[gift_card_price];
		$("#gift_value_comments").text(comment);
		
		tie_price = parseInt($("#inset_product_price").text().substring(1)) || 0;
		total_price = (gift_card_price + tie_price).toFixed(2);
		$("#_header_total_price").text(total_price);
		$("#_footer_gift_card_price").text(gift_card_price);
		$("#_footer_total_price").text(total_price);
	}
	
	$(function() {
		recalcValues();
	
		$("#gift_card_variant_id").click(
			function() {	
				recalcValues();
			}
		);
		
		$('#gift_card_send_on_date').datepicker({});
		$('.input-group.date').datepicker({
		});
		
		function updateFieldDisplay() {
			var recipient = $('#delivery_type_recipient');
			if ($('#send_on_date').is(':checked')) {
				$('#datepicker_field').removeAttr('readonly');
			} else {
				$('#datepicker_field').attr('readonly','readonly');	
			}
		}
		
		updateFieldDisplay();
		$('input:radio').change(function() { 
			updateFieldDisplay(); 
		});
		
		/* SCROLLING TO HREF */
		
		$('a[href*=#]:not([href=#])').click(function() {
		    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
		        || location.hostname == this.hostname) {

		        var target = $(this.hash);
		        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		           if (target.length) {
		             $('html,body').animate({
		                 scrollTop: target.offset().top - 110 /* -110 to account for header */
		            }, 1000);
		            return false;
		        }
		    }
		});
		
		
	}
	);
</script>