<div class="container">
	<div class="row page-buffer-space">
      <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-xs-12 page-text border-right">
  			<span class="page-header-title">Customer Login</span>

  			<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>
  	    <% @body_id = 'login' %>
  	    <div id="existing-customer">
  	      <div data-hook="login" class="page-text">
  	        <%= render :partial => 'spree/shared/login' %>
  	        <p ><%= link_to t(:forgot_password), spree.recover_password_path ,:class => "sub-link" %></p>
  	      </div>
  	    </div>
  	    <div data-hook="login_extras"></div>
  			<br>
  			<br>
  			<br>
  	  </div>
      <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-xs-12 page-text">
  			<span class="page-header-title">New Customer</span>
  			<br>
  			<br>
  			<p>Sign up now for information about events and promotions.</p>
  			<br>
  			<p>If you've already worked with a Clothier, he or she will send you information to access your account and measurement profile.</p>
        <p style="" ><%= link_to "Create an Account", spree.signup_path, :class => "btn btn-custom btn-large", :style => "margin-top: 30px;" %></p>
  		</div>
	</div>
</div>
