Awesome! We have a new appointment contact from sartornyc.com. Hopefully it's not spam.

The deets:

Name: <%= @appointment_contact.name %>
Email: <%= @appointment_contact.email %>
Phone: <%= @appointment_contact.phone %>

Location: <%= @appointment_contact.location_type %>
Address: <%= @appointment_contact.address %>

Message: <%= @appointment_contact.message %>