
	<div class="row">
		<div class="col-md-2 col-sm-0">

		</div>
		<div class="col-md-5 col-sm-6" style="margin-bottom: 40px;">
			<%= image_tag 'home/red_shirts.jpg', class: "img-responsive" %>
		</div>
		<div class="col-md-5 col-sm-6" style="margin-bottom: 40px;">
			<p>
				Now through Valentine's Day (February 14th), Sartor NYC is supporting the American Red Cross by donating all proceeds from Red and Pink shirts.
			</p>
		</div>
	</div>
