<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-zero">
  <label class="my-account-page-header-title">New Profile</label>
  <br>
</div>
 <%= form_for @profile, html: {class: "profile-form form-horizontal"}, :as => :profile do |f| %>
    <div class="measurement-profile-section">
      <div class="row measurement-text">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-group-sm select-box-margin-bottom">
            <label for="detailedProfile" class="col-md-3 col-sm-4 col-xs-4 control-label">profile name</label>
            <div class="col-md-9 col-sm-8 col-xs-8">
              <% if params[:dpid] !=nil %>
                <input class="form-control"  type="text" id="profile_name"  name="profile[name]"
                value=<%=@detailedProfiles.where(:id=> params[:dpid])[0].name%> required> 
                
                <%= select_tag "detailedProfile", options_from_collection_for_select(@detailedProfiles, "id", "name",params[:dpid]), { :class => ' hidden form-control' }%>
              <% else %>
                <%= select_tag "detailedProfile", options_from_collection_for_select(@detailedProfiles, "id", "name"), { :class => 'form-control' }%>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="form-group select-box-margin-bottom">
            <label for="detailedProfile" class="col-md-6 col-sm-4 col-xs-4 control-label">CHEST SLEEVES</label>
            <div class="col-md-6 col-sm-8 col-xs-8">
              <%= select_tag "chest_sleeves", options_for_select(Profile::CHEST_SLEEVES), { :class => 'form-control' }%>
            </div>
          </div>
          <div class="form-group select-box-margin-bottom">
            <label for="detailedProfile" class="col-md-6 col-sm-4 col-xs-4 control-label">WAIST HIPS</label>
            <div class="col-md-6 col-sm-8 col-xs-8">
              <%= select_tag "waist_hips", options_for_select(Profile::WAIST_HIPS), { :class => 'form-control' }%>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="form-group select-box-margin-bottom">
            <label for="detailedProfile" class="col-md-6 col-sm-4 col-xs-4 control-label" style="word-break: break-word;">CLASSIFICATION</label>
            <div class="col-md-6 col-sm-8 col-xs-8">
              <%= select_tag "classification", options_for_select(Profile::CLASSIFICATION,@classification), { :class => 'form-control' }%>
            </div>
          </div>
          <div class="form-group select-box-margin-bottom">
            <label for="detailedProfile" class="col-md-6 col-sm-4 col-xs-4 control-label">LENGTHS</label>
            <div class="col-md-6 col-sm-8 col-xs-8">
              <%= select_tag "length", options_for_select(Profile::LENGTHS), { :class => 'form-control' }%>
            </div>
          </div>
        </div>

        <div class="col-xs-12 m-t-xs" style="text-align:right;">
          <input type="button" class="btn btn-custom-measurement-profile"  id="generateshirt"  value="generate measurements">
        </div>
      </div>
    </div>
    <div class="row" id="generated_profile" style="display:none;font-size:12px;letter-spacing:1px;text-transform:uppercase;" >
      <div  class="col-lg-12 generatedMeasurements">
          <!-- <input id="profile_name" name="profile[name]" type="hidden"  /> -->
          <input id="profile_classification" name="profile[classification_code]" type="hidden"  />
          <input id="profile_length_code" name="profile[length_code]" type="hidden"  />
          <input id="profile_waist_hips_code" name="profile[waist_hips_code]" type="hidden"  />
          <input id="profile_chest_sleeves_code" name="profile[chest_sleeves_code]" type="hidden" />
          <table class="table table-responsive" STYLE="font-size:12px;">
          <thead>
            <tr>
              <th colspan="2">Body Measurements</th>
              <th>Ease </th>
              <th colspan="2">Shirt Measurements</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><label>Neck</label></td>
              <td><span id="neck"></span> </td>
              <td><span id="ease_neck"></span> </td>
              <td class="measurement-profile-td-align">
                <div class="input-group">
                  <input class="form-control numeric decimal optional" id="profile_neck" name="profile[neck]" type="text" required value=<%= @profile.neck%> wrapper="vertical_input_group"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                  <div class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></div> 
                  <div class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></div>
                </div>
              </td>
              <td><label class="hidden-xs">Collar</label></td>
            </tr>
            <tr>
              <td><label>Shoulder</label></td>
              <td><span id="yoke"></span> </td>
              <td><span id="ease_yoke"></span> </td>
              <td class="measurement-profile-td-align">
                <div class="input-group">
                  <input class="form-control numeric decimal optional" id="profile_yoke" name="profile[yoke]" step=".125" type="text" required wrapper="vertical_input_group"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                  <div class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></div> 
                  <div class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></div>
                </div>
              </td>
              <td><label class="hidden-xs">Yoke</label></td>
            </tr>
            <tr>
              <td><label>Arm</label></td>
              <td><span id="cuff"></span> </td>
              <td><span id="ease_cuff"></span> </td>
              <td class="measurement-profile-td-align">
                <div class="input-group">
                  <input class="form-control numeric decimal optional" id="profile_cuff" name="profile[sleeve]" step=".125" type="text" required type="text" wrapper="vertical_input_group"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                  <div class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></div> 
                  <div class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></div>
                </div>
              </td>
              <td><label class="hidden-xs">Sleeve</label></td>
            </tr>
            <tr>
              <td><label>Bicep</label></td>
              <td><span id="bicep"></span> </td>
              <td><span id="ease_bicep"></span> </td>
              <td class="measurement-profile-td-align">
                <div class="input-group">
                  <input class="form-control numeric decimal optional" id="profile_bicep" name="profile[bicep]" step=".125" type="text" required wrapper="vertical_input_group"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                  <div class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></div> 
                  <div class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></div>
                </div>
              </td>
              <td><label class="hidden-xs">Sleeve Circum</label></td>
            </tr>
            <tr>
              <td><label>Wrist</label></td>
              <td><span id="wrist"></span> </td>
              <td><span id="ease_wrist"></span> </td>
              <td class="measurement-profile-td-align">
                <div class="input-group">
                  <input class="form-control numeric decimal optional" id="profile_wrist" name="profile[wrist]" step=".125" type="text" required wrapper="vertical_input_group"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                  <div class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></div> 
                  <div class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></div>
                </div>
              </td>
              <td><label class="hidden-xs">Cuff</label></td>
            </tr>
            <tr>
              <td><label>Chest</label></td>
              <td><span id="chest"></span> </td>
              <td><span id="ease_chest"></span> </td>
              <td class="measurement-profile-td-align">
                <div class="input-group">
                  <input class=" form-control numeric decimal optional" id="profile_chest" name="profile[chest]" step=".125" type="text" required wrapper="vertical_input_group"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                  <div class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></div> 
                  <div class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></div>
                </div>
              </td>
              <td><label class="hidden-xs">Chest</label></td>
            </tr>
            <tr>
              <td><label>Waist</label></td>
              <td><span id="waist"></span> </td>
              <td><span id="ease_waist"></span> </td>
              <td class="measurement-profile-td-align">
                <div class="input-group">
                  <input class=" form-control numeric decimal optional" id="profile_waist" name="profile[waist]" step=".125" type="text" required wrapper="vertical_input_group"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                  <div class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></div> 
                  <div class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></div>
                </div>
              </td>
              <td><label class="hidden-xs">Waist</label></td>
            </tr>
            <tr>
              <td><label>Hips</label></td>
              <td><span id="hip"></span> </td>
              <td><span id="ease_hip"></span> </td>
              <td class="measurement-profile-td-align">
                <div class="input-group">
                  <input class=" form-control numeric decimal optional" id="profile_hip" name="profile[hip]" step=".125" type="text" required wrapper="vertical_input_group"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                  <div class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></div> 
                  <div class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></div>
                </div>
              </td>
              <td><label class="hidden-xs">Sweep</label></td>
            </tr>
            <tr>
              <td><label>Length</label></td>
              <td><span id="lengths"></span> </td>
              <td><span id="ease_length"></span> </td>
              <td class="measurement-profile-td-align">
                <div class="input-group">
                  <input class=" form-control numeric decimal optional" id="profile_length" name="profile[length]" step=".125" type="text" required wrapper="vertical_input_group"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                  <div class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></div> 
                  <div class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></div>
                </div>
              </td>
              <td><label class="hidden-xs">Length</label></td>
            </tr>
          </tbody>
          </table>
        <div  style="text-align:right;margin-bottom:20px;">
          <a class="btn btn-custom-black " href="/profiles" id="close_button" style="font-size: 12px;padding: 8px 12px;min-width: 90px;">cancel</a>
<!-- 
          <%= f.submit "Done", class: 'btn btn-custom-measurement-profile', id: 'save_button' %>
           -->
           <input class ='btn btn-custom-measurement-profile' id="save_button" type="submit" value="Done">
        </div>
      </div>
    </div>
  <% end %>
<style>
tbody > tr > td{
  vertical-align: middle!important;
}
  tr.spaceUnder > td
  {
  padding-bottom: 25px!important;
  }

  td span
  {
  float: left!important;
  }

  .table-responsive
    {
    overflow-x: auto;
    }
@media (max-width: 480px){
  .table-responsive
    {
    overflow-x: auto;
    display:block;
    }
}
</style>