<%= form_for @profile, html: {class: "wizard-form"}, :as => :profile do |f|  %>
	<div class="wizard" id="profile-wizard">
	  <div class="wizard-cards">
	
	    <div class="wizard-card" data-cardname="name">
	      <h3>Intro</h3>
	      <p>This form walks you through the steps to take your shirt measurements. It's an easy process that should
	        take 5-10 minutes. You'll need a measuring tape and a flat surface to measure on.</p>
	 			<p>A flexible tailor's tape makes things a little easier, but is not necessary. Email us at <a href="mailto:info@beylerandturk.com">service@beylerandturk.com</a> if you'd like us to mail you a complimentary measuring tape.
	      </p>
	      <p>Record each measurement in &frac18; inch increments using decimals. For instance, enter a measurement of 14 &frac18; as
	        "14.125", or 17 &frac34; as "17.75".
	      </p>
	      <p>You can save the profile at any time if you want to take a break and finish
	        later. 
	      </p>
	    </div>

<style>
.step_header {
	float: left;
	font-size: 12px;
	text-align: center;
	margin-top: -15px;
	margin-right: 10px;
	margin-left: -15px;
}
.step_num {
	font-size: 16px;
	color: white;
	background-color: black;
	height: 20px;
	width: 20px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 3px;
	border: 1px solid black;
	text-align: center;
}
.step_video {
	float: right;
	padding: 0px 0px 10px 0px;
}
.step_group ul {
	margin-top: 15px;
}
.step_group li {
	margin-top: 5px;
}
.wizard-card label {
	font-style: italic;
}
</style>

	    <div class="wizard-card" data-cardname="name">
				<div class="step_header">Step<div class="step_num"><p>1</p></div></div>
	      <h3>Basic Info</h3>
	      <p>You can set up multiple measurement profiles in case your sizing changes, or to store sizes for friends and family. Give this profile a name so you can remember what it's for:</p>
				<div style="padding-left: 25px; padding-bottom: 12px;">
					<%= f.label "Profile Name" %> <%= f.text_field :name %>
				</div>
				<p>If this profile is for someone else, provide his name with exact spelling:</p>
				<div style="padding-left: 25px; padding-bottom: 12px;">
					<%= f.label "Shirt Owner Name" %> <%= f.text_field :embroidery_name %>
				</div>
				<p>Finally, a couple of basic details:</p>
				<div class="pull-left" style="padding-left: 25px; margin-right: 50px;">
	        <%= f.label :height_ft, "Height" %> <%= f.select :height_ft, Profile::HEIGHTS_FT, {}, { class: 'input-xsmall'} %> '
	        <%= f.select :height_in, Profile::HEIGHTS_IN, {}, { class: 'input-xsmall'} %> "
				</div>
				<div>
	        <%= f.label :weight %> <%= f.number_field :weight, class: 'input-small', maxlength: 5  %> lbs 
				</div>
	    </div>

	    <div class="wizard-card" data-cardname="name">
	      <div class="step_video">
	        <%= video_tag(["/assets/BT-3 Collar.mp4", "/assets/BT-3 Collar.webm"], :poster => image_path("stills/BT-3 Collar.jpg"), :controls => true, :preload => "off", :size => "400x225") %>
	      </div>
				<div class="step_header">Step<div class="step_num"><p>2</p></div></div>
		    <h3>Collar</h3>
		
				<br/>
				<%= f.label "Collar Size" %>
				<%= f.number_field :neck, :class => "input-small", :step => ".125" %> "

	      <div class="step_group" style=" clear: both;">
					<ul>
	        	<li>Unbutton the collar and the top two buttons and lay the shirt face down</li>
						<li>Spread and flatten the collar</li>
						<li>Measure from the center of the button hole to the center of the button on the other side</li>
					</ul>
	      </div>
	    </div>

	    <div class="wizard-card" data-cardname="name">
				<div class="step_video">
	        <%= video_tag(["/assets/BT-3 Shoulders.mp4", "/assets/BT-3 Shoulders.webm"], :poster => image_path("stills/BT-3 Shoulders.jpg"), :controls => true, :preload => "off", :size => "400x225") %>
	      </div>
				<div class="step_header">Step<div class="step_num"><p>4</p></div></div>
		    <h3>Shoulders</h3>
		
				<br/>
				<%= f.label "Shoulder Width" %>
				<%= f.number_field :yoke, :class => "input-small", :step => ".125" %> "

	      <div class="step_group" style=" clear: both;">
					<ul>
	        	<li>With the shirt fully buttoned, including the collar, lay the shirt face down</li>
						<li>Stretch and smooth out the shirt along the collar yoke</li>
						<li>At the very top of the shoulder, measure from the outer edge of the left shoulder seam to the outer edge of the right shoulder seam</li>
					</ul>
	      </div>
	    </div>

	    <div class="wizard-card" data-cardname="name">
	      <div class="step_video">
	        <%= video_tag(["/assets/BT-3 Sleeves.mp4", "/assets/BT-3 Sleeves.webm"], :poster => image_path("stills/BT-3 Sleeves.jpg"), :controls => true, :preload => "off", :size => "400x225") %>
	      </div>
				<div class="step_header">Step<div class="step_num"><p>5</p></div></div>
				<h3>Sleeves</h3>
				
				<br/>
				<%= f.label "Sleeve Length" %>
				<%= f.number_field :sleeve, :class => "input-small", :step => ".125" %> "

	      <div class="step_group" style=" clear: both;">
					<ul>
	        	<li>Lay the shirt face up and smooth out one of the sleeves</li>
						<li>Measure the entire sleeve along the top edge</li>
						<li>Start from the edge of the cuff and measure to the outer edge of the shoulder seam</li>
					</ul>
	      </div>
	    </div>

	    <div class="wizard-card" data-cardname="name">
	      <div class="step_video">
	        <%= video_tag(["/assets/BT-3 Chest.mp4", "/assets/BT-3 Chest.webm"], :poster => image_path("stills/BT-2 Chest.jpg"), :controls => true, :preload => "off", :poster => image_path("stills/BT-3 Chest.jpg"), :size => "400x225") %>
	      </div>
				<div class="step_header">Step<div class="step_num"><p>7</p></div></div>
	      <h3>Chest</h3>
				
				<br/>
				<%= f.label "Chest Size" %>
				<%= f.number_field :chest, :class => "input-small", :step => ".125" %> "

	      <div class="step_group" style=" clear: both;">
					<ul>
	        	<li>With the shirt fully buttoned, lay the shirt face up</li>
						<li>Stretch and smooth out the shirt across the chest</li>
						<li>Measure from the outer edge of the seam under the armhole on one side of the shirt across to the other side</li>
					</ul>
	      </div>
	    </div>

	    <div class="wizard-card" data-cardname="name">
		    <div class="step_video">
	        <%= video_tag(["/assets/BT-3 Waist.mp4", "/assets/BT-3 Waist.webm"], :poster => image_path("stills/BT-3 Waist.jpg"), :controls => true, :preload => "off", :size => "400x225") %>
	      </div>
				<div class="step_header">Step<div class="step_num"><p>8</p></div></div>
	      <h3>Waist</h3>

				<br/>
				<%= f.label "Waist Size" %>
				<%= f.number_field :waist, :class => "input-small", :step => ".125" %> "

	      <div class="step_group" style=" clear: both;">
					<ul>
	        	<li>With the shirt fully buttoned, lay the shirt face up</li>
						<li>Stretch and smooth out the shirt across the body</li>
						<li>Find the vertical midpoint of the shirt by folding the bottom of the shirt to the armholes</li>
						<li>Smooth out the shirt again across this midpoint, and measure from one edge to the other</li>
					</ul>
	      </div>
	    </div>
	
	    <div class="wizard-card" data-cardname="name">
		    <div class="step_video">
	        <%= video_tag(["/assets/BT-3 Hips.mp4", "/assets/BT-3 Hips.webm"], :poster => image_path("stills/BT-3 Hips.jpg"), :controls => true, :preload => "off", :size => "400x225") %>
	      </div>
				<div class="step_header">Step<div class="step_num"><p>11</p></div></div>
	      <h3>Hips</h3>

				<br/>
				<%= f.label "Hip Size" %>
				<%= f.number_field :hip, :class => "input-small", :step => ".125" %> "

	      <div class="step_group" style=" clear: both;">
					<ul>
	        	<li>With the shirt fully buttoned, lay the shirt face up</li>
						<li>Stretch and smooth out the shirt across the bottom hem. Be careful to line up the placket (don't spread the shirt apart under the bottom button)</li>
						<li>Measure along the bottom of the shirt from the outer edge of one corner of the shirt to the other</li>
					</ul>
	      </div>
	    </div>	
	
	    <div class="wizard-card" data-cardname="name">
		    <div class="step_video">
	        <%= video_tag(["/assets/BT-3 Bicep.mp4", "/assets/BT-3 Bicep.webm"], :poster => image_path("stills/BT-3 Bicep.jpg"), :controls => true, :preload => "off", :size => "400x225") %>
	      </div>
				<div class="step_header">Step<div class="step_num"><p>10</p></div></div>
	      <h3>Biceps</h3>

				<br/>
				<%= f.label "Bicep Size" %>
				<%= f.number_field :bicep, :class => "input-small", :step => ".125" %> "

	      <div class="step_group" style=" clear: both;">
					<ul>
	        	<li>Stretch and smooth out one sleeve of the shirt</li>
						<li>Measure 8 inches (20 cm) from the shoulder seam along the top of the sleeve; mark this point with your finger</li>
						<li>Measure across the sleeve at the marked point; measure parallel to the cuff, not parallel to the armhole</li>
					</ul>
	      </div>
	    </div>
	
	    <div class="wizard-card" data-cardname="name">
		    <div class="step_video">
	        <%= video_tag(["/assets/BT-3 Cuff.mp4", "/assets/BT-3 Cuff.webm"], :poster => image_path("stills/BT-3 Cuff.jpg"), :controls => true, :preload => "off", :size => "400x225") %>
	      </div>
				<div class="step_header">Step<div class="step_num"><p>9</p></div></div>
	      <h3>Cuffs</h3>

				<br/>
				<%= f.label "Cuff Size" %>
				<%= f.number_field :wrist, :class => "input-small", :step => ".125" %> "

	      <div class="step_group" style=" clear: both;">
					<ul>
	        	<li>Unbutton a cuff and lay on the table</li>
						<li>Spread and flatten the cuff</li>
						<li>Measure from the center of the button hole to the center of the button on the other side</li>
					</ul>
	      </div>
	    </div>
	
	    <div class="wizard-card" data-cardname="name">
	      <div class="step_video">
	        <%= video_tag(["/assets/BT-3 Length.mp4", "/assets/BT-3 Length.webm"], :poster => image_path("stills/BT-3 Length.jpg"), :controls => true, :preload => "off", :size => "400x225") %>
	      </div>
				<div class="step_header">Step<div class="step_num"><p>6</p></div></div>
				<h3>Shirt Length</h3>
				
				<br/>
				<%= f.label "Shirt Length" %>
				<%= f.number_field :length, :class => "input-small", :step => ".125" %> "

	      <div class="step_group" style=" clear: both;">
					<ul>
						<li>With the shirt fully buttoned, including the collar, lay the shirt face down</li>
	        	<li>Stretch and smooth out the shirt along its length, from top to bottom</li>
						<li>Measure from the midpoint of the back at the collar seam, down the length of the shirt to the bottom edge</li>
					</ul>
	      </div>
	    </div>

	  </div>
	  <!-- wizard cards -->
	</div>
<% end %>
<script type="text/javascript">
  $(function() {
  
  	$.fn.wizard.logging = true;
  
  	var wizard = $("#profile-wizard").wizard({
  		showCancel: true,
			width: 800,
			increaseHeight: 50
  	});
  	
  	$("#launch-wizard").click(function() {
  		wizard.show();
  	})
  })
  
</script>