<%= form_for(@shirtProfiles) do %>
<div class="measurement-profile-section">
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <label class="my-account-page-header-title">Edit Profile</label>
    <%if(@showdeleteButton)%>
      <span style="float:right;">
        <div class="cart-item-delete" style="text-align:right;font-family: 'Helvetica', 'Arial', sans-serif;">
          <label>
          <%= link_to 'X Delete', @shirtProfiles, method: :delete, :class=> "delete", data: { confirm: 'Are you sure?' } %>
        </label>
        </div>
      </span>
    <%end%>
  </div>
</div>
<div class="row summary-form">
  <div class="col-lg-10 col-md-10 col-sm-12">
    <div class="profile-info-section">
    <br>
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
       
            <div class="form-group decimal optional profile_name shirt-column-alignment">
              <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Wearer's Name</label>
              <div class="col-lg-7 col-md-7 col-sm-7 col-xs-8 padding-zero">
              <%=text_field 'profile', 'name' , :class => "form-control m-b-md" ,:required => true ,:tabindex => '1'%>
              </div>
            </div>
     
    
          <div class="form-group decimal optional profile_neck shirt-column-alignment">
            <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Neck</label>
              <div class="input-group col-lg-7 col-md-7 col-sm-7 col-xs-8">
                  <input class="form-control padding-column " id="profile_neck" name="profile[neck]" required step="any" tabindex="2" type="text" value=<%= @profile.neck ? @profile.neck : 0 %> wrapper="vertical_input_group"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                  
                  <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></span> 
                  
                  <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
              </div>
          </div>
          <div class="form-group decimal optional profile_shoulder shirt-column-alignment">
            <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Shoulder</label>
              <div class="input-group col-lg-7 col-md-7 col-sm-7 col-xs-8 ">
                <input class="form-control padding-column" id="profile_yoke" name="profile[yoke]" required step="any" tabindex="3"type="text" value=<%= @profile.yoke ? @profile.yoke : 0%> oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                
                <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus"></i></span> 
                
                <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
              </div>
          </div>
          <div class="form-group decimal optional profile_sleeve shirt-column-alignment">
            <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Sleeve</label>
              <div class="input-group col-lg-7 col-md-7 col-sm-7 col-xs-8 m-b-md">
                <input class="form-control padding-column" id="profile_sleeve" name="profile[sleeve]" required step="any" tabindex="4" type="text" value = <%= @profile.sleeve ? @profile.sleeve : 0 %> oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">

                <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus"></i></span> 
                
                <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
              </div>
          </div>
          <div class="form-group decimal optional profile_chest shirt-column-alignment">
            <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Chest</label>
              <div class="input-group col-lg-7 col-md-7 col-sm-7 col-xs-8">
                  <input class="form-control padding-column" id="profile_chest" name="profile[chest]" required step="any" tabindex="5" type="text" value=<%= @profile.chest ? @profile.chest : 0 %> oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
                  
                  <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus"></i></span> 
                  
                  <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
              </div>
          </div>
          
          <div class="form-group decimal optional profile_waist shirt-column-alignment">
            <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Waist</label>
            <div class="input-group col-lg-7 col-md-7 col-sm-7 col-xs-8">
              <input class="form-control padding-column" id="profile_waist" name="profile[waist]" required step="any" tabindex="6" type="text" value=<%= @profile.waist ? @profile.waist : 0%> oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
              
              <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus"></i></span> 
              
              <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
            </div>
          </div>
          <div class="form-group decimal optional profile_seat shirt-column-alignment">
            <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Seat</label>
            <div class="input-group col-lg-7 col-md-7 col-sm-7 col-xs-8 m-b-md">
              <input class="form-control padding-column" id="profile_hip" name="profile[hip]" required step="any" tabindex="7" type="text" value=<%= @profile.hip ? @profile.hip : 0 %> oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
              
              <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus"></i></span> 
              
              <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
            </div>
          </div>
          <div class="form-group decimal optional profile_bicep shirt-column-alignment">
            <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Bicep</label>
            <div class="input-group col-lg-7 col-md-7 col-sm-7 col-xs-8">
              <input class="form-control padding-column" id="profile_bicep" name="profile[bicep]" required step="any" tabindex="8" type="text" value=<%= @profile.bicep ? @profile.bicep : 0 %> oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
              
              <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></span> 
              
              <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
            </div>
          </div>
          <div class="form-group decimal optional profile_wrist shirt-column-alignment">
            <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">Wrist</label>
            <div class="input-group col-lg-7 col-md-7 col-sm-7 col-xs-8">
              <input class="form-control padding-column" id="profile_wrist" name="profile[wrist]" required step="any" tabindex="9" type="text" value=<%= @profile.wrist ? @profile.wrist : 0%> oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
              
              <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus" ></i></span> 
              
              <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
            </div>
          </div>
          <div class="form-group decimal optional profile_tucked_length shirt-column-alignment">
            <label for="detailedProfile" class="col-lg-5 col-md-5 col-sm-5 col-xs-4 control-label">length</label>
            <div class="input-group col-lg-7 col-md-7 col-sm-7 col-xs-8 m-b-md">
              <input class="form-control padding-column" id="profile_length" name="profile[length]" required step="any" tabindex="10" type="text" value=<%= @profile.length ? @profile.length : 0%> oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57" maxlength="6">
              
              <span class="input-group-addon input-buttonset-alpha c-pointer" onclick="decrementValue(this)"><i class="fa fa-minus"></i></span> 
              
              <span class="input-group-addon c-pointer" onclick="incrementValue(this)"><i class="fa fa-plus"></i></span>
            </div>
          </div>
        
        </div>
        <div class="row">
        <div class="col-lg-4 col-md-4 col-md-offset-1 col-sm-12 col-xs-12 ">
         
            <div class="col-sm-12 col-xs-12 m-b-sm">
              <div class="form-group decimal optional">
                <label for="detailedProfile" class="control-label m-b-xs text-left">Category</label>
                <div class="form-group ">
                  <%= select_tag 'profile[classification_code]', options_for_select(Profile::CLASSIFICATION,@profile.classification_code), { :class => 'form-control padding-column'}%>
                </div>
              </div>
            </div>
       
         
            <div class="col-sm-12 col-xs-12 m-b-sm">
              <div class="form-group decimal optional">
                <label for="detailedProfile" class="control-label m-b-xs text-left">LENGTH Type</label>
                <div class="form-group">
                  <%= select_tag 'profile[length_code]', options_for_select(Profile::LENGTHS,@profile.length_code), { :class => 'form-control padding-column', :disabled => "disabled"}%>
                </div>
              </div>
            </div>
  
         
            <div class="col-sm-12 col-xs-12 m-b-sm">
              <div class="form-group">
                <label class="control-label">Created On</label>
                <p class="form-control-static text-capitalize"><%=@profile.created_at.strftime("%B %d, %Y")%></p>
              </div>
            </div>
        
          
            <div class="col-sm-12 col-xs-12 m-b-sm">
              <div class="form-group">
                <label class="control-label">Last Modified</label>
                <p class="form-control-static text-capitalize"><%=@profile.updated_at.strftime("%B %d, %Y")%></p>
              </div>
            </div>
          
        </div>
        </div>
     </div>
    </div>
  </div>
    
      <div class="col-lg-10 col-md-10">
        <div  style="float:right;">
        <%= link_to "cancel", spree.profiles_path, :class => "btn btn-custom-black", id: 'close_button' %>
        <input class="btn btn-custom " id="createShirt" type="submit" value="Update">
        </div>
      </div>
   
</div>

<% end %>
<style>.form-group {margin-bottom: 5px;}</style>

