<%= render :partial => "spree/shirt_profiles/shirt_profile_edit_form", :locals => {:close_button_text => close_button_text} %>
</div>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      var $summaryForm = $('.profile-form');


      $summaryForm.areYouSure(
        {
          message: "Leave page without saving changes?"
        }
      );
     //  $summaryForm.on('dirty.areYouSure', function() {
        // $('#close_button').hide();
        // $('#cancel_button').show();
        // $('#save_button').show();
     //  });
      $summaryForm.on('clean.areYouSure', function() {
        $('#close_button').show();
        $('#cancel_button').hide();
        $('#save_button').hide();
      });

    });
  </script>
<% end %>
