<% address_id = address_type.chars.first %>
<div class="inner" data-hook=<%="#{address_type}_inner" %>>
  <div class="row form-group">
    <div class="col-lg-6">
      <p class="field" id=<%="#{address_id}firstname" %>>
        <%= form.label :firstname, Spree.t(:first_name) %><span class="required">*</span><br />
        <%= form.text_field :firstname, :class => 'required form-control' %>
      </p>
    </div>
    <div class="col-lg-6">
      <p class="field" id=<%="#{address_id}lastname" %>>
        <%= form.label :lastname, Spree.t(:last_name) %><span class="required">*</span><br />
        <%= form.text_field :lastname, :class => 'required form-control' %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
    <% if Spree::Config[:company] %>
      <p class="field" id=<%="#{address_id}company" %>>
        <%= form.label :company, Spree.t(:company) %><br />
        <%= form.text_field :company, :class => 'form-control' %>
      </p>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p class="field" id=<%="#{address_id}address1" %>>
        <%= form.label :address1, Spree.t(:street_address) %><span class="required">*</span><br />
        <%= form.text_field :address1, :class => 'required form-control' %>
      </p>
     </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p class="field" id=<%="#{address_id}address2" %>>
        <%= form.label :address2, Spree.t(:street_address_2) %><br />
        <%= form.text_field :address2, :class => 'form-control' %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p class="field" id=<%="#{address_id}country" %>>
        <%= form.label :country_id, Spree.t(:country) %><span class="required">*</span><br />
        <span id=<%="#{address_id}country-selection" %>>
          <%= form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required form-control'} %>
        </span>
      </p>
    </div>
    <div class="col-lg-4">
    <% if Spree::Config[:address_requires_state] %>
      <p class="field" id=<%="#{address_id}state" %>>
        <% have_states = !address.country.states.empty? %>
        <%= form.label :state, Spree.t(:state) %><span class="required">*</span><br/>

        <% state_elements = [
           form.collection_select(:state_id, address.country.states,
                              :id, :name,
                              {:include_blank => true},
                              {:class => have_states ? 'required form-control' : 'hidden',
                              :disabled => !have_states}) +
           form.text_field(:state_name,
                              :class => !have_states ? 'required form-control' : 'hidden',
                              :disabled => have_states)
           ].join.gsub('"', "'").gsub("\n", "")
        %>
        <%= javascript_tag do -%>
          $('#<%="#{address_id}state" %>').append("<%== state_elements %>");
        <% end %>
      </p>
        <noscript>
          <%= form.text_field :state_name, :class => 'required form-control' %>
        </noscript>
    <% end %>
    </div>
    <div class="col-lg-4">
      <p class="field" id=<%="#{address_id}zipcode" %>>
        <%= form.label :zipcode, Spree.t(:zip) %><% if address.require_zipcode? %><span class="required"  >*</span><br/> <% end %>
        <input class="required form-control valid" id="order_bill_address_attributes_zipcode" name="order[bill_address_attributes][zipcode]" type="text" maxlength="5" value="" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57">
<!-- 
        <%= form.text_field :zipcode, :class => "#{'required form-control' if address.require_zipcode?}" %>
         -->
      </p>
    </div>        
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p class="field" id=<%="#{address_id}city" %>>
        <%= form.label :city, Spree.t(:city) %><span class="required">*</span><br />
        <%= form.text_field :city, :class => 'required form-control' %>
      </p>      
    </div>
    <div class="col-lg-8">
      <p class="field" id=<%="#{address_id}phone" %>>
        <%= form.label :phone, Spree.t(:phone) %><% if address.require_phone? %><span class="required">*</span><br /><% end %>

        <input class="required form-control" id="order_bill_address_attributes_phone" name="order[bill_address_attributes][phone]" type="tel" maxlength="10" value="" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="return event.charCode >= 46 &amp;&amp; event.charCode <= 57">

       <!-- 
        <%= form.phone_field :phone, :class => "#{'required form-control' if address.require_phone?}" %>
         -->
      </p>
      <% if Spree::Config[:alternative_shipping_phone] %>
        <p class="field" id=<%="#{address_id}altphone" %>>
          <%= form.label :alternative_phone, Spree.t(:alternative_phone) %><br />
          <%= form.phone_field :alternative_phone,:class => "form-control" %>
        </p>
      <% end %>
    </div>    
  </div>
</div>
